<div class="isu-wrap">
    <input type="button" value="인쇄" class="btns br" onclick="window.print()" />
    <div class="logo-area">
        <div class="logo">
            <img src="/theme/oklassedu/pix/images/ic-logo.png" alt="masterkorean" />
        </div>
        <div class="text-right">
            <p>No : {{certificates.certificatenumber}}</p>
        </div>   
    </div>
    <div class="isu-title">
        <p>GIẤY CHỨNG NHẬN</p>
        <p>TRUNG TÂM ĐÀO TẠO TIẾNG HÀN VISANG EDUCATION VIỆT NAM</p>
    </div>
    <div class="isu-cmt">
        <p>Chúng tôi xác nhận Ông/bà: {{certificates.firstname}}</p>
        <p>Đã hoàn thành khóa học: {{certificates.title}}</p>        
    </div>
    <table class="print-tbl">
        <thead>
            <tr>
                <th class="text-center" width="70px">No.</th>
                <th class="text-center">Tên khóa học 강좌명</th>
                <th class="text-center">Giảng viên 강사</th>
                <th class="text-center">Thời lượng 학습시간</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">1</td>
                <td class="text-center">{{certificates.title}}</td>
                <td class="text-center">{{certificates.teacher}}</td>
                <td class="text-center">{{certificates.displaytime}}</td>
            </tr>
        </tbody>
    </table>

    <div class="position-bt">
        <div class="law-text">
            <strong>Hà Nội,</strong><span>{{certificates.certificatedate}}</span>
            <p><img src="/theme/oklassedu/pix/images/certificat_bt_logo.png" alt="masterkorean" /></p>
        </div>

    </div>
</div>
