{{> mod_poll/analysis_title }}
<table class="analysis questiontype_{{{type}}} responses generaltable">
    {{#responses}}
    <tr>
       <td>{{{.}}}</td>
    </tr>
    {{/responses}}
    {{^responses}}
    <tr>
       <td>없음</td>
    </tr>
    {{/responses}}
</table>