{{> mod_poll/analysis_title }}
<table class="analysis questiontype_{{{type}}} responses generaltable">
    {{#responses}}
    <tr>
       <td class="choicetext">{{{choicetext}}}</td>
       <td>{{{choiced}}}{{#percent}} ({{{.}}}%){{/percent}}</td>
    </tr>
    {{/responses}}
    {{^responses}}
    <tr>
       <td colspan="2">{{#str}}noresponse, mod_poll{{/str}}</td>
    </tr>
    {{/responses}}
</table>