{{> mod_poll/analysis_title }}
<table class="analysis questiontype_{{{type}}} responses generaltable">
    {{#responses}}
    <tr>
       <td>{{{.}}}</td>
    </tr>
    {{/responses}}
    {{#sum}}
    <tr>
        <td class="sum">{{#str}}sum, mod_poll{{/str}}: {{{.}}}</td>
    </tr>
    {{/sum}}
    {{#avg}}
    <tr class="average">
       <td>{{#str}}average, mod_poll{{/str}}: {{{.}}}</td>
    </tr>
    {{/avg}}
    {{#stdv}}
    <tr class="standard_deviation">
       <td>{{#str}}standarddeviation, mod_poll{{/str}}: {{{.}}}</td>
    </tr>
    {{/stdv}}
    {{^responses}}
    <tr>
       <td>{{#str}}noresponse, mod_poll{{/str}}</td>
    </tr>
    {{/responses}}
</table>