{{> mod_poll/analysis_title }}
<table class="analysis questiontype_{{{type}}} responses generaltable">
    <tr>
        {{#responses}}
        <th class="choicetext" width="{{{width}}}">{{{choicetext}}}<br/>({{{marks}}})</th>
        {{/responses}}
    </tr>
    <tr>
        {{#responses}}
        <td class="response" width="{{{width}}}">{{{choiced}}}{{#percent}} ({{{.}}}%){{/percent}}</td>
        {{/responses}}
    </tr>
    {{#sum}}
    <tr>
        <td class="sum" colspan="{{{colspan}}}">{{#str}}sum, mod_poll{{/str}}: {{{.}}}</td>
    </tr>
    {{/sum}}
    {{#avg}}
    <tr>
        <td class="average" colspan="{{{colspan}}}">{{#str}}average, mod_poll{{/str}}: {{{.}}}</td>
    </tr>
    {{/avg}}
    {{#stdv}}
    <tr>
        <td class="standard_deviation" colspan="{{{colspan}}}">{{#str}}standarddeviation, mod_poll{{/str}}: {{{.}}}</td>
    </tr>
    {{/stdv}}
</table>