{{#choices}}
<table style="width:{{choices.twidth}}">
  <tbody>
    {{#choices.header}}
    <tr>
      {{#cols}}
      <td style="width:{{colwidth}}; text-align:center;">{{{coltext}}}</td>
      {{/cols}}
    </tr>
    {{/choices.header}}
    {{#choices.rows}}
    <tr class="scalerow">
      {{#cols}}
      <td {{#colstyle}}style="{{.}}"{{/colstyle}}{{#colclass}} class="{{.}}"{{/colclass}}{{#coltitle}} title="{{.}}"{{/coltitle}}>
        {{#coltext}}{{{.}}}{{/coltext}}
        {{#colhiddentext}}<span class="accesshide">{{{.}}}</span>{{/colhiddentext}}
        <input type="radio" name="{{name}}" id="{{id}}" value="{{value}}"{{#checked}} checked="checked"{{/checked}}{{#disabled}} disabled="disabled"{{/disabled}}{{#onclick}} onclick="{{.}}"{{/onclick}}>
        {{#label}}<label for="{{id}}" class="accesshide">{{{.}}}</label>{{/label}}
      </td>
      {{/cols}}
    </tr>
    {{/choices.rows}}
  </tbody>
</table>
{{/choices}}