<div class="col-md-9 form-inline felement" data-fieldtype="text">
    <input type="text" class="form-control " name="shortanswer_{{question.id}}" id="id_shortanswer_{{question.id}}" value="" size="">
</div>