{{#completedcount}}
<div class="poll_info">
    <span
        class="poll_info">{{#str}}completedpolls, mod_poll{{/str}}: </span><span
        class="poll_info_value">{{completedcount}}</span>
</div>
{{/completedcount}}

{{#itemscount}}
<div class="poll_info">
    <span
        class="poll_info">{{#str}}questions, mod_poll{{/str}}: </span><span
        class="poll_info_value">{{itemscount}}</span>
</div>
{{/itemscount}}

{{#opendate}}
    <div class="poll_info">
        <span
            class="poll_info">{{#str}}pollopen, mod_poll{{/str}}: </span><span
            class="poll_info_value">{{opendate}}</span>
    </div>
{{/opendate}}

{{#closedate}}
    <div class="poll_info">
        <span
            class="poll_info">{{#str}}pollclose, mod_poll{{/str}}: </span><span
            class="poll_info_value">{{closedate}}</span>
    </div>
{{/closedate}}

