body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
.animated{
    opacity: 0;
}
.max1145{
    max-width: 1145px;
    margin:0 auto;
}
.padding10horizontal{
    padding:0 10px;
}
#header img{
    width:100%;
}
#off_50{
    background-color: #f9f9f9;
}
#off_50 h2{
    font-weight: bold;
}
#off_50 p{
    text-align: justify;
    line-height: 1.7em;
}
#off_50 ul{
    list-style-image: url('../images/10.png');
    padding-left: 20px;
}
#off_50 ul li{
    margin-bottom:8px;
}
#off_50 ul span{
    text-decoration: line-through;
}
#off_50 ul a:hover{
    color:#25a0ff;
    text-decoration: none;
}
#off_50 img{
    width: 100%;
}




#reason_choose{
    max-width: 900px;
    margin:0 auto;
    padding:40px 20px;
}
#reason_choose a{
    color:#e1a341;
}
#reason_choose h2{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}
.each_reason{
    /* padding:0 5%; */
    margin:15px auto;
    /* max-width: 220px; */
}
.each_reason img{
    width:100%;
    overflow: hidden;
}
.each_reason h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    width: 100%;
    margin:20px 0;
}
#register_form{
    background:url("../images/bg-register.jpg") center;
    background-size: cover;
    color: #fff;
    padding:30px 0;
}
#register_form h2{
    font-weight: bold;
    margin-bottom: 25px;
}
#register_form p{
    font-size: 1.3em;
    max-width:620px;
    margin:0 auto 20px;
}
#register_info{
    margin:0 auto;
    max-width: 500px;
}
#register_info input{
    margin-bottom:15px;
}
#register_info label{
    font-size: 1.1em;
}
#register_info button{
    font-size: 1.5em;
}



#send_info{
    background: #4261a0;
    padding:40px 0;
}
#send_info hr{
    border-bottom:1px solid #fff;
}
#send_info input{
    border:none;
    outline: none;
    background: none;
    color:#fff;
    font-size: 1.2em;
}
#send_info input::placeholder{
    color:#fff;
}
#send_info button{
    background: #fff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.3em;
    border:none;
    padding:10px 15px;
    margin: 0 auto;
}
#outline_button{
    padding:3px;
    border-radius: 10px;
    height: min-content;
    background: linear-gradient(270deg, aqua, brown, pink, #212ddf,aqua, brown,pink);
    /* background: linear-gradient(270deg, red,blue,blue,red); */
    background-size: 400% auto;
    animation: bganimate 1s linear infinite  ;
    /* animation-fill-mode: forwards; */
}
@media only screen and (max-width: 765px) {
    #frame_header{
        padding:0 10px;
    }
    #about_teacher_text{
        padding:0 2%;
    }
}
@keyframes bganimate {
    0%{background-position:0% 50%}
    100%{background-position:90% 50%}
    /* 100%{background-position:140% 50%} */
    /* 100%{background-position:0% 50%} */
}