body{
    font-family: 'Open Sans', sans-serif;
    background: url("../images/bg_thank.png") fixed;
    background-size: cover;
}
#main_frame{
    max-width: 750px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
img{
    max-width:200px;
    margin-top:15px
}
h1{
    font-weight: 700;
    font-size: 2.3em;
    color:#485BC6;
    margin-top:65px;
}
h2{
    font-weight: bold;
    font-size: 1.7em;
    margin-top:55px;
    color:#555;
}
p{
    font-size:1.1em;
    color:#555;
    margin-top:45px;
    line-height: 140%;
}
a{
    font-weight: 600;
    color:blue;
    animation: shadow 1s infinite ease;
}
a:hover{
    text-decoration: none;
    color:red;
}
@keyframes shadow{
    0% {text-shadow: 0px 0px 05px rgba(255,255,255,1);}
    50% {text-shadow: 0px 0px 35px rgba(255,255,255,1);}
    100% {text-shadow: 0px 0px 05px rgba(255,255,255,1);}
}