@charset "utf-8";
body{height: 100%;}
/*팝업*/
#page-local-media-upload #pop_wrap{
    padding: 0 !important;
    max-width: 800px;
    left: calc(50% - 400px) !important;
}
#page-local-media-upload #pop_wrap #contents{width: 100% !important;}
#y_response
, #v_response{margin-top: 15px;}

#page-local-media-upload #pop_wrap._tags #contents{overflow: hidden !important;}
#page-local-media-upload #pop_wrap._tags #contents .explain.pink + div{
    overflow: auto;
    height: calc(100% - 120px);
}


#pop_wrap{
    border: 2px solid #828282;
    margin: 0;
    width: 800px;
    height: 640px;
    box-sizing: border-box;
    background: #fff;
}
#pop_wrap.search_corps._corps{
    padding: 0 !important;
    width: 600px !important;
    left: calc(50% - 300px) !important;
}
#pop_wrap.search_serise{
    width: 500px;
    height: 500px;
}
#pop_wrap.auth_search{width: 1000px; height: 700px;} 
#pop_wrap.textpop{
    width: 457px;
    height: 350px;
}
#pop_wrap.warning{
    width: 355px;
    height: 350px;
}
#pop_wrap.videoview_pop{
    width: 575px;
    height: 330px;
}
#pop_wrap.learning_point{
    width: 580px;
    height: auto;
    margin: 0;
    z-index: 999999999;
}
#pop_wrap.width1000{width: 1000px;}
#page-mod-okmedia-videos #pop_wrap{ 
    height: 670px;    
}
#page-mod-okmedia-videos #pop_wrap #contents{  
    height: 100%;    
    padding-bottom: 0px !important;   
}       
#page-mod-okmedia-videos #contents .paging .pagination{
    margin: 10px 0;
}
#page-mod-okmedia-videos #contents .paging{
    clear: both;
    padding-top: 5px; 
} 
#page-mod-okmedia-videos .listbox .col_list{
    padding: 5px 10px;
    margin-top: 5px;
}
#pop_wrap .pop_title{
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #828282;
}
#page-mod-okmedia-viewer-player .pop_title{
    position: absolute;
    top: 30px;
    right: 30px;
}
.popclose{
    cursor: pointer;
    z-index: 9;
    position: relative;
}
.pop_title .close_text{
    position: static;
    margin-right: 5px;
    left: auto;
    top: auto;
}
.pop_title .popclose{
    float: right;
    cursor: pointer;
}

#pop_wrap .pop_title h2{
    text-indent: 10px;
    float: left;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 120px);
    white-space: nowrap;
}
.lang-ja #pop_wrap .pop_title h2{width: calc(100% - 150px);}
.lang-en #pop_wrap .pop_title h2{width: calc(100% - 200px);}
#pop_wrap .pop_contents{overflow: hidden;}
#pop_wrap .pop_contents div > h3{
    text-indent: 10px;
    margin-bottom: 20px;
}
#pop_wrap .pop_contents .left{
    float: left;
    width: 55%;
    border-right: 1px solid #dfdfdf;
    padding: 15px;
    box-sizing: border-box;
}
#pop_wrap .pop_contents .right{
    float: left;
    padding: 15px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    width: 45%;
}

#pop_wrap .pop_contents .left .icon{
    float: left;
    width: 20%;
    text-align: center;
}

#pop_wrap #contents{
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
    height: calc(100% - 60px);
    position: relative;
}

#page-local-media-upload #pop_wrap #contents{
    padding: 20px 20px 20px 20px;
    overflow: auto !important;
}
#page-local-media-upload #pop_wrap.search_corps{
    max-height: 700px;
    top: 5% !important;
}
#page-local-media-upload #pop_wrap.auth_search {
        min-height: 650px;
}

#pop_wrap.search_corps._corps #contents{
    height: calc(100% - 120px);
    border-bottom: 1px solid #828282;
    padding-bottom: 40px;
}

#pop_wrap .sub_contents{
    height: 470px;
}

#page-mod-okmedia-videos #pop_wrap .sub_contents{
    height: auto;
    padding: 0 20px;
    height: 530px;
    overflow-y: auto;
}
#page-mod-okmedia-videos #pop_wrap .listbox{background: #fff;}
#page-mod-okmedia-videos #pop_wrap .listbox .col_list .buttons p.ok{
    background: #5c5c5c;
}

.right_cont{
    margin: 0px 20px 0 0;
    overflow: hidden;
}
#contents .right_cont input{
    display: inline-block;
    float: left;
    margin-left: 10px;
    vertical-align: middle;
}
#contents  .right_cont .search{
    height: 30px;
    width: 150px;
    margin-top: 7px;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    padding: 0 10px;
}
#contents  .right_cont .search::-webkit-input-placeholder{
     color: #1d1d1d;
}
#contents  .right_cont .ok{
    background-color: #f34d78;
    color: #fff;
    width: 60px;
    height: 30px;
    line-height: 30px;
    margin-top: 7px;
    border: 0;
    cursor: pointer;
}
#contents  .right_cont .edit{
    background-color: #5c5c5c;
    color: #fff;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin-top: 7px;
    border: 0;
    cursor: pointer;
}
#pop_wrap .col3{overflow-y: auto;}
#pop_wrap .col3
, #pop_wrap .col2{
    border-right: 1px solid #d2d2d2;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}
#pop_wrap .col3:first-child{
    width: 30%;
}
#pop_wrap .col3:nth-child(2){
    width: 37%
}
#pop_wrap .col3:last-child{
    width: 33%;
    border-right: 0;
}
#pop_wrap .col2{
    width: 70%;
    border-right: none;
}
.my_cont{
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
}
.my_cont h3{
    margin-bottom: 5px;
}
.my_cont .ullist li{
    height: 30px;
    line-height: 30px;
    color: #1d1d1d;
    font-size: 12px;
}
.listbox
, .listboxshare{
    background-color: #f8f8f8;
}
.listbox>.header{
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 3px solid #7d7d84;
    
}
.listbox .header h3
, .listboxshare .header h3{
    float: left;
}
#contents .listbox .header .reload{
    float: right;
    margin-top: 4px;
    cursor: pointer;
    background:url("/theme/oklasscompany/pix/images/reload.jpg") no-repeat;
    font-size: 12px;
    color: #1d1d1d;
    width: 93px;
    height: 27px;
    vertical-align: middle;
    text-align: center;
    border: 0;
    padding: 0;
    padding-right: 27px;
    line-height: initial;
}
.listbox .scrolly
,.listboxshare .scrolly{
    height: calc(100% - 40px);
} 
.listbox .col_list
, .listboxshare .col_list{
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #d0d8e0;
    overflow: hidden
    
}
.listbox .col_list .info
, .listboxshare .col_list .info{
    float: left;
}
.listbox .col_list .info p 
, .listbox .col_list .info h3{
    margin-bottom: 10px;
    color: #1d1d1d;
}
.listbox .col_list .info p
, .listboxshare .col_list .info p{font-size: 12px;}

.listbox .col_list .info span
, .listboxshare .col_list .info span{
    font-size: 12px;
    color: #1d1d1d;
}
.listbox .col_list .buttons
, .listboxshare .col_list .buttons{
    float: right;
}

.listbox .col_list .buttons p
, .listboxshare .col_list .buttons p{
    height: 30px;
    width: 60px;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
}
.listbox .col_list .buttons p.ok
, .listboxshare .col_list .buttons p.ok{
    background-color: #f34d78;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}
.listbox .col_list .buttons p.edit
, .listboxshare .col_list .buttons p.edit{
    border: 1px solid #c1c1c1;
    color: #1d1d1d;
    cursor: pointer;
    background-color: #fff;
}

#contents .mycontent input, #contents .mycontent select{
    margin-bottom: 20px;
    border: 1px solid #d2d2d2;
    height: 30px;
    font-size: 12px;
    color: #1d1d1d;
}
#contents .mycontent .files{
    margin-bottom: 20px;
    text-align: right;
    color: #1d1d1d;
    font-size: 13px;
}
#contents .mycontent input[type=file]{
    width: 100%;
    height: 24px;
    margin-top: 5px;
    background-color: #fff;
    margin-bottom: 3px;
}
#contents .mycontent input[type=text]{
    display: inline-block;
    width: calc(100% - 79px);
    padding: 0 10px;
    box-sizing: border-box;
}
#contents .mycontent input[type=text]::-webkit-input-placeholder{
     color: #1d1d1d;
}
#contents .mycontent input[type=text]::input-placeholder{
     color: #1d1d1d;
}
#contents .mycontent label{
    color: #1d1d1d;
    margin-right: 10px;
    display: inline-block;
    width: 65px;
    font-size: 13px;
}
#contents .mycontent input[type="submit"]{
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    right: 20px;
    color: #fff;
    border:0;
}

#contents .mycontent #share_yn{
    margin-bottom: 20px;
}
#contents .mycontent label[for="popupwidth"]{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
#contents .mycontent #popupwidth 
, #contents .mycontent input[name="popupheight"]{
    width: 45%;
    display: inline-block;
}
#contents .mycontent #popupwidth{
    margin-right: 7px;
}
#contents .mycontent input[name="popupheight"]{
    margin-left: 7px;
}


.pop_title.inbutton h2{
    float: left; 
}
.pop_title.inbutton .complete{
    float: right;
    color: #fff;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f34d78;
    margin-top: 15px;
    font-size: 12px;
}

.window-popup .modal-header .modal-title{
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    border-bottom: 1px solid #1d1d1d;
}
.window-popup .modal-text{
    padding: 30px;
}
.modal-text{
    line-height: 20px;
    color: #1d1d1d;
}

.modal-text
, .modal-text p{
    line-height: 20px;
    color: #1d1d1d;
}

.modal-body{
    padding: 0 30px;
}
.satisfact_score{
    margin: 30px 0;
}
.numbox{
    height: 33px;
    width: 32px;
    margin-right: 10px;
    text-align: center;
    line-height: 33px;
    display: inline-block;
    color: #606060;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
}
.numbox:last-child{margin-left: 0}
.numbox.on{
    background-color: #f34d78;
    color: #fff;
}

.bottom_buttons{
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.videoview_pop bottom_buttons{bottom: 20px;}
.bottom_buttons.center{
    text-align: center;
    left: calc(50% - 30px);
}
.bottom_buttons button{
    float: left;
    margin-left: 5px;
    padding: 0;
}

.modal-scroll{
    background-color: #f8f8f8;
    padding: 20px;
    overflow-y: auto;
    margin: 30px 0;
    height: 50px;
    border: 1px solid #dfdfdf;
}
.modal-img{
    margin-bottom: 30px;
}

#contents .mypoint.bg{
    padding: 20px 45px;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 0;
}
.mypoint .licon{
    float: left;
    margin-top: 14px
}
.mypoint .licon p{
    color: #1d1d1d;
    margin-top: 5px;
    text-align: center;  
}
.mypoint .modal-text{
    float: left;
    border-left: 1px solid #ddd;
    margin-left: 45px;
    padding-left: 50px;
}
#contents .mypoint .modal-text select{
    box-sizing: border-box;
    color: #1d1d1d;
    height: 25px;
    margin: 0 5px;
}
.mypoint .modal-text p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.mypoint .modal-text .pink{
    font-size: 25px;
}
.learning_point h5{
    margin-bottom: 20px;
    margin-top: 35px;
    font-size: 17px;
    font-family: LGSmHaR;
}
.learning_point h5.pink{
    margin-bottom: 10px;
    font-size: 14px;
}
.learning_point h5.pink.paddingTop{clear: both;padding-top: 40px;}
.learning_point .table .text-left{
    text-indent: 0;
    padding-left: 20px;
}
.learning_point .table p
,.learning_point .table ul li{
    font-size: 12px;
    color: #1d1d1d;
}
h5.pink.margintop{
    margin-top: 20px;
}
.badgebox{
    float: left;
    height: 110px;
    width: calc(20% - 12px);
    box-sizing: border-box;
    margin-right: 15px;
    text-align: center;
}
.badgebox.margin0{
    margin-right: 0;
}
.badgebox img
,  .licon img{height: 56px;}
.badgebox:last-child{margin-right: 0;}
.badgebox .levelbg{
    padding: 10px;
    height: 70px;
    text-align: center;
    vertical-align: bottom;
    background-color: #f4f4f4;
}
.badgebox p{
    font-size: 13px;
    color: #1d1d1d;
}
.badgebox p.level_score{
    margin: 15px 0;
}  

.serise_list{
    width: 100%;
    border: 1px solid #c8c8c8;
    padding: 20px;
    box-sizing: border-box;
}
.serise_list ul li{
    width: 100%;
    border-bottom: 1px solid #c8c8c8;
    padding: 5px 0;
    overflow: hidden;
} 
.serise_list ul li:first-child{padding-top: 0;}
.serise_list ul li .button_style02{
    float: right;
} 
.serise_list ul li .serise_text{
    display: inline-block;
    float: left;
    color: #1d1d1d;
    cursor: pointer;
    line-height: 30px;
}
.serise_list ul li img{
    cursor: pointer;
    margin-left: 5px;
}
#contents .serise_input{
    padding: 0 10px;
    box-sizing: border-box;
    width: calc(100% - 140px);
    margin-right: 10px;
} 

#contents .poplist .course_text .info span{
    font-size: 14px;
}

.comment_area{margin-top: 20px;}
.comment_box{
    min-height: 70px;
    border: 1px solid #cacaca;
    padding: 10px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 0;
    box-shadow: none;
}
#contents .comment_box + .button_style01{
    float: right;
    margin-bottom: 20px;
}

ul.comment{
    border-top: 3px solid #7d7d84;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    max-height: 150px;
    overflow-y: auto;
}
ul.comment li{
    border-bottom: 1px dotted #c8c8c8;
    padding: 13px 20px;
    color: #1d1d1d;
    overflow: hidden;
    position: relative;
}
ul.comment .com_text{
    float: left;
    color: #1d1d1d;
    width: 60%;
    word-break: break-all;
/*    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}
ul.comment .text-right{
    width: 38%;
    float: right;
    margin-right: 10px;
}
.comment_del{
    position: absolute;
    right: 5px;
    top: 20px;
    display: inline-block;
    cursor: pointer;
    float: right;
    text-indent: -999999px;
    background: url(/theme/oklasscompany/pix/images/close.png) no-repeat;
    background-size: 10px;
    width: 10px;
    height: 10px;
}
.stars img{
    width: 25px;
}

#contents .page_title.left{
    float: left;
    line-height: 300px;
}
.page_title.left + .no-overflow{
    width: 90%;
    float: right;
    margin-bottom: 20px;
    clear: none;
}

.bottom_buttons.padding{margin-right: 20px;}  

#contents #modify_series_form{
    border: 1px solid #ddd;
    padding: 15px 15px 10px 15px;
    line-height: 30px;
    min-height: 30px !important;
}
#contents #modify_series_form .serise_input{
    width: 100%;
    margin: 5px 0;
}
#contents #modify_series_form input[type=submit]{
    min-width: 0;
    width: 40px;
    min-height: 0;
    height: 23px;
}
#contents #modify_series_form input[type=submit].gray{
    background: #5c5c5c;
}
#contents #modify_series_form img{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 10px;
    cursor: pointer;
}

#pop_wrap.mooc{
/*    position: relative;*/
    overflow: hidden;
    width: 1080px;
}
#pop_wrap.mooc #popbg{
    position: fixed;
}
#pop_wrap.mooc #contents .tab_group .tab .my{
    width: 50%;
}
#pop_wrap.mooc #contents .tab_group .tab > a:first-child:last-child .my{width: 100%;}
#pop_wrap.mooc #contents .tab_group .tab .my:last-child{border-right: 0;} 
#pop_wrap.mooc #contents .tab_group .tab .my h3{font-size: 16px;}
.pop_title .menu{
    background: url("/theme/oklasscompany/pix/images/boardstyle_b.png") no-repeat;
    background-size: 20px 16px;
    width: 20px;
    height: 16px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    cursor: pointer;
}
#pop_wrap.mooc #contents .tab_con{
    overflow: hidden;
    padding: 0px;
}
#pop_wrap.mooc .tab_con iframe{
    border: 0;
    width: 100%;
    min-height: 500px;
}

#contents .activity label{
   /*display: block;*/
   margin-left: 5px;
   vertical-align: middle;
}
#contents .video_group.mooc{
/*    height: 400px;
    min-height: 400px;*/  
    margin-bottom: 20px;
    margin-top: 0;
}
#contents .video_group.mooc .video_info{
    margin-bottom: 10px;
}
#contents .mooc .videoarea{
    background: #1d1d1d;
    height: 337px;
    width: 100%;
}
#contents .mooc .videoarea.width70{
    border: 1px solid #bbb;
    width: 68% !important;
    float: left !important;
    height: 973px !important;
}
#contents .mooc .videoarea.width100{
    width: 100% !important;
    float: left !important;
}
#contents .video_group.height70{
    height: 548px !important;
}
#contents .video_group.height100{
    height: 668px !important;
}
#contents .mooc .caption_area{
    border: 1px solid #bbb;
    float: right;
    background: #fff;
    width: 30%;
    height: 224px;
    overflow-y: auto;
    box-sizing: border-box;
}
#contents .mooc .prof-info{
    float: right;
    background: #fff;
    width: 30%;
    height: 100px;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1px solid #d4d4d4;
    margin-bottom: 20px;
}

.activity_explain{
    color: #1d1d1d;
    margin-bottom: 15px;
    line-height: 20px;
}
#contents .activity h4{
    margin-bottom: 10px;
}
#contents .activity label{
    line-height: 30px;
    color: #1d1d1d;
}
#contents .activity .c_list{
    border-top: 2px solid #c8c8c8;
    padding: 10px 0;
}
#contents .activity .c_list li{
    padding: 5px 0;
}
#contents .activity label input[type=checkbox]{
    vertical-align: text-bottom;
}
#pop_wrap #contents.mooc{
    background: #fff;
    position: static;
}

#pop_wrap #contents.mooc .aside{
    height: auto;
    width: 40%;
    position: absolute;
    top: 0px;
    left: -70%;
    z-index: 9999;
    border-right: 1px solid #ddd;
    background: #f2f2f2;
    transition: left 0.3s;
}
#pop_wrap #contents.mooc .aside.show{
    left: 0px;
}
#pop_wrap #contents.mooc .aside > ul.lgb > li{
     border-top: 1px solid #ddd;
}
#pop_wrap #contents.mooc .aside > ul.lgb > li:last-child{border-bottom: 1px solid #ddd;}
#pop_wrap #contents.mooc .aside > ul.lgb > li ul li.on a{color: #f34d78;}
#pop_wrap #contents.mooc .aside > ul.lgb > li ul li{
    line-height: 20px;
    padding: 5px 0 5px 0px;
    height: auto;
    position: relative;
}

#pop_wrap #contents.mooc .aside > ul.lgb > li.nochildsection h3{
    background: #e0e0e0;
    color: #1d1d1d;
    font-size: 16px;
}
#pop_wrap #contents.mooc .aside > ul.lgb > li.nochildsection{
    border-top-color: #bbb;
    border-bottom: 1px solid #bbb;
}
#pop_wrap #contents.mooc .aside > ul.lgb > li.nochildsection +li{
    border-top: 0;
}
#contents.mooc .aside > ul.lgb > li.nochildsection h3::before{display: none;}

#contents input.blue, #contents button.blue{
    background: #2d4b7a !important;
    color: #fff !important;
}

div[role="main"] #popwrap .mooc-subtitle {text-align:center; font-size:18px;}
div[role="main"] #popwrap .mooc-subtitle.out {text-align:center; font-size:18px; margin-left: 20px; margin-right: 25px}
div[role="main"] #popwrap .mooc-subtitle .width100 {width:100%; float:left; padding:5px 0px; background:#2d4b7a; color:#fff;}
div[role="main"] #popwrap .mooc-subtitle .width68 {border:1px solid #ddd; width:68%; float:left; padding:5px 0px; background:#2d4b7a; color:#fff;}
div[role="main"] #popwrap .mooc-subtitle .width32 {border:1px solid #ddd; width:31%; float:left; padding:5px 6px; background:#2d4b7a; color:#fff;}