@charset "UTF-8";

#page-mod-okmedia-video_player {
    overflow-y: scroll !important;
    margin:0px;
}

input[type="submit"],input[type="button"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	color: white;
	padding: 3px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: none;
	cursor: pointer;
	margin: 0;
}

.btn{
	
	background-color: #aaaaaa;
	border: 1px solid #888;
	color: white;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 11px;
	color: white;
	padding: 3px 5px !important;
}

.small_btn{
    padding: 0 3px !important;
    height: 20px !important;
}

.btn-success{
	border: 1px solid #005d7b;
	background-color: #018db8;
	color: white;
}

.table{
	margin-top: 5px;
}

.progress{
	margin-top: 5px;
}

.align_right{
	text-align: right;
}

.valign_middle{
	vertical-align: bottom;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.viewer_area{width:100%;height:auto;}
#subtitles{padding:5px;overflow:hidden;}
#viewer{width:100%;border:0;overflow:hidden;}
#caption{width:100%;height:600px;border:1px solid #ccc;overflow:hidden;}

li.subtitle{
    position: relative;
    padding: 5px 0;
}

li.subtitle .subtitle_edit{
    position: absolute;
    padding: 0;
    top: 5px;
    right: 15px;
}

li.subtitle .subtitle_time, li.subtitle .subtitle_text{
    padding-bottom: 5px;
}

li.subtitle .subtitle_time, li.subtitle .subtitle_text textarea{
    width: 99%;
}

/*************************************
    Content Navigation Area
*************************************/
#content_navigation {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
p.black_btn {
    display: block;
    color: white;
    background-color: gray;
    border-radius: 2px;
    float: left;
    margin: 0 4px 10px 0 !important;
    padding: 5px 15px 3px 15px;
    float: left;
    width: auto !important;
    font-size: 12px !important;
}
p.black_selected {
    background-color: black;
}
a p.black_btn {
    color: white;
}
a:hover p.black_btn {
    background-color: black;
    padding: 5px 15px 3px 15px;
    border-radius: 2px;
}


/* /IE8 only */  

div.subtitle_area {
    height: 600px; 
    overflow-y: auto; 
    width: 100%;
}

#header #header_top ul.logged_out li input[type="submit"] {
	color: #333333;
}

a.blue_btn {
	background-color: #00769A;
	border: 1px solid #034e65;
        appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	color: white;
	padding: 3px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: none;
	cursor: pointer;
	margin: 0;
}
a.red_btn {
	background-color: #ED4242;
	border: 1px solid #D0231C;
        appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	color: white;
	padding: 3px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: none;
	cursor: pointer;
	margin: 0;
}
a.orange_btn {
	background-color: #E8920C;
        appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	color: white;
	padding: 3px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: none;
	cursor: pointer;
	margin: 0;
}

.detail-progress-area{
    clear: both;
    border-bottom: 1px solid #ccc;
    background: #eee;
    padding: 10px;
}

.detail-progress-area .detail-laststudy{
    margin-right: 15px;
}

.detail-progress-area .detail-studyrate{
    margin-right: 15px;
}

.detail-progress-area .detail-totalstudytime{
    margin-right: 15px;
}

#page-mod-okmedia-view .ui-front, #page-mod-okmedia-view .ui-dialog{
    z-index: 99999;
}

#page-mod-okmedia-view .ui-dialog .ui-dialog-content{
    padding: 0 !important;
}

#page-mod-okmedia-view .reference-area{
    background: #eee !important;
}

.detail-contents-area{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.detail-contents-area ul{
    margin: 3px;
}

.detail-contents-area ul li{
    list-style: none;
    padding: 5px;
}

.no-overflow{
   overflow: none;
}

#vodimage {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
}

#vodimage img {
    width:100%;
    height:99%;
    border:0;
}

#vodquality {
	position: absolute;
	left: calc(50% - 144px) !important;
	top: calc(50% - 18px) !important;
	color: #FFF;
}
#vodquality .full { 
	margin-left:80px !important;
}
#vodquality a.blue_btn {
	padding: 8px 0;
	width: 120px;
	display: block;
	float: left;
	text-align: center;
	color: #fff;
	font-size: 15px !important;
	margin: 0px 10px;
	border: 2px solid rgb(237, 85, 101);
	border-radius: 2px;
	background-color: #ed5565;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0 0 6px #676767;
}
#vodquality a.orange_btn {
	margin: 0px 10px;
	padding: 8px 0;
	width: 120px;
	display: block;
	float: left;
	text-align: center;
	background-color: #E8920C;
	border-radius: 2px;
	color: #fff;
	font-size: 15px !important;
	border: 2px solid rgb(232, 146, 12);
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0 0 6px #676767;
}
#vodquality a.blue_btn:hover {
	background-color: #c33241;
	border: 2px solid #c33241;
}
#vodquality a.orange_btn:hover {
	background-color: #b3740c;
	border: 2px solid #b3740c;
}

iframe#vod_viewer{
    width:100%;height:525px;border:0;overflow:hidden;
}

video{
    background: #000;
    width: 100%;
    height: 100%;
}

div#vodplayer {
    margin: 0;
    padding: 0;
    background: #000;
}

#page-mod-okmedia-video_player{
    overflow: hidden;
}

#page-mod-okmedia-video_player #page{
    width: 100%;
}


@media all and (max-width:768px) {
    iframe#vod_viewer{
        height: 350px;
    }
}

@media all and (max-width:480px) {
    iframe#vod_viewer{
        height: 200px;
    }
}
#id_okmedia_content_search {
    display: none;
}
#id_okmedia_content_insert {
    display: none;
}

#controls {
    position: absolute; bottom: 0px; left: 0px; width: 100%; height: 50px; background: #333;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
#playpausebtn{
    display:block; visibility: visible; position: absolute; bottom: 10px; left: 1%; width:35px;
}
#playpausebtn img{
    width: 35px; vertical-align: middle;
}
#playtime {
   display:block; visibility: visible; position: absolute; bottom: 15px; left: 12%; width: 10%; font-size: 80%; color: #fff;
}
#seekslider{ 
    display:block; visibility: visible; position: absolute; bottom: 17px; left: 24%; width: 60%; z-index: 999;
}
#totaltime {
    display:block; visibility: visible; position: absolute; bottom: 15px; right: 3%; width: 10%; font-size: 80%;  color: #fff;
}


input[type='range'] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #777;
    background-color: #999;
    height: 10px;
    vertical-align: middle;
}
input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #777;
    background-color: #999;
    height: 10px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 30px;
    width: 15px;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 30px;
    width: 15px;
}

input[type='range']::-webkit-slider-thumb:hover {
	 background-color: #FFF;
}

input[type='range']::-moz-range-thumb:hover {
	 background-color: #FFF;
}

/*youtube팝업*/
div[aria-describedby="load_form"], #mod_okmedia_contents{
    padding: 0 !important; 
    border-color: #ccc !important;
}  
.ui-dialog .ui-dialog-content{padding: 0 !important;}
.ui-widget-header{
    border: 0 !important;     
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px !important; 
}  
.ui-widget input{border-radius: 2px;}

#load_form.ui-widget-content > div, iframe div, .test{
    width: 100% !important;
    padding: 15px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
} 
#load_form.ui-widget-content > div[id *= yui]{border: 0;}
#load_form.ui-widget-content > div[id *= yui] input{margin: 5px 0 0 0 !important;}
.embed_thumbnail{margin-right: 10px !important;}
.embed_select{margin-top: 5px !important;}
.embed_select input[type=button]{
    margin: 0 !important;
    background: #eee; 
}

#durationbar {
    float:left;width:calc(100% - 340px);
    margin-top: 0px;
}
#id_duration{
    position:relative;margin-top:15px;width:100%;height:10px;background:#ddd;
}
#durationbar .poshtmls{
    margin-top:0;position:absolute;top:0;height:10px;background:#00abcd;
}

.balloon {
    display: inline-block;
    position: absolute;
    background: #eee;
    height: 40px;
    width: 100px;
    padding: 2px 3px;
    top: 10px;
    left: 0;
    margin: 0 auto 10px;
}
.balloon:after {
    content: '';
    position: absolute;
    border-bottom: 10px solid #eee;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: -9px;
    left: 5px;
}
.currentcnt {
    font-size: 14px;
    font-weight: 400;
    float: right;
    padding-right: 20px;
}
@media all and (max-width:480px) {
    #durationbar {
        display: none;
    }
}

/* okmedia 학습창 레이아웃 수정 */
.format-oklass_mooc #popwrap #pop_title {
    float: left;
    margin-left: 2%;
    width: 65%;
}
.video_group.mooc div {
    box-sizing: border-box;
}
.video_group.mooc .videoinfo {
    width: 68%;
    float: left;
}
.video_group.mooc .videoinfo .left_cont {
    width: 85%;
    float: left;
}
/*.video_group.mooc .videoinfo .circletext {
    margin-right: 10px;
}
.video_group.mooc .videoinfo .info {
    width: calc(100% - 85px);
}
.video_group.mooc .videoinfo .info li {
    padding: 5px 15px;
}
.video_group.mooc .videoinfo .info li p {
    font-size: 12px;
}
*/.video_group.mooc .videoinfo #durationbar {
    width: calc(100% - 450px);
}

.video_group.mooc .videoinfo .caption_btn_group {
    width: 15%;
    float: right;
    padding-top: 12px;
}
.video_group.mooc .videoinfo .caption_btn_group input {
    width: 120px;
}
.video_group.mooc .videoinfo .caption_btn_group select {
    width: 120px;
    margin-left: 10px;
}

.video_group.mooc .caption_area {
    height: 450px !important;
}

.video_group.mooc .prof_info {
    width: 32%;
    float: left;
    height: 155px;
    margin-top: -75px;
}
.video_group.mooc .prof_inner {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
}
.video_group.mooc .prof_inner .prof_picture {
    width: 30%;
    height: 100%;
    display: block;
    float: left;
    overflow: hidden;
}
.video_group.mooc .prof_inner .prof_picture img {
    width: auto;
    height: 100%;
}
.video_group.mooc .prof_inner .inner_cont {
    width: 70%;
    float: left;
    padding: 10px;
    height: 100%;
}
.video_group.mooc .prof_inner .inner_cont span.prof_title {
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    padding-bottom: 5px;
}
.video_group.mooc .prof_inner .inner_cont span:not(.prof_title) {
    display: block;
    font-size: 12px;
    overflow-y: auto;
    height: 110px;
}
.video_group.mooc .prof_inner .inner_cont span:not(.prof_title) p {
    font-size: 12px;
}

#contents .mooc .caption_area{
    width: 32% !important;
    padding: 20px;
}


#contents .references {
    width: calc(32% - 20px);
    float: right;
    margin-left: 20px;
    height: 600px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 4px 4px 1px #f2f2f2;
}

#contents .references li {
    line-height: 30px;
}
#contents .references > ul > li {
    margin-left: 10px;
    list-style: square;
}
#contents .references li ul {
    padding-left: 20px;
}


#page-mod-okmedia-viewer-mooc .width70 {
    width: 68% !important;
    float: left !important;
}
#page-mod-okmedia-viewer-mooc .width96 {
    width: 96% !important;
    float: left !important;
}
#page-mod-okmedia-viewer-mooc .width97 {
    width: 97% !important;
    float: left !important;
}
#page-mod-okmedia-viewer-mooc .width100 {
    width: 100% !important;
    float: left !important;
}

.videobtn {
    position: relative;
    padding: 25px;
}

.videobtn .dynamic_btn {
    width: 125px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.caption_area .empty-cpations {
    padding-top: 47%;
    text-align: center;
}

/* 임시로 좌우 여백 없애놓음 (나중에 제대로 꼭 수정할 것!!!!!!!!!)*/
/*#page-mod-okmedia-viewer-mooc div[role=main] {
    margin-left: -25px;
    margin-right: -45px; 
}*/

.tab_header .activity-tab img.mod-icon {
    width: 30px;
    padding-right: 5px;
}

.tab_header .activity-tab i.completion-icon {
    margin-left: 5px;
    color: #335180;
}