.w_30 {
    width: 30px !important;
}
.w_40 {
    width: 40px !important;
}
.w_50 {
    width: 50px !important;
}
.w_60 {
    width: 60px !important;
}
.w_70 {
    width: 70px !important;
}
.w_80 {
    width: 80px !important;
}
.w_90 {
    width: 90px !important;
}
.w_120 {
    width: 120px !important;
}
.w_160 {
    width: 130px;
}
.w_200 {
    width: 200px !important;
}
.w_260 {
    width: 260px !important;
}
.w_300 {
    width: 300px !important;
}
.w_500 {
    width: 500px !important;
}

select, input[type=text] {
    font-size: 14px;
    border-color: #d2d6de;
    border-radius: 0;
    box-shadow: none;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#list-times {
    padding-inline-start: 0px;
}

#list-times li {
    line-height: 40px;
    padding: 5px 0px 5px 0px; 
}

#list-times li select#reftime {
    margin-right: 10px;
}

#encourage-attach #filename {
    margin-right: 10px;
}

.encourage-templates span.sortable {
    margin-right: 0px !important;
    cursor: pointer;
}

.encourage-templates span.sortable.asc::after {
    content: " ▲";
    color: rgb(182, 27, 51);
}

.encourage-templates span.sortable.desc::after {
    content: " ▼";
    color: rgb(182, 27, 51);
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    padding: 8px 0px;
}