@font-face{
    src: url(font/Italianno-Regular.ttf);
    font-family: helvetica;
}

.all{
    display: flex;
    max-width: 960px;
    box-shadow: 5px 5px 5px 5px #ccc
    ;
    margin: auto;
}



.picture {
    width: 160px;
    background-color: #f6e5f5;
    text-align: center;

    height: 160px;
    margin: auto;
    margin-top: -80px;
}

.column_left {
    background-color: #b9cced;
   ;
    width: 220px;
}

.font_1{
    font-family: helvetica;
    text-align: center;
    font-size: 18px;
}

@media only screen and(max-width:576px){
    .titframe2{
        height: 100px !important;
    }
}

.icons{
    margin-left: 16px;
    margin-top: 16px;
}

.font_12{
    font-size: 12px;
}

.font_14{
    font-size: 14px;
}

.font_15{
    font-size: 15px;
}

.width280{
    width: 280px;
}