<link rel="stylesheet" href="cv_templates/CV_template_05/17092021.css">
<link rel="stylesheet" href="assets/css/style.css">

<div class="all" id="capture">

  <div class="column_left" style="background-color: #b9cced ;">
    <div style="background-color: white;width: 100%;height: 100px;"></div>
    <div class="picture">
      <img src="" alt="" style="width:120px;height:120px;margin-top: 20px;" id="userImage">
    </div>
    <div class="line" style="width: 100%;height: 0.5px;background-color: rgb(219, 219, 219);margin: auto;margin-top: 32px;"></div>

    <div class="titframe" style="width: 80%;height: auto;background-color: #f6e5f5;margin: auto;margin-top: 32px;">
      <h2 class="font_1">Profile</h2>
    </div>

    <div class="icons" style="display: flex;margin-left: 16px;margin-top: 16px;">
      <i class="fas fa-birthday-cake" style="font-size: 12px;margin-top: 7px;margin-right: 8px;"></i>
      <li style="list-style: none;" class="font_12" id="dateOfBirth"></li>
    </div>

    <div class="icons" style="display: flex;margin-left: 16px;margin-top: 16px;">
      <i class="fas fa-map-marker-alt" style="font-size: 12px;margin-top: 7px;margin-right: 8px;"></i>
      <li style="list-style: none;word-break: break-word;" class="font_12" id="address"></li>
    </div>

    <div class="icons" style="display: flex; margin-left: 16px;margin-top: 16px;">
      <i class="fas fa-mobile-alt" style="font-size: 12px;margin-top: 7px;margin-right: 8px;"></i>
      <li style="list-style: none;word-break: break-all;" class="font_12" id="phone"></li>
    </div>

    <div class="icons" style="display: flex; margin-left: 16px;margin-top: 16px;">
      <i class="fas fa-envelope" style="font-size: 12px;margin-top: 7px;margin-right: 8px;"></i>
      <li style="list-style: none;word-break: break-all;" class="font_12" id="email2"></li>
    </div>



    <div class="titframe" style="width: 80%;height: auto;background-color: #f6e5f5;margin: auto;margin-top: 32px;">
      <h2 class="font_1">Salary</h2>
    </div>

    <div class="icons" style="display: flex;margin-left: 16px;margin-top: 16px;">
      <i class="fas fa-euro-sign" style="font-size: 12px;margin-top: 7px;margin-right: 8px;"></i>
      <li style="list-style: none;word-break: break-word;" class="font_12" id="hopeSalary"></li>
    </div>


    <div class="titframe" style="width: 80%;height: auto;background-color: #f6e5f5;margin: auto;margin-top: 32px;">
      <h2 class="font_1">Information</h2>
    </div>
    <div style="display: flex;justify-content: space-between;margin-top: 16px;">
      <h6 style="margin-left: 16px;" class="font_14">Final Education</h6>
    </div>
    <li style="list-style: none;margin-left: 16px;margin-bottom: 16px;" class="font_12" id="finalEducation"></li>

    <div style="display: flex;justify-content: space-between;margin-top: 16px;">
      <h6 style="margin-left: 16px;" class="font_14">Experience</h6>
    </div>
    <li style="list-style: none;margin-left: 16px;margin-bottom: 16px;" class="font_12" id="experienceWork"></li>

    <div style="display: flex;justify-content: space-between;margin-top: 16px;">
      <h6 style="margin-left: 16px;" class="font_14">Skill groups</h6>
    </div>
    <li style="list-style: none;margin-left: 16px;margin-bottom: 16px;" class="font_12" id="skillGroups"></li>

    <div style="display: flex;justify-content: space-between;margin-top: 16px;">
      <h6 style="margin-left: 16px;" class="font_14">Skills</h6>
    </div>
    <li style="list-style: none;margin-left: 16px;margin-bottom: 16px;" class="font_12" id="skills"></li>

    <div style="display: flex;justify-content: space-between;margin-top: 16px;">
      <h6 style="margin-left: 16px;" class="font_14">Workplaces</h6>
    </div>
    <li style="list-style: none;margin-left: 16px;margin-bottom: 16px;" class="font_12" id="workplaces"></li>

    <div style="display: flex;justify-content: space-between;margin-top: 16px;">
      <h6 style="margin-left: 16px;" class="font_14">Korean Language Level</h6>
    </div>
    <li style="list-style: none;margin-left: 16px;margin-bottom: 16px;" class="font_12" id="koreanLanguageLevel"></li>


  </div>


  <div class="column_right" style="background-color: white;width: 780px;">
    <div style="background-color: white;height: 20px;width: 100%;"></div>
    <div class="nameframe" style="background-color: #f6e5f5; height: 160px;width: 90%;margin: auto;">
      <h4 class="adam" style="text-align: center;padding-top: 56px;font-size: 24px;" id="name"></h4>
      <div class="titframe2" style="width: 60%;height: auto;background-color: #b9cced;margin: auto;margin-top: 48px;">
        <h2 class="font_1" style="color: white;font-weight: 500;" id="employment"></h2>
      </div>
    </div>

    <div class="titframe" style="width: 80%;height: auto;background-color: #f6e5f5;margin: auto;margin-top: 32px;margin-top: 32px;margin-bottom: 24px;">
      <h2 class="font_1">Education</h2>
    </div>

    <div id="education-preview">
      <div class="education-area">

      </div>
    </div>

    <template id="education-field">
      <div id="_idx">
        <div style="display: flex;justify-content: space-between;margin-top: 16px;">
          <h6 style="margin-left: 16px;" class="font_15 width280" id="educationName"></h6>
          <div style="background-color: #f6e5f5;height: 20px;width: 120px;text-align: center;margin-right: 16px;font-size: 16px;">
            <h6 class="font_14" id="educationFromTo"></h6>
          </div>
        </div>
        <div class="thongtin" style="margin-left: 16px;">
          <li style="list-style: none;font-weight: 500" class="font_12"><span id="educationMajor"></span></li>
          <li style="list-style: none;font-weight: 500" class="font_12"><span id="educationAttend"></span></li>
        </div>
      </div>
    </template>



    <div class="titframe" style="width: 80%;height: auto;background-color:#f6e5f5;margin: auto;margin-top: 32px;margin-top: 64px;margin-bottom: 24px;">
      <h2 class="font_1">Work Experience</h2>
    </div>

    <div id="experience-preview">
      <div class="experience-area">

      </div>
    </div>

    <template id="experience-field">
      <div id="_idx">
        <div style="display: flex;justify-content: space-between;margin-top: 16px;">
          <h6 style="margin-left: 16px;" class="font_15 width280" id="experienceName"></h6>
          <div style="background-color: #f6e5f5;height: 20px;width: 120px;text-align: center;margin-right: 16px;font-size: 16px;">
            <h6 class="font_14" id="experienceFromTo"></h6>
          </div>
        </div>
        <div class="thongtin" style="margin-left: 16px;">
          <li style="list-style: none;font-weight: 500;" class="font_12"><span id="experienceMajor"></span></li>
          <li style="list-style: none;font-weight: 500" class="font_12"><span id="experienceAttend"></span></li>
          <li style="list-style: none;font-weight: 500" class="font_12">Achievements:</li>
          <div class="sub-experience-area"></div>
        </div>
      </div>
    </template>

    <template id="sub-experience-field">
      <div id="_subidx">
        <div style="display: flex;justify-content: space-between;margin-top: 16px;padding-left: 20px;">
          <li style="list-style: none;color: #555;margin-bottom: 8px;" class="font_12 width280" id="sub_experienceName"></li>
          <li style="list-style: none;color: #555;padding-right: 15px;" class="font_12" id="sub_experienceFromTo"></li>
        </div>
        <li style="list-style: none;color: #555;padding-left: 20px;padding-right: 15px;" class="font_12" id="sub_experienceDescription"></li>
      </div>
    </template>



    <div class="titframe" style="width: 80%;height: auto;background-color: #f6e5f5;margin: auto;margin-top: 32px;margin-top: 32px;margin-bottom: 24px;">
      <h2 class="font_1">Activities</h2>
    </div>

    <div id="activity-preview">
      <div class="activity-area">

      </div>
    </div>

    <template id="activity-field">
      <div id="_idx">
        <div style="display: flex;justify-content: space-between;margin-top: 16px;">
          <h6 style="margin-left: 16px;" class="font_15 width280" id="activityName"></h6>
          <div style="background-color: #f6e5f5;height: 20px;width: 120px;text-align: center;margin-right: 16px;font-size: 16px;">
            <h6 class="font_14" id="activityFromTo"></h6>
          </div>
        </div>
        <div class="thongtin" style="margin-left: 16px;">
          <li style="list-style: none;font-weight: 500" class="font_12"><span id="activityAttend"></span></li>
          <li style="list-style: none;color: #555;" class="font_12" id="activityDescription"></li>
        </div>
      </div>
    </template>



    <div class="titframe" style="width: 80%;height: auto;background-color: #f6e5f5;margin: auto;margin-top: 32px;margin-top: 32px;margin-bottom: 24px;">
      <h2 class="font_1">Certifications</h2>
    </div>

    <div id="certification-preview">
      <div class="certification-area">

      </div>
    </div>

    <template id="certification-field">
      <div id="_idx">
        <div style="display: flex;justify-content: space-between;margin-top: 16px;">
          <h6 style="margin-left: 16px;" class="font_15 width280" id="certificationName"></h6>
          <div style="background-color: #f6e5f5;height: 20px;width: 120px;text-align: center;margin-right: 16px;font-size: 16px;">
            <h6 class="font_14" id="certificationFromToType"></h6>
          </div>
        </div>
        <div class="thongtin" style="margin-left: 16px;">
          <li style="list-style: none;font-weight: 500" class="font_12"><span id="certificationMajor"></span></li>
          <li style="list-style: none;color: #555;" class="font_12" id="certificationDescription"></li>
        </div>
      </div>
    </template>



    <div class="titframe" style="width: 80%;height: auto;background-color: #f6e5f5;margin: auto;margin-top: 32px;margin-top: 32px;margin-bottom: 24px;">
      <h2 class="font_1">Links</h2>
    </div>

    <div id="links-preview">
      <div class="links-area">

      </div>
    </div>

    <template id="links-field">
      <div id="_idx">
        <div class="thongtin" style="margin-left: 16px;margin-bottom: 24px;">
          <li style="list-style: none;font-weight: 500" class="font_15" id="linksName"></li>
          <li style="list-style: none;color: #555;" class="font_12" id="linksDescription"></li>
        </div>
      </div>
    </template>
  </div>
</div>