<link rel="stylesheet" href="/local/credit/assets/css/style.css">

<div class="container credit-menu">
    <div class="row">
        <div class="col-xl-2">
            <div class="section-left">
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{#url}}{{counseling}}{{/url}}">{{# str }}
                        counseling, local_credit {{/ str }}</a></li>
                    <li class="list-group-item"><a href="{{#url}}{{editpersoninfo}}{{/url}}">{{# str }}
                        edit-person-info, local_credit {{/ str }}</a></li>
                    <li class="list-group-item"><a href="{{#url}}{{creditinfo}}{{/url}}">{{# str }}
                        credit-status-title, local_credit {{/ str }}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xl-10">
            <div class="section-right">
                <h2>{{# str }} credit-status-title, local_credit {{/ str }}</h2>
                <div class="table-credit-status">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{{# str }} employer, local_credit {{/ str }}</th>
                            <th>{{# str }} credit-points, local_credit {{/ str }}</th>
                            <th>{{# str }} last-modified-date, local_credit {{/ str }}</th>
                            <th>{{# str }} expired-date, local_credit {{/ str }}</th>
                            <th>{{# str }} details, local_credit {{/ str }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#creditstatus}}
                            <tr>
                                <td>{{company_name}}</td>
                                <td>{{credit_point}} {{# str }} point-details, local_credit {{/ str }}</td>
                                <td>{{timemodified_long}}</td>
                                <td>{{expire_date_long}}</td>
                                <td><a href="#" onclick="showCreditLog({{id}})">{{# str }}
                                    view-details, local_credit {{/ str }}</a></td>
                            </tr>
                        {{/creditstatus}}
                        </tbody>
                    </table>
                </div>

                <h2 class="credit-log hide">{{# str }} credit-log-title, local_credit {{/ str }}</h2>
                <div class="table-credit-log credit-log hide">
                    <div id="carouselCreditLogId" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner" role="listbox">
                            <div id="carouselInnerId">

                            </div>
                        </div>
                        <div class="pagination-listjob">
<!--                            <a class="carousel-control-prev" href="#carouselCreditLogId" role="button"-->
<!--                               data-slide="prev">-->
<!--                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                                <span class="sr-only">Previous</span>-->
<!--                            </a>-->
                            <ol class="carousel-indicators" id="carouselDotId">

                            </ol>
<!--                            <a class="carousel-control-next" href="#carouselCreditLogId" role="button"-->
<!--                               data-slide="next">-->
<!--                                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                                <span class="sr-only">Next</span>-->
<!--                            </a>-->
                        </div>
                    </div>
                </div>

                <h2>{{# str }} credit-purchase-title, local_credit {{/ str }}</h2>
                <p class="credit-description">{{# str }} credit-description-title, local_credit {{/ str }}</p>
                <div id="creditCarouselId" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="row">
                        <div class="col-1 credit-control">
                            <a class="carousel-control-prev credit" href="#creditCarouselId" role="button"
                               data-slide="prev" onclick="paginationSlide('credit',{{quantitypage}})">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <div class="col-10">
                            <div class="carousel-inner credit-margin-bottom" role="listbox">
                                {{#credits}}
                                    {{#pagination_begin_active}}
                                    <div class="carousel-item active">
                                    <div class="row">
                                    {{/pagination_begin_active}}
                                    {{#pagination_begin}}
                                    <div class="carousel-item">
                                    <div class="row">
                                    {{/pagination_begin}}
                                    <div class="col-4">
                                        <div class="thumbnail credit-info">
                                            <img src="{{#url}}{{image}}{{/url}}{{banner_image_url}}"
                                                 alt="{{credit_name}}">
                                        </div>

                                        <div class="caption credit-info">
                                            <p class="credit-name"><span>{{credit_name}}</span></p>
                                            <p class="credit-point">({{points}} {{# str }} point-details, local_credit {{/ str }})</p>
                                            <section class="price-area">
                                                <p class="credit-price-title">{{# str }}
                                                    price, local_credit {{/ str }}</p>
                                                <p class="credit-price">{{price_format}} VNĐ</p>
                                            </section>
                                            <section class="buy-now-area">
                                                <input type="hidden" name="employer_id" value="{{id_employer}}">
                                                <input type="hidden" name="product_id" value="{{id}}" id="product_id">
                                                <input type="button" value="{{# str }} buy-now, local_credit {{/ str }}"
                                                       class="bt payment btn btn-danger"
                                                       data-id="{{id}}"
                                                       data-name="{{credit_name}}"
                                                       data-point="{{points}}"
                                                       data-price="{{price}}"
                                                       data-image="{{banner_image_url}}">
                                            </section>
                                        </div>
                                    </div>
                                    {{#pagination_end}}
                                    </div>
                                    </div>
                                    {{/pagination_end}}
                                {{/credits}}
                            </div>
                            </div>
                                <div class="col-1 credit-control">
                                    <a class="carousel-control-next credit" href="#creditCarouselId" role="button"
                                       data-slide="next" onclick="paginationSlide('credit',{{quantitypage}})">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="pagination-listjob">
                                <ol class="carousel-indicators">
                                    {{#pagenumber}}
                                        <li data-target="#creditCarouselId" data-slide-to="{{data_slide}}"
                                            class="credit {{class}}"
                                            onclick="paginationSlide('credit',{{quantitypage}})"></li>
                                    {{/pagenumber}}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="creditCarouselIdMobile" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="row">
                        <div class="col-3 credit-control">
                            <a class="carousel-control-prev credit-mobile" href="#creditCarouselIdMobile" role="button"
                               data-slide="prev" onclick="paginationSlide('credit-mobile',{{quantitycredit}})">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <div class="col-6">
                            <div class="carousel-inner credit-margin-bottom" role="listbox">
                                {{#creditsmobile}}
                                    {{#pagination_begin_active}}
                                    <div class="carousel-item active">
                                    {{/pagination_begin_active}}
                                    {{#pagination_begin}}
                                    <div class="carousel-item">
                                    {{/pagination_begin}}
                                    <div class="thumbnail credit-info">
                                        <img src="{{#url}}{{image}}{{/url}}{{banner_image_url}}" alt="{{credit_name}}">
                                    </div>

                                    <div class="caption credit-info">
                                        <p class="credit-name"><span>{{credit_name}}</span> ({{points}} {{# str }}
                                            point-details, local_credit {{/ str }})</p>
                                        <section class="price-area">
                                            <p class="credit-price-title">{{# str }} price, local_credit {{/ str }}</p>
                                            <p class="credit-price">{{price_format}} VNĐ</p>
                                        </section>
                                        <section class="buy-now-area">
                                            <input type="hidden" name="employer_id" value="{{id_employer}}">
                                            <input type="hidden" name="product_id" value="{{id}}" id="product_id">
                                            <input type="button" value="{{# str }} buy-now, local_credit {{/ str }}"
                                                   class="bt payment btn btn-danger"
                                                   data-id="{{id}}"
                                                   data-name="{{credit_name}}"
                                                   data-point="{{points}}"
                                                   data-price="{{price}}"
                                                   data-image="{{banner_image_url}}">
                                        </section>
                                    </div>
                                </div>
                                {{/creditsmobile}}
                            </div>
                            </div>
                            <div class="col-3 credit-control">
                                <a class="carousel-control-next credit-mobile" href="#creditCarouselIdMobile"
                                   role="button"
                                   data-slide="next" onclick="paginationSlide('credit-mobile',{{quantitycredit}})">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="pagination-listjob">
                            <ol class="carousel-indicators">
                                {{#pagenumbermobile}}
                                    <li data-target="#creditCarouselIdMobile" data-slide-to="{{data_slide}}"
                                        class="credit-mobile {{class}}"
                                        onclick="paginationSlide('credit-mobile',{{quantitycredit}})"></li>
                                {{/pagenumbermobile}}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function paginationSlide(nameClass, numberPage) {
            if ($("li." + nameClass + ".active").attr("data-slide-to") != 0 && $("li." + nameClass + ".active").attr("data-slide-to") != (numberPage - 1)) {
                $("a." + nameClass).removeClass("arrow-hide");
                $("a." + nameClass).addClass("arrow-show");
            } else {
                if ($("li." + nameClass + ".active").attr("data-slide-to") == 0) {
                    $("a.carousel-control-prev." + nameClass).removeClass("arrow-show");
                    $("a.carousel-control-prev." + nameClass).addClass("arrow-hide");
                } else {
                    $("a.carousel-control-prev." + nameClass).removeClass("arrow-hide");
                    $("a.carousel-control-prev." + nameClass).addClass("arrow-show");
                }
                if ($("li." + nameClass + ".active").attr("data-slide-to") == (numberPage - 1)) {
                    $("a.carousel-control-next." + nameClass).removeClass("arrow-show");
                    $("a.carousel-control-next." + nameClass).addClass("arrow-hide");
                } else {
                    $("a.carousel-control-next." + nameClass).removeClass("arrow-hide");
                    $("a.carousel-control-next." + nameClass).addClass("arrow-show");
                }
            }
        }

        function resetPagination() {
            paginationSlide("credit", {{quantitypage}});
            paginationSlide("credit-mobile", {{quantitycredit}});
        }

        setInterval(resetPagination, 1000);

        $(function () {
            //배송정보입력 팝업
            $(".payment").click(function () {
                var id = $(this).data('id');
                var credit_name = $(this).data('name');
                var point = $(this).data('point');
                var price = $(this).data('price');
                var image = $(this).data('image');
                var employer_id = {{id_employer}};

                utils.popup.call_layerpop("/local/credit/payment/paypop.php", {
                    "width": "600px",
                    "height": "auto",
                    "callbackFn": function () {
                    }
                }, {"credit_id": id, "employer_id": employer_id, "credit_name": credit_name, "point": point, "price": price, "image": image});
                return false;
            });

        });
        function pay_resultpop(result){
            utils.popup.close_pop($('.layerpop'));

                utils.popup.call_layerpop("/local/payment/payokpop.php", {"width": "600px", "height": "auto", "callbackFn": function () {}}, {"jdata": result});
                return false;

        }

        function showCreditLog(id) {

            $.ajax({
                type: 'POST',
                url: '/local/credit/credit_log.php',
                data: {id: id},
                dataType: 'json',
                success: function (list_log) {
                    $("#carouselInnerId").find('.item-log').remove();
                    $("#carouselDotId").find('.dot-log').remove();
                    $(".credit-log").removeClass("hide");
                    // alert(list_log.length);
                    if (list_log.length > 0) {
                        var carousel_item = "";
                        var open_tag = "";
                        var carousel_begin = "";
                        var carousel_end = "";
                        var carousel_dot = "";
                        var row = "";
                        var count = 0;
                        var page = 0;
                        for (var i = 0; i < list_log.length; i++) {
                            if (count == 0 || count % 10 == 0) {
                                if (count == 0) {
                                    carousel_item = "<div class='carousel-item item-log active'>";
                                    carousel_dot = "<li data-target='#carouselCreditLogId' data-slide-to='0' class='dot-log active'></li>";
                                } else {
                                    carousel_item = "<div class='carousel-item item-log'>";
                                    carousel_dot = "<li data-target='#carouselCreditLogId' data-slide-to='" + page + "' class='dot-log'></li>";
                                }
                                page++;
                                open_tag = "<table class='table table-hover'><thead><tr><th>{{# str }} transaction-type, local_credit {{/ str }}</th><th>{{# str }} redraw-type, local_credit {{/ str }}</th><th>{{# str }} payment-gateway, local_credit {{/ str }}</th><th>{{# str }} points, local_credit {{/ str }}</th><th>{{# str }} price, local_credit {{/ str }}</th><th>{{# str }} transaction-date, local_credit {{/ str }}</th> </tr> </thead> <tbody id='tbody-log-" + page + "'>";
                                carousel_begin = carousel_item + open_tag;
                                $("#carouselInnerId").append(carousel_begin);
                                $("#carouselDotId").append(carousel_dot);
                            }
                            var code_name_withdraw = (list_log[i].code_name_withdraw == false) ? ' ' : list_log[i].code_name_withdraw;
                            var code_name_payment = (list_log[i].code_name_payment == false) ? ' ' : list_log[i].code_name_payment;
                            row = "<tr class='dataTable'>" + "<td>" + list_log[i].code_name_transaction + "</td>" + "<td>" + code_name_withdraw + "</td>" + "<td>" + code_name_payment + "</td>" + "<td>" + list_log[i].point + ' {{# str }} point-details, local_credit {{/ str }}' + "</td>" + "<td>" + list_log[i].price_format + ' VNĐ' + "</td>" + "<td>" + list_log[i].timelogged_long + "</td>" + "</tr>";
                            $("#tbody-log-" + page).append(row);
                            count++;
                            if (count % 10 == 0 || count == list_log.length) {
                                carousel_end = "</tbody></table></div>";
                                $("#carouselInnerId").append(carousel_end);
                            }
                        }
                    }
                },
                error: function (xhr, status, error) {
                    alert('that bai');
                    return false;
                }
            });
        }
    </script>