@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

/****** Reset *******/
/**:focus {
  outline: none;
}*/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'NanumBarunGothic', sans-serif;
  color: #333333;
  font-size: 14px;
}
body{
  min-width: 1280px;
}

.visang-app {
  *[v-cloak] {
    display: none;
  }

  .cursor-auto {
    cursor: auto;
  }
  .cursor-default {
    cursor: default;
  }
  .cursor-pointer {
    cursor: pointer;
  }

  .w-auto {
    width: auto !important;
  }

  .min-w {
    width: auto !important;
    min-width: 250px;
  }

  // forms
  .vi-form {
    .vi-fitem {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      .vi-fitemtitle,
      .vi-felement {
        width: 100%;
        padding: 8px;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
      .vi-fitemtitle {
        background-color: #f6f6f6;
      }
    }

    .dropdown-menu > li > div {
      padding: 3px 20px;
      cursor: pointer;
      outline: 0;
  
      &:hover {
        background-color: #f5f5f5;
      }
    }
  
    .dropdown-menu > .active > div,
    .dropdown-menu > .active > div:focus,
    .dropdown-menu > .active > div:hover {
      color: #fff !important;
      background-color: #337ab7;
  
      * {
        color: #fff !important;
      }
    }
  }

  .vi_formgroup_list {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(1, 1fr);
  }

  .vi-tag-wrap {
    display: inline-block;
  }

  .vi-tag-wrap-list {
    &.rounded-0 {
      .vi-tag {
        border-radius: 0 !important;
      }
    }
    .vi-tag-wrap {
      display: block;
    }
  }

  .vi-tag {
    border: 1px solid #d0d0d0;
    border-radius: 30px;
    // display: inline-block;
    padding: 4px 10px;
    line-height: 20px;
    margin: 2px 5px 5px 0px;

    display: inline-flex;
    align-items: center;

    .close-btn {
      font-size: 1.4em;
      vertical-align: text-top;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  .vi-text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .d-flex {
    display: flex;
  }

  .d-inline-block {
    display: inline-block;
  }

  .table {
    .cell {
      vertical-align: middle;
      min-width: 100px;
    }
  }

  &.vi-map {
    .map-container {
      background-color: #f5f5f5;
      padding: 3px;
      border: 1px solid #ddd;
      position: relative;
    }
    #toolbar {
      position: absolute;
      z-index: 100000000000;
      top: 60px;
      right: 8px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
      border-radius: 4px;
    }
    #toolbar .btn {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 6px;
    }

    /* === google map search box =====*/
    .controls {
      margin-top: 10px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      // height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
      background-color: #fff;
      font-size: 15px;
      font-weight: 300;
      margin-left: 10px;
      padding: 9px 10px;
      text-overflow: ellipsis;
      width: 50%;
    }

    #pac-input:focus {
      border-color: #4d90fe;
    }

    #type-selector {
      color: #fff;
      background-color: #4d90fe;
      padding: 5px 11px 0px 11px;
    }

    #type-selector label {
      font-size: 13px;
      font-weight: 300;
    }
    #target {
      width: 345px;
    }
  }
}

@media (min-width: 576px) {
  .visang-app {
    .vi_formgroup_list {
      grid-template-columns: repeat(2, 1fr);
    }

    .vi-form {
      .vi-fitem {
        .vi-fitemtitle,
        .vi-felement {
          -ms-flex-preferred-size: 0;
          flex-basis: 0;
          -ms-flex-positive: 1;
          flex-grow: 1;
          max-width: 100%;
        }

        .vi-fitemtitle {
          max-width: 250px;
          border-right: 1px solid #ddd;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .visang-app {
    .vi_formgroup_list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 1200px) {
  .visang-app {
    .vi_formgroup_list {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
