.video-card {
  padding: 10px 10px;
  .video-card-img {
    min-height: 160;
  }
  .video-time {
    background-color: rgba(0, 0, 0, 0.6);
    p {
      color: #ffffff;
      margin: 0 0;
      padding: 6px 6px;
    }
  }
  .video-thub {
    padding: 20px;
    h6 {
      font-size: 17px;
      line-height: 20px;
      max-height: 40px;
      overflow: hidden;
      margin-bottom: 12px;
    }
    p {
      color: #555;
      font-weight: 300;
      margin-bottom: 0;
    }
  }
}
