.ic-flag {
  box-shadow: 0px 1px 2px #9a9a9a;
}

.ic {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  &.ic-heart {
    background-image: url("/theme/oklassedu/pix/images/icon_heart.png");
  }
  &.ic-heart-on {
    background-image: url("/theme/oklassedu/pix/images/icon_heart_on.png");
  }
  &.ic-heart,
  &.ic-heart-on {
    top: 2px;
    width: 18px;
    height: 16px;
    &.ic-sm {
      width: 16px;
      height: 14px;
    }
  }

  &.ic-heart02 {
    background-image: url("/theme/oklassedu/pix/images/icon_heart02.png");
    width: 34px;
    height: 30px;
    &.ic-sm {
      width: 24px;
      height: 20px;
    }
  }

  &.ic-heart02-on {
    background-image: url("/theme/oklassedu/pix/images/icon_heart02_on.png");
    width: 34px;
    height: 30px;
    &.ic-sm {
      width: 24px;
      height: 20px;
    }
  }

  &.ic-heart03 {
    background-image: url("/theme/oklassedu/pix/images/icon_heart03.png");
    width: 34px;
    height: 30px;
    &.ic-sm {
      width: 24px;
      height: 20px;
    }
  }
  &.ic-bell02 {
    background-image: url("/theme/oklassedu/pix/images/icon_bell02.png");
    width: 36px;
    height: 36px;
    &.ic-sm {
      width: 16px;
      height: 16px;
    }
  }

  &.ic-bell02-on {
    background-image: url("/theme/oklassedu/pix/images/icon_bell_m.png");
    width: 36px;
    height: 36px;
    &.ic-sm {
      width: 16px;
      height: 16px;
    }
  }

  &.ic-arrow-right {
    background-image: url("/theme/oklassedu/pix/images/icon_arrow_r.png");
    width: 7px;
    height: 12px;
  }

  &.ic-arrow-right-on {
    background-image: url("/theme/oklassedu/pix/images/course_on.png");
    width: 7px;
    height: 12px;
  }

  &.ic-arrow-down {
    background-image: url("/theme/oklassedu/pix/images/icon_arrow_down.png");
    width: 13px;
    height: 8px;
    top: -2px;
  }

  &.ic-usd {
    background-image: url("../images/icon_usd.png");
    width: 18px;
    height: 18px;
    top: 2px;
  }

  &.ic-plus-gray {
    background-image: url("../images/icon_plus_gray.png");
    width: 22px;
    height: 22px;
  }

  &.ic-map-marker {
    background-image: url("/theme/oklassedu/pix/images/icon_work03.png");
    width: 17px;
    height: 17px;
  }

  &.ic-map-signs {
    background-image: url("/theme/oklassedu/pix/images/icon_left01.png");
    width: 17px;
    height: 17px;
  }

  &.ic-user {
    background-image: url("/theme/oklassedu/pix/images/icon_left02.png");
    width: 17px;
    height: 17px;
  }

  &.ic-facebook {
    &.ic-lg {
      background-image: url("/theme/oklassedu/pix/images/icon_facebook_big.png");
      width: 30px;
      height: 30px;
    }
  }

  &.ic-external-link {
    &.ic-lg {
      background-image: url("../images/icon_external_link.png");
      width: 30px;
      height: 30px;
    }
  }

  &.ic-eye {
    background-image: url("../images/icon_eye.png");
    width: 20px;
    height: 20px;
    top: 4px;
  }

  &.ic-work {
    background-image: url("/theme/oklassedu/pix/images/icon_work01.png");
    width: 19px;
    height: 16px;
    top: 2px;
  }

  &.ic-time {
    background-image: url("/theme/oklassedu/pix/images/icon_work04.png");
    width: 17px;
    height: 17px;
    top: 2px;
  }

  &.ic-calendar-on {
    background-image: url("../images/icon_calendar_on.png");
    width: 17px;
    height: 17px;
    top: 2px;
  }

  &.ic-close {
    background-image: url("/theme/oklassedu/pix/images/icon_close_gray.png");
    width: 21px;
    height: 21px;

    &.ic-sm {
      width: 15px;
      height: 15px;
      top: 2px;
    }
  }
}
