body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
.animated{
    opacity: 0;
}
.max1145{
    max-width: 1145px;
    margin:0 auto;
}
#header{
    background:url("../images/bg-top.png") 50% 0px no-repeat rgb(66, 97, 160) fixed;
    color:#fff;
}
#frame_header{
    overflow: hidden;
}
#frame_header img{
    max-width: 205px;
    margin: 45px 0;
}
#frame_header h1{
    font-weight: bold;
    font-size: 3.5em;
    margin-top:35px;
    margin-bottom:55px;
}
#frame_header p{
    margin-top:20px;
    font-size: 1.4em;
    max-width: 400px;
}
#customer{padding:40px 0}
#customer img{width:100%;}
#customer h2{font-size: 2em;font-weight: bold;margin-bottom:45px;}
#customer_left{padding:3% 8% 0}
#customer p{font-size: 1.2em;}
#reason_business{
    /* background: #f2f4f7; */
    background: url('../images/bg4.png') no-repeat fixed;
    background-size: cover;
    padding:40px 0;
}
#business_frame{
    max-width: 870px;
    margin:0 auto;
}
#reason_business h2{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-bottom:20px;
    color:#fff;
}
#reason_business p{
    font-size: 1.1em;
    text-align: justify;
    padding:0 6%;
}
#reason_business .card{
    margin-bottom:10px;
}
#reason_business .card:hover{
    box-shadow: 0 .5rem 1rem rgba(255,255,255,.55)!important;
}
.title_reason_business{
    position: relative;
    min-height: 105px;
    overflow: hidden;
}
.title_reason_business img,.title_reason_business h3{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.title_reason_business h3{
    font-weight: bold;
    font-size: 1.8em;
    width: 100%;
    text-align: center;
}
#reason_choose{
    max-width: 1000px;
    margin:0 auto;
    padding:40px 0;
}
#reason_choose h2{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}
.each_reason{
    padding:0 5%;
    margin:15px auto;
    /* max-width: 220px; */
}
.each_reason img{
    width:100%;
    overflow: hidden;
}
.each_reason h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    width: 100%;
    margin:20px 0;
}
#about_teacher{
    background:rgb(242, 244, 247);
    overflow: hidden;
}
#frame_about_teacher{
    border-radius: 5px;
    background: #4261a0;
    padding:50px 0;
    color:#fff;
}
#frame_about_teacher img{
    width:100%;
}
#about_teacher_text{
    padding:0 19%;
}
#about_teacher_text h2{
    font-weight: bold;
    font-size: 2em;
}
#about_teacher_text p{
    font-size: 1.1em;
}
#about_teacher h3{
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    margin:40px auto;
    padding:0 10px;
}
#send_info{
    background: #4261a0;
    padding:40px 0;
}
#send_info hr{
    border-bottom:1px solid #fff;
}
#send_info input{
    border:none;
    outline: none;
    background: none;
    color:#fff;
    font-size: 1.2em;
}
#send_info input::placeholder{
    color:#fff;
}
#send_info button{
    background: #fff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.3em;
    border:none;
    padding:10px 15px;
    margin: 0 auto;
}
#outline_button{
    padding:3px;
    border-radius: 10px;
    height: min-content;
    background: linear-gradient(270deg, aqua, brown, pink, #212ddf);
    background-size: 400% auto;
    animation: bganimate 5s ease infinite  ;
}
@media only screen and (max-width: 765px) {
    #frame_header{
        padding:0 10px;
    }
    #about_teacher_text{
        padding:0 2%;
    }
}
@keyframes bganimate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}