body{
    font-family: 'Open Sans', sans-serif;
    background: url("../images/bg2.png") center top no-repeat;
}
a{
    text-decoration: none;
}
img{
    max-width:235px;
    margin-top:95px;
}
h1{
    font-weight: 800;
    font-size: 3.3em;
    color:#fff;
    margin-top:85px;
}
p{
    font-size:1.5em;
    color:#fff;
    margin-top:85px;
    line-height: 140%;
}
a{
    font-weight: 600;
    color:aqua;
    animation: shadow 1s infinite ease;
}
a:hover{
    text-decoration: none;
    color:#ffeb00;
}
@keyframes shadow{
    0% {text-shadow: 0px 0px 05px rgba(255,255,255,1);}
    50% {text-shadow: 0px 0px 35px rgba(255,255,255,1);}
    100% {text-shadow: 0px 0px 05px rgba(255,255,255,1);}
}