@media (prefers-reduced-motion: no-preference)
:root {
    scroll-behavior: smooth;
}

@media (min-width: 1200px)
.h2, h2 {
    font-size: 2rem;
}
@media (min-width: 1200px)
.h3, h3 {
    font-size: 1.75rem;
}
.wrapper {
    background: #42A8C0;
    max-width: 960px;
    margin: 0 auto !important;
    position: relative;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}

.sidebar-wrapper {
    background: #42A8C0;
    /*position: absolute;*/
    right: 0;
    /*width: 240px;*/
    height: 100%;
    min-height: 800px;
    color: #fff;
    padding: 0;
}

.profile-container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
}

img.profile {
    margin-bottom: 15px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
h3.tagline {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar-wrapper .name {
    font-size: 20px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
}

.education-container.container-block {
    padding: 15px;
}

h2.container-block-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}
.item {
    margin-bottom: 15px;
}

h4.degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}
h5.meta {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 14px;
}

.time {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 14px;
}

.languages-container.container-block {
    padding: 30px;
}

.interests-container.container-block {
    padding: 30px;
}

span.lang-desc {
    color: rgba(255, 255, 255, 0.6);
}

.main-wrapper {
    background: #fff;
    padding: 20px;
    /*padding-right: 300px;*/
}

span.icon-holder {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #2d7788;
    text-align: center;
    font-size: 16px;
    position: relative;
    top: -8p;
}

h2.section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #2d7788;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
}

h3.job-title {
    color: #3F4650;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}
.company {
    margin-bottom: 10px;
    color: #97AAC3;
    overflow: hidden;
    width: 250px;
}

.main-wrapper .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
}
.main-wrapper .job-title {
    color: #3F4650;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    width: 220px;
}

.main-wrapper .time {
    position: absolute;
    right: 0;
    top: 0;
    color: #97AAC3;
}
element.style {
    color: #545E6C;

    font-size: 14px;
}

li.email {
    margin-bottom: 15px;
}

    ul.list-unstyled.contact-list>li>a {
        word-break: break-all;
    }