<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="cv_templates/CV_template_02/CurriculumVitae.css">

<div class="wrapper mt-lg-5 row" id="capture">
    <div class="main-wrapper col-8">

        <section class="section summary-section" style="margin-bottom: 40px;">
            <h2 class="section-title"><span class="icon-holder"><i class="fas fa-graduation-cap"
                                                                   style="padding-top: 6px;"></i></span>Education
            </h2>

            <div id="education-preview">
                <div class="education-area">

                </div>
            </div>

            <template id="education-field">
                <div id="_idx">
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" id="educationName"></h3>
                                <div class="time" id="educationFromTo"></div>
                            </div><!--//upper-row-->
                            <div class="upper-row">
                                <div class="company" style="font-size: 14px;" id="educationMajor"></div>
                                <div class="time" id="educationAttend"></div>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                    </div><!--//item-->
                </div>
            </template>
        </section><!--//section-->

        <section class="section experiences-section" style="margin-bottom: 40px;">
            <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"
                                                                   style="padding-top: 7px;"></i></span>Experiences</h2>

            <div id="experience-preview">
                <div class="experience-area">

                </div>
            </div>

            <template id="experience-field">
                <div id="_idx">
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" id="experienceName"></h3>
                                <div class="time" id="experienceFromTo"></div>
                            </div><!--//upper-row-->
                            <div class="upper-row">
                                <div class="company" style="font-size: 14px;" id="experienceMajor"></div>
                                <div class="time" id="experienceAttend"></div>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                        <div class="sub-experience-area">

                        </div>
                    </div><!--//item-->
                </div>
            </template>
            <template id="sub-experience-field">
                <div id="_subidx">
                    <div class="details">
                        <div class="upper-row">
                            <h3 class="job-title" id="sub_experienceName" style="font-size: 13px;color: #2d7788;"></h3>
                            <div class="time" id="sub_experienceFromTo" style="font-size: 12px;color: #545E6C;"></div>
                        </div><!--//upper-row-->
                        <p style="font-size: 12px;overflow: hidden;" id="sub_experienceDescription"></p>
                    </div><!--//details-->
                </div>
            </template>
        </section><!--//section-->

        <section class="section projects-section" style="margin-bottom: 40px;">
            <h2 class="section-title"><span class="icon-holder"><i class="fas fa-medal"
                                                                   style="padding-top: 8px;"></i></span>Activities</h2>

            <div id="activity-preview">
                <div class="activity-area">

                </div>
            </div>

            <template id="activity-field">
                <div id="_idx">
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" id="activityName"></h3>
                                <div class="time" id="activityFromTo"></div>
                            </div><!--//upper-row-->
                            <div class="upper-row">
                                <div class="company" style="font-size: 14px;" id="activityAttend"></div>
                                <p style="font-size: 12px;overflow: hidden;" id="activityDescription"></p>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                    </div><!--//item-->
                </div>
            </template>
        </section><!--//section-->

        <section class="section projects-section" style="margin-bottom: 40px;">
            <h2 class="section-title"><span class="icon-holder"><i class="fas fa-bookmark"
                                                                   style="padding-top: 8px;"></i></span>CERTIFICATIONS
            </h2>

            <div id="certification-preview">
                <div class="certification-area">

                </div>
            </div>

            <template id="certification-field">
                <div id="_idx">
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" id="certificationName"></h3>
                                <div class="time" id="certificationFromToType"></div>
                            </div><!--//upper-row-->
                            <div class="upper-row">
                                <div class="company" style="font-size: 14px;width: unset;"
                                     id="certificationMajor"></div>
                                <p style="font-size: 14px;overflow: hidden;" id="certificationDescription"></p>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                    </div><!--//item-->
                </div>
            </template>
        </section><!--//section-->

        <section class="section projects-section" style="margin-bottom: 40px;">
            <h2 class="section-title"><span class="icon-holder"><i class="fas fa-link"
                                                                   style="padding-top: 8px;"></i></span>LINKS</h2>

            <div id="links-preview">
                <div class="links-area">

                </div>
            </div>

            <template id="links-field">
                <div id="_idx">
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" id="linksName" style="width: unset;"></h3>
                            </div><!--//upper-row-->
                            <div class="upper-row">
                                <div class="company" style="font-size: 14px;width: unset;" id="linksDescription"></div>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                    </div><!--//item-->
                </div>
            </template>
        </section><!--//section-->
    </div>

    <div class="sidebar-wrapper col-4">
        <div class="profile-container">
            <img class="profile" src="" alt="" id="userImage">
            <h1 class="name" id="name"></h1>
            <h3 class="tagline" id="employment"></h3>
        </div>

        <div class="education-container container-block">
            <ul class="list-unstyled contact-list">

                <li class="email">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                         class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                    </svg>
                    <a href="#" style="text-decoration: none;color: white;font-size: 14px;" id="email2"></a>
                </li>

                <li class="phone" style="margin-bottom: 15px;">
                    <i class="fas fa-phone" style="font-size: 14px;"></i>
                    <a href="#" style="text-decoration: none;color: white;font-size: 14px;" id="phone"></a>
                </li>


                <li class="dateofbirth" style="margin-bottom: 15px;">
                    <i class="fas fa-calendar" style="font-size: 14px;"></i>
                    <a href="#" style="text-decoration: none;color: white;font-size: 14px;" id="dateOfBirth"></a>
                </li>

                <li class="address" style="margin-bottom: 15px;">
                    <i class="fas fa-map-marker-alt" style="font-size: 14px;"></i>
                    <a href="#" style="text-decoration: none;color: white;font-size: 14px;" id="address"></a>
                </li>

            </ul>

        </div>

        <div class="education-container container-block">
            <h2 class="container-block-title">Salary</h2>
            <div class="item">
                <div class="time" id="hopeSalary"></div>
            </div>
        </div>

        <div class="education-container container-block">
            <h2 class="container-block-title">Information</h2>

            <div class="item">
                <h4 class="degree">Final Education</h4>
                <h5 class="meta" id="finalEducation"></h5>
            </div>

            <div class="item">
                <h4 class="degree">Experience</h4>
                <h5 class="meta" id="experienceWork"></h5>
            </div>

            <div class="item">
                <h4 class="degree">Skill groups</h4>
                <h5 class="meta" id="skillGroups"></h5>
            </div>

            <div class="item">
                <h4 class="degree">Skills</h4>
                <h5 class="meta" id="skills"></h5>
            </div>

            <div class="item">
                <h4 class="degree">Workplaces</h4>
                <h5 class="meta" id="workplaces"></h5>
            </div>

            <div class="item">
                <h4 class="degree">Korean Language Level</h4>
                <h5 class="meta" id="koreanLanguageLevel"></h5>
            </div>
        </div>

    </div>
</div>