.course-content ul.topics {
    margin: 0;
    list-style: none;
}

.course-content ul.topics li.section .content {
    margin: 0 40px;
}

.course-content ul.topics li.section .left,
.course-content ul.topics li.section .right {
    width: 40px;
    padding: 0 6px;
}

.course-content ul.topics li.section .left {
    padding-top: 22px;
    text-align: right;
}

.jsenabled .course-content ul.topics li.section .left,
.jsenabled .course-content ul.topics li.section .right {
    width: auto;
}

.course-content ul.topics li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

.course-content ul.topics li.section .section_action_menu .textmenu,
.course-content ul.topics li.section .section_action_menu .menu-action-text {
    white-space: nowrap;
}

.section-0 .activities .activityinstance {
    display: inline-block;
}
.section-0 .activities .activityinstance .action-hide,
.section-0 .activities .activityinstance .action-show {
    display: block;
}