.lcmsprogress_userinfo {
    margin-bottom: 10px;
}

.lcmsprogress_report_link {
    position: absolute;
    right: 30px;
    margin-bottom: 10px;
}

.lcmsprogress_report_link a{
    font-size: 11px;
    font-weight: bold;
    padding: 2px 4px;
    margin: -1px 0 0 0;
    color: #fff;
    background-color: #676767;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    white-space: nowrap;
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}

#page-mod-lcmsprogress-view a.gray_btn{
    font-size: 11px;
    font-weight: bold;
    padding: 2px 4px;
    margin: -1px 0 0 0;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    white-space: nowrap;
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}

.lcmsprogress_score{
    float: left;
}

.lcmsprogress_searchform{
    float: right;
}

.lcmsprogress_score_text{
    color: red;
    font-weight: bold;
}

.lcmsprogress_emptylcmsdata{
    padding: 30px 0;
    text-align: center;
}

.lcmsprogresslist .empty td:before{
    content: 'No Data';
}

.lcmsprogresslist .c0{
    width: 10%;
}

.lcmsprogresslist .c2{
    width: 15%;
}

.lcmsprogresslist .c3{
    width: 10%;
}

.lcmsprogresslist .c4{
    width: 15%;
}

.lcmsprogressall .c0{
    width: 10%;
}

.lcmsprogressall .lastcol{
    width: 10%;
}

#page-mod-lcmsprogress-view button.red-form{
    cursor: pointer;
}
