.more {
    font-size: 14px;
    color: #707070;
    right: 20px;
    position: absolute;
    background: url(/theme/oklassedu/pix/images/icon_more.png) no-repeat right center;
    padding-right: 30px;
}