.dir-rtl.path-mod-teamboard .indent {margin-right:30px;margin-left:0;}

.path-mod-teamboard .teamboardolddiscuss,
#page-mod-teamboard-search .c0 {text-align:right;}
.path-mod-teamboard .indent {margin-left: 30px;}
.path-mod-teamboard .teamboardheaderlist {width: 100%;border-width:1px;border-style:solid;border-collapse:separate;margin-top: 10px;}

.path-mod-teamboard .teamboardheaderlist td {
    border-bottom: 1px dotted #CCC;
    font-size: 9pt;
    color: #333;
    text-align: center;
    padding: 8px;
}

.path-mod-teamboard table tr.body_order.r1 td {
    background: #EDEDED;
}

.path-mod-teamboard table tr.body_order td {

}

.path-mod-teamboard table {

}

.path-mod-teamboard  {

}

.path-mod-teamboard .teamboardheaderlist td {border-width:1px 0px 0px 1px;border-style:solid;}
.path-mod-teamboard .teamboardheaderlist .picture {width: 35px;}
.path-mod-teamboard .teamboardheaderlist .discussion .starter {vertical-align: middle;}
.path-mod-teamboard .teamboardheaderlist .discussion .lastpost {white-space: nowrap;text-align: right;}
.path-mod-teamboard .teamboardheaderlist .replies,
.path-mod-teamboard .teamboardheaderlist .discussion .author {white-space: nowrap;}

/** Styles for subscribers.php */
#page-mod-teamboard-subscribers .subscriberdiv,
#page-mod-teamboard-subscribers .subscribertable {width:100%;vertical-align:top;}
#page-mod-teamboard-subscribers .subscribertable tr td {vertical-align:top;}
#page-mod-teamboard-subscribers .subscribertable tr td.actions {width:16%;padding-top:3em;}
#page-mod-teamboard-subscribers .subscribertable tr td.actions .actionbutton {margin:0.3em 0;padding:0.5em 0;width:100%;}
#page-mod-teamboard-subscribers .subscribertable tr td.existing,
#page-mod-teamboard-subscribers .subscribertable tr td.potential {width:42%;}

/** Styles for discuss.php **/
#page-mod-teamboard-discuss .discussioncontrols {width:100%;margin:5px;}
#page-mod-teamboard-discuss .discussioncontrols .discussioncontrol {width:33%;float:left;}
#page-mod-teamboard-discuss .discussioncontrol.exporttoportfolio {text-align:left;}
#page-mod-teamboard-discuss .discussioncontrol.displaymode {text-align:center;}
#page-mod-teamboard-discuss .discussioncontrol.movediscussion {float:right;width:auto;text-align:right;padding-right:10px;}
#page-mod-teamboard-discuss .discussioncontrol.movediscussion .movediscussionoption {}

/** Styles for content_list.php **/
#page-mod-teamboard-view .teamboardaddnew {margin-bottom: 20px;}
#page-mod-teamboard-view .groupmenu {float: left;text-align:left;white-space: nowrap;}
#page-mod-teamboard-index .subscription,
#page-mod-teamboard-view .subscription {float: right;text-align:right;white-space: nowrap;margin: 5px 0;}

/** Styles for search.php */
#page-mod-teamboard-search .introcontent {padding: 15px;font-weight:bold;}

#page-mod-teamboard-index .unread img,
#page-mod-teamboard-view .unread img {margin-left: 5px;}

#page-mod-teamboard-view .fl { float: left; }
#page-mod-teamboard-view input.next {
    width:100%;
    height:35px;
}

#page-mod-teamboard-mod #fgroup_id_radioar label{
    margin-left: 0;
    margin-right: 10px;
}