<link rel="stylesheet" href="assets/vendors/font-awesome-4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
<link rel="stylesheet" href="assets/css/style.css">

<style>
    ol, ul {
         padding-left: 0;
    }
</style>

<div class="wrapper flex scale-cv" id="capture" style="max-width: 960px;margin: auto;">
    <div class="sidebar" style="display: flex;">


        <!-- CỘT TRÁI -->
        <div class="column_left" style="width: 320px;background-color: #2B3848;font-family: sans-serif;">

            <div class="avatar" style="height: 230px;width: 230px;margin: 32px auto;border: 4px solid #ffffff" >
                <img src="" width="215" height="215" alt="Md Alamin Mir" style="margin: 3%;" id="userImage" />
            </div><!-- .avatar -->


            <!-- HÀNG2 -->
            <h1 style="    font-size: 32px;COLOR: #F8C16B;text-align: center;" id="name"></h1>
            <div class="uidesign" style="background-color: #889AAB;" >
                <h1 style="width: fit-content;width: fit-content;padding: 10px;
margin: 0 auto;color: white;font-size: 24px;" id="employment"></h1>
            </div>

            <div class="module" style="margin-top: 36px;">
                <h3 class="module__title">
                    <i class="fa fa-address-book-o circle circle--medium"></i>

                </h3>
                <div class="module__content">
                    <ul style="list-style:none">
                        <div class="1" style="display: flex;">
                            <div style="    height: 32px;width: 56px;background-color: #F7C16B;">
                                <img src="cv_templates/CV_template_01/aaa.png">
                            </div>
                            <li class="flex">
                                <div style="    font-size: 17px;font-weight: 700;color: #F7C16B;padding: 6% 20%;">PROFILE</div>
                            </li>
                        </div>

                        <div class="1" style="display: flex;margin-top: 20px;">
                            <img src="cv_templates/CV_template_01/2.png" alt="" style="height: 25px;">
                            <li class="flex" style="    font-size: 17px;color: white;">
                                <div style="padding-left: 10px;word-break: break-all;" id="phone"></div>
                            </li>
                        </div>
                        <div class="1" style="display: flex;margin-top: 20px;">
                            <img src="cv_templates/CV_template_01/3.png" alt="" style="height: 25px;">
                            <li class="flex">
                                <div style="padding-left: 10px;color: white;font-size: 17px;"><span id="dateOfBirth"></span></div>
                            </li>
                        </div>
                        <div class="1" style="display: flex;margin-top: 20px;">
                            <img src="cv_templates/CV_template_01/4.png" alt="" style="height: 25px;">
                            <li class="flex">
                                <div style="padding-left: 10px;font-size: 17px;color:white;word-break: break-all;" id="email2"></div>
                            </li>
                        </div>
                        <div class="1" style="display: flex;margin-top: 20px;">
                            <img src="cv_templates/CV_template_01/5.png" alt="" style="height: 25px;">
                            <li class="flex">
                                <div style="    font-size: 17px;color: white;padding-left: 10px;word-break: break-word;" id="address"></div>
                            </li>
                        </div>
                    </ul>
                </div>
            </div><!-- End .module #2 -->


            <div class="1" style="display: flex;margin: 36PX 0PX 0PX;">
                <div style="    height: 32px;width: 56px;background-color: #F7C16B;">
                    <img src="cv_templates/CV_template_01/bbb.png" alt="" style="padding: 5%;">
                </div>
                <li class="flex" style="list-style: none;">
                    <div style="    font-size: 17px;font-weight: 700;color: #F7C16B;padding: 4% 20%;">SALARY</div>
                </li>
            </div>
            <P style="    font-size: 17px;
			margin: 10px;
			color: white;
			LINE-HEIGHT: 1.5;" id="hopeSalary"></P>



            <div class="skill" >
                <h3 class="module__skill">
                    <i class="fa fa-address-book-o circle circle--medium"></i>

                </h3>
                <div class="1" style="display: flex;margin: 36PX 0PX 0PX;">
                    <div style="    height: 32px;width: 56px;background-color: #F7C16B;">
                        <img src="cv_templates/CV_template_01/ccc.png" style="padding: 5%;">
                    </div>
                    <li class="flex" style="list-style: none;">
                        <div style="    font-size: 17px;font-weight: 700;color: #F7C16B;padding: 8% 12%;">INFORMATION</div>
                    </li>
                </div>
                </li>
                <li class="flex" style="list-style: none;    margin: 10px;
						font-size: 17px;
						color: white;">
                    <div style="margin-bottom: 12px;">Final Education</div>
                    <!-- WORDS -->
                    <div class="radio_word" style="display: flex;">
                        <p style="color: #F2F2F2" id="finalEducation"></p>
                    </div>



                </li>
                <li class="flex" style="list-style: none;    margin: 10px;
						font-size: 17px;
						color: white;">
                    <div style="margin-bottom: 12px;">Experience</div>
                    <!-- WORDS -->
                    <div class="radio_word" style="display: flex;">
                        <p style="color: #F2F2F2" id="experienceWork"></p>
                    </div>



                </li>
                <li class="flex" style="list-style: none;    margin: 10px;
						font-size: 17px;
						color: white;">
                    <div style="margin-bottom: 12px;">Skill groups</div>
                    <!-- WORDS -->
                    <div class="radio_word" style="display: flex;">
                        <p style="color: #F2F2F2" id="skillGroups"></p>
                    </div>



                </li>
                <li class="flex" style="list-style: none;    margin: 10px;
						font-size: 17px;
						color: white;">
                    <div style="margin-bottom: 12px;">Skills</div>
                    <!-- WORDS -->
                    <div class="radio_word" style="display: flex;">
                        <p style="color: #F2F2F2" id="skills"></p>
                    </div>



                </li>
                <li class="flex" style="list-style: none;    margin: 10px;
						font-size: 17px;
						color: white;">
                    <div style="margin-bottom: 12px;">Workplaces</div>
                    <!-- WORDS -->
                    <div class="radio_word" style="display: flex;">
                        <p style="color: #F2F2F2" id="workplaces"></p>
                    </div>



                </li>
                <li class="flex" style="list-style: none;    margin: 10px;
						font-size: 17px;
						color: white;">
                    <div style="margin-bottom: 12px;">Korean Language Level</div>
                    <!-- WORDS -->
                    <div class="radio_word" style="display: flex;">
                        <p style="color: #F2F2F2" id="koreanLanguageLevel"></p>
                    </div>



                </li>
                </ul>
            </div>
        </div><!-- End .module #2 -->


        <!-- PHẢI -->

        <div class="column_right" style="font-family: sans-serif;background-color: #F2F2F2;
			width: 640px;">



            <!-- HÀNG1 -->
            <div class="h1-colume2" style="display: flex;margin: 32px 24px 0px 10px;">
                <div style="background-color: #2B3848;height: 40px;width: 40px;">
                    <img src="cv_templates/CV_template_01/new2.png" alt="" style="width: fit-content;padding: 6px 0px 0px 10px;;">
                </div>
                <h1 style="margin: 0;padding: 6px 0px 0px 24px;color: #2B3848;font-size: 24px;">EDUCATION</h1>
            </div>

            <div id="education-preview">
                <div class="education-area">

                </div>
            </div>

            <template id="education-field">
                <div id="_idx">
                    <ul style="list-style:none; display: flex; justify-content: space-between; margin: 1rem 0 0;">
                        <li class="flex" style="    font-size: 21px;
						  font-weight: 700;
						  color: #2B3848;
                          margin-left: 10px">
                            <div id="educationName"></div>
                        </li>
                        <li class="flex" style="    font-size: 17px;
						  color: #555555;
						  margin-top: 6px;">
                            <div id="educationFromTo"></div>
                        </li>
                    </ul>

                    <ul style="list-style:none; display: flex; justify-content: space-between;">
                        <li style="    list-style: none;
						  font-size: 17px;
						  color: #555555;
						  margin-left: 10px;
						  font-weight: 700;" id="educationMajor"></li>
                        <li style="    list-style: none;
						  font-size: 17px;
						  color: #555555;" id="educationAttend"></li>
                    </ul>
                </div>
            </template>


            <!-- HÀNG2 -->

            <div class="h1-colume2" style="display: flex;margin: 40px 24px 0px 10px;">
                <div style="background-color: #2B3848;height: 40px;width: 40px;">
                    <img src="cv_templates/CV_template_01/new3.png" alt="" style="width: fit-content;padding: 6px 0px 0px 7px;;">
                </div>
                <h1 style="margin: 0;padding: 6px 0px 0px 24px;color: #2B3848;font-size: 24px;">WORK EXPERIENCE</h1>
            </div>

            <div id="experience-preview">
                <div class="experience-area">

                </div>
            </div>

            <template id="experience-field">
                <div id="_idx">
                    <ul style="list-style:none; display: flex; justify-content: space-between; margin: 1rem 0 0;">
                        <li class="flex" style="    font-size: 21px;
			                font-weight: 700;
			                color: #254670;
                            margin-left: 10px;">
                            <div id="experienceName"></div>
                        </li>
                        <li class="flex" style="    font-size: 17px;
			                color: #555555;
			                margin-top: 6px;">
                            <div id="experienceFromTo"></div>
                        </li>
                    </ul>
                    <ul style="list-style:none; display: flex; justify-content: space-between; margin: 0;">
                        <li style="    list-style: none;
			            font-size: 17px;
			            color: #555555;
			            margin-left: 10px;
			            font-weight: 700;" id="experienceMajor"></li>
                        <li style="    list-style: none;
			            font-size: 17px;
			            color: #555555;" id="experienceAttend"></li>
                    </ul>
                    <div style="list-style: none;
			            color: #b2b2b2;
			            font-size: 17px;
			            margin-left: 10px;
			            margin-top: 5px;
			            line-height: 1.5;" class="sub-experience-area"></div>
                </div>
            </template>
            <template id="sub-experience-field">
                <div id="_subidx">
                    <ul style="list-style:none; display: flex; justify-content: space-between; margin: 0;">
                        <li style="font-size: 16px;" id="sub_experienceName"></li>
                        <li style="font-size: 15px;" id="sub_experienceFromTo"></li>
                    </ul>
                    <li style="display: flex;" id="sub_experienceDescription"></li>
                </div>
            </template>

            <!-- HÀNG3 -->

            <div class="h1-colume2" style="display: flex;margin: 40px 24px 0px 10px;">
                <div style="background-color: #2B3848;height: 40px;width: 40px;">
                    <img src="cv_templates/CV_template_01/4a.png" alt="" style="width: fit-content;padding: 0px 0px 0px 8px;;">
                </div>
                <h1 style="margin: 0;padding: 6px 0px 0px 24px;color: #2B3848;font-size: 24px;">ACTIVITIES</h1>
            </div>

            <div id="activity-preview">
                <div class="activity-area">

                </div>
            </div>

            <template id="activity-field">
                <div id="_idx">
                    <ul style="list-style:none; display: flex; justify-content: space-between; margin: 1rem 0 0;">
                        <li class="flex" style="    font-size: 21px;
			  font-weight: 700;
			  color: #2B3848;
              margin-left: 10px;">
                            <div id="activityName"></div>
                        </li>
                        <li class="flex" style="    font-size: 17px;
			  color: #555555;
			  margin-top: 6px;">
                            <div id="activityFromTo"></div>
                        </li>
                    </ul>
                    <li style="    list-style: none;
			  font-size: 17px;
			  color: #555555;
			  margin-left: 10px;
			  font-weight: 700;" id="activityAttend"></li>
                    <div style="list-style: none;
			  color: #b2b2b2;
			  font-size: 17px;
			  margin-left: 10px;
			  line-height: 1.5;">
                        <li style="display: flex;" id="activityDescription"></li>
                    </div>
                </div>
            </template>

            <!-- HÀNG4 -->


            <div class="h1-colume2" style="display: flex;margin: 40px 24px 0px 10px;">
                <div style="background-color: #2B3848;height: 40px;width: 40px;">
                    <img src="cv_templates/CV_template_01/new1.png" alt="" style="width: fit-content;padding: 6px 0px 0px 10px;;">
                </div>
                <h1 style="margin: 0;padding: 6px 0px 0px 24px;color: #2B3848;font-size: 24px;">CERTIFICATIONS</h1>
            </div>

            <div id="certification-preview">
                <div class="certification-area">

                </div>
            </div>

            <template id="certification-field">
                <div id="_idx">
                    <div style="margin-top: 24px;">
                        <ul style="list-style:none; display: flex; justify-content: space-between; margin: 0;">
                            <li class="flex" style="    font-size: 19px;
							  font-weight: 600;
							  color: #2B3848;
                              margin-left: 10px;">
                                <div style="" id="certificationName"></div>
                            </li>
                            <li class="flex" style="    font-size: 17px;
							  color: #555555;
							  margin-top: 6px;">
                                <div style="margin-top: -5px;" id="certificationFromToType"></div>
                            </li>
                        </ul>
                        <ul style="list-style:none;">
                            <li class="flex" style="    font-size: 17px;
							  font-weight: 500;
							  color: #2B3848;
                              margin-left: 10px;">
                                <div style="" id="certificationDescription"></div>
                            </li>
                            <li class="flex" style="    font-size: 15px;
							  font-weight: 400;
							  color: #2B3848;
                              margin-left: 10px;">
                                <div style="" id="certificationMajor"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </template>

            <!--            HÀNG5-->

            <div class="h1-colume2" style="display: flex;margin: 40px 24px 0px 10px;">
                <div style="background-color: #2B3848;height: 40px;width: 40px;">
                    <img src="cv_templates/CV_template_01/5.png" alt="" style="width: fit-content;padding: 5px;">
                </div>
                <h1 style="margin: 0;padding: 6px 0px 0px 24px;color: #2B3848;font-size: 24px;">LINKS</h1>
            </div>

            <div id="links-preview">
                <div class="links-area">

                </div>
            </div>

            <template id="links-field">
                <div id="_idx">
                    <div style="margin-top: 24px;">
                        <ul style="list-style:none;">
                            <li class="flex" style="    font-size: 19px;
							  font-weight: 500;
							  color: #2B3848;
                              margin-left: 10px;">
                                <div style="" id="linksName"></div>
                            </li>
                            <li class="flex" style="    font-size: 17px;
							  font-weight: 400;
							  color: #2B3848;
                              margin-left: 10px;">
                                <div style="" id="linksDescription"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </template>

        </div>
    </div>
</div>