<link rel="stylesheet" href="assets/vendors/font-awesome-4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
<link rel="stylesheet" href="assets/css/style.css">
	
	<div class="wrapper flex">
		<div class="sidebar" style="display: flex;">


            <!-- CỘT TRÁI -->
            <div class="column_left" style="width: 280px;background-color: #2B3848;height: 1220px;font-family: sans-serif;">

			<div class="avatar" style="height: 230px;width: 230px;margin: 32px auto;border: 4px solid #ffffff" >
				<img src="ca8de1c245d9a887f1c8.jpg" width="215" height="215" alt="Md Alamin Mir" style="margin: 3%;" />
			</div><!-- .avatar -->


              <!-- HÀNG2 -->
<h1 style="    font-size: 32px;COLOR: #F8C16B;text-align: center;">LINH YẾN</h1>
<div class="uidesign" style="background-color: #889AAB;" >
<h1 style="width: fit-content;width: fit-content;padding: 10px;
margin: 0 auto;color: white;font-size: 24px;">UI DESIGNER</h1>
</div>

			<div class="module" style="margin-top: 36px;">
				<h3 class="module__title">
					<i class="fa fa-address-book-o circle circle--medium"></i>

				</h3>
				<div class="module__content">
					<ul style="list-style:none">
						<div class="1" style="display: flex;">
							<div style="    height: 32px;width: 56px;background-color: #F7C16B;">
							<img src="aaa.png">
						</div>
						<li class="flex">
							<i class="fa fa-map-marker circle circle--small circle--white"></i>
							<div style="    font-size: 17px;font-weight: 700;color: #F7C16B;padding: 6% 20%;">PROFILE</div>
						</li>
					</div>

					<div class="1" style="display: flex;margin-top: 20px;">
						<img src="2.png" alt="">
						<li class="flex" style="    font-size: 17px;color: white;">
							<i class="fa fa-globe circle circle--small circle--white"></i>
							<div style="padding: 5% 44%;">0123456789</div>
						</li>
					</div>
						<div class="1" style="display: flex;margin-top: 20px;">
							<img src="3.png" alt="">
						<li class="flex">
							<i class="fa fa-globe circle circle--small circle--white"></i>
							<div style="padding: 5% 56%;color: white;font-size: 17px;">dd/mm/yy</div>
						</li>
					</div>
						<div class="1" style="display: flex;margin-top: 20px;">
							<img src="4.png" alt="" style="padding-left: 4px;">
						<li class="flex">
							<i class="fa fa-globe circle circle--small circle--white"></i>
							<div style="padding: 8px 46px;font-size: 17px;color:white">lorem@gmail.com</div>
						</li>
					</div>
						<div class="1" style="display: flex;margin-top: 20px;">
							<img src="5.png" alt="">
                        <li class="flex">
							<i class="fa fa-globe circle circle--small circle--white"></i>
							<div style="    font-size: 17px;color: white;padding-left: 44px;padding-top: 7px;">Ha Noi, Viet Nam</div>
						</li>
					</div>
					</ul>
				</div>
			</div><!-- End .module #2 -->


			<div class="1" style="display: flex;margin: 36PX 0PX 0PX 36PX;">
				<div style="    height: 32px;width: 56px;background-color: #F7C16B;">
				<img src="bbb.png" alt="" style="padding: 5%;">
			</div>
			<li class="flex" style="list-style: none;">
				<i class="fa fa-map-marker circle circle--small circle--white"></i>
				<div style="    font-size: 17px;font-weight: 700;color: #F7C16B;padding: 4% 20%;">OBJECTIVE</div>
			</li>
		</div>
			<P style="    font-size: 17px;
			margin: 12PX 20PX 30PX 36PX;
			color: white;
			LINE-HEIGHT: 1.5;">Lorem Ipsum is simply dum text of the printing and type industry. Lorem Ipsum has been the industry's standard </P>



            <div class="skill" >
				<h3 class="module__skill">
					<i class="fa fa-address-book-o circle circle--medium"></i>

				</h3>
				<div class="1" style="display: flex;margin: 36PX 0PX 0PX 36PX;">
					<div style="    height: 32px;width: 56px;background-color: #F7C16B;">
					<img src="ccc.png" style="padding: 5%;">
				</div>
				<li class="flex" style="list-style: none;">
					<i class="fa fa-map-marker circle circle--small circle--white"></i>
					<div style="    font-size: 17px;font-weight: 700;color: #F7C16B;padding: 8% 36%;">SKILL</div>
				</li>
			</div>
						</li>
						<li class="flex" style="list-style: none;    margin: 20px 0px 0px 32px;
						font-size: 17px;
						color: white;">
							<i class="fa fa-globe circle circle--small circle--white"></i>
							<div style="margin-bottom: 12px;">Word</div>
							<!-- WORDS -->
							<div class="radio_word" style="display: flex;">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
									<label class="form-check-label" for="flexRadioDefault1"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault2"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault3"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault4"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault5"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault6"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault7"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault8"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault9"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault10"></label>
								  </div>

							</div>



						</li>
						<li class="flex" style="list-style: none;    margin: 10px 0px 0px 32px;
						font-size: 17px;
						color: white;">
							<i class="fa fa-globe circle circle--small circle--white"></i>
							<div style="margin-bottom: 12px;">Excel</div>
							<!-- EXCEL -->
							<div class="radio_word" style="display: flex;">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault1a" id="flexRadioDefault1">
									<label class="form-check-label" for="flexRadioDefault1a"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault2a" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault2a"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault3a" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault3a"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault4a" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault4a"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault5a" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault5a"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault6a" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault6a"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault7a" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault7a"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault8a" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault8a"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault9a" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault9a"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault10a" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault10a"></label>
								  </div>



							</div>
						</li>
                        <li class="flex" style="list-style: none;    margin: 10px 0px 0px 32px;
						font-size: 17px;
						color: white;">
							<i class="fa fa-globe circle circle--small circle--white"></i>
							<div style="margin-bottom: 12px;">Powerpoint</div>
							<!-- POWERPOINT -->
							<div class="radio_word" style="display: flex;">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault1b" id="flexRadioDefault1">
									<label class="form-check-label" for="flexRadioDefault1b"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault2b" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault2b"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault3b" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault3b"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault4b" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault4b"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault5b" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault5b"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault6b" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault6b"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault7b" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault7b"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault8b" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault8b"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault9b" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault9b"></label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault10b" id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault10"></label>
								  </div>



							</div>
						</li>
					</ul>
				</div>
			</div><!-- End .module #2 -->


    <!-- PHẢI -->

			<div class="column_right" style="font-family: sans-serif;background-color: #F2F2F2;
			width: 560px;">



				<!-- HÀNG1 -->
				<div class="h1-colume2" style="display: flex;margin: 32px 24px 0px 40px;">
				<div style="background-color: #2B3848;height: 40px;width: 40px;">
			  <img src="new2.png" alt="" style="width: fit-content;padding: 8px 20px 0px 9px;">
			</div>
				<h1 style="margin: 0;padding: 6px 0px 0px 24px;color: #2B3848;font-size: 24px;">EDUCATION</h1>
			</div>


					  <ul style="list-style:none; display: flex;">
						  <li class="flex" style="    font-size: 21px;
						  font-weight: 700;
						  color: #2B3848;">
							  <i class="fa fa-map-marker circle circle--small circle--white"></i>
							  <div>University</div>
						  </li>
						  <li class="flex" style="    font-size: 17px;
						  color: #555555;
						  margin-left: 284px;
						  margin-top: 6px;">
							  <i class="fa fa-globe circle circle--small circle--white" ></i>
							  <div>mm/yyyy-yyyy</div>
						  </li>
						  </ul>
						  <li style="    list-style: none;
						  font-size: 17px;
						  color: #555555;
						  margin-left: 42px;
						  font-weight: 700;">Major: Ui Design</li>


<!-- HÀNG2 -->

<div class="h1-colume2" style="display: flex;margin: 40px 24px 0px 40px;">
	<div style="background-color: #2B3848;height: 40px;width: 40px;">
  <img src="new3.png" alt="" style="width: fit-content;padding: 6px 20px 0px 7px;">
</div>
	<h1 style="margin: 0;padding: 6px 0px 0px 24px;color: #2B3848;font-size: 24px;">WORK EXPERIENCE</h1>
</div>


		  <ul style="list-style:none; display: flex;">
			  <li class="flex" style="    font-size: 21px;
			  font-weight: 700;
			  color: #254670;">
				  <i class="fa fa-map-marker circle circle--small circle--white"></i>
				  <div>Company</div>
			  </li>
			  <li class="flex" style="    font-size: 17px;
			  color: #555555;
			  margin-left: 290px;
			  margin-top: 6px;">
				  <i class="fa fa-globe circle circle--small circle--white" ></i>
				  <div>mm/yyyy-yyyy</div>
			  </li>
			  </ul>
			  <li style="    list-style: none;
			  font-size: 17px;
			  color: #555555;
			  margin-left: 42px;
			  font-weight: 700;">Ui Design</li>
			  <div style="list-style: none;
			  color: #b2b2b2;
			  font-size: 17px;
			  margin-left: 42px;
			  margin-top: 10px;
			  line-height: 1.5;">
			  <li style="display: flex;">Lorem Ipsum is simply dummy text of the printing and typesetting  </li>
			  <li style="display: flex;">Lorem Ipsum is simply dummy text of the printing and typesetting  </li>
			  <li style="display: flex;">Lorem Ipsum is simply dummy text of the printing and typesetting </li>
			</div>

  <!-- HÀNG3 -->



		  <ul style="list-style:none; display: flex;">
			  <li class="flex" style="    font-size: 21px;
			  font-weight: 700;
			  color: #2B3848;">
				  <i class="fa fa-map-marker circle circle--small circle--white"></i>
				  <div>Company</div>
			  </li>
			  <li class="flex" style="    font-size: 17px;
			  color: #555555;
			  margin-left: 290px;
			  margin-top: 6px;">
				  <i class="fa fa-globe circle circle--small circle--white" ></i>
				  <div>mm/yyyy-yyyy</div>
			  </li>
			  </ul>
			  <li style="    list-style: none;
			  font-size: 17px;
			  color: #555555;
			  margin-left: 42px;
			  font-weight: 700;">Ui Design</li>
			  <div style="list-style: none;
			  color: #b2b2b2;
			  font-size: 17px;
			  margin-left: 42px;
			  margin-top: 10px;
			  line-height: 1.5;">
			  <li style="display: flex;">Lorem Ipsum is simply dummy text of the printing and typesetting  </li>
			  <li style="display: flex;">Lorem Ipsum is simply dummy text of the printing and typesetting  </li>
			  <li style="display: flex;">Lorem Ipsum is simply dummy text of the printing and typesetting  </li>
			</div>


  <!-- HÀNG4 -->


<div class="h1-colume2" style="display: flex;margin: 40px 24px 0px 40px;">
	<div style="background-color: #2B3848;height: 40px;width: 40px;">
  <img src="4a.png" alt="" style="width: fit-content;padding:0px 0px 0px 8px;">
</div>
	<h1 style="margin: 0;padding: 6px 0px 0px 24px;color: #2B3848;font-size: 24px;">ACTIVITIES</h1>
</div>


		  <ul style="list-style:none; display: flex;">
			  <li class="flex" style="    font-size: 21px;
			  font-weight: 700;
			  color: #2B3848;">
				  <i class="fa fa-map-marker circle circle--small circle--white"></i>
				  <div>Club</div>
			  </li>
			  <li class="flex" style="    font-size: 17px;
			  color: #555555;
			  margin-left: 330px;
			  margin-top: 6px;">
				  <i class="fa fa-globe circle circle--small circle--white" ></i>
				  <div>mm/yyyy-yyyy</div>
			  </li>
			  </ul>
			  <li style="    list-style: none;
			  font-size: 17px;
			  color: #555555;
			  margin-left: 42px;
			  font-weight: 700;">Leader</li>
			  <div style="list-style: none;
			  color: #b2b2b2;
			  font-size: 17px;
			  margin-left: 42px;
			  margin-top: 10px;
			  line-height: 1.5;">
			  <li style="display: flex;">Lorem Ipsum is simply dummy text of the printing and typesetting  </li>
			  <li style="display: flex;">Lorem Ipsum is simply dummy text of the printing and typesetting  </li>
			  <li style="display: flex;">Lorem Ipsum is simply dummy text of the printing and typesetting  </li>
			</div>

			<ul style="list-style:none; display: flex;">
				<li class="flex" style="    font-size: 21px;
				font-weight: 700;
				color: #2B3848;">
					<i class="fa fa-map-marker circle circle--small circle--white"></i>
					<div>Club</div>
				</li>
				<li class="flex" style="    font-size: 17px;
				color: #555555;
				margin-left: 330px;
				margin-top: 6px;">
					<i class="fa fa-globe circle circle--small circle--white" ></i>
					<div>mm/yyyy-yyyy</div>
				</li>
				</ul>
				<li style="    list-style: none;
				font-size: 17px;
				color: #555555;
				margin-left: 42px;
				font-weight: 700;">Leader</li>
				<div style="list-style: none;
				color: #b2b2b2;
				font-size: 17px;
				margin-left: 42px;
				margin-top: 10px;
				line-height: 1.5;">
				<li style="display: flex;">Lorem Ipsum is simply dummy text of the printing and typesetting  </li>
				<li style="display: flex;">Lorem Ipsum is simply dummy text of the printing and typesetting  </li>
				<li style="display: flex;">Lorem Ipsum is simply dummy text of the printing and typesetting  </li>
			  </div>


  <!-- HÀNG 6 -->


				<div class="h1-colume2" style="display: flex;margin: 40px 24px 0px 40px;">
					<div style="background-color: #2B3848;height: 40px;width: 40px;">
				  <img src="new1.png" alt="" style="width: fit-content;padding: 6px 0px 0px 10px;;">
				</div>
					<h1 style="margin: 0;padding: 6px 0px 0px 24px;color: #2B3848;font-size: 24px;">CERTIFICATIONS</h1>
				</div>


				<div style="margin-top: 24px;">
						  <ul style="list-style:none; display: flex;">
							  <li class="flex" style="    font-size: 19px;
							  font-weight: 600;
							  color: #2B3848;">
								  <i class="fa fa-map-marker circle circle--small circle--white"></i>
								  <div style="">TOEIC 750</div>
							  </li>
							  <li class="flex" style="    font-size: 17px;
							  color: #555555;
							  margin-left: 282px;
							  margin-top: 6px;">
								  <i class="fa fa-globe circle circle--small circle--white" ></i>
								  <div style="margin-top: -5px;">mm/yyyy-yyyy</div>
							  </li>
							  </ul>
							  <ul style="list-style:none; display: flex;">
								<li class="flex" style="    font-size: 19px;
								font-weight: 600;
								color: #2B3848;">
									<i class="fa fa-map-marker circle circle--small circle--white"></i>
									<div>TOPIK4</div>
								</li>
								<li class="flex" style="    font-size: 17px;
								color: #555555;
								margin-left: 309px;
								margin-top: 6px;=">
									<i class="fa fa-globe circle circle--small circle--white" ></i>
									<div style="margin-top: -5px;">mm/yyyy-yyyy</div>
								</li>
								</ul>
								<ul style="list-style:none; display: flex;">
									<li class="flex" style="    font-size: 19px;
									font-weight: 600;
									color: #2B3848;">
										<i class="fa fa-map-marker circle circle--small circle--white"></i>
										<div>Lorem Ipsum is simply </div>
									</li>
									<li class="flex" style="    font-size: 17px;
									color: #555555;
									margin-left: 171px;
									margin-top: 6px;">
										<i class="fa fa-globe circle circle--small circle--white" ></i>
										<div style="margin-top: -5px;">mm/yyyy-yyyy</div>
									</li>
									</ul>
								</div>







		  </div>
        </div>
	</div>