<link rel="stylesheet" href="cv_templates/CV_template_04/stevedoe.css">
<link rel="stylesheet" href="assets/css/style.css">

<article class="resume-wrapper position-relative" style="padding-right: 0;max-width: 960px;margin: auto;" id="capture">
    <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg" style="max-width: 1000px;">
        <header class="resume-header pt-4 pt-md-0">
            <div class="row">
                <div class="col-3 avatar-cv">
                    <img class="picture" src="" alt=""
                         style="height: 100%;width: 100%;" id="userImage">
                </div>

                <div class="col-9" style="padding-right: 0;margin: auto;">
                    <div class="row">
                        <div class="primary-info col-7">
                            <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase" id="name"></h1>
                            <div class="title mb-3" id="employment"></div>
                            <a class="text-link" href="#" style="color: #A5A8AE;text-decoration: none;"
                               id="hopeSalary"></a>
                        </div>

                        <div class="secondary-info col-5">
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    <i class="fal fa-envelope" style="color: #A5A8AE;"></i>
                                    <a class="text-link" href="#" style="color: #A5A8AE;text-decoration: none;"
                                       id="email2"></a>
                                </li>

                                <li class="mb-2">
                                    <i class="fas fa-mobile-alt" style="color: #A5A8AE;"></i>
                                    <a class="text-link" href="#" style="color: #A5A8AE;text-decoration: none;"
                                       id="phone"></a>
                                </li>

                                <li class="mb-2">
                                    <i class="fal fa-calendar" style="color: #A5A8AE;"></i>
                                    <a class="text-link" href="#" style="color: #A5A8AE;text-decoration: none;"
                                       id="dateOfBirth"></a>
                                </li>

                                <li>
                                    <i class="fal fa-map-marker-alt" style="color: #A5A8AE;"></i>
                                    <a class="text-link" href="#" style="color: #A5A8AE;text-decoration: none"
                                       id="address"></a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </header>


        <div class="resume-body">
            <div class="row">
                <div class="col-8 cv-content">
                    <section class="resume-section experience-section">
                        <h2 style="font-size: 18px;position: relative;color: #434E5E; ">EDUCATION</h2>
                        <div class="line"
                             style="width: 100%;height: 2px;background-color: #acb7c6;;margin-bottom: 16px;"></div>
                        <div class="resume-section-content">
                            <div class="resume-timeline position-relative">

                                <div id="education-preview">
                                    <div class="education-area">

                                    </div>
                                </div>

                                <template id="education-field">
                                    <div id="_idx">
                                        <article class="resume-timeline-item position-relative pb-4">
                                            <div class="resume-timeline-item-header mb-2">
                                                <div class="d-flex flex-column flex-md-row"
                                                     style="justify-content: space-between;">
                                                    <div class="circlewithheader" style="display: flex;">
                                                        <i class="fas fa-dot-circle"
                                                           style="margin-top: 3px;margin-right: 8px;color: #58677c"></i>
                                                        <h3 class="resume-position-title font-weight-bold mb-1"
                                                            style=" font-size: 15px;color: #434E5E;"
                                                            id="educationName"></h3>
                                                    </div>
                                                    <div class="resume-company-name ms-auto" style="    color: #58677c;
                                    font-size: 12px;
                                    font-weight: 500;" id="educationFromTo"></div>
                                                </div><!--//row-->
                                                <div class="d-flex flex-column flex-md-row"
                                                     style="justify-content: space-between;">
                                                    <div class="resume-position-time" style="color:#aab4c3;font-size: 12px;"
                                                         id="educationMajor"></div>
                                                    <div class="resume-company-name ms-auto" style="    color: #58677c;
                                    font-size: 12px;
                                    font-weight: 500;" id="educationAttend"></div>
                                                </div><!--//row-->
                                            </div><!--//resume-timeline-item-header-->
                                        </article><!--//resume-timeline-item-->
                                    </div>
                                </template>

                            </div><!--//resume-timeline-->
                        </div>
                    </section><!--//experience-section-->

                    <section class="resume-section experience-section">

                        <h2 style="font-size: 18px;position: relative;color: #434E5E; ">WORK EXPERIENCE</h2>
                        <div class="line"
                             style="width: 100%;height: 2px;background-color: #acb7c6;;margin-bottom: 16px;"></div>
                        <div class="resume-section-content">
                            <div class="resume-timeline position-relative">

                                <div id="experience-preview">
                                    <div class="experience-area">

                                    </div>
                                </div>

                                <template id="experience-field">
                                    <div id="_idx">
                                        <article class="resume-timeline-item position-relative pb-4">
                                            <div class="resume-timeline-item-header mb-2">
                                                <div class="d-flex flex-column flex-md-row"
                                                     style="justify-content: space-between;">
                                                    <div class="circlewithheader" style="display: flex;">
                                                        <i class="fas fa-dot-circle"
                                                           style="margin-top: 3px;margin-right: 8px;color: #58677c"></i>
                                                        <h3 class="resume-position-title font-weight-bold mb-1"
                                                            style=" font-size: 15px;color: #434E5E;"
                                                            id="experienceName"></h3>
                                                    </div>
                                                    <div class="resume-company-name ms-auto" style="    color: #58677c;
                                    font-size: 12px;
                                    font-weight: 500;" id="experienceFromTo"></div>
                                                </div><!--//row-->
                                                <div class="d-flex flex-column flex-md-row"
                                                     style="justify-content: space-between;">
                                                    <div class="resume-position-time" style="color:#aab4c3;font-size: 12px;"
                                                         id="experienceMajor"></div>
                                                    <div class="resume-company-name ms-auto" style="    color: #58677c;
                                    font-size: 12px;
                                    font-weight: 500;" id="experienceAttend"></div>
                                                </div><!--//row-->
                                            </div><!--//resume-timeline-item-header-->
                                            <div class="resume-timeline-item-desc">
                                                <h4 class="resume-timeline-item-desc-heading font-weight-bold"
                                                    style="font-size: 14px;color: #58677c;"> Achievements </h4>

                                                <div class="sub-experience-area"></div>
                                            </div><!--//resume-timeline-item-desc-->
                                        </article><!--//resume-timeline-item-->
                                    </div>
                                </template>

                                <template id="sub-experience-field">
                                    <div id="_subidx">
                                        <div class="d-flex flex-column flex-md-row"
                                             style="justify-content: space-between;">
                                            <div class="circlewithheader" style="display: flex;">
                                                <div class="resume-position-time" style="color:#aab4c3;font-size: 12px;"
                                                     id="sub_experienceName"></div>
                                            </div>
                                            <div class="resume-company-name ms-auto" style="    color: #58677c;
                                    font-size: 12px;
                                    font-weight: 500;" id="sub_experienceFromTo"></div>
                                        </div><!--//row-->
                                        <p style="color: #58677c;font-size: 12px;" id="sub_experienceDescription"></p>
                                    </div>
                                </template>

                            </div><!--//resume-timeline-->
                        </div>
                    </section><!--//experience-section-->

                    <section class="resume-section experience-section">
                        <h2 style="font-size: 18px;position: relative;color: #434E5E; ">ACTIVITIES</h2>
                        <div class="line"
                             style="width: 100%;height: 2px;background-color: #acb7c6;;margin-bottom: 16px;"></div>
                        <div class="resume-section-content">
                            <div class="resume-timeline position-relative">

                                <div id="activity-preview">
                                    <div class="activity-area">

                                    </div>
                                </div>

                                <template id="activity-field">
                                    <div id="_idx">
                                        <article class="resume-timeline-item position-relative pb-4">
                                            <div class="resume-timeline-item-header mb-2">
                                                <div class="d-flex flex-column flex-md-row"
                                                     style="justify-content: space-between;">
                                                    <div class="circlewithheader" style="display: flex;">
                                                        <i class="fas fa-dot-circle"
                                                           style="margin-top: 3px;margin-right: 8px;color: #58677c"></i>
                                                        <h3 class="resume-position-title font-weight-bold mb-1"
                                                            style=" font-size: 15px;color: #434E5E;"
                                                            id="activityName"></h3>
                                                    </div>
                                                    <div class="resume-company-name ms-auto" style="    color: #58677c;
                                    font-size: 12px;
                                    font-weight: 500;" id="activityFromTo"></div>
                                                </div><!--//row-->
                                                <div class="d-flex flex-column flex-md-row"
                                                     style="justify-content: space-between;">
                                                    <div class="resume-position-time" style="color:#aab4c3;font-size: 12px;"
                                                         id="activityAttend"></div>
                                                </div><!--//row-->
                                                <p style="color: #58677c;font-size: 12px;" id="activityDescription"></p>
                                            </div><!--//resume-timeline-item-header-->
                                        </article><!--//resume-timeline-item-->
                                    </div>
                                </template>

                            </div><!--//resume-timeline-->
                        </div>
                    </section><!--//experience-section-->

                    <section class="resume-section experience-section">
                        <h2 style="font-size: 18px;position: relative;color: #434E5E; ">CERTIFICATIONS</h2>
                        <div class="line"
                             style="width: 100%;height: 2px;background-color: #acb7c6;;margin-bottom: 16px;"></div>
                        <div class="resume-section-content">
                            <div class="resume-timeline position-relative">

                                <div id="certification-preview">
                                    <div class="certification-area">

                                    </div>
                                </div>

                                <template id="certification-field">
                                    <div id="_idx">
                                        <article class="resume-timeline-item position-relative pb-4">
                                            <div class="resume-timeline-item-header mb-2">
                                                <div class="d-flex flex-column flex-md-row"
                                                     style="justify-content: space-between;">
                                                    <div class="circlewithheader" style="display: flex;">
                                                        <i class="fas fa-dot-circle"
                                                           style="margin-top: 3px;margin-right: 8px;color: #58677c"></i>
                                                        <h3 class="resume-position-title font-weight-bold mb-1"
                                                            style=" font-size: 15px;color: #434E5E;"
                                                            id="certificationName"></h3>
                                                    </div>
                                                    <div class="resume-company-name ms-auto" style="    color: #58677c;
                                    font-size: 12px;
                                    font-weight: 500;" id="certificationDescription"></div>
                                                </div><!--//row-->
                                                <div class="d-flex flex-column flex-md-row"
                                                     style="justify-content: space-between;">
                                                    <div class="resume-position-time" style="color:#aab4c3;font-size: 12px;"
                                                         id="certificationMajor"></div>
                                                    <div class="resume-company-name ms-auto" style="    color: #58677c;
                                    font-size: 12px;
                                    font-weight: 500;" id="certificationFromToType"></div>
                                                </div><!--//row-->
                                            </div><!--//resume-timeline-item-header-->
                                        </article><!--//resume-timeline-item-->
                                    </div>
                                </template>

                            </div><!--//resume-timeline-->
                        </div>
                    </section><!--//experience-section-->

                    <section class="resume-section experience-section">
                        <h2 style="font-size: 18px;position: relative;color: #434E5E; ">LINKS</h2>
                        <div class="line"
                             style="width: 100%;height: 2px;background-color: #acb7c6;;margin-bottom: 16px;"></div>
                        <div class="resume-section-content">
                            <div class="resume-timeline position-relative">

                                <div id="links-preview">
                                    <div class="links-area">

                                    </div>
                                </div>

                                <template id="links-field">
                                    <div id="_idx">
                                        <article class="resume-timeline-item position-relative pb-4">
                                            <div class="resume-timeline-item-header mb-2">
                                                <div class="d-flex flex-column flex-md-row"
                                                     style="justify-content: space-between;">
                                                    <div class="circlewithheader" style="display: flex;">
                                                        <i class="fas fa-dot-circle"
                                                           style="margin-top: 3px;margin-right: 8px;color: #58677c"></i>
                                                        <h3 class="resume-position-title font-weight-bold mb-1"
                                                            style=" font-size: 15px;color: #434E5E;"
                                                            id="linksName"></h3>
                                                    </div>
                                                </div><!--//row-->
                                                <div class="d-flex flex-column flex-md-row"
                                                     style="justify-content: space-between;">
                                                    <div class="resume-position-time" style="color:#aab4c3;font-size: 12px;"
                                                         id="linksDescription"></div>
                                                </div><!--//row-->
                                            </div><!--//resume-timeline-item-header-->
                                        </article><!--//resume-timeline-item-->
                                    </div>
                                </template>

                            </div><!--//resume-timeline-->
                        </div>
                    </section><!--//experience-section-->
                </div>
                <div class="col-4 cv-content">
                    <section class="resume-section skills-section mb-5">
                        <h2 style="font-size: 18px;position: relative;color: #434E5E;text-transform: uppercase;">
                            Information</h2>
                        <div class="line"
                             style="width: 100%;height: 2px;background-color: #acb7c6;margin-bottom: 16px;"></div>
                        <div class="resume-section-content">
                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold" style="    font-size: 14px;
                        color: #434E5E;">Final Education</h4>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <div class="resume-skill-name" id="finalEducation" style="font-size: 12px;word-break: break-word;"></div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->

                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold" style="    font-size: 14px;
                        color: #434E5E;">Experience</h4>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <div class="resume-skill-name" id="experienceWork" style="font-size: 12px;word-break: break-word;"></div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->

                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold" style="    font-size: 14px;
                        color: #434E5E;">Skill groups</h4>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <div class="resume-skill-name" id="skillGroups" style="font-size: 12px;word-break: break-word;"></div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->

                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold" style="    font-size: 14px;
                        color: #434E5E;">Skills</h4>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <div class="resume-skill-name" id="skills" style="font-size: 12px;word-break: break-word;"></div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->

                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold" style="    font-size: 14px;
                        color: #434E5E;">Workplaces</h4>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <div class="resume-skill-name" id="workplaces" style="font-size: 12px;word-break: break-word;"></div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->

                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold" style="    font-size: 14px;
                        color: #434E5E;">Korean Language Level</h4>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <div class="resume-skill-name" id="koreanLanguageLevel" style="font-size: 12px;word-break: break-word;"></div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->
                        </div><!--resume-section-content-->
                    </section><!--//skills-section-->
                </div>
            </div>


        </div>


    </div>


</article>