.resume-header {
    background: #434E5E;
    color: rgba(255, 255, 255, 0.9);
    height: auto;
}

@media (min-width: 768px){
    .pt-md-0 {
        padding-top: 0 !important;
    }
    
    .resume-header {
        background: #434E5E;
        color: rgba(255, 255, 255, 0.9);
        height: auto;
    }
    
}


@media (min-width: 768px){
    .text-md-start {
        text-align: left !important;
    }
    .pt-md-0 {
        padding-top: 0 !important;
    }
    .text-md-start {
        text-align: left!important;
    }
    
    h1.name.mt-0.mb-1.text-white.text-uppercase.text-uppercase {
        font-size: 18px;
        /*letter-spacing: 0.175rem;*/
        font-weight: 900;
    }
    .justify-content-md-between {
        -webkit-justify-content: space-between !important;
        justify-content: space-between !important;}
        .text-md-start {
            text-align: left !important;}
        
            .resume-section-title:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1.5px;
                background: #8d9aad;
            }
        
}








    @media (min-width: 1200px){
        .h4, h4 {
            font-size: 1.5rem;
        }
    }



h4.resume-timeline-item-desc-heading.font-weight-bold {
    font-size: 16px;
    color: #58677c;
}

.resume-company-name.ms-auto {
    color: #58677c;
    font-size: 0.875rem;
    font-weight: 500;
}
h4.resume-timeline-item-desc-heading.font-weight-bold {
    font-size: 16px;
    color: #58677c;
}

.pb-3{
    padding-bottom: 0px!important;
}
.progress-bar{
    background-color: #434E5E !important;
}

@media (min-width: 768px){
    .justify-content-md-between {
        -webkit-justify-content: space-between !important;
        justify-content: space-between !important;
    }
}

.primary-info,
.secondary-info {
    padding: 15px 15px 15px 0;
    margin: auto !important;
}

.secondary-info {
    padding-right: 0;
}

.list-unstyled {
    width: 148px;
    overflow: hidden;
    word-break: break-all;
}

a.text-link {
    font-size: 10px;
}

a#hopeSalary.text-link {
    font-size: 12px;
}

.resume-body {
    padding: 15px 0;
}

#employment.title.mb-3{
    font-size: 12px;
}