/**
 * Container.
 */
.path-grade-report-yieldgrader .gradeparent {
    position: relative;
}

.path-grade-report-yieldgrader .cell.topleft.cell.c0.lastcol {
        height: 0px;
        margin: 0px;
        padding: 0px;
}
/**
 * Tooltip and overlay.
 */
.path-grade-report-yieldgrader .gradeparent .grader-information-tooltip {
    min-width: 200px;
}
.path-grade-report-yieldgrader .gradeparent .graderreportoverlay {
    background-color: white;
    width: auto;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/**
 * The table.
 */
.path-grade-report-yieldgrader .gradeparent table {
    border: 1px solid #ccc;
    border-collapse: separate;
    border-spacing: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    margin-bottom: 2em;
}
.dir-rtl.path-grade-report-yieldgrader .gradeparent table {
    border-left-width: 0;
    border-right-width: 1px;
    max-width: initial;
}

/**
 * All the cells.
 */
.path-grade-report-yieldgrader .gradeparent .cell {
    border: 1px solid #ccc;
    border-top-width: 0;
    border-left-width: 0;
    padding: 4px 5px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
}
.dir-rtl.path-grade-report-yieldgrader .gradeparent .cell {
    border-left-width: 1px;
    border-right-width: 0;
    text-align: left;
}

/**
 * Stripped table.
 */
.path-grade-report-yieldgrader .gradeparent tr:nth-of-type(even) .cell {
    background-color: #f9f9f9;
}

/**
 * All the floating divs.
 */
.path-grade-report-yieldgrader .gradeparent .floater {
    display: none;
}
.path-grade-report-yieldgrader .gradeparent .floating {
    display: block;
}

/**
 * All the headers + floating cells.
 */
.path-grade-report-yieldgrader .gradeparent .heading .cell,
.path-grade-report-yieldgrader .gradeparent .avg .cell,
.path-grade-report-yieldgrader .gradeparent .user.cell {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}
.dir-rtl.path-grade-report-yieldgrader .gradeparent .heading .cell,
.dir-rtl.path-grade-report-yieldgrader .gradeparent .avg .cell,
.dir-rtl.path-grade-report-yieldgrader .gradeparent .user.cell {
    text-align: right;
}

/**
 * All the floating cells.
 */
.path-grade-report-yieldgrader .gradeparent .floater .cell {
    background-color: #f9f9f9;
}

/**
 * The user cells.
 */
.path-grade-report-yieldgrader .gradeparent .user.cell {
    min-width: 200px;
    width: 200px;
    white-space: normal;
    vertical-align: top;
}
.path-grade-report-yieldgrader .gradeparent .user.cell .userpicture {
    margin: 0 4px;
    border: none;
    vertical-align: middle;
}

/**
 * The additional user fields.
 */
.path-grade-report-yieldgrader .gradeparent .userfield {
    font-weight: normal;
    text-align: left;
}
.dir-rtl.path-grade-report-yieldgrader .gradeparent .userfield {
    text-align: right;
}

/**
 * The footer's header.
 */
.path-grade-report-yieldgrader .gradeparent .range .header,
.path-grade-report-yieldgrader .gradeparent .avg .header {
    font-weight: bold;
}

/**
 * The footer's floating cells.
 */
.path-grade-report-yieldgrader .gradeparent .avg.floating .cell {
    border-top-width: 1px;
}

/**
 * The footer's cells.
 */
.path-grade-report-yieldgrader .gradeparent .avg .cell {
    text-align: right;
}
.dir-rtl.path-grade-report-yieldgrader .gradeparent .avg .cell {
    text-align: left;
}

/**
 * Content styling.
 */
.path-grade-report-yieldgrader .gradeparent .heading .cell .iconsmall {
    /* Fixes inconsistencies in cell height on IE. */
    padding-top: 0;
    padding-bottom: 0;
}
.path-grade-report-yieldgrader .gradeparent .sorticon {
    margin-left: 3px;
}
.dir-rtl.path-grade-report-yieldgrader .gradeparent .sorticon {
    margin-left: 0;
    margin-right: 3px;
}
.path-grade-report-yieldgrader .gradeparent .gradevalue {
    display: inline-block;
}
.path-grade-report-yieldgrader span.gradepass {
    color: #298721;
}
.path-grade-report-yieldgrader span.gradefail {
    color: #890d0d;
}
.path-grade-report-yieldgrader .gradeparent tr:nth-child(n) td.overridden:nth-child(n) {
    /* Made very specific to override the default stripped style of the table. */
    background-color: #efd9a4;
}
.path-grade-report-yieldgrader .gradeparent tr:nth-child(n) td.ajaxoverridden:nth-child(n) {
    /* Made very specific to override the default stripped style of the table. */
    background-color: #ffe3a0;
}
.path-grade-report-yieldgrader .gradeparent .excludedfloater {
    font-weight: bold;
    color: red;
    font-size: 9px;
    float: left;
}
.dir-rtl.path-grade-report-yieldgrader .gradeparent .excludedfloater {
    float: right;
}

.path-grade-report .gradeparent .floater .controls.cell,
.path-grade-report-yieldgrader .gradeparent .controls {
    background-color: #f3ead8;
}
.path-grade-report-yieldgrader .gradeparent .category {
    text-align: left;
}
.dir-rtl.path-grade-report-yieldgrader .gradeparent .category {
    text-align: right;
}

/**
 * Editing fields.
 */
.path-grade-report-yieldgrader .gradeparent select {
    margin: 0;
    padding: 0;
}
.path-grade-report-yieldgrader .gradeparent .text {
    border: 1px solid #666;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}
.path-grade-report-yieldgrader .gradeparent .quickfeedback {
    border: 1px dashed #000;
    width: auto;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
.dir-rtl.path-grade-report-yieldgrader .gradeparent .quickfeedback {
    margin-left: 0;
    margin-right: 10px;
}

.path-grade-report-yieldgrader .yui3-overlay {
  border: 0;
  background: none;
  background-color: initial;
  min-width: 200px;
}

.path-grade-report-yieldgrader .yui3-overlay {
    background-color: white;
    width: auto;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
