/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018. 9. 17, 오후 1:42:47
    Author     : hyensu
*/

#page-local-haksa-index table.haksa_table {
    width: 100%;
    border: 1px solid #ddd;
    border-top: 2px solid #acadae;
}

#page-local-haksa-index table.haksa_table tr td.field_title {
    height: auto;
    background-color: #f2f2f2;
    width: 20%;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    font-weight: 700;
    text-align: center;
}
#page-local-haksa-index table.haksa_table tr td.field_title2 {
    background-color: #fdfdfd;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
#page-local-haksa-index table.haksa_table tr td.field_value {
    height: auto;
    border-bottom: 1px solid #ddd;
    text-align: left;
    width: auto;
    padding: 10px;
}
#page-local-haksa-index table.haksa_table tr td.field_value div.field_value {
    height: auto;
    border-top: 1px solid #ddd;
    text-align: left;
    margin-top: 10px;
    padding-top: 10px;
}
#page-local-haksa-index table.haksa_table tr td.field_value2 {
    text-align: center;
}
#page-local-haksa-index table.haksa_table div.ipaddr {
    display: none;
}

#page-local-haksa-index .btn_area{
    margin: 10px;
}

.left {
    text-align: left;
}
.rignt {
    text-align: right;
}