@charset "utf-8";
*{margin:0;padding: 0;}
html,body{height: 100%;}
body{min-width: 320px;line-height: 1.2;}
body.lang-vi {line-height: 1.667;}
body.lang-en{line-height: 1.4;}
body.lang-ko{
    font-family: 'Noto Sans KR', 'Noto Sans SC', sans-serif;
}
body.lang-en{
    font-family: 'Noto Sans KR', 'Noto Sans SC', sans-serif;
}
body.lang-vi{
	font-family: 'Noto Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ol, li, dl, dt, dd, ul, li, a, p, input, select, button{
    font-family: inherit;
    font-size: 14px; 
    color: #000;
    margin: 0;
}
body{padding-top: 120px;box-sizing: border-box;}
.pagelayout-popup{padding-top: 0 !important;}
h5{
    margin: 0;
}
.pagelayout-edu, .pagelayout-edu02 , .pagelayout-frontpage, .pagelayout-standard, .pagelayout-login, .pagelayout-mypublic, .pagelayout-mydashboard, .pagelayout-base{ 
    line-height: inherit;
}
.pagelayout-edu *
, .pagelayout-edu02 *
, .pagelayout-frontpage *
, .pagelayout-popup *
, .pagelayout-popup input{
    margin: 0; 
    line-height: inherit;
}
textarea{border-radius: 0;box-shadow: none;}
img, fieldset, label { 
    border: 0; 
    margin: 0; 
    padding: 0; 
}
ul, ol { 
    list-style: none; 
    padding: 0;
    margin: 0; 
    list-style-image: none; 
}
ol li, ul li { 
    padding: 0; 
    margin: 0; 
}
strong{
    font-weight: 600;
}
a {
    text-decoration: none; 
    cursor: pointer; 
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
a:hover { 
    text-decoration: none; 
    cursor: pointer; 
}
a:active {text-decoration: none;}
a:focus {text-decoration: none; }
a:hover, a:focus, a:active{
    color: inherit;
}

input[type=text], input[type=password], select{
    border-radius: 0px;
    border: 1px solid #dcdcdc;
    text-shadow: none;
    box-shadow: none;
    max-width: 100%;
}
input[type=button], input[type=submit], button{
    text-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    box-shadow:none;
}
input[type=text], input[type=password]{
    appearance: none;
    -webkit-appearance: none;
}
label{
    display: inline-block;
}
.discount {
    background: #ed1c24;
    padding-left: 6px;
    padding-right: 6px;
    color: #fff !important;
}
.d-inline-block {
    display: inline-block;
}
.fix-height {
    min-height: unset !important;
}