/* Custom CSS
-------------------------*/
.pagelayout-standard .smallMenu
/*, .pagelayout-admin .smallMenu*/
, .pagelayout-mydashboard .smallMenu
, .format-site:not(.pagelayout-admin) .smallMenu{display: none;}


.row-fluid .span1{
    margin: 0;
}
.row-fluid .span2{
    width:17%;*width:14.84042553%;
    margin: 0px;
}
#mMenuBtn{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    display: none;
}
#opacity{
    background-color: #b2b2b2;
    opacity: 0.3;
    z-index: 10000;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top:0px;
    left:0px;
}


.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

img.small-logo {
    float: left;
    height: 35px;
    margin: 3px 10px 3px 0;
}

.dir-rtl img.small-logo {
    float: right;
    margin: 3px 0 3px 10px;
    line-height: 78px;
}
@media (max-width: 1600px){ 
    .courses .coursesumnail{width: calc(33.33% - 20px) !important;}  
    .navbar .nav{margin-left: calc(17% - 165px) !important;}
    #page-my-index .navbar .nav{margin-left: calc(17% - 195px) !important;}
    .pagelayout-course .navbar .nav, .pagelayout-incourse .navbar .nav, .pagelayout-admin .navbar .nav{margin-left: calc(17% - 198px) !important;}
    .front_list {padding: 30px 10% 10px 10% !important;}
    .front_list.menu_list {padding: 30px 10% 10px calc(9% - 100px) !important;}
    .front_list .list_style01 img {
        height: 180px !important;
    }
    .link img{width: 100%; max-height: 55px;}
    .link_block .link{
        padding: 10px;
        box-sizing: border-box !important;;
        line-height: 78px !important;;
    }

    #region-main.span10{
        width: calc(100% - 280px);
        height: auto !important;
    }

    #page-login-index{
        background-position-y: 10%;
        background-size: inherit !important
    }
}
@media (max-width: 1200px){ 
    #course_wrap.student
    , #course_wrap.student header{
        width: 100% !important;
        box-shadow: none !important;
    }
    #course_bg{
        padding: 0 20px;
    }
    .header_notice{
        width: 250px !important;
        padding-left: 15px;
    }
    .user_info { 
        width: calc(100% - 350px);
    }
    .user_info .r_content{
        padding-right: 10px;
    }

    .courses .coursesumnail{
        width: calc(50% - 20px) !important;
    }
    .mform .fitem div.fitemtitle{
        padding-left: 0;
    }
    mform .fitem .fitemtitle{
        float: left;
        width: 25%;
    }
    .mform fieldset.collapsible>.fcontainer{
        padding: 15px;
    }
    .custom-site-expo .row-fluid{padding: 50px 100px !important;} 
    #page-local-okcourse-mooc .front_list {padding: 30px 10% 10px 10% !important;}
    .front_list , .front_list.menu_list{padding: 30px 3% 70px 3% !important;}
    .front_list .list_style01 img {
        height: 150px !important;
    }

    .front_list.menu_list{clear: both !important;}
    .front_list.menu_list ul{
        width: 100% !important;
        overflow: hidden;
    }
    .front_list.menu_list h2{float: left !important; width: 12.5%;}
    .front_list.menu_list li{
        float: left !important;
        border-right: 1px dotted #ccc;
        border-bottom: 0 !important;
        padding: 10px !important;
        margin: 0 auto !important;
        width: 12.5%;
        box-sizing: border-box;
        word-break: keep-all;
    }
    .front_list .right-contents{width: 100% !important;}
    .front_list .side-menu {
        margin: 0px 1% 20px 1%;
        width: 98%;
    }
    .link_block{padding: 10px !important; height: 300px !important;}
    .link_block .link{
        margin-left: 10px !important;
        margin-bottom: 10px !important;
        width: calc(33.33% - 7px) !important;
        height: 85px !important;
        line-height: 63px !important;
    }
    #main_group .mblocks{
        width: 200px !important;
        height: 300px !important;
    }
    #main_group .mblocks .mblock{
        height: 100px !important;
    }
    .link_block .link:nth-child(1)
    , .link_block .link:nth-child(3n + 1){margin-left: 0 !important;}
    #main_group .notice{height: 300px !important; overflow: hidden !important;}
    .block02 {width: calc(60% - 201px) !important;}

    .center_block{
        width: 100% !important;
        padding: 30px;
        box-sizing: border-box;
        margin: 0px !important;
        height: 100%;
    }

    .tbox{width: 100% !important;}

}
@media (max-width: 979px){
    .navbar-fixed-top {
        margin-bottom: 0px;
        position: fixed;
    }
    .m_header_menu{
        display: block;
    }
    .header_notice{
        display: none;
    }
    .user_info{
        width: calc(100% - 100px) !important;
    }
    #block-region-side-pre .block{ 
        margin: 0;
    }
    #block-region-side-pre.span2{
        margin-bottom: 20px;
        min-width: 100%;
    }
    .media .course-info p.title
    , .media .course-info p.text{
        width: 100%;
    }
    .progress-info .top .l_content br{
        display: block;
    } 
    .progress-info{
        padding: 20px;
    }
    .navbar .btn-navbar {display: none !important;}
    .navbar-fixed-top .navbar-inner{padding: 0;}

    .pagelayout-standard .smallMenu
    , .pagelayout-admin .smallMenu
    , .pagelayout-mydashboard .smallMenu
    , .format-site .smallMenu
    ,.pagelayout-report .smallMenu{display: block !important;}

    .pagelayout-standard #myMenu
    , .pagelayout-admin  #myMenu
    ,.pagelayout-mydashboard #myMenu
    ,.format-site #myMenu
    ,.pagelayout-report #myMenu{position: absolute; left: -1000px;}

    #page-content{
        width: 100%;
        box-sizing: border-box;
    }
    #page-local-okcourse-ocw #page-content, #page-local-okcourse-mooc #page-content{margin:0; width:100%;}

    .pagelayout-frontpage #page-content, .pagelayout-login #page-content{margin: 0; width: 100%;}
    #page-user-files #page {
        background-color: #454950;
    }
    #region-main{width:100%;}
    .row-fluid .span2:not(#block-region-side-post){
        width:100%;
        margin: 0px;
        border-right: 1px solid #d4d4d4;
        background: #fff;
    }

    .header_notice{
        width: 350px;
    }

    .custom-site-expo .row-fluid{padding: 50px 70px !important;} 
    #page-site-index  .frontpage-course-list-enrolled{padding: 0 50px 30px 50px !important;}
    #page-site-index .coursebox{width: 100% !important;}

    .guestform{left: 300px !important;}
    /*    .carousel-inner .item{background-position: -410px 0px !important;}*/

    .courses .coursesumnail{width: calc(50% - 20px) !important;}  
    #page-course-editsection #page-content{margin: 0; width: 100%;}

    #page-message-index .message .contactselector{height: auto !important;} 
    #page-message-index .contactselector.mdl-align{
        width: 100% !important;
        max-width: none;
        border-bottom: 1px solid #ddd;
    }
    #page-message-index .contactselector.mdl-align .singleselect{float:left !important; width: 100% !important;}
    #page-message-index .message .contactselector > .heading{
        clear: both;
        text-align: left;
    }
    #page-message-index #combinedcontactssearchspan{margin-top: 5px;}
    #page-message-index .message .messagearea{border-left: 0;}
    .message .messagearea .messagesend .messagesendbox{padding: 20px;}
    #page-local-okcourse-mooc .front_list {
        padding: 30px 5% 10px 5% !important;
    }
    .front_list .list_style01 img {
        height: 100px !important;
    }

    .front_list.menu_list h2{width: 25% !important; display: block !important; float: left; box-sizing: border-box;}    
    .front_list.menu_list li{    
        padding: 10px 0 !important;
        border-bottom: 1px dotted #ccc !important;
        width: 25% !important;
    }
    body[id *= page-grade-repor] ul.nav-tabs:nth-of-type(2){
        border:1px solid #ddd;
        width: auto !important;
        max-width: 633px;
        overflow: hidden;
    }
    body[id *= page-grade-repor] ul.nav-tabs:nth-of-type(2) li > a{
        border:0px !important;
    }

    #homepageCarousel .notice{width: 330px !important;}

    #footer .span11{width: 100% !important;}
    #footer .span11 li{width: 25% !important;}

    #page-site-index .nav-collapse.collapse{
        clear: none;
        height: auto;
        float: left;
    }

    /*팝업*/
    .moodle-dialogue-base .moodle-dialogue{
        width: 90% !important;
        left: 5% !important;
    }
    .moodle-dialogue-base .moodle-dialogue-wrap{width: 100% !important;}
    .choosercontainer #chooseform .submitbuttons{right: 20px !important;}  



    .center_block{
        width: 100% !important;
        margin: 0;
        overflow: hidden;
        padding: 15px;
        box-sizing: border-box;

    }

    .tbox{
        padding: 60px 20px 20px 30px !important;
        white-space: normal;
        word-break: break-all;
    }

    #region-main.span10{
        width: 100%;
        max-width: 100%;
    }
    #myMenu.span2
    , #block-region-side-pre.span2{
        width: auto;
    }

}

@media (max-width: 768px) {
    body { padding: 0;}
    .none{display: none;}
    body.lockscroll #wrap{
        height: 100%;
        overflow: hidden;
    }
    div[role=main] h2:nth-of-type(1):not(.pg-tit), div[role=main] h3.main, div[role=main] #maincontent+h3{
        font-size: 18px;
        margin-bottom: 13px;
    }
    .navbutton{margin-bottom: 10px;}
    header .course_title{
        width: calc(100% - 279px) !important;
    }
    .form-item .form-label{
        position: static;
    }
    .form-item .form-setting, .form-item .form-description{
        padding: 10px;
    }
    #custom_user_menu > li .block{
        position: fixed;
        right: 0;
        top: 42px;
        width: 100%;
    }
    #custom_user_menu li:last-child .block::after
    , #custom_user_menu li:last-child .block::before{
        right: 157px;
    }
    #custom_user_menu li:nth-last-child(2) .block::after
    , #custom_user_menu li:nth-last-child(2) .block::before{
        right: 192px;
    }
    #custom_user_menu li:nth-last-child(3) .block::after
    , #custom_user_menu li:nth-last-child(3) .block::before{
        right: 227px;
    }
    .user_info .user_text{
        width: 100%;
    }
    .user_info .user_text br{
        display: block;
    }
    .user_info .user_text p{
        margin-bottom: 0;
        font-size: 12px;
        line-height: 13px;
    }
    .user_info p.confirm{
        font-size: 12px;
        width: 100%;
        text-align: left;
        margin-top: 3px;
    } 

    .alert-block{
        margin: 15px 20px !important;
    }
    header .logout{
        display: none;
    }
    .dir-rtl img.small-logo,
    img.small-logo {
        margin: 3px;
    }
    #mooc_iframe div[role=main]{margin: 0px !important; padding: 0px !important;}
    .region-main-content-area{padding: 0 !important;}

    #page-content{margin: 0 !important; border-left: 0 !important; width: 100%;} 
    body[id *= mod] .course div[role=main]{
        border: 0;
        width: auto; 
        margin: 0 0;
        box-shadow: none;
        min-height: 0;
    }

    #mMenuBtn{
        display: block;
        cursor: pointer;
        margin-left: 30px;
    }
    #page-site-index #mMenuBtn
    , #page-local-okcourse-ocw #mMenuBtn
    , #page-local-okcourse-mooc #mMenuBtn{
        display: none;
    }
    #myMenu:not(.smallMenu) {
        position: absolute;
        width: 60% !important;
        height: 100%;
        top: 0px;
        left: -5000px;
        z-index: 10001;
        font-size: 12px;
        background-color: #454950;
        transition:all 0.3s;
    }
    #myMenu.on{
        display: block;
    }
    #mypage_course_area {
        padding: 5px 10px 10px 10px !important;
    }

    #page-my-index .summary{
        float: none; 
        width: auto; 
        position: absolute;
        top: 40px;
        left: 123px;
    }

    .navbar-fixed-top{
        margin-right: 0;
        margin-left: 0;
    }
    #course_bg{
        padding: 0 20px;
    }
    .header_notice{
        display: none;
    }
    .pagelayout-course .navbutton form input[type=submit], .singlebutton input[value *= "블록 편집"]{
        right: 10px;
    }
    #custom_user_menu > li{
        width: 35px;
    }

    #page-site-index .navbar .nav>li>a{padding: 20px 10px 10px !important;}
    #page-site-index .navbar .brand{padding-left: 30px !important;}
    #page-site-index .dropdown.langmenu{display:none;}

    .smallMenu{display: none !important; top: -6000000000px !important;}


    .pagelayout-course #page-content, #page-course-view-oklass_grid #page-content{padding-left: 0 !important;}   
    .pagelayout-course #page-content, #page-course-view-oklass_grid #page-content, .pagelayout-incourse #page-content, .pagelayout-admin #page-content, .pagelayout-report #page-content{width: 100% !important;}
    .pagelayout-course #page-content, #page-course-view-oklass_grid #page-content{border:none !important;}

    .row-fluid .span2{ 
        width:100%;
        margin: 0px;
        border-top: 1px solid #d4d4d4;
    }
    #loginbtn {top: 110px !important; right: 0px !important;}

    .guestform {
        position: inherit !important;
        float: left;
        margin-left: 0;
        width: 100%; 
    }

    .guestform input{width: 100%; margin-left: 0;}


    .coursebox .content ul.teachers {
        position: absolute; 
        top: 30px; 
        left: 120px;
    }

    .custom-site-expo .row-fluid{padding: 50px 120px !important;}
    .custom-site-expo .row-fluid [class*="span"]{padding: 25px 0;}  

    #page-site-index .coursebox{width: 100% !important;}  
    #page-site-index  .frontpage-course-list-enrolled{padding: 0 30px 30px 30px !important;}

    /*   .carousel-inner .item{background-position: -610px 0px !important;}*/

    .coursebox .moreinfo{display: none;}
    .generaltable tbody>tr td{white-space: normal !important;}  
    #page-my-index .generaltable tbody>tr td{white-space: nowrap !important;}
    .generaltable tbody>tr td input:not(:last-child){margin-bottom: 5px;} 
    .coursebox>.info>h3.coursename{width: calc(100% - 170px) !important;}

    .front_list .list_style01, .front_list .list_style02{width: 46% !important; margin: 2% !important}
    .front_list .list_style01 img {
        height: 160px !important;
    }

    #homepageCarousel .notice{
        width: calc(40% - 10px) !important;
        left: 10px !important;
    }
    #homepageCarousel .main_login{width: calc(100% - 140px) !important;}
    #homepageCarousel .main_login .main_login_body .login_input{width: calc(100% - 120px) !important;}
    #homepageCarousel .main_login{width: calc(100% - 140px) !important;}


    .front_list .side-menu {
        margin: 0px 2% 20px 2%;
        width: 96%;
    }

    .table-search-option select[name="courseid"] {display: block;}

    .ui-dialog.ui-widget.ui-widget-content{width: 100% !important;}


    .format-oklass_mooc .detail-contents-area
    ,   .format-oklass_mooc .caption_wrap{
        width: calc(100% - 40px) !important;
        float: none !important;
        margin: 20px !important;
        padding: 0 !important;
    }
    .format-oklass_mooc .caption_wrap{
        height: 300px !important;
    }
    .block01, .block02, .block03{float: none !important;}
    .block02, .block03{margin-bottom: 30px;}
    #main_group .mblocks, .block02, .block03{width: 100% !important;}

    #main_group .mblocks, #main_group .notice{height: 390px !important;margin-bottom: 30px;}
    #main_group .mblocks .mblock {
        height: 130px !important;
        padding: 30px 0 !important;
    }
    #page-site-index div[role=main]{display: none;}
    #page-site-index.pagelayout-popup div[role=main]{display: block;}

    #footer .span11{
        max-width: 605px !important;
        margin: auto !important;
    }
    #footer .span11 li{
        width: 130px !important;
        padding: 0 10px;
        white-space: nowrap; 
        text-align: center;
        border-right: 1px solid #aaa;
        line-height: 20px !important;
    }
    #footer .span11 li:last-child{border: 0;}
    #footer .span11 p{text-align: center;}
    #footer .span1 select, #footer .logo-footer{display: none;}

    #footer .row-fluid {
        padding: 15px 20px !important;
        /*height: 80px !important;*/
    }
    #footer .row-fluid.bottomline{
        padding: 15px 0px !important;
        max-height: 70px !important;
    }

    #page-my-index #frontpage-course-list form input{margin-top: 10px !important;}
    #page-my-index #frontpage-course-list form input[name = searchvalue]{
        clear: both !important;
        width: 60% !important;
    }
    .board-detail-area .detail-title-area .detail-title{
        padding: 15px 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .board-detail-area .detail-date{
        letter-spacing: -0.6px;
        padding: 0 0 10px !important;
        font-size: 100%;
        width: auto !important;
        text-align: left;
        min-width: 0;
        display: inline-block;
    }
    #page-mod-jinotechboard-content .detail-viewinfo{
        font-size: 14px;
    }
    .board-detail-area .detail-contents{
        padding: 12px 10px;
        font-size: 14px;
    }
    .board-detail-area .detail-contents p{
        font-size: 14px;
    }
    .detail-attachment{margin-bottom: 20px;}
    .btn-area>.btns.h40{
        min-width: 60px !important;
    }
    .lang-en .btn-area>.btns.h40{
        min-width: 60px !important;
        padding: 0 6px;
        font-size: 13px;
        letter-spacing: -0.2px;
    }
    .lang-vi .btn-area>.btns.h40 {
        min-width: 60px !important;
        padding: 0 6px;
        font-size: 12px;
        letter-spacing: -0.2px;
    }
    .board-detail-area .detail-date .writer{
        display: block;
        border-bottom: 1px solid #ddd;
        padding: 0 10px 5px;
        word-break: keep-all;
        margin-bottom: 5px;
        text-align: center;
        line-height: 1.5;
        text-align: right;
    }
    .board-detail-area .detail-date .writer:last-child{
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .board-detail-area .reply-count{
        border-left: 0;
        padding-right: 0;
    }
    .board-detail-area .view-count{
        padding-right: 10px;
    }
    .c-list .thumb-list ul li{
        padding-right: 10px;
    }
    .c-list .thumb-list li .go{
        right: 10px;
    }
    #page-header .navbar{
        padding: 15px 0 10px;
    }
    /*팝업*/
    .moodle-dialogue-base .moodle-dialogue:not(.editor_atto_menu){
        width: 100% !important;
        left: 0 !important;
        top: 0 !important;
        min-width: 0 !important;
    }

    .center_block .floatL{display: none;}

    .main_img img {
        width: 250% !important;;
        margin-left: -60%;
    }




    #page-local-tbl_attendance-index form[name="form_setup"] .options .title{
        display: block;
        margin-bottom: 5px;
    }
    #page-local-tbl_attendance-index form[name="form_setup"] select{
        width: 100% !important;
    }
    form[name="form_setup"] .search-text {
        width: calc(100% - 80px) !important;
    }
    .manage-status-submit .perpage{
        width: auto !important;
    }
    .manage-status-submit .perpage select{
        width: 80px !important;
    }

    #page-local-okteam-overview .singleselect:nth-of-type(2) form > div, #page-group-overview .singleselect:nth-of-type(3) form>div {
        padding: 5px 20px 20px 20px;
        width: 100%;
    }
    #page-local-okteam-overview .singleselect:nth-of-type(1) form > div, #page-group-overview .singleselect:nth-of-type(2) form>div, #page-local-okteam-overview .singleselect:nth-of-type(2) form > div, #page-group-overview .singleselect:nth-of-type(3) form>div {
        width: 100% !important;
        box-sizing: border-box;
        padding: 10px 20px 5px 20px;
    }
    #page-group-overview .singleselect:nth-of-type(2) form>div{
        padding-left: 20px !important;
        margin-left: 0;
    }

    #page-local-board-write table.detail > tbody > tr > td{
        width: 100%;
        display: block;
    }

    .navbar .brand{
        margin-top: 8px;
        padding: 10px !important; 
    }
    .navbar .brand img{width: 150px;}
    .thread-style .thread-style-lists li .thread-content{
        padding-left: 5px;
    }
    #page-mod-jinotechboard-view .thread-style .thread-style-lists li .thread-content .thread-post-meta{
        text-align: left !important;
        clear: both;
        width: 100%;
    }
    .thread-style .thread-style-lists li .thread-content>span>img[alt=reply]{
        width: 12px;
        height: 12px;
        margin-top: -9px;
    }
    #page-mod-jinotechboard-view .table-top-area .table-top-left{
        width: calc(100% - 70px) !important;
        min-width: 0;
    }
    .board-style .board-style-thread, .board-style .board-style-list{
        width: 20px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        font-size:0;
    }
    #page-local-attendance-index .table-search-option input[name=search]{width: 96% !important;}
    #page-local-attendance-index .table-search-option select{width: 100% !important;}
    #page-local-attendance-index .table-search-option .options input{margin-left: 0;}

    .board-breadcrumbs .board-nav-prev a, .board-breadcrumbs .board-nav-next a{
        padding: 0;
        line-height: 20px;
        vertical-align: middle;
        margin: 0 0 1px 0;
    }

    .table-search-option
    , body[id *= page-course-report-statistic] .table-search-option
    , #searchcohortquery{
        padding: 20px 20px 20px;
        margin-bottom: 20px;
    }
    .path-admin .roleassigntable
    , .path-admin .roleassigntable tbody
    , .path-admin .roleassigntable tr{
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    .groupmanagementtable #existingcell
    , .groupmanagementtable #potentialcell
    , .groupmanagementtable #buttonscell
    , .path-admin .roleassigntable #existingcell, .path-admin .roleassigntable #potentialcell{
        display: block;
        width: 100%;
        border-left: 0;
        border-right: 0;
        box-sizing: border-box;
    }
    p.arrow_button{
        margin-top: 0;
        border-bottom: 1px solid #ddd;
    }
    #page-admin-roles-check #chooseuser{
        width: 100%;
    }
    #page-mod-quiz-edit .maxgrade{
        float: none;
        margin: 0;
    }
    #page-mod-quiz-edit ul.slots li.section li.activity .mod-indent-outer{
        padding-right: 5px;
    }
    #page-mod-quiz-edit .section .activity .actions{
        position: static;
        position: static;
        display: block;
        text-align: right;
    }

    #mod_okmedia_contents{
        width: 96%;
        left: 2% !important;
    }
    #page-enrol-users #filterform{
        padding: 20px;
    }
    #page-report-competency-index .pull-right.well{
        width: 100%;
        box-sizing: border-box;
        float: none;
    }
    .question_border{
        padding: 15px 15px 10px;
    }
    .question_border .inline {
        color: #606060;
        margin: 0 0 5px;
        width: 100%;
        display: inline-block;
    }
    #mooc_iframe body #wrap{
        padding: 15px;
    }
    .mform .fitem:not(.fitem_fcheckbox) .felement{
        width: 100%;
    }
    .mform .fitem.fitem_feditor{
        min-height: 302px;
    }
    .mform .fitem div.fitemtitle
    , .mform .fitem:not(.fitem_fcheckbox) .felement{
        display: block;
        width: 100%;
    }
    #fgroup_id_buttonar, #fgroup_id_updatebuttonar{
        padding: 0;
        width: 100% !important;
        display: block;
    }
    #fgroup_id_buttonar .felement.fgroup
    , #fgroup_id_updatebuttonar .felement.fgroup
    , #page-question-type-multichoice .mform #id_tagsheader + fieldset.hidden .felement{
        text-align: center;
    }
    #fgroup_id_buttonar+.fdescription.required{
        width: 100%;
        text-align: center;
    }
    .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd{
        height: calc(100% - 107px);
    }
    .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .choosercontainer
    , .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .choosercontainer #chooseform
    , .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .choosercontainer #chooserform
    , .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .choosercontainer .options
    , .jschooser .choosercontainer #chooseform .alloptions{  
        height: 100%;
    }
    .moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd .choosercontainer{
        /*position: relative;*/
    }
    .path-mod-assign [data-region="grading-navigation"] [data-region="user-info"]{
        text-align: center;
    }
    .path-mod-assign [data-region="grading-navigation"] [data-region="user-info"] h4{
        display: inline-block;
    }
    .path-mod-assign [data-region="grading-navigation"] [data-region="user-info"] h4 *{
        text-align: left;
        display: inline-block;
    }
    .path-mod-assign [data-region="grading-navigation-panel"], .path-mod-assign [data-region="grade-panel"]{
        margin: 0;
    }
    .mform .fitem div.fitemtitle label{
        margin-bottom: 0;
    }
    #page-report-participation-index .participationselectform div label{
        display: block;
        width: 100%;
        margin: 0 0 5px;
        line-height: 1;
    }
    #page-report-participation-index .participationselectform div select{
        width: 100%;
    }
    #fgroup_id_usersgrp .felement label{
        display: block;
        line-height: 1;
        margin-bottom: 5px;
        margin-top: 7px;
    }
    #fgroup_id_usersgrp .felement select{
        width: 100%;
    }
    #wrap .generalbox{
        padding: 0 !important;
    }
    .moodle-dialogue h3{
        font-size: 16px;
    }
    .moodle-dialogue-base .moodle-dialogue.filepicker{
        min-height: 0;
    }
    .moodle-dialogue-base .moodle-dialogue.filepicker, .moodle-dialogue-base .moodle-dialogue-wrap{
        height: 100% !important;
    }
    .moodle-dialogue-base .filepicker .moodle-dialogue-wrap .moodle-dialogue-bd {
        border: 1px solid #ddd;
        border-top: 0;
        position: absolute;
        left: 0px;
        right: 0px;
        background: #fff;
        height: auto;
        height: calc(100% - 62px);
        box-sizing: border-box;
        overflow: auto;
    }
    .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd{
        border-bottom: 1px solid #ddd;
    }
    #mooc_iframe .moodle-dialogue-base .filepicker .moodle-dialogue-wrap .moodle-dialogue-bd{
        height: auto;
    }
    .form-horizontal .controls{
        padding: 10px;
    }
    .form-horizontal .fp-formset .control-label{
        width: 125px;
        padding-top: 10px;
    }
    .fp-forminset .control-group .controls{
        margin-left: 125px;
    }
    .pagelayout-incourse div[role=main] h3, .pagelayout-report div[role=main] h3, .pagelayout-admin div[role=main] h3{
        font-size: 14px;
        padding-bottom: 10px;
    }
    .feedback_description p{font-size: 14px;}

    /*페이징*/
    body .board-breadcrumbs.board-breadcrumbs ul li a{width: auto;height: auto;margin: 3px;line-height: 25px;border: 0;font-size: 15px;}
    body .board-breadcrumbs.board-breadcrumbs ul li{margin: 1.5px !important;}
    body .board-breadcrumbs.board-breadcrumbs .board-nav-prev a, body .board-breadcrumbs.board-breadcrumbs .board-nav-next a {width: 27px;height: 27px;margin: 3px 0;}
    /*탭*/
    .nav.nav-tabs{
        margin-bottom: 15px;
    }
    .nav-tabs li{
        width: 100%;
        float: none;
    }
    .nav-tabs li a{
        width: 100%;
        border-left: 1px solid #ddd !important;
    }
    .search-area{padding: 15px 15px 10px;}
    .search-area>div>.tit:first-child, .search-area>.tit{width: 100%;margin-bottom: 3px;}
    .search-area input:not([type=checkbox]):not([type=radio]){width: 100%;margin: 0 0 5px !important;}
    .search-area .btns{width: 100%;margin-bottom: 5px;} 
    #page-local-lmsdata-learningstatus .search-area input[type=text].hasDatepicker{width: calc(50% - 8px);}
    #page-local-lmsdata-learningstatus .perpage2 + span .btns{display: none;}
    #page-question-edit .modulespecificbuttonscontainer select{display: block;margin-top: 10px;}

}

@media (max-width: 480px) {
    input[type="checkbox"], input[type="radio"]{
        border: 0;
    }
    .usermenu .moodle-actionmenu .toggle-display .userbutton .usertext{
        display:none;
    }
    .usermenu .moodle-actionmenu .toggle-display .userbutton .avatars{
        margin-right: 0;
    }
    header.navbar {
        padding: 0 5px 0 15px !important;
    }
    header .course_title{
        width: calc(100% - 196px) !important;
    }
    .navbar img.small-logo {
        max-width: 150px;
    }
    #custom_user_menu li:last-child .block::after
    , #custom_user_menu li:last-child .block::before{
        right: 60px;
    }
    #custom_user_menu li:nth-last-child(2) .block::after
    , #custom_user_menu li:nth-last-child(2) .block::before{
        right: 93px;
    }
    #custom_user_menu li:nth-last-child(3) .block::after
    , #custom_user_menu li:nth-last-child(3) .block::before{
        right: 130px;
    }
    #course_bg .user_img, .user_info .user_text .title{
        display: none;
    }
    .user_info .user_text .orange:before{
        content: "-";
        color: #4f5b61;
        display: inline-block;
        margin-right: 3px;
    }
    .user_info {
        width: 100% !important;
        margin: 35px 0 0 0;
    }
    .user_info .r_content{  
        padding-right: 0;
    }
    .user_info .user_text p .orange{
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 0;
        width: 100%;
    }
    /* Applying accesshide styles */
    .navbar .small-logo-container + .brand {
        position: absolute;
        left: -10000px;
        font-size: 1em;
        font-weight: normal;
    }
    .editing .course-content .section .activity{
        border-bottom: 0;
    }
    #page-course-view-lguplus.editing .course-content .section .activity{
        border: 0;
    }
    .coursebox .enrolmenticons{
        display: none;
    }
    .custom-site-expo .row-fluid {
        padding: 50px 60px !important;
        text-align: justify;
    }
    /*    .carousel-inner .item{background-position: -810px 0px !important;}*/
    .courses .coursesumnail{width: 100% !important;}  
    .front_list .list_style01 img {
        height: 100px !important;
    }
    .send_users{width: 100% !important;}
    .nav-tabs>li>a{
        border-left: 1px solid #ddd !important;
        border-top-width: 1px !important;
    } 
    .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus, .nav-tabs>.active>a{border: 1px solid #ddd !important;}
    .nav-tabs>li>a{
        height: 33px;
        line-height: 16px;
        font-size: 14px;
        border-radius: 0 !important;
    }
    .table-search-option input[type="text"]{width: calc(100% - 65px)}
    .lang-en .table-search-option input[type="text"]{width: calc(100% - 70px)}
    .lang-vi .table-search-option input[type="text"]{width: calc(100% - 86px)}
    .table-search-option select{width: 100%;margin-right: 0;margin-bottom: 5px;}

    #page-local-board-index .post-date {
        width: calc(100% - 45px);
        display: inline-block;
    }

    #page-local-board-index .post-viewinfo{margin-top: 0;}

    #homepageCarousel .main_login .main_login-header #language-choose select{max-width: 95px !important;}
    .c-list, .course-explain{
        padding: 15px 15px 10px;
    }
    .course-explain h3{
        margin-bottom: 5px;
    }
    body[id *= jinoboard-write] .fcontainer.clearfix select{
        margin-bottom: 5px;
    }
    /*팝업*/
    .jschooser .choosercontainer #chooseform .instruction{display: none !important;}  
    .jschooser .choosercontainer #chooseform .typesummary{
        width: 100%;
        height: auto;
        padding: 10px 10px 0;
        position: static;
        background: inherit;
        border-top: 1px solid #ddd;
        margin-top: 5px;
        font-size: 13px;
        color: #707070;
        line-height: 1.3;
    }
    .jschooser .choosercontainer #chooseform .typesummary p{
        font-size: inherit;
        color: inherit; 
        line-height: inherit;
    }
    .jschooser .choosercontainer #chooseform .alloptions{width: 100% !important;}
    .choosercontainer #chooseform .option:not(.moduletypetitle), .choosercontainer #chooseform .nonoption{width: 33.33% !important;}
    .moodle-dialogue-base .moodle-dialogue-fullscreen .moodle-dialogue-content{overflow:visible;}
    .choosercontainer #chooseform .submitbuttons {
        right: 0px !important;
        height: 50px !important;
        background: #fff !important;
        bottom: 0px !important;
        width: 100% !important;
        border: 2px solid #828282;
        border-top: 0;
        padding: 0px;
        box-sizing: border-box;
    }
    .moodle-dialogue-fullscreen .choosercontainer #chooseform .submitbuttons{
        position: fixed;
        border: 0;
        border-bottom: 1px solid #ddd !important;
    }
    .choosercontainer #chooseform .submitbuttons input{margin-top: 10px !important;}  
    .jschooser .choosercontainer #chooseform .alloptions{padding-bottom: 50px;}
    #page-login-index .box.footer img{display: none;}
    #page-local-attendance-index .table-search-option input[name=nullcnt]{
        width: auto;
    }

    .path-mod-forum .forumheaderlist .picture{
        display: table-cell;
    }
    .path-mod-forum .forumheaderlist .picture img{
        display: none;
    }
    .path-mod-forum .forumheaderlist td{
        white-space: nowrap !important;
    }

    .form-horizontal .fp-formset .controls{
        margin-left: 0;
    }
    .form-horizontal .fp-formset .control-label
    , .form-horizontal .control-label{
        width: 100%;
        box-sizing: border-box;
    }
    .fp-content-center .form-horizontal{
        padding: 15px;
        box-sizing: border-box;
    }
    .fp-select form{
        padding: 0;
        border: 0;
    }
    .fp-select .fp-hr{
        display: none;
    }
    .fp-forminset {
        max-width: none;
        padding: 0 10px;
        border-top: 0;
        padding: 0;
    }
    .form-horizontal .control-group{
        border: 1px solid #ddd;
        margin-bottom: 10px;
    }
    .fp-forminset .control-group label.control-label{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        color: #000;
        line-height: 30px;
        text-align: left;
        background: #f2f2f2;
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
    }
    .moodle-dialogue-base .moodle-dialogue-wrap{
        margin: 0;
    }
    .fp-select .fp-select-buttons{
        margin-top: 10px;
    }
    .file-picker .fp-content{
        height: auto;
    }
    .filemanager .fp-license select, .file-picker .fp-setlicense select{
        width: 100%;
    }
    .fp-content-center .fp-formset{
        max-width: none;
        padding: 0;
        border: 0;
        margin: 0;
    }
    .fp-forminset .control-group .controls{
        margin: 0;
    }
    .form-horizontal .fp-formset .control-label {
        width: 100%;
        background: #f2f2f2;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
    }
    .form-horizontal .fp-formset .controls {
        margin: 0;
        padding: 10px;
        clear: both;
    }
    .file-picker .form-horizontal + div.mdl-align{
        margin: 0;
        padding: 0px 0 20px;
    }
    body .pop_footer{
        height: 85px;
        background: #fff;
        padding: 10px;
    }
    body .pop_footer ul{
        float: none;
        display: block;
        margin-bottom: 0;
    }
    body .video_buttons{bottom: 85px;}
}
/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
