@charset "utf-8";
body{height: 100%;}
.col3 {
    float: left;
    width: 33.33%;
}
.col2 {
    float: left;
    width: 50%;
}
.scrolly {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#contents .button_style01.gray {
    background: #5c5c5c;
    padding: 0 10px;
}
.right_cont {
    margin: 0px 20px 0 0;
    overflow: hidden;
    float: right;
}
.tab_group.full {
    width: 100%;
}
.tab_group {
    float: left;
    width: calc(100% - 256px);
    border: 1px solid #d0d8e0;
    border-left: 0;
    box-sizing: border-box;
    background-color: #fff !important;
}
#contents .sub_contents.tab {
    border-top: 0;
}
#contents .sub_contents.full {
    width: 100%;
    padding: 0;
    position: relative;
}
#contents .sub_contents {
    float: left;
    width: calc(100% - 256px);
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #cecfd0;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
    padding: 22px 30px 0 30px;
    box-sizing: border-box;
}
#contents .course_con {
    display: none;
}
#contents .course_con.on {
    display: block;
}
.tab_group {
    float: left;
    width: calc(100% - 256px);
    border: 1px solid #d0d8e0;
    border-left: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
}
.tab_group.full {
    width: 100%;
}
#contents .tab_group .tab .my h3 {
    font-size: 16px;
    cursor: pointer;
}
#contents .tab .my {
    border: 1px solid #cecfd0;
    border-left: 0;
    height: 50px;
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    text-align: center;
    line-height: 50px;
    background-color: #fff !important;
}
#contents .tab .my.on {
    border-bottom: 0;
    border-color: #cecfd0;
    background-color: #f8f8f8 !important;
    
}
#contents .tab_group .tab .my {
    width: 140px;
    height: 48px;
    border-top: 0;
    margin-bottom: -1px;
    border-color: #d0d8e0;
    background-color: #f7f7f7;
}
#contents .tab .my:first-child {
    border-left: 1px solid #cecfd0;
}
#contents .course_con.on {
    display: block;
}
#contents .sub_contents.full {
    width: 100%;
    padding: 0;
    position: relative;
}
#contents .sub_contents.tab {
    border-top: 0;
}




/*팝업*/
#pop_wrap{
    border: 2px solid #828282;
    margin: 0;
    padding: 0;
    width: 800px;
    height: 640px;
    box-sizing: border-box;
}

#pop_wrap .pop_title{
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #828282;
}
.pop_title .popclose{
    float: right;
    cursor: pointer;
}
#pop_wrap.width1000{width: 1000px;}
#pop_wrap .pop_contents div > h3{
    text-indent: 10px;
    margin-bottom: 20px;
}
#pop_wrap .pop_contents .left{
    float: left;
    width: 55%;
    border-right: 1px solid #dfdfdf;
    padding: 15px;
    box-sizing: border-box;
}
#pop_wrap .pop_contents .right{
    float: left;
    padding: 15px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    width: 45%;
}
#contents {
    clear: both;
    /* width: 1080px; */
    margin: auto;
    height: calc(100% - 220px);
}

#pop_wrap #contents{
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}
#pop_wrap .sub_contents{
    height: 530px;
}

.right_cont{
    margin: 0px 20px 0 0;
    overflow: hidden;
}
#contents .right_cont input{
    display: inline-block;
    float: left;
    margin-left: 10px;
    vertical-align: middle;
}
#contents  .right_cont .search{
    height: 30px;
    width: 150px;
    margin-top: 7px;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    padding: 0 10px;
}
#contents  .right_cont .search::-webkit-input-placeholder{
     color: #1d1d1d;
}
#contents  .right_cont .ok{
    background-color: #fb5a28;
    color: #fff;
    width: 60px;
    height: 30px;
    margin-top: 7px;
    border: 0;
    cursor: pointer;
}
#contents  .right_cont .edit{
    background-color: #5c5c5c;
    color: #fff;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin-top: 7px;
    border: 0;
    cursor: pointer;
}



#pop_wrap .col3
, #pop_wrap .col2{
    border-right: 1px solid #d2d2d2;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}
#pop_wrap .col3:first-child{
    width: 30%;
}
#pop_wrap .col3:nth-child(2){
    width: 37%
}
#pop_wrap .col3.mycontent{
    width: 50% !important;
    border-right: 0;
}
#pop_wrap .col3.mycontent p{
    margin-bottom: 10px;
}
#pop_wrap .col3.mycontent input.edit{
    color: #fff !important;
    margin-bottom: 15px;
}
#pop_wrap .col2{
    width: 70%;
    border-right: none;
}
.my_cont{
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
}
.my_cont h3{
    margin-bottom: 5px;
}
.my_cont .ullist li{
    height: 30px;
    line-height: 30px;
    color: #1d1d1d;
    font-size: 12px;
}
.listbox{
    background-color: #f8f8f8;
}
.listbox>.header{
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 3px solid #7d7d84;
    
}
.listbox .header h3{
    float: left;
}
#contents .listbox .header .reload{
    float: right;
    margin-top: 4px;
    cursor: pointer;
    background:url("../reload.jpg") no-repeat;
    font-size: 12px;
    color: #1d1d1d;
    width: 93px;
    height: 27px;
    vertical-align: middle;
    text-align: center;
    border: 0;
    padding: 0;
    padding-right: 27px
    
}
.listbox .scrolly{
    height: calc(100% - 40px);
} 
.listbox .col_list{
    padding: 10px;
    border-bottom: 1px solid #d0d8e0;
    overflow: hidden
    
}
.listbox .col_list .info{
    float: left;
}
.listbox .col_list .info p 
, .listbox .col_list .info h3{
    color: #1d1d1d;
}
.listbox .col_list .info p{font-size: 12px;}
.listbox .col_list .info span{
    font-size: 12px;
    color: #1d1d1d;
}
.listbox .col_list .buttons{
    float: right;
}

.listbox .col_list .buttons p{
    height: 30px;
    width: 60px;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
}
.listbox .col_list .buttons p.ok{
    background-color: #fb5a28;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.listbox .col_list .buttons p.edit{
    border: 1px solid #c1c1c1;
    color: #1d1d1d;
    cursor: pointer;
    background-color: #fff;
}
#contents .sub_contents {
    float: left;
    width: calc(100% - 256px);
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #cecfd0;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
    padding: 22px 30px 0 30px;
    box-sizing: border-box;
}

#contents .mycontent input[type="submit"] {
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    right: 20px;
    color: #fff;
    border: 0;
}

#contents .mycontent input, #contents .mycontent select{
    border: 1px solid #d2d2d2;
    height: 30px;
    font-size: 12px;
    color: #1d1d1d;
}
#contents .mycontent .files{
    margin-bottom: 20px;
    text-align: right;
    color: #1d1d1d;
    font-size: 13px;
}
#contents .mycontent input[type=file]{
    width: 100%;
    height: 24px;
    margin-top: 5px;
    background-color: #fff;
    margin-bottom: 3px;
}
#contents .mycontent input[type=text]{
    display: inline-block;
    width: calc(100% - 104px);
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 0;
}
#contents .mycontent input[type=text]::-webkit-input-placeholder{
     color: #1d1d1d;
}
#contents .mycontent input[type=text]::input-placeholder{
     color: #1d1d1d;
}
#contents .mycontent label{
    color: #1d1d1d;
    margin-right: 10px;
    display: inline-block;
    width: 90px;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    vertical-align: middle;
}
#contents .mycontent input[type="submit"]{
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    right: 20px;
    color: #fff;
    border: 0;
}

#contents .mycontent label[for="popupwidth"]{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
#contents .mycontent #popupwidth 
, #contents .mycontent input[name="popupheight"]{
    width: 45%;
    display: inline-block;
}
#contents .mycontent #popupwidth{
    margin-right: 7px;
}
#contents .mycontent input[name="popupheight"]{
    margin-left: 7px;
}
.paging .pagination{
    margin-top: 10px;
    text-align: center;
}
.pagination .prev a
, .pagination .next a{
    border: 0 !important;
    color: #888;
    display: inline-block;
    width: 20px;
}