.l_content{float: left}
.r_content{float: right;}
a.under{text-decoration: underline;}
.none{display: none;}
.margin_tp10{margin-top: 10px !important;}
.margin_bt15{margin-bottom: 15px;}
.margin_bt50{margin-bottom: 50px !important;}
.margin_bt30{margin-bottom: 30px;}
.margin_l10{margin-left: 10px;}
.w80, input.w80{width: 80px;}
.w100{width: 100%}
.w50px{width: 50px}
.w100px{width: 100px}
.w150px{width: 150px}
.w200px{width: 200px;}
.w250px{width: 250px;}
.t-pink{color: #fa797e;}
.close{opacity: 1 !important;}
 



.no-data{
    text-align: center;
    color: #aaa;
    background: url(/theme/oklassedu/pix/images/icon_nodata.png) no-repeat top 30px center;
    background-size: 55px;
    padding: 100px 0;
    font-weight: 500;
}
.notifytiny{
    background: #f2dede;
    box-sizing: border-box;
    border: 1px solid #eed3d7;
    color: #c64a48;
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 14px;
    float: right;
    font-weight: normal;
    line-height: 1.2;
}
.pagelayout-login .notifytiny{
    margin-bottom: 10px;
    width: 100%;
}
.pagelayout-login .notifytiny .icon-pre{
    display: none;
}
.img_brd{
    border: 1px solid #eee;
    max-width: 100%;
    box-sizing: border-box;
}
.btn, #wrap .btn
, #wrap input.btn{
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    padding: 0 7px !important;
    box-sizing: border-box;
    text-align: center;
    text-shadow: none;
    line-height: 25px;
    height: 25px;
    min-width: 65px;
    font-size: 14px;
    background: #f2f2f2;
    border: 1px solid #d0d0d0;
    color: #707070;
}
#wrap a.btn{
    background: #acacac;
    color: #fff;
}
#wrap .brd_btn{
    display: inline-block;
    border: 1px solid #d9d9d9;
    padding: 8px 0 8px 0;
    min-width: 200px;
    text-align: center;
    color: #44b6af;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

#wrap .btn.tab_btn
, #wrap .btn.tab_btn:hover{
    height: 35px;
    border-radius: 0;
    width: 130px;
    padding: 0 10px;
    font-weight: bold;
    font-size: 14px !important;
    color: #fff;
    background: #333;

}
#wrap .btn.brd
, #wrap input.btn.brd{
    border: 1px solid #aaa;
    background: #fff;
    color: #4f5b61;
    line-height: normal;
}

#wrap .btn.gray
, #wrap input.btn.gray{
    background: #f2f2f2;
    border: 1px solid #d0d0d0;
    color: #707070;
    line-height: 24px;
}
.btn.black, #wrap .btn.black
, #wrap input.btn.black{
    background: #404040;
    color: #f7f7f7;
    border: 0;
    line-height: 26px; 
}
#wrap .btn.br
, #wrap input.btn.br{
    background: #fff;
    border: 1px solid #d0d0d0;
    color: #707070;
    line-height: 24px;
}
#wrap .btn.pink, .btn.pink{
    background: #fa797e;
    color: #fff;
    border: 0;
}
.btn.h30, #wrap .btn.h30{
    height: 30px;
    line-height: 30px;
}
#wrap .btn.big, #wrap input.btn.big, #popwrap .btn.big{
    min-width: 95px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px !important;
}
#wrap .btn.small{
    font-size: 12px;
    padding: 0 5px;
}
input.h35{ 
    height: 35px;
    box-sizing: border-box;
}
#wrap{
    width: 100%; 
    height: 100%;
    margin: 0 auto;
}
.group{
    max-width: 1095px;
    padding: 0 20px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
.group:after{
    content: "";
    display: block;
    clear: both;
}
#pageTop{
    cursor: pointer;
    background: #fff url("/theme/oklassedu/pix/images/icon_top.png") no-repeat top 12px center;
    background-size: 20px auto;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: center;
    padding-top: 35px;
    box-sizing: border-box;
    font-weight: bold;
    color: #444;
    display: none;
    z-index: 999999;
    line-height: normal;
    border: 1px solid #ccc;
    box-shadow: 3px 0 8px rgba(0,0,0,0.05);
    display: none !important;
}

/************************
        header
*************************/
header{
    float: left;
    width: 100%;
    background: #5c5c5c;
}
header .top{
    float: left;
    width: 100%;
    background: #5c5c5c;
    height: 28px;
    color: #fff;
    box-sizing: border-box;
    line-height: 28px;
    font-size: 13px;
}
header .top .r_content{
    font-size: 0;
}
header .top .home{
    padding: 0 15px;
    border-left: 1px solid #6c6c6c;
    border-right: 1px solid #6c6c6c;
    display: inline-block;
    font-size: 13px;
}
header .admin{
    padding: 0 15px;
    border-left: 1px solid #6c6c6c;
    border-right: 1px solid #6c6c6c;
    display: inline-block;
    font-size: 13px;
}
header .top .user-info{
    padding: 0 0 0 15px;
    display: inline-block;
    font-size: 13px;
}
header .top .user-info strong{
    font-weight: normal;
    color: #fcd762;
}

header .bottom{
    float: left;
    width: 100%;
    height: 73px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #eaeaea;
}
header .bottom .l_logo{
    float: left;
    width: 146px;
    height: 30px;
    margin-right: 38px;
    padding: 24px 0 14px;
}
header .bottom .l_logo img{
    height: 100%;
}
header .bottom nav{
    width: calc(100% - 420px);
    float: left;
    text-align: center;
}
header .bottom nav .gnb li{
    display: inline-block;
    padding: 25px 20px 14px 20px;
}
header .bottom nav .sub_menu ul li.m_menu{
    display: none;
}
header .bottom nav .gnb li a{
    display: inline-block;
    line-height: 1;
    box-sizing: border-box;
    font-size: 18px;
    color: #000;
    line-height: 30px;
}
header .bottom nav .gnb li:hover a
, header .bottom nav .gnb li.on a{
    color: #fa797e;
}
header .bottom nav .sub_menu{
    width: 100%;
    position: absolute;
    top: 73px;
    left: 0;
    background: #fff;
    display: none;
    border-bottom: 1px solid #dcdcdc;
    z-index: 99999999;
    text-align: center;
}
header .bottom nav.on .sub_menu{
    display: block !important;
}
header .bottom nav .sub_menu .group{
    padding: 15px 0 30px 0;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    width: auto;
    margin-left: -49px;
}
header .bottom nav .sub_menu ul{
    float: left;
    /*margin-right: 5px;*/
}
header .bottom nav .sub_menu ul li{
    padding: 7px 20px;
    box-sizing: border-box;
    font-weight: bold;
    color: #606060;
    font-size: 14px;
    white-space: nowrap;
}
header .bottom nav .sub_menu ul li:hover a{
    color: #fcd762;
}

header .bottom .r_content{
    float: right;
    padding: 22px 0 14px;
}
header .bottom .r_content .all_search{
    float: left;
    position: relative;
    padding-right: 37px;
    width: 183px;
    height: 30px;
    margin-right: 20px;
    box-sizing: border-box;
    border: 1px solid #fff;
    transition: all 0.3s ease-in-out;
    /*width: 0;*/
}
header .bottom .r_content .all_search.on{
    border-color: #d0d0d0;
    /*width: 183px;*/
}
header .bottom .r_content .all_search input[type=text]{
    display: none;
    border: 0;    
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 0 0 10px;
}
header .bottom .r_content .all_search.on input[type=text]{
    display: block;
}
header .bottom .r_content .all_search input[type=text]:focus{
    outline: none;
    box-shadow: none;
}
header .bottom .r_content .all_search .search_btn{
    padding: 6px 9px;
    font-size: 0;
    background: url("/theme/oklassedu/pix/images/icon_search.png") no-repeat center !important;
    background-size: 19px 19px !important;
    width: 37px;
    height: 31px;
    border: 0;
    position: absolute;
    right: 0;
    top: -1px;
    cursor: pointer;
    box-shadow: none;
}
header .bottom .r_content .all_search .search_btn:focus{
    outline: 0;
    box-shadow: none;
}
header .bottom .r_content .all_menu{
    font-size: 0;
    background: url("/theme/oklassedu/pix/images/icon_menu.png") no-repeat center;
    background-size: 29px 21px;
    width: 30px;
    height: 30px;
    display: block;
    float: left;
}

header .bottom nav.on + .r_content .all_menu{
    background: url("/theme/oklassedu/pix/images/icon_menu_close.png") no-repeat center;
}
#header_bg{
    clear: both;
    background: #f6f6f6 url("/theme/oklassedu/pix/images/img_sub.png") no-repeat;
    background-position: top center;
    width: 1300px;
    height: 170px;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    background-size: cover;
}
#header_bg .group > div{
    font-size: 28px;
    color: #505050;
    padding-top: 70px;
    margin-bottom: 5px;
    display: none;
}
#header_bg .group > div br{
    display:  none;
}
#header_bg .group > p{
    color: #707070;
    font-size: 14px;
    text-indent: 15px;
    display: none;
}
#pagenav{
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 20px 0 30px;
    font-size: 14px;
    color: #666;
    line-height: 15px;
}
#pagenav > ul{
    font-size: 0;
}
#pagenav > ul > li{
    display: inline-block;
    position: relative;
}
#pagenav > ul > li:not(:last-child):after{
    display: inline-block;
    content: url("/theme/oklassedu/pix/images/icon_nav.png");
    vertical-align: middle;
    margin: 0 20px -5px;
}
#pagenav > ul > li .arrow{
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background: url("/theme/oklassedu/pix/images/icon_down.png") no-repeat center;
    vertical-align: middle;
    margin-left: 2px;
}
#pagenav > ul > li.on .arrow{
    transform: rotate(180deg);
}
#pagenav > ul > li.home a{
    display: inline-block;
    font-size: 0;
    background: url("/theme/oklassedu/pix/images/icon_home.png") no-repeat;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
#pagenav > ul > li > a{
    color: #707070;
}
#pagenav > ul > li:last-child > a{
    color: #404040;
}
#pagenav > ul > li ul{
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px 15px 8px;
    min-width: 120px;
    right: 51px;
    top: 23px;
    display: none;
    z-index: 1;
}
#pagenav > ul > li:last-child ul{
    right: 0;
}
#pagenav > ul > li.on ul{
    display: block;
    z-index: 2;
}
#pagenav > ul > li ul > li{
    text-align: left;
}
#pagenav > ul > li ul > li a{
    padding-bottom: 7px;
    display: inline-block;
    color: #707070;
    font-size: 13px;
}

/***************************
        login
****************************/
#page-login-forgot_password{
    padding: 0;
}
#page-login-forgot_password #wrap.login
, #page-login-index #wrap.login{
    height: 99vh;
}
#page-login-forgot_password .box.generalbox.boxaligncenter.boxwidthnormal{
    letter-spacing: -0.5px;
}
#page-login-forgot_password .mform .fitem{
    display: block;
}
#page-login-forgot_password .mform .fitem#fgroup_id_buttonar{
    width: 100% !important;
    margin-top: -10px;
}
#page-login-forgot_password .mform .fitem#fgroup_id_buttonar .felement{
    text-align: center;
}
#page-login-forgot_password .mform .fitem#fgroup_id_buttonar #id_submitbutton
, #page-login-forgot_password .mform .fitem#fgroup_id_buttonar input[name=cancel]{
    width: 49%;
    height: 35px;
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
    min-width: 60px;
}
#page-login-forgot_password .mform .fitem#fgroup_id_buttonar #id_submitbutton{
    background: #fa797e !important;
}
#page-login-forgot_password .mform .fitem#fgroup_id_buttonar+.fdescription.required{
    width: 100%;
    text-align: center;
}
#page-login-mobilelogin #page
, #page-login-mobilelogin #page-content
, #page-login-mobilelogin div[role=main]{
    height: 100%;
    margin-bottom: 0;
}
#wrap.login{
    background: linear-gradient(#e5e5e5, #f8f8f8);
    height: 100%;
    height: 100vh;
    min-height: 510px;
    width: 100%;
    padding-top: 9%;
    box-sizing: border-box;
    border-top: 3px solid #d4356b;
    padding-bottom: 75px;
    position: relative;
}
#page-login-forgot_password #wrap.login{
    padding-top: 5%;
}
#wrap.login .center_cont{
    width: 95%;
    max-width: 320px;
    margin: 0 auto 0;
}
#wrap.login .center_cont .logo{
    width: 70px;
    display: block;
    margin: 0 auto 30px;
}
#wrap.login .center_cont input[type=text]
, #wrap.login .center_cont input[type=password]{
    height: 45px;
    margin-bottom: 15px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    line-height: 27px;
    font-size: 16px;
    width: 100%;
    padding: 10px 20px;
}
#wrap.login .center_cont input[type=submit]{
    height: 60px;
    background: #292b2f !important;
    line-height: 60px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0 0 11px;
    display: block;
    border: 0;
    width: 100%;
    padding: 0;
}
#wrap.login .center_cont .find{
    font-size: 14px;
    color: #707070;
    display: block;
    text-align: center;
    margin-bottom: 23px;
}
#wrap.login .center_cont .google{
    display: block;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    text-align: center;
    color: #606060;
    font-size: 18px;
    background: #fff url("/theme/oklassedu/pix/images/google.png") no-repeat left 20px center;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.35);
}
#wrap.login .policy{
    margin-top: 20px;
    display: block;
    text-align: center;
    color: #707070;
}
.login_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    border-top: 1px solid #f0f0f0;
    background: #fff;
    text-align: center;
    padding: 23px 0;
}
.login_footer ul{
    font-size: 0;
    margin-bottom: 10px;
    line-height: 1;
}
.login_footer ul li{
    display: inline-block;
    color: #707070;
    font-size: 12px;
    padding: 0 5px;
    line-height: 1;
}
/*.login_footer ul li:first-child{
    border-right: 1px solid #ddd;
}*/
.login_footer p{
    font-size: 11px;
    color: #d0d0d0;
} 
#wrap.login.white{
    background: #fff;
    min-height: 730px;
}
#wrap.login.white .center_cont{
    max-width: 374px;
}
#wrap.login.white .find_txt
, #wrap .generalbox{
    font-size: 12px;
    color: #707070;
    margin-bottom: 8px;
    text-align: left;
    width: 100%;
}
#wrap .generalbox:before{
    content: "※";
    vertical-align: middle;
    margin-right: 3px;
    display: inline-block;
}
#wrap.login .findbox
, #wrap.login .fcontainer.clearfix{
    border-radius: 10px;
    padding: 14px 27px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
}
#wrap.login #id_searchbyemail .clearfix{
    background: #f7f5f0;
}
#wrap.login .findbox h6
, #wrap.login .fitemtitle{
    font-size: 16px;
    color: #404040;
    margin-bottom: 5px;
    line-height: 27px;
    width: 100%;
    font-weight: bold;
    padding: 0;
}
#wrap.login .fitemtitle label{
    font: inherit;
    color: inherit;
}
#wrap.login .findbox h6 .tlabel{
    background: #f2dede;
    height: 26px;
    box-sizing: border-box;
    border: 1px solid #eed3d7;
    line-height: 26px;
    color: #c64a48;
    padding: 0 5px;
    border-radius: 3px;
    font-size: 14px;
    float: right;
    font-weight: normal;
}
#wrap.login .findbox input[type=submit]
, #wrap.login .fcontainer.clearfix input[type=submit]{
    height: 45px;
    line-height: 47px;
    font-size: 16px;
}
#wrap.login .findbox.color{
    background: #f7f5f0;
}
#wrap .form-item, .mform .fitem{
    margin: 5px 0;
}
#wrap.login legend{
    display: none;
}
#wrap.login .felement{
    width: 100%;
    margin-left: 0;
    display: block;
    padding: 0;
}
#wrap.login fieldset{
    margin-bottom: 0 !important;
}
.scrollbox{
    border: 1px solid #ddd;
    margin-top: 20px;
    background: #fff;
    height: 200px;
    overflow: auto;
}
.scrollbox .policy_box{
    padding: 10px;
}
.scrollbox  .policy_box h1{
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 21px;
    font-weight: 600;
}
.scrollbox .policy_box h2 {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1;
}
.scrollbox .policy_box p
, .scrollbox .policy_box li{
    font-size: 13px;
}
/****************************
        Footer   
*****************************/
#footer{
    float: left;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding: 0;
}
#footer .top{
    background: #fafafd;
    padding: 6px 0;
    border-bottom: 1px solid #e0e0e0;
}
#footer .top ul{
    font-size: 0;
}
#footer .top ul li{
    margin-top: 7px;
    color: #404040;
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px solid #c8c8c8;
    height: 11px;
    line-height: 12px;
    display: inline-block;
}  
#footer .top ul li:last-child{
    border: 0;
    padding-right: 0;
}
#footer .top select{
    width: 155px;
    height: 27px;
    box-sizing: border-box;
    border: 1px solid #cfcfcf;
    color: #525252; 
    font-size: 12px;
    float: right;
    padding: 5px;
    line-height: 234px;
    margin: 0;
}
#footer > .group{
    padding: 40px 20px;
}
#footer .logo{
    float: left;
    margin-right: 60px;
    width: 60px
}
#footer .logo img{
    width: 100%;
    height: auto;
}
#footer .info{
    float: left;
    width: auto;
}
#footer p{
    margin-bottom: 5px;
    color: #414141;
    font-size: 12px;
}
#footer p.copy{
    color: #8e8e8e;
    font-size: 11px;
    margin-top: 12px;
}
#footer p a
, #footer li a{
    color: inherit;
    font-weight inherit;
}
.footer100 .group{
    width: 100%;
    padding: 0 20px;
    max-width: none;
}
/***************************
        tap
****************************/
#tab{
    clear: both;
    margin: auto;
    padding: 30px 0px;
    overflow: hidden;
    box-sizing: border-box;
}
.tab_header{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    box-sizing: border-box;
}
.tab_header span{
    display: inline-block;
    min-width: 140px;
    height: 41px;
    line-height: 21px;
    box-sizing: border-box;
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-left: 0;
    padding: 10px 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    float: left;
    font-weight: bold;
    margin-bottom: -1px;

}
.tab_header span.on{
    background: #fff;
    border-bottom: 0;
    color: #fa797e;
}
.tab_contents{
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    padding: 20px 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.tab_contents.nobrd{
    border: 0;
    padding: 20px 15px;
}
.tab_contents > div{display: none;}
.tab_contents > div.on{display: block;}
.tab_contents .thumb-list{
    margin-bottom: 0;
}
/****************************
        contents    
*****************************/
#contents{
    float: left;
    width: 100%;
    padding: 0 0 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
#contents > .group{
    position: relative;
    padding-left: 275px;
}
/** lnb **/
#lnb{
    width: 230px;
    margin-right: 25px;
    float: left;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 0;
    height: 100%;
}
#lnb h5{
    height: 105px;
    line-height: 105px;
    background: #a59379;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}
#lnb ul{
    width: 100%;
}
#lnb ul li{
    color: #202020;
    font-size: 16px;
    border-bottom: 1px solid #e7e7e7;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
}
#lnb ul li a{
    box-sizing: border-box;
    padding: 20px 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    line-height: 1;
}
#lnb ul li.on
, #lnb ul li:hover{
    color: #fa797e;
}
#lnb li.depth3 {
    padding-left: 17px;
    position: relative;
}

#lnb li.depth3 a:before{
    content: "-";
    font-size: 20px;
    float: left;
    position: absolute;
    left: 20px;
    top: 17px;
}

#lnb .m_menu{
    display: none;
}
/** paging **/
body .board-breadcrumbs {
    margin: 0 auto 20px auto;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 0;
}
body .board-breadcrumbs .board-nav-prev a
, body .board-breadcrumbs .board-nav-next a {
    display: inline-block;
    border: 1px solid #ccc;
    color: #888;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 2px 0;
    font-size: 0;
}
body .board-breadcrumbs .board-nav-prev a{
    background: url(/theme/oklassedu/pix/images/icon_pg_prev.png) no-repeat center;
}
body .board-breadcrumbs .board-nav-next a{
    background: url(/theme/oklassedu/pix/images/icon_pg_next.png) no-repeat center;
}
body .board-breadcrumbs ul {
    list-style: none;
    float: none;
    display: inline-block;
    position: relative;
    margin: 0;
    vertical-align: middle;
    font-size: 0;
}
body .board-breadcrumbs ul li{
    display: inline-block;
    margin: 0 !important;
}
body .board-breadcrumbs ul li a{
    display: block;
    border: 1px solid #ccc;
    color: #888;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    padding: 0;
    margin: 1.5px;
}
body .board-breadcrumbs .board-nav-prev:hover a
, body .board-breadcrumbs .board-nav-next:hover a
, body .board-breadcrumbs ul li:hover a{
    border-color: #5c5c5c;
    color: #5c5c5c;
    position: relative;
    z-index: 1;
}
body .board-breadcrumbs ul li.current a{
    color: #000 !important;
    border-color: #666;
    background: #fff;
}
/** thumbnail **/
.thumb-list{
    margin-bottom: 30px;
}
.thumb-list ul{
    margin-right: -18px;
}
.thumb-list ul:after{
    content: "";
    display: block;
    clear: both;
}
.thumb-list ul li{
    width: 25%;
    box-sizing: border-box;
    padding-right: 18px;
    float: left;
    margin-bottom: 18px;
    position: relative;
    cursor: pointer;
}
.thumb-list ul li:after{
    content: "";
    display: block;
    transition: all 0.2s;
    position: absolute;
    left: 0;
    right: 18px;
    top: 0;
    bottom: 0;
    z-index: 0;
}
.thumb-list ul li:not(.no-data):hover:after{
    /*    background: #000;
        background: #a59379;*/
    background: #9c978e;
    opacity: 0.6;    
}
.count-tit{
    font-size: 16px;
    color: #fa797e;
}
#contents .thumb-list ul li{
    width: 33.33%;
}
#contents .thumb-list ul li .thread-empty{
    margin-bottom: -33px;
}
.thumb-list ul li .t-img{
    width: 100%;
    background: #ddd;
    height: auto;
    position: relative;
    padding-top: 60%;
    box-shadow: 5px 0px 8px rgba(0,0,0,0.05);
    overflow: hidden;
}
.thumb-list ul li .t-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transition: all 0.3s ease-in-out;
}
.thumb-list ul li .t-img img.activityicon{
    width: 44px;
    height: 44px;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
    z-index: 1;
    border-radius: 100px;
}
.thumb-list ul li:hover .t-img img{
    /*transform: scale(1.1);*/
}
.thumb-list ul li .t-img .t-time{
    font-size: 11px;
    color: #fff; 
    min-width: 38px;
    height: 17px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(31,32,36,0.8);
    padding: 0 4px;
}
.thumb-list ul li .t-img .t-play{
    cursor: pointer;
    font-size: 0;
    width: 63px;
    height: 63px;
    background: url("/theme/oklassedu/pix/images/icon_play.png") no-repeat center;
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
}
.thumb-list ul li .t-txt{
    padding: 15px 20px;
    background: #fff;
    box-shadow: 5px 3px 8px rgba(0,0,0,0.05);
}
.thumb-list ul li .t-txt h4{
    line-height: 18px;
    font-size: 16px;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*transition: all 0.3s;*/
}
.thumb-list ul li .t-txt p{
    font-size: 13px;
    color: #707070;
    margin-bottom: 5px;
    line-height: 1;
    /*transition: all 0.3s;*/
}
.thumb-list ul li .t-txt p.cectionper{
    margin-bottom: 0;
    color: #fa797e;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -1px;
}
.thumb-list ul li .t-txt p.cectionper + p{
    display: inline-block;
    margin-left: 4px;
    padding-left: 4px;
    margin-bottom: 0;
    border-left: 1px solid #ccc;
    vertical-align: middle;
    letter-spacing: -1px;
}
.thumb-list ul li .t-txt p.num{
    position: absolute;
    right: 25px;
    bottom: 2px;
    color: #999;
    font-size: 12px;
}
.thumb-list ul li:hover .t-txt p.num{
    color: #ddd;
    z-index: 1;
}
.thumb-list ul li .t-txt p.cate{ 
    font-size: 13px;
    color: #999;
    font-weight: normal;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.thumb-list ul li .t-txt p.cate span:not(:last-child):after{
    content: "";
    display: inline-block;
    background: url(/theme/oklassedu/pix/images/icon_nav.png) no-repeat center;
    width: 10px;
    height: 10px;
    background-size: contain;
    vertical-align: middle;
    margin: -2px -3px 0 2px;
}
.thumb-list ul li:hover .t-txt p.cate span:not(:last-child):after{
    background-image: url(/theme/oklassedu/pix/images/icon_nav_w.png);
}
.thumb-list ul li:hover .t-txt p.cectionper + p{
    border-color: #fff;
}
.thumb-list ul li:hover .t-txt h4{
    position: relative;
    z-index: 1;
    color: #fff;
}
.thumb-list ul li:hover .t-txt p:not(.num){
    position: relative;
    z-index: 1;
    color: #fff;
}
/** content **/
#content{
    float: right;
    min-height: 600px;
    width: 100%;
}
.box_title{
    font-size: 22px;
    padding: 15px 20px;
    color: #fa797e;
    font-weight: 600;
    height: 50px;
    line-height: 1;
    box-sizing: border-box;
    box-shadow: 5px 3px 8px rgba(0,0,0,0.1);
    display: block;
    background: #fff;
    margin-bottom: 20px;
    position: relative;
}
.main_gray_box .box_title:before{
    /*    content: "";
        display: inline-block;
        vertical-align: text-top;
        width: 3px;
        height: 19px;
        background: #a59379;
        margin-top: 1px;*/
}
.box_title .more{
    font-size: 14px;
    color: #707070;
    right: 20px;
    position: absolute;
    top: 18px;
    background: url("/theme/oklassedu/pix/images/icon_more.png") no-repeat right center;
    padding-right: 30px;
}
#contents .box_title{
    border: 0;
    box-shadow: none;
    padding: 13px 0;
    color: #404040;
    height: auto;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
}
#contents .box_title .more{
    right: 5px;
    top: 13px;
}
.thumb-list .no-data{
    padding: 100px 0 35px;
    box-sizing: border-box;
    margin-right: 18px;
    width: auto;
    background-color: #f6f6f6;
}
#content .thumb-list li.no-data, .thread-style .thread-style-lists li.no-data{
    width: auto !important;
    padding: 100px 0 35px;
    background-color: #f6f6f6;
    margin: 0;
    display: block;
    float: none;
}
#content .thumb-list li.no-data{
    margin-right: 18px;
}
.thread-style .thread-style-lists li.no-data{
    margin: 10px 0 -1px;
}
.box_contents{
    padding: 20px 20px 0px;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
}
.box_contents .div_title{
    font-size: 16px;
    font-weight: 600;
    color: #707070;
}
.box_contents .div_title:before{
    content: "";
    display: inline-block;
    vertical-align: text-top;
    width: 4px;
    height: 4px;
    background: #707070;
    margin-right: 5px;
    margin-top: 7px;
}
.page_title{
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1;
}
.page_title.hasbtn{
    overflow: hidden;
    line-height: 30px;
}
.page_title .btn.f-r{
    float: right;
}
.path-local-course_application .page_title{
    line-height: 30px;
    overflow: hidden;
}
.sub_title{
    margin: 0 0 30px;
    width: 100%;
    display: block;
    font-size: 17px;
    color: #404040;
}
.search_option{
    padding: 30px 100px 20px 30px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    border-radius: 20px 0;
    position: relative;
    min-height: 40px;
    line-height: 35px;
}
.search_option:after {
    content: "";
    position: absolute;
    display: block;
    width: 55px;
    height: 55px;
    background: url(/theme/oklassedu/pix/images/search02.png) no-repeat;
    background-size: 55px;
    right: 30px;
    top: 17px;
}
.search_option.noimg{
    padding: 30px 20px;
}

.search_option.noimg:after{
    background: none;
}
.search_option input.btn{
    margin-bottom: 0 !important;
}
.search_option input
, .search_option select{
    border: 1px solid #dcdcdc;
    height: 30px;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 3px 5px;
}
.search_option input + input
, .search_option select + input{
    margin-left: 7px;
}
.search_option input.search{
    width: 30%;
    min-width: 200px;
}
.search_option input.btn.h30{
    min-height: 30px;
}
.search_option input.btn.gray{
    background: #4f5b61
}

.search_option .title{
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}
.month_term{
    margin-right: 10px;
}
.month_term .btn{
    margin: 0;
    border: 1px solid #ccc !important;
    background: #fff;
    margin-right: -3.9px;
    border-radius: 0;
    border-left: 0 !important;
}
.month_term .btn:first-child{
    border-left: 1px solid #ccc !important;
}
.month_term .btn:hover
, .month_term .btn.on{
    background: #f2f2f2;
    color: #333;
}
input.sDate, input.eDate{
    padding-right: 30px;
    box-sizing: border-box;
    background-image: url("/theme/oklassedu/pix/images/date.png");
    background-repeat: no-repeat;
    background-position: right center;
    max-width: 120px;
}
/** datepicker **/
.ui-datepicker{
    border: 1px solid #ddd;
    padding: 0;
}
/** datepicker **/
.textbox{
    clear: both;
    background: url("/theme/oklassedu/pix/images/icon_title.png") no-repeat left 24px center;
    min-height: 85px;
    padding-left: 146px;
    padding-top: 15px;
    margin-bottom: 30px;
}
.textbox > div{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}
.textbox > p{
    font-size: 14px;
    color: #707070;
    line-height: 20px;
    margin-bottom: 0;
}

.whitebox{
    display: inline-block;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 10px;
    box-sizing: border-box;
}
.colorbox span.whitebox:nth-of-type(1){
    width: 69%;
}
.colorbox span.whitebox:nth-of-type(2){
    width: 29%;
    margin-left: 1%;
}
.margin20{
    margin-left: 20px;
}
.logo_area{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.logo_area img{
    max-height: 60px;
}
div.text{
    margin-bottom: 30px;
    width: 100%;
    line-height: 23px;
}
.table + div.text{
    margin-top: -10px;
}
.filebox{
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
}
.filebox input[type=file]{
    border: 1px solid #ddd;
    vertical-align: middle;
}
.filebox a{
    vertical-align: middle;
}
.filebox input + input{
    margin-left: 10px;
}
.customfile{
    display: inline-block;
    margin-right: 5px;
}
.customfile .fileName {
    display: inline-block;
    height: 25px;
    width: 200px;
    padding-left: 10px;
    margin-right: 5px;
    line-height: 25px;
    border: 1px solid #ddd;
    background-color: #fff;
    vertical-align: middle;
    box-sizing: border-box;
}
.customfile .btn_file {
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    background: #acacac;
    color: #fff;
    min-width: 60px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
}
.customfile input[type="file"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

.textlist{
    width: 100%;
}
.textlist > *:first-child{
    padding-top: 0;
}
.textlist h5{
    clear: both;
    font-size: 17px;
    line-height: 20px;
    padding: 10px 0 10px 0;
    color: #505050;
}
.textlist h5:before{
    content: "";
    vertical-align: text-top;
    font-size: 0;
    display: inline-block;
    width: 3px;
    height: 16px;
    background: #a59379;
    margin-right: 5px;
    margin-top: 0px;
    border-radius: 4px;
}
.colorbox + .textlist > h5:first-child {
    padding-top: 0;
}
.textlist div:not(.colorbox){
    line-height: 20px;
    margin-bottom: 20px;
}
.textlist p{
    clear: both;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
    color: #707070;
    padding-left: 8px;
}
.textlist dl{
    box-sizing: border-box;
    padding: 0 0 0 0;
    margin-bottom: 30px;
}
.textlist dd{
    line-height: 24px;
}
.textlist ul li{
    padding-bottom: 7px;
    padding-left: 8px;
    color: #707070;
}

.teacherbox{
    width: 100%;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.teacherbox > li{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}
.teacherbox > li:last-child{
    border-bottom: 0;
}
.teacherbox > li li{
    line-height: 20px;
    position: relative;
    padding-left: 10px;
}
.teacherbox > li li:before{
    content: "-";
    position: absolute;
    left: 0;
    top: 0;
}
.teacherbox .l_content{
    width: 120px;
    box-sizing: border-box;
    padding-right: 20px;
}
.teacherbox .l_content img{
    width: 100px;
    height: auto;
    max-height: 110px;
    border: 1px solid #ddd;
}
.teacherbox .r_content{
    width: calc(100% - 120px);
}
.teacherbox .r_content .name{
    margin-bottom: 10px;
    font-size: 16px;
}
.pagenav{
    margin: 0 auto;
    text-align: center;
}
.pagenav span{
    border: 1px solid #ddd;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    display: inline-block;
    padding: 7px 0;
    font-size: 12px;
    margin-left: 3px;

}
.pagenav span.on{
    background: #4f5b61;
    color: #fff;
    font-weight: bold;
    border: 0;
}

.terms{
    width: 100%;
}
.terms h5{
    font-size: 13px;
    margin-bottom: 13px;
}
.terms h5.blue{
    padding-top: 20px;
}
.terms > ul{
    margin-bottom: 40px;
}
.terms  ul.indent{
    padding-left: 15px;
}
.terms li{
    font-size: 12px;
    line-height: 20px;
}
.terms li p{
    margin-bottom: 0;
    padding-left: 15px;
}
.terms p{
    font-size: 12px;
    line-height: 20px;
}
.terms > p{
    margin-bottom: 40px;
}
.terms.terms02 li
, .terms.terms02 p{
    font-size: 13px;
}
.terms > div
, .terms > div > p
, .terms > div > ul{
    clear: both;
    margin-bottom: 20px;
}
.terms div ul + h5{
    margin-top: 20px;
}
.terms > h5 + p + ul{
    margin-top: -25px;
}
ul.margin_bt_10 li{
    margin-bottom: 10px;
}
.terms ul.l_content{
    width: 50%;
}

div.img_area{
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.img_area img{
    margin-right: 20px;
}
.img_area h4{
    width: calc(100% - 172px);
    font-size: 16px;
    line-height: 25px;
    color: #6a6a6a;
}
.img_area .border_btm{
    font-size: 20px;
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 30px;
}

#map{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
#map .map_info{
    width: 670px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: left;
}
#map .map_info p{
    padding: 15px 0;
    font-size: 14px;
    font-weight: bold;
}
#map .map_info p strong{
    font-size: 18px;
    margin-right: 10px;
}
.border_btm{
    border-bottom: 1px solid #ddd;
}

/** pie chart **/
.pie{
    display: inline-block;
    width: 60px; 
    height: 60px; 
    position: relative; 
    border-radius: 60px; 
    background-color: rgb(192, 192, 192);
}
.pie:before{
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 12;
}
.slice01{
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 60px; 
    height: 60px; 
    border-radius: 60px; 
    clip: rect(0px 60px 60px 30px);
    transition: .3s;
}
.slice01 div{
    background-color: rgb(255, 128, 64); 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 60px; 
    height: 60px; 
    border-radius: 60px; 
    clip: rect(0px 30px 60px 0px); 
    transform: rotate(0deg);
}
.slice02{
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 60px; 
    height: 60px; 
    border-radius: 60px; 
    clip: rect(0px 60px 60px 30px); 
    transform: rotate(180deg);
}
.slice02 div{
    background-color: rgb(255, 128, 64); 
    position: absolute; 
    top: 0px; left: 0px; 
    width: 60px; 
    height: 60px; 
    border-radius: 60px; 
    clip: rect(0px 30px 60px 0px); 
    transform: rotate(0deg);
}
.pie .info{
    position: absolute;
    z-index: 14;
    top: 15px;
    left: 9px;
    line-height: 15px;
}
.pie .info p{
    font-size: 12px;
    margin-bottom: 0;
}
.pie .info p.cplt{
    font-size: 10px;
}

/** pie chart **/


.myschedule{
    width: calc(100% - 255px);
    min-height: 550px;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}
.myschedule .div_title{
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.linkblock{
    width: 235px;
    height: 425px;
    margin-left: 20px;
    border: 1px solid #eee;
    box-sizing: border-box;
}
.linkblock > h5{
    background: #f2f2f2;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 0 20px;
    box-sizing: border-box;
}
.linkblock ul li{
    height: 75px;
    border-bottom: 1px solid #eee;
    padding: 0px 20px;
    box-sizing: border-box;
}
.linkblock ul li img{
    float: left;
    height: 50px;
    margin-right: 15px;
    margin-top: 11px;
}
.linkblock ul li span{
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-top:25px;
}
.linkblock ul li:nth-child(4) span{
    margin-top: 15px;
}

.linkblock .info01{
    margin-top: 20px;
    min-height: 105px;
    height: auto;
    padding: 10px;
}
.linkblock .info01 h5{
    margin-bottom: 10px;
}

.input_group{
    display: inline-block;
    margin-left: 10px;
}
.input_group.full{
    display: block;
    margin: 10px 0 30px 0;

}
.input_group.margin{
    margin-bottom: 10px;
}
.input_group input[type=text]{
    height: 25px;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 0 5px;
    border: 1px solid #ddd;
}

.input_group input[type="radio"]
, .input_group input[type="checkbox"]{
    vertical-align: middle;
    margin: 0;
}
.input_group label{
    vertical-align: middle;
    font-size: 14px;
    margin-right: 10px;
    font-weight: normal;
    color: #333;
    cursor: pointer;
}
.input_group input:checked + label{
    font-weight: bold;
}
.input_group input + input{
    margin: 0 0 0 6px !important;
}
.table_btn{
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}


/**** full calendar ****/
.fc-today-button{
    display: none;
}
.fc-header-toolbar{
    position: relative;
}
.fc-toolbar > .fc-left{
    float: none !important;;
}
.fc-header-toolbar .fc-left h2{
    width: 100%;
}

.fc-prev-button{
    position: absolute !important;
    left: 0px;
    top: 0px;
    border: 1px solid #ddd !important;
    border-radius: 100% !important;
    background: #eee !important;
    width: 23px;
    min-width: 0 !important;
    height: 23px !important;
    padding: 0 !important;
    font-size: 13px !important;
    color: #333 !important;
}
.fc-next-button{
    position: absolute !important;
    right: 0px;
    top: 0px;
    border: 1px solid #ddd !important;
    border-radius: 100% !important;
    background: #eee !important;
    width: 23px;
    min-width: 0 !important;
    height: 23px !important;
    padding: 0 !important;
    font-size: 12px !important;
    color: #333 !important;
}
.fc-month td:first-child{
    color: red !important;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
    float: left !important;
    font-weight: bold;
}
.fc-day-grid-event .fc-content{
    text-overflow: ellipsis;
}
.fc .fc-day-header{
    padding: 3px 0;
}
.fc-sun{
    color: red;
}
.fc-sat{
    color: blue;
}

/** sitemap **/
#sitemap{
    width: 100%;
    border-top: 2px solid #333;
    float: left;
}
#sitemap .site_list{
    width: 100%;
    float: left;
    padding: 25px 10px;
    border-bottom: 1px solid #ddd;
}
#sitemap .site_list h2{
    font-size: 18px;
    color: #fa797e;
    float: left;
    width: 120px;
}
#sitemap .site_list > ul{
    float: left;
    width: calc(100% - 120px);
}
#sitemap .site_list > ul > li{
    float: left;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    background: url("/theme/oklassedu/pix/images/dot_6.gif") no-repeat;
    background-position: left 6px;
    padding-left: 10px;
    width: 20%;
    box-sizing: border-box;
}
#sitemap .site_list > ul > li > ul{
    margin-top: 15px;
    padding-left: 3px;
}
#sitemap .site_list > ul > li > ul li{
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 7px;
    color: #333;  
}
#sitemap .site_list > ul > li > ul li:before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #404040;
    vertical-align: middle;
    margin-right: 5px;
}
/** sitemap **/
.category_search{
    margin-bottom: 30px;
    position: relative;
}
.category_search .main_search{
    padding: 0;
    height: auto;
    border: 0;
}
.category_search .main_search > form{
    height: 55px;
    display: block;
    position: relative;
    padding-left: 80px;
    padding-right: 60px;
    box-sizing: border-box;
    border: 2px solid #ed1c24;
    box-sizing: border-box;
}
.category_search .main_search .m_sub_menu{
    top: 55px;
    z-index: 2;
    /*
        position: relative;
        top: 0;
        left: auto;
        right: auto;
        width: 100%;
    */
}
.outbox{
    padding: 50px 0;
    border: 1px solid #eee;
    background: #fafafa
}
#wrap .outbox .btn.big{
    height: 35px;
    line-height: 35px;
    font-size: 15px !important;
    min-width: 100px;
}
.reply_form{
    margin-bottom: 20px;
    font-size: 0;
}
.reply_form textarea{
    height: 50px;
    width: calc(100% - 100px);
    padding: 10px;
    box-sizing: border-box;
    color: #707070;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 0;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
}
#reply_update_forms.reply_form textarea
, #reply_update_forms.reply_form .btn{
    margin-top: 10px;
}
.reply_form .btn.reply{
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    vertical-align: middle;
    width: 90px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
    border: 1px solid #d0d0d0;
    background: #f2f2f2;
    color: #707070;
}
.reply_list{
    float: left;
    width: 100%;
    border-top: 2px solid #5c5c5c;
}
.reply_list > li{
    width: 100%;
    float: left;
    padding: 15px 10px 10px;
    border-bottom: 1px solid #d0d0d0;
    color: #505050;
    line-height: 20px;
    font-size: 14px;
    box-sizing: border-box;
    word-break: break-all;
}
.reply_list > li > P.r_info{
    color: #707070;
    font-size: 12px;
    margin-top: 5px;
    overflow: hidden;
    line-height: 22px;
}
.reply_list > li > P.r_info strong{
    border-right: 1px solid #d0d0d0;
    padding-right: 10px;
    margin-right:5px;
}
.reply_list > li > P.r_info .btn.del{
    font-size: 11px;
    background: #fff url(/theme/oklassedu/pix/images/icon_del.png) no-repeat left 5px center;
    background-size: 12px 12px;
    min-width: 0;
    padding: 0 8px 0 20px !important;
    height: 22px;
    line-height: 22px;
    margin-left: 3px;
    float: right;
}
.reply_list > li > P.r_info .btn.mod{
    font-size: 11px;
    background: #fff url(/theme/oklassedu/pix/images/icon_setting.png) no-repeat left 5px center;
    background-size: 12px 12px;
    min-width: 0;
    padding: 0 8px 0 20px !important;
    height: 22px;
    line-height: 22px;
    margin-left: 3px;
    float: right;
}
.link_txt{
    border: 1px solid #d0d0d0;
    padding: 20px 20px;
    text-align: left;
    margin-bottom: 20px;
    color: #404040;
    word-break: break-all;
}
.introduction_area h4{
    color: #202020;
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 38px;
    margin-top: 0;
    line-height: 1.2;
}
.introduction_area p{
    margin-bottom: 30px;
    color: #707070;
    line-height: 1.5;
}
.introduction_area .br_box{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 30px 20px 0;
    margin-bottom: 40px;
}
.introduction_area .br_box h6{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}
.introduction_area ul{
    margin-bottom: 30px;
}
.introduction_area ul li{
    font-size: 14px;
    color: #707070;
    margin-bottom: 5px;
    position: relative;
    padding-left: 13px;
}
.introduction_area ul li:before{
    content: "-";
    position: absolute;
    left: 0;
    top: 2px;
    line-height: 1;
}
#btnstar{
    margin-left: 10px;
}
.like_area{
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
    color: #707070;
    height: 20px;
    line-height: 20px;
}
.v_bottom_info .like_area{
    float: right;
}
.like_area .like_icon{
    font-size: 0;
    background: url("/theme/oklassedu/pix/images/icon_heart.png") no-repeat center;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-size: 20px 20px;
    vertical-align: middle;
    cursor: pointer;
}
.like_area.on .like_icon{
    background: url("/theme/oklassedu/pix/images/icon_heart_on.png") no-repeat center;
    background-size: 20px 20px;
}
.like_area strong{
    vertical-align: bottom;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
/** 메뉴설정 팝업 **/
.popwrap .colorbox{
    box-shadow: none;
}
.sortable-list{
    font-size: 0;
    position: relative;
    float: left;
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.sortable-list li{
    display: inline-block;
    margin-right: 15px;
    float: left;
    background: #fff;
    /*    top: 100px !important;*/
}
.sortable-list li label{
    text-align: center;
    border: 1px solid #ddd;
    position: relative;
    padding: 12px;
    vertical-align: top;
    text-align: center;
    min-width: 85px;
    min-height: 85px;
    cursor: pointer;
}
.sortable-list li label:hover{
    background: #f6f6f6;
}
.sortable-list li input[type=checkbox]{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.sortable-list li img{
    margin: 9px auto 0;
    display: block;
}
.sortable-list li span{
    font-size: 14px;
    font-weight: 600;
    color: #707070;
    display: block;
    text-align: center; 
    position: absolute;
    bottom: 13px;
    left: 0;
    width: 100%;
}
.pop_footer.text-center .btn{
    float: none !important;
    line-height: 30px;
    min-width: 60px;
}
.course_info_box{
    overflow: hidden;
}
.course_info_box > p.tit{
    text-align: center;
    color: #707070;
    margin-bottom: 15px;
}
.course_info_box{
    text-align: center;
    font-size: 0;
}
.course_info_box > h3{
    font-size: 25px;
    text-align: center;
    font-weight: 300;;
    margin-bottom: 20px;
}
.course_info_box > h3 strong{
    font-weight: 500;
}
.course_info_box .ci_bx{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 20px 0 20px 0;
    overflow: hidden;
}
.course_info_box .ci_bx ul{
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    background: url("/theme/oklassedu/pix/images/img_course_info.png") no-repeat left top;
    padding-left: 210px;
}
.course_info_box .ci_bx li{
    line-height: 22px;
    padding: 9px 0 10px;
    margin-bottom: 8px;
    height: 75px;
    box-sizing: border-box;
    text-align: left;
}
.course_info_box .ci_bx li p{
    color: #707070;
    font-size: 13px;
    margin-bottom: 5px;
}
.course_info_box .ci_bx li p:before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #666;
    vertical-align: text-top;
    margin-top: 5px;
    margin-right: 4px;
}
.course_info_box .ci_bx .box-txt{
    display: inline-block;
}
.course_info_box .ci_bx .box-txt p{
    float: left;
    margin-right: 10px;
}
.course_info_box .ci_bx .box-txt p > span{
    display: block;
    box-sizing: border-box;
    background: #f6f6f6;
    text-align: center;
    padding: 0 5px;
    color: #707070;
    border-radius: 5px; 
    font-size: 13px;
}
.course_info_box .ci_bx .box-txt p:first-child > span{
    height: 75px;
    margin-bottom: 10px; 
}
.course_info_box .ci_bx .box-txt p:nth-child(2) > span:first-child{
    height: 160px;
    margin-bottom: 10px; 
}
.course_info_box .ci_bx .box-txt p:nth-child(2) > span:nth-child(2){
    height: 75px;
}
.course_info_box .ci_bx .box-txt p:nth-child(3) > span
, .course_info_box .ci_bx .box-txt p:nth-child(4) > span
, .course_info_box .ci_bx .box-txt p:nth-child(5) > span{
    height: 245px;
}
.course_info_box .ci_bx .box-txt p > span:before{
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.course_info_box .ci_bx .box-txt p > span span{
    display: inline-block;
    vertical-align: middle;
}

.search-title{
    font-size: 20px;
    font-weight: normal;
    background: url("/theme/oklassedu/pix/images/icon_search.png") no-repeat left top;
    background-size: 20px auto;
    padding-left: 23px;
    margin: 0 0 35px; 
    overflow: hidden;
}
.search-title .num{
    font-size: 18px;
}
.search-title ul{ 
    float: right;
}
.search-title ul li{
    display: inline-block;
    color: #707070;
}
.search-title ul li:not(:last-child):after{
    content: "";
    display: inline-block;
    background: url(/theme/oklassedu/pix/images/icon_nav.png) no-repeat center;
    background-size: contain;
    vertical-align: middle;
    margin: -2px 5px 0px;
    width: 12px;
    height: 12px;
}
.result-area .thumb-list{
}
.div_title .num{
    font-size: 16px;
}
.div_title.nomg{
    margin-bottom: 0;
}
.result-area .thread-style .thread-style-lists{
    border-top: 0;  
}
/** 포인트 안내 **/
.point_txt h6{
    font-size: 17px;
    margin-bottom: 7px;
}
.point_txt h6.top_line{
    border-top: 1px dashed #ddd;
    margin-top: 16px;
    padding-top: 20px;
}
.point_txt .bx{
    border: 1px solid #ddd;
    padding: 10px 15px 0;
    box-sizing: border-box;
    background: #f9f9f9;
}
.point_txt p{
    color: #666;
    line-height: 1.3;
    margin-bottom: 20px;
}
.point_txt li strong{
    color: #000;
    font-weight: 500;
}
.point_txt p.t-pink{
    color: #fa797e;
}
.point_txt ul{
    margin-bottom: 18px;
}
.point_txt ul li{
    line-height: 1.5;
    margin-bottom: 5px; 
    color: #666;
    text-indent: -55px;
    margin-left: 55px;
}
/**개인정보 처리방침 **/
.policy_box{ padding: 20px; margin: 0 auto; line-height: 160%;}
.policy_box table {width: 100%; border: 1px solid #d0d0d0; border-top: 2px solid #a59379; margin-top: 5px; border-collapse:collapse; border-spacing:0;}
.policy_box thead tr th {background-color: #f2f2f2; font-size: 14px; font-weight: 600; color: #202020; border:1px solid #d0d0d0; line-height:40px; text-align: center;}
.policy_box td {border: 1px solid #e0e0e0; font-size: 14px; color: #606060; line-height: 120%; padding:10px 5px; text-align: center;}
.policy_box td a{color: #3C8EEF; text-decoration: none; line-height: 120%; padding:10px 5px; text-align: center;}

.policy_box h1{font-size: 26px; font-weight: 500; color: #333333; margin-bottom:20px;}
.policy_box h2{font-size: 18px; font-weight: 600; color: #333333; margin-top: 30px;}
.policy_box h3{font-size: 15px; font-weight: 600; color: #333333; margin-top: 20px;}
.policy_box p{font-size: 14px; font-weight: 500; color: #606060; margin: 10px 0; text-align: justify;}
.policy_box p.margin_bt30{margin-bottom: 30px;}
.policy_box ol, .policy_box ul{font-size: 14px; font-weight: 500; color: #333333; margin: 10px 0; padding-inline-start: 20px;}
.policy_box ol ul{padding-inline-start: 0px; color: #707070; margin-top: 5px;}
.policy_box ul ol{padding-inline-start: 0px; color: #707070; margin-top: 5px;}
.policy_box li{margin-top: 5px;}
.policy_box.type2 li strong{color: #555;}
.policy_box.type2 li li{color: #606060;}
/**************************
        table style
***************************/

.table-scroll{
    margin-bottom: 20px;
    width: 100%;
    overflow: auto;
}
.table-scroll table{
    margin-bottom: 0;
    min-width: 100%;
    table-layout: auto;
}

.table td.title{
    color: #202020;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-bold{
    font-weight: bold;
}
.
/**********************************
            Popup
***********************************/


#popbg, .popbg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background: #000;
    opacity: 0.7;
    display: none;
}
.videobg{
    position: absolute;
    top: 98px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999999999;
    background: #000;
    opacity: 0.7;
    display: none;
}
#poplayer, .poplayer{
    position: fixed;
    background: #fff;
    z-index: 999999999;
    display: none;
}
#popwrap, .popwrap{
    margin: 0;
    padding: 99px 0 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.footer_pop{
    padding-bottom: 50px;
}
.video_pop{
    height: 100%;;
}
#popwrap.noborder{
    border: 0;
}
#pop_title, .pop_title{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 43px;
    margin: 0;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #d0d0d0;
    line-height: 20px;
    color: #202020;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
#page-mod-okmedia-video_player{
    padding: 20px !important;
}
 #mod_okmedia_contents .pop_title{
    line-height: 45px;
    padding: 0 15px;
    box-sizing: border-box;
}
.pop_title .c-nm{
    background: #485cc7;
    padding: 15px 40px 15px 10px;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
}
.pop_title .c-nm br{
    display: none;
}
.pop_title .r_content.close{

}
.pop_title.hasstar{
    padding-right: 150px;
}
.pop_title .line{
    display: block;
}
.pop_title .line:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-left: 5px solid #e84f25;
    height: 15px;
    margin-right: 5px;
}
.pop_title .pop_menu{
    cursor: pointer;
    display: block;
    float: left;
    background: #f8f8f8 url("/theme/oklassedu/pix/images/icon_pop_menu.png") no-repeat center;
    height: 42px;
    width: 48px;
    border-right: 1px solid #d0d0d0;
    margin-right: 12px;
    font-size: 0;
}
.pop_title .pop_menu + span{
    padding: 10px 0;
    display: block;
    line-height: 20px;
}
.pop_title .pop_menu.on{
    /*background: #f8f8f8 url("/theme/oklassedu/pix/images/icon_pop_close.png") no-repeat center;*/
}
#pop_title img.menubtn{
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}
#pop_title .text{
    width: calc(100% - 180px);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    margin-top: -5px;
}
#pop_title .r_content{
    font-size: 14px;
    font-weight: normal;
}
#pop_title .r_content.close
, .pop_title .r_content.close{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0;
    padding: 14px 14px;
    width: 19px;
}
#pop_title img.close{
    cursor: pointer;
    margin-top: 2px;
    opacity: 1;
}
#pop_content, .pop_content{
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    background: #fff;
    height: 100%;
    -webkit-overflow-scrolling:touch; 
}
.pop_content.nopd{
    padding: 0;
}
.pop_content.bg{
    background: #f9f9f9;
}
.pop_footer{
    height: 50px;
    border-top: 1px solid #d0d0d0;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.pop_footer ul{
    float: left;
}
.pop_footer ul li{
    display: inline-block;
    font-size: 15px;
    color: #202020;
    margin-right: 20px;
    line-height: 32px;
}
.pop_footer ul li:empty{
    display: none;
}
.pop_footer .btns.dwn{
    background: url(/theme/oklassedu/pix/images/icon_down.png) no-repeat left 10px center;
    padding-left: 29px;
    background-size: 15px auto;
    height: 30px;
    line-height: 28px;
}
.pop_footer .btn{
    padding: 0 20px !important;
    height: 30px;
    line-height: 30px;
}
#page-mod-okmedia-viewer-mooc{
    overflow: hidden;
}
#page-mod-okmedia-viewer-player .pop_content{
    overflow: hidden;
    padding-bottom: 50px;
}
#page-mod-okmedia-viewer-mooc .tab_header span.on{
    display: none;
}
#page-mod-okmedia-viewer-player .pop_footer .btn{
    float: right;
}
.videoinfo{
    width: 100%;
    float: left;
    height: 80px;
}
.video_area{
    margin: -1px;
    background: #000;
    position: relative;
    width: 100%;
    height: 100%;
    height: calc(100% - 63px);
    padding: 20px;
    padding-top: 56.25% !important;;
}
.pop_content > .video_area{
    top: 0 !important;
    margin: -20px -20px 0;
    padding: 20px;
    padding-top: 56.25%;
    height: auto;
}
.video_area > *{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.video_buttons{
    clear: both;
    overflow: hidden;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    bottom: 50px;
}
.video_buttons .prev{
    display: inline-block;
    background: #485cc7;
    height: 35px;
    line-height: 36px;
    padding: 0 15px;
    border-radius: 50px;
    color: #fff;
}
.video_buttons .prev:before{
    content: "";
    display: inline-block;
    background: url(/theme/oklassedu/pix/images/icon_nav_w.png) no-repeat center;
    background-size: contain;
    width: 10px;
    height: 13px;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -3px;
    transform: rotate(180deg);
}
.video_buttons .next{
    display: inline-block;
    background: #485cc7;
    height: 35px;
    line-height: 36px;
    padding: 0 15px;
    border-radius: 50px;
    color: #fff;
    float: right;
}
.video_buttons .next:after{
    content: "";
    display: inline-block;
    background: url(/theme/oklassedu/pix/images/icon_nav_w.png) no-repeat center;
    background-size: contain;
    width: 10px;
    height: 13px;
    vertical-align: middle;
    margin-left: 3px;
    margin-top: -3px;
}
.quiz_area .quiz_group{
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.quiz_area .quiz_group h3{
    font-size: 14px;
    margin-bottom: 10px;
}
.quiz_area .quiz_group ul li{
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    color: #707070;
    padding: 0 13px;
    background: #fff;
    margin-bottom: 10px;
    font-size: 12px;
}
.quiz_area .quiz_group ul li:hover{
    border-color: #909090;
}
.quiz_area .quiz_group ul li.on{
    border-color: #f2565c;
}
.quiz_area .quiz_group .btn.answer{
    background: #a59379;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    padding: 0 15px !important;
    border: 0;
    border-radius: 50px;
    float: right;
}
.circletext{
    width: 60px;
    height: 60px;
    border: 1px solid #fa797e;
    border-radius: 100%;
    text-align: center;
    display: table;
    float: left;
    margin-right: 20px;
    color: #fa797e;
    font-weight: bold;
}
.inline .circletext{
    margin-right: 0;
}
.circletext span{
    display: table-cell;
    vertical-align: middle;
}
.circletext.inverse{
    background: #fa797e;
    color: #fff;
}
.videoinfo .info{
    width: calc(100% - 95px);
    float: left;
    height: 50px;
    margin-top: 4px;
}
.videoinfo .info li{
    float: left;
    border-right: 1px solid #ddd;
    height: 100%;
    padding: 5px 20px;
    position: relative;
    box-sizing: border-box;
}
.videoinfo.inline .info li{
    border: 0;
}
.videoinfo .info li p{
    margin-top: 3px;
    line-height: normal;
}
.videoinfo .info li .ex_pop{
    width: 170px;
    height: 120px;
    background: #fff;
    position: absolute;
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
    top: 30px;
    left: 20px;
    z-index: 9;
    display: none;
}
.square{
    cursor: pointer;
    border: 1px solid #ccc;
    width: 17px;
    height: 17px;
    line-height: 18px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
}
.poplayer[style *= '80%']{
    max-width: 1020px;
}
.videoarea{
    clear: both;
    width: 100%;
    background: #000;
    height: auto;
    margin-bottom: 20px;
    height: 0;
    max-height: 450px;
    position: relative;
    padding-top: 56.25%;
}
.v_bottom_info{
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding: 10px;
    background: #f9f9f9;
    margin-top: -20px;
    overflow: hidden;
}
.v_text{
    margin-top: -21px;
    padding: 20px 20px 5px;
    border: 1px solid #ddd;
    border-top: 0;
    margin-bottom: 20px;
    background: #f9f9f9;
    position: relative;
}
.v_text:before{
    content: "";
    position: absolute;
    height: 1px;
    top: 5px;
    left: 10px;
    right: 10px;
    background: #ddd;
}
.v_text > p{
    color: #707070;
}
.videoarea iframe
, #hlsjsvod{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: auto;
    height: 100%;
    display: block;
    box-sizing: border-box;
}
.attachment{
    float: left;
    width: 100%;
    text-align: right;
}
.attachment ul{
    margin-bottom: 10px;
}
.attachment ul:empty{
    display: none;
}
.attachment ul li{
    display: inline-block;
    min-width: 60px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
    margin: 0 0 10px 10px;
    box-shadow: 1px 1px 1px rgba(221, 221, 221, 0.68);
}
.attachment ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px 10px;
    box-sizing: border-box;
}
.attachment ul li a:before{
    content: "";
    display: inline-block;
    background: url("/theme/oklassedu/pix/images/icon-attachment.png") no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 2px;
}
.videobtn{
    clear: both;
    width: 100%;
    float: left;
    margin-bottom: 30px;
    padding: 0;
}
.videobtn .prev{
    float: left;
}
.videobtn .next{
    float: right;
}
.videobtn .prev
, .videobtn .next{
    cursor: pointer;
    height: 30px;
    line-height: 33px;
    min-width: 60px;
    border-radius: 50px;
    border: 0;
    background: #fa797e;
    color: #fff;
    font-weight: bold;
    padding: 0 13px 0 10px;
}
.videobtn .next{
    padding: 0 10px 0 13px;
}
.evaluation{
    clear: both;
    width: 100%;
    box-shadow: 4px 4px 1px #f2f2f2;
}
.evaluation .tab_header{
    border-right: 1px solid #ddd;
}
.evaluation .tab_header span{
    border-top: 0;
    background: #f4f4f4;
}
.evaluation .tab_header span.on{
    background: #fff;
}
.evaluation .e_content{
    clear: both;
    padding: 25px;
    border: 0;
    border-top: 0;
}
.e_content iframe{
    border: 0;
    width: 100%;
    min-height: 520px;
}
.media_menu{
    position: absolute;
    overflow: auto;
    top: 98px;
    left: -100%;
    bottom: 0;
    background: #fff;
    border-right: 1px solid #d0d0d0;
    width: 15%;
    min-width: 320px;
    transition: left 2s;
    z-index: 99999999999;
    box-sizing: border-box;
}
.media_menu.on{
    left: 0;
    transition: left 0.8s;
}
.media_menu > ul > li{
    min-height: 40px;
    box-sizing: border-box;
}
.media_menu > ul > li > h3{
    box-sizing: border-box;
    padding: 10px 10px;
    height: auto;
    line-height: 1.2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: 15px;
    border-bottom: 1px solid #d0d0d0;
    margin: 0;
    font-weight: 500;
}
.media_menu > ul > li.on > h3{
    color: #485cc7;
}
.media_menu > ul > li > h3.no-content{
    background: none;
    background: #dedede;
    padding: 0 10px;
    cursor: default;
}
.media_menu > ul > li > ul{
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px 0px 20px;
    border-bottom: 1px solid #ccc;
    display: none;
}
.media_menu > ul > li.on > ul{
    display: block;
}
.media_menu > ul > li > ul >li{
    height: 30px;
    list-style: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #707070;
}
.media_menu > ul > li > ul >li a{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.media_menu > ul > li > ul >li a:before{
    content: "-";
    display: inline-block;
    margin-right: 3px;
}

#mooc_iframe body{
    padding: 0;
    height: auto;
}
#mooc_iframe aside
, #mooc_iframe header
, #mooc_iframe #course_bg
, #mooc_iframe #footer
, #mooc_iframe #page-header{
    display: none;
}
#mooc_iframe #page-mod-quiz-attempt #content{
    width: calc(100% - 285px);
}
#mooc_iframe #page-mod-quiz-attempt aside{
    display: block;
    border-top: 1px solid #ddd;
}
#mooc_iframe #page-mod-quiz-attempt aside .block:not(#mod_quiz_navblock){
    display: none !important;
}
#mooc_iframe #region-main{
    width: 100%;
    max-width: 100%;
    border: 0;
}
#mooc_iframe div[role=main]{
    margin: 0 !important;
    border: 0 !important;
    padding: 0;
    box-shadow: none;
}
#mooc_iframe #header_bg{
    display: none;
}
#mooc_iframe .course #contents>.group{
    border: 0;
    padding: 0;
}
#mooc_iframe .course #content{
    padding: 0;
}
/** 영수증 **/

#receipt{
    clear: both;
    background: #fff;
    position: relative;
    top: 60px;
    margin: auto;
    width: 380px;
    height: auto;
    border: 1px solid #555;
    border-top-width: 3px;
    padding: 20px;
    box-sizing: border-box;
}
#receipt > h3{
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    padding: 0 0 15px 0;
}
#receipt .table th{
    background: #f2f2f2
}
#receipt .stamp{
    background: url("/theme/oklassedu/pix/images/stamp.jpg") no-repeat;
    background-position: 250px center;
    width: 100%;
    box-sizing: border-box;
}
#receipt .btn.print
, #receipt .btn.print:hover{
    position: fixed;
    right: 15px;
    top: 15px;
    background-color: #fff;
    background-image: url("/theme/oklassedu/pix/images/print.png");
    background-repeat: no-repeat;
    background-position: 3px center;
    padding: 0 10px 0 28px !important;
    line-height: 25px;
    height: 30px;
    border: 1px solid #acacac;
    border-radius: 3px;
    font-size: 16px;
    color: #333;
}


#main_popup{
    min-width: 300px;
    border: 1px solid #3f4244;
    overflow: hidden;
    cursor: move;
    height: 100%;
}
#main_popup #pop_title{
    background: #505b61;
    padding: 12px 20px;
    color: #fff;
    font-size: 17px;
    overflow: hidden;
    border-bottom: o;
}
#main_popup #pop_title .l_content{
    width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#main_popup .pop_contents{
    background: #fff;
    padding: 20px;
    font-size: 14px;
    word-break: break-all;
    height: calc(100% - 73px);
    box-sizing: border-box; 
}
#main_popup .pop_footer{
    padding: 3px 10px;
    background: #505b61;
    width: 100%;
    color: #eee;
    box-sizing: border-box;
}
#main_popup .pop_footer > *{
    vertical-align: middle;
    font-size: 12px;
}
/** 메인 팝업 **/


/** error pgae **/
#error{
    width: 100%;
    height: 100%;
    border-top: 20px solid #4f5b61;
}
#error .logo{
    text-align: center;
    padding: 100px 0 50px 0;
}
.error_title{
    text-align: center;
    color: #333;
    font-size: 23px;
    margin-bottom: 25px;
}
.error_text{
    border: 1px solid #ddd;
    width: 300px;
    height: 100px;
    margin: 0 auto 25px auto;
    box-sizing: border-box;
    padding: 25px 25px;
}
.error_text p{
    margin-bottom: 10px;
}
.go_main{
    margin: auto;
    width: 300px;
    overflow: hidden;
}
.go_main a{
    display: block;
    float: left;
    width: 50%;
}
.go_main a .btn
, .go_main a .btn:hover{
    width: 100%;
    line-height: 40px;
    height: 40px;
}

/** error pgae **/

/**과정 안내**/
#page-local-course_application-course_list table .btn.gray{
    cursor: default;
    opacity: 0.7;
}
#page-local-course_application-application .table tr td:last-child{
    word-break: break-all;
}