/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016. 9. 29, 오후 12:43:13
    Author     : MJ
*/


/* mypage > 파일 관리 */
#page-user-files .mform .fitem .felement{
    margin-left: 0;
}

#page-user-files .mform .fitem div.fitemtitle{
    display: none;
}

/*변경사항저장,취소 버튼 위치 정렬*/
#fgroup_id_buttonar{
    padding-left: 20px;
    text-align: center;
    background-color: #fff;
    border:0;
}

/* 테이블 스타일 */
.generaltable{
    margin-bottom: 10px;
    border-top: 2px solid #a2a2a2;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.generaltable td{
    background: #fff;
    text-align: center;
    padding: 10px;
}
.generaltable td.title{
    text-align: left;
}
.generaltable > tbody > tr > th {
    padding-right: 15px;
    text-align: left;
    background-color: #f7f7f7;
    vertical-align: middle;
}
.generaltable > thead > tr > th {
    text-align: center;
    border-bottom-width: 1px;
    background-color: #f2f2f2;
    vertical-align: middle;
    color: #555;
    font-weight: normal;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: right center;
}
.generaltable > thead > tr > th:last-child{
    background-image: none;
}
.generaltable > thead > tr > th, .table > tbody > tr > th
, .generaltable > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td
, .generaltable > tfoot > tr > td {
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}
table#explaincaps tbody>tr:nth-child(odd)>td, table#defineroletable tbody>tr:nth-child(odd)>td
, table.grading-report tbody>tr:nth-child(odd)>td, table#listdirectories tbody>tr:nth-child(odd)>td
, table.rolecaps tbody>tr:nth-child(odd)>td, table.userenrolment tbody>tr:nth-child(odd)>td
, table#form tbody>tr:nth-child(odd)>td, form#movecourses table tbody>tr:nth-child(odd)>td
, #page-admin-course-index .editcourse tbody>tr:nth-child(odd)>td, .forumheaderlist tbody>tr:nth-child(odd)>td
, table.flexible tbody>tr:nth-child(odd)>td, .generaltable tbody>tr:nth-child(odd)>td
, table#explaincaps tbody>tr:nth-child(odd)>th, table#defineroletable tbody>tr:nth-child(odd)>th
, table.grading-report tbody>tr:nth-child(odd)>th, table#listdirectories tbody>tr:nth-child(odd)>th
, table.rolecaps tbody>tr:nth-child(odd)>th, table.userenrolment tbody>tr:nth-child(odd)>th
, table#form tbody>tr:nth-child(odd)>th, form#movecourses table tbody>tr:nth-child(odd)>th
, #page-admin-course-index .editcourse tbody>tr:nth-child(odd)>th, .forumheaderlist tbody>tr:nth-child(odd)>th
, table.flexible tbody>tr:nth-child(odd)>th, .generaltable tbody>tr:nth-child(odd)>th{
    background-color: #fff;
}

/* generalbox 스타일 */
.generalbox:not(#page-grade-report-grader-preferences .generalbox):not(#page-user-files .generalbox){
    margin: 20px 30px;
    border: 1px solid #ddd;
    background: #fff;
    padding: 20px;
}

/*블록 도킹영역으로 옮김 감춤 */
.block .header .block_action .moveto{
    display: none;
}

/*내누리집 > 메시지*/
#page-message-index .message{
    /*    padding-top:20px;*/
}
#page-message-index .message .contactselector{
    width: 240px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    /*    background-color: #fafafa;*/
}
#page-message-index .message .contactselector{
    display: none;
}
.message .contactselector .singleselect{
    /*float:left;*/
    width: 200px;
    margin-bottom: 10px;
}
.message .contactselector .singleselect label{
    width:100%;
    text-align: left;
    color: black;
    padding: 0 0 5px 0;
}
.message .contactselector .singleselect select{
    height: 30px;
    width:100%;
}
.message .contactselector > .heading{
    clear: none;
    width: auto;
    /*    height: 350px;*/
    /*border: 1px solid black;*/
    /*    float: left;*/
}
.message .contactselector #message_participants{
    max-width: none;
}

.message .contactselector #message_participants .heading{
    text-align: left;
}
.message .messagearea{
    border-left: 1px solid #ddd; 
    min-height: 500px;
    background-color: #fff;
    box-sizing: border-box;
}
.message .messagearea .messagesend{
    border-top: 1px solid #ddd;
}
#page-message-index #fitem_id_submitbutton{
    margin-top:-10px;
}
.message .fitem div.fitemtitle{
    width: 60px;
    text-align: left;
}
.message .messagehistory h4{
    font-size: 14px;
}
.message .mform .fitem .felement{
    margin-left: 60px;
}

.message .messagearea table{
    margin-top: -6px;
    /*    position: absolute;
        left: 10px;
        top: 200px;*/
}

#page-message-index .message .messagearea table input[type="text"]{
    max-width: none;
    width:40%;
    float: left;
}
#page-message-index .message .messagearea table input[type="submit"]{float: left;}


/*블록 타이틀 컬러 변경*/
.block .header h2
, .block .header h2 a{
    font-weight: 600;
    color: #333;
    /*    color: #d80546;*/
}

/*왼쪽 메뉴 롤오버시 컬러 변경*/
#myMenu > li ul li a:hover{
    color: #fff;
}

/*강의명 폰트변경*/
.coursebox>.info>.coursename a{
    background-image: none;    
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    padding: 0; 
}
/*교과 비교과 구분
    division_0 : 교과
    division_1 : 비교과
    division_2 : 이러닝
*/
.coursebox>.info>.coursename span.division_0
, .coursebox>.info>.coursename span.division_1
, .coursebox>.info>.coursename span.division_2
, .coursesumnail span.division_0
, .coursesumnail span.division_1
, .coursesumnail span.division_2{ 
    padding: 0 3px; 
    line-height: 20px;
    min-width: 35px;
    /*background-color: #7a88a2;*/  
    background-color: #6fa3d5;
    color: white; 
    font-size: 12px;
    display: inline-block;
    text-align: center;
} 
span.division_1{background-color: #70bac5 !important;}
span.division_2{background-color: #ad72af !important;}

.coursebox .content{

}
.coursebox .content ul.teachers{
    margin-top: 10px;
    font-size: 12px;
    color: #777;
}

.courses>.paging.paging-morelink, .course_category_tree .subcategories>.paging.paging-morelink{
    display: none;
}

/* 마이페이지 summary 감추기 */
#page-my-index .coursebox .content .summary{
    position:absolute;
    top:103px;
    left: 175px;
    width: calc(100% - 320px);
}

/* 강의알림사항 */
.course_list .coursebox .course_title h2{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    line-height: 20px;
    background: #f4f4f4;
    margin: 0;
    padding: 20px 30px;
    border-bottom: 1px solid #ddd;
}
#page-local-courselist-courseoverview .assign.overview{
    padding: 10px 0 0 0;
    margin-bottom: 5px;
/*    border-top: 1px dotted #ccc;*/
}
/*#page-local-courselist-courseoverview .assign.overview:first-child{border-top:0px;}*/

.activity_info1{
    padding: 10px 30px 20px 30px;
}
.course_list .coursebox .course_title h2 a{
    color: #4444a7;
    font-weight: bold;
}

/*학습활동 추가 버튼*/
.section-modchooser .section-modchooser-link{
    padding: 5px 10px;
    background-color: #2f3033;
}

.section-modchooser .section-modchooser-link a{
    font-size: 12px;
    color: #fff;
}

.section-modchooser .section-modchooser-link a:hover{
    color: #eeee22;
}

.section-modchooser-link img.smallicon{
    padding: 0 5px 3px 0;
}



#page-my-allcourse #page-content, #page-site-index #page-content{background-color: #fff;}
#page-my-allcourse .table_group{
    background-color: #fff;
    margin-bottom: 20px;
/*    padding: 20px 20px 0 20px;*/
    border-top: 0;
}
#page-my-allcourse .scrolldiv{
    overflow: auto;
    display: block;
}


#page-my-allcourse .summary .no-overflow, #page-my-allcourse .summary .no-overflow p{
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap:break-word;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 43px;
}

#region-main-box{
    background-color: #f7f9fa;
}
#page-my-allcourse #region-main-box.row-fluid{
    background: #f7f9fa;
}

#page-my-allcourse #region-main-box{background-color: #454950;}

#page-my-allcourse #frontpage-course-list form{
    clear: both;
    margin-top: 15px;
    background-color: #f7f7f7;
    width: 100%;
    border: 1px solid #eee;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 20px;
}
#page-my-allcourse #frontpage-course-list form input
,#page-my-allcourse #frontpage-course-list form select
,#page-my-allcourse #frontpage-course-list form h6{ 
    margin: 0;
    float: left;
}
#page-my-allcourse #frontpage-course-list form input
,#page-my-allcourse #frontpage-course-list form h6{
    margin-right: 5px;
}
#page-my-allcourse #frontpage-course-list form h6{margin-top: 5px;}
#page-my-allcourse #frontpage-course-list form select{margin-right: 15px;}


#course_preview .preview_activity {
    line-height: 22px;
    height: 22px;
    padding: 10px 20px;
    border-bottom: 1px solid #acacac;
}
#course_preview .preview_h4 {
    padding: 13px;
    margin: 0;
    background: #efefef;
    border-bottom:1px solid #333333;
}

.isnotice {
    background: #f2f2f2;
}
.mypage_novalidcourses {
    padding:14px 24px;
    background: white;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
.mypage_irregular_novalidcourses {
    padding: 12px;
}

input.btn01_jb
, input.btn01_jb:hover{
    margin-top: 20px;
    width: 75px;
    height: 35px;
    padding: 4px 0px 6px 0px;
    max-height: 100px;
    font-size: 15px;
    text-shadow: none;
    background: #8996ac;
    color: #fff;
    border: 0;
    border-radius: 3px;
} 


#page-course-edit .mform .fitem div.fitemtitle {
    width: 279px;
}

.is_red{
    color:red;
}