.cont{
    width: 50%;
}
.group{
    width: 100%;
    max-width: 100%;
    flex: 1 1 0%;
}
.preview-area{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 50%;
    flex: 1 1 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: rgb(122, 133, 153);
    color: rgb(255, 255, 255);
    user-select: none;
    z-index: 1;
}
.preview-inner{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    inset: 40px 0px 74px;
}
.preview-content{
    position: relative;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    width: 600px;
    height: 40vw;
}
/* width */
.preview-content::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

/* Track */
.preview-content::-webkit-scrollbar-track{
    background: #f1f1f1;
}

/* Handle */
.preview-content::-webkit-scrollbar-thumb{
    background: #888;
}

/* Handle on hover */
.preview-content::-webkit-scrollbar-thumb:hover{
    background: #555;
}


button.dowload-pdf:hover {
    background-color: rgb(31 55 181);
}

.resume-title{
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    position: relative;
    margin-bottom: 2px;
    padding: 0px 32px;
}

.title-content{
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: top;
}

.title-input{
    display: inline-block;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 50px;
    vertical-align: top;
}

.exited {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: rgb(33, 150, 243);
    pointer-events: none;
    opacity: 0;
    transform: scaleX(0.5);
}

.entered {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: rgb(33, 150, 243);
    pointer-events: none;
    opacity: 1;
    transform: scaleX(1);
}

.kEtocA {
    max-width: 100%;
    white-space: pre;
    min-width: 3.2em;
    display: inline-block;
    text-align: center;
    visibility: hidden;
    pointer-events: none;
}

.title-label{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 0px;
}

.label-content{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    user-select: none;
}

.label-display{
    font-size: 16px;
    line-height: 20px;
    color: rgb(152, 161, 179);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: default;
}

.text-center {
    text-align: right !important;
    padding-right: 15px;
}

.section-margin{
    margin: 5% 0;
}

.field-title{
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}

.label-field {
    font-size: 16px;
    line-height: 20px;
    color: rgb(152, 161, 179);
    margin-top: 0.5vw;
}

.input-field{
    border-radius: 3px !important;
    padding: 23px 10px !important;
    width: 100%;
    caret-color: rgb(33, 150, 243);
    background-color: rgb(242, 245, 250) !important;
    outline: none !important;
    border: 0px !important;
    color: rgb(38, 43, 51) !important;
    pointer-events: unset;
    transition: color 0.1s ease 0s;
}

.profile-img.logo-img {
    width: 70px;
    height: 70px;
    position: relative;
    margin-top: 10px;
    float: left;
}

label.u-btn {
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    right: -10px;
    bottom: -10px;
    background: #fff url(/theme/oklassedu/pix/images/icon_profile.png) no-repeat center;
    border: 1px solid #e0e0e0;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 2px 0px 6px rgb(0 0 0 / 12%);
    cursor: pointer;
}

input#avatar {
    display: none;
}

img#userAvatar {
    width: 100%;
    height: 100%;
}

.upload-photo{
    margin: 20px 0 0 80px;
}

.upload-photo label {
    font-size: 16px;
    line-height: 20px;
    color: rgb(72 92 199);
    transition: color 0.1s ease 0s;
    cursor: pointer;
    margin: 0;
    padding: 10px;
}

.input-field:focus{
    border-bottom: 1px solid rgb(33, 150, 243) !important;
}

.input-date{
    padding: 10.5px 20px !important;
}

.avatar-field{
    margin: auto !important;
}

.select-template {
    margin-left: 15px;
}

.input-select {
    padding: 0 10px !important;
    height: 46px;
}

input#salary_from,
input#salary_to{
    width: 35%;
}

select#salary{
    width: 27%;
}

.select-template a {
    color: #fff;
    background-color: rgb(72 92 199);
    border-color: rgb(72 92 199);
    padding: 12px 20px;
}

.select-template a:hover,
.my-box.move.resume .ic-close:hover,
.btns.point:hover,
button.sc-mszFc.ueHab:hover{
    background-color: rgb(31 55 181) !important;
}

.my-box.move.resume>div.add-bx-wrap .add-bx{
    padding: 20px 20px 10px 40px;
}

.my-box.move.resume>div.add-bx-wrap .add-bx .ic-close:hover{
    background-color: rgb(31 55 181) !important;
    background: url(/theme/oklassedu/pix/images/icon_close_w.png) no-repeat center;
    background-size: 13px auto;
}

.my-box.move.resume>div.add-bx-wrap .add-bx .ic-close{
    background-size: 13px auto;
}

.my-box.move.resume .ic-mv-sub{
    width: 17px;
    height: 13px;
    left: 20px;
    top: 40px;
}

.mg-l10 {
     margin-left: 0;
}

.add-button {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #485cc7;
    border: none !important;
    transition: background-color 0.15s ease 0s;
    background: none !important;
}

.add-button:hover,
.btn-temporary:hover,
.btn-download:hover,
.upload-photo label:hover{
    background-color: rgba(230, 244, 255, 0.5) !important;
}

.col-add-field{
    margin: 0 !important;
}

.margin-field {
    margin-bottom: 10px !important;
}

.input-range,
.sub-input-range{
    width: 48%;
    text-align: center;
}

.no-padding{
    padding: 0;
}

.experience_major_padding{
    padding-right: 10px;
}

.width-certification{
    width: 40% !important;
}

.margin-from{
    margin: 0 4% 0 0;
}

.my-box.move.resume > div.add-bx-wrap .btns {
    min-width: 220px !important;
}

.action-cv {
    position: fixed;
    bottom: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    right: 0;
    margin-left: -225px;
    width: 450px;
}

button.dowload-pdf {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    display: inline-block;
    appearance: none;
    outline: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(72 92 199);
    padding: 14px 24px;
    transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s;
    cursor: pointer;
    border-width: 0px;
    user-select: none;
    pointer-events: auto;
}

#ex1 {
    max-width: none !important;
    width: 50%;
    height: auto;
}

.item-cv {
    height: 100%;
    width: 100%;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgb(136 136 136) 0px 0px 30px 1px;
    padding: 0px;
}

.item-cv>a>img{
    width: 100%;
    height: 100%;
}

.item-cv:hover {
    transform: scale(1.015);
}

.ueHab {
    position: fixed;
    bottom: 24px;
    right: 24px;
    outline: none;
    height: 60px;
    padding: 10px;
    cursor: pointer;
    border: none;
    z-index: 2;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
}

button.sc-mszFc.ueHab {

    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    display: inline-block;
    appearance: none;
    outline: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(72 92 199);
    padding: 14px 24px;
    transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s;
    cursor: pointer;
    border-width: 0px;
    user-select: none;
    pointer-events: auto;
}

button.sc-mszFc.ueHab {
    display: none;
}

.modal a.close-modal {
    position: absolute;
    top: 0;
    right: 0;
}

.active-cv {
    content: "";
    position: relative;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(33, 150, 243);
    border-radius: 7px;
    opacity: 1;
    margin: auto !important;
}

.modal {
    width: 60%;
}

.item-cv {
    margin: auto;
}

.sl-template {
    display: none;
}

.sub-tit {
    padding: 0 15px;
}

.my-box.move.resume>div>*:not(:last-child){
    margin-right: 0;
}

p.dt-grp{
    padding-left: 0 !important;
    background: none !important;
}

.my-box.move.resume>div .dt-grp input.year,
.my-box.move.resume>div .dt-grp input.month{
    width: 48%;
    margin-bottom: 10px !important;
}

.list-cv.row>div {
    padding-bottom: 30px;
}

@media only screen and (max-width: 1300px) {
    button.sc-mszFc.ueHab {
        display: none;
    }

    button.sc-mszFc.ueHab {
        display: block;
    }

    .cont {
        width: 100%;
    }

    .preview-area {
        display: none !important;
    }

    .sc-gBIyv.iVeUyN a {
        color: #fff;
    }

    .modal {
        vertical-align: middle;
        position: relative;
        z-index: 2;
        max-width: none;
        box-sizing: border-box;
        width: 90%;
        background: #9a9999;
    }

    button.sc-mszFc.ueHab {
        z-index: 0;
    }

    .action-cv {
        position: absolute;
        bottom: 0;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        left: 50%;
        margin-left: -225px;
        width: 450px;
    }

    div#ex1 {
        background: #fff;
    }

    .preview-area {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        flex: 1 1 0%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-flow: column nowrap;
        background-color: rgb(122, 133, 153);
        color: rgb(255, 255, 255);
        user-select: none;
        z-index: 1;
    }

    .preview-area-resposive {
        display: block !important;
    }

    .sl-template {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        display: inline-block;
        appearance: none;
        outline: none;
        text-align: center;
        color: rgb(255, 255, 255);
        background-color: rgb(72 92 199);
        padding: 14px 24px;
        cursor: pointer;
        border-width: 0px;
    }

    .text-center {
        text-align: left !important;
    }
}

@media only screen and (max-width: 1024px) {
    .my-box.move.resume>div>*{
        min-width: unset;
    }
    /*.my-box.move.resume>div>*:not(:last-child){*/
    /*    margin-right: 0;*/
    /*}*/
}

@media only screen and (max-width: 768px) {
    .text-center {
        margin-bottom: 80px;
    }
}

.scroll-top {
    display: none !important;
}

.scale-cv {
    transform-origin: left top;
    transform: scale(0.62);
    width: fit-content;
}