* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec-intro {
    height: 32%;
    background: url("/local/job/resumes/assets/img/Frame2.png") no-repeat left;
    align-items: center;
    padding: 4%;
}

.row-title1 {
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}

.sec-intro .title1 {
    font-family: 'Roboto', system-ui;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    color: #4F4F4F;
}

.row-title2 {
    margin-top: 3%;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}

.sec-intro .title2 {
    font-family: 'Roboto', system-ui;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    margin: 0 auto;
    color: #93D630;
    text-align: center;
}

.btn-createcv, .btn-fileupload1 {
    background: #485BC6;
    border-radius: 6px;
    font-family: 'Roboto', system-ui;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 32px;
    color: #ffffff;
}

.btn-createcv:hover, .btn-fileupload1:hover {
    color: #ffffff;
    background: #7283d4;
}

.sec-btncv {
    width: 80%;
    margin: 5% auto;
}

.sec-btncv .btn-group {
    width: 100%;
    margin: 0 20%;
}

.sec-btncv .btn-create-upload .btn {
    padding: 3% 8%;
    height: 102%;
    width: 46%;
    white-space: nowrap;
}

.slide-cv {
    height: 100%;
}

.slick-slide {
    margin-top: 2%;
    margin-bottom: 2%;
}

.slider-cv {
    width: 80%;
    margin: 0 auto;
}

.slick-slide {
    margin-left: 1%;
    margin-right: 1%;
}

.slider-item img {
    max-width: 100%;
    max-height: 100%;
}

.slick-active .slider-item img {
    height: auto;
    transition: all linear .4s;
    border-radius: 10px;
    object-fit: contain;
}

.slick-center .slider-item img {
    transform: scale(1.5) translateY(-5%);
    border-radius: 10px;
}

.prev1, .next1 {
    z-index: 10;
    top: 20%;
    position: absolute;
    display: block;
    height: 73px;
    width: 73px;
    border-radius: 50%;
    border: 3px solid #E0E0E0;
    box-sizing: border-box;
    font-size: 40px;
    background: #FFFFFF;
}

.prev1 {
    left: -25px;
    color: #E0E0E0;
}

.next1 {
    right: -25px;
    color: #E0E0E0;

}

.prev1:hover, .next1:hover, .prev1:focus, .next1:focus {
    top: 20%;
    position: absolute;
    display: block;
    height: 73px;
    width: 73px;
    border-radius: 50%;
    background: #C3E98C !important;
    border: 3px solid #E0E0E0;
    box-sizing: border-box;
    font-size: 40px;
}

.prev1:hover, .prev1:focus {
    left: -25px;
    color: #FFFFFF;
}

.next1:hover, .next1:focus {
    right: -25px;
    color: #FFFFFF;
}

.slide-style {
    width: 80%;
    margin: 0 auto;
}

.style-item .row .imgstyle {
    padding-left: 1.75%;
    padding-right: 1.75%;

}

.style-item .row .imgstyle img {
    border-radius: 10px;
}

.sec-stylecv {
    padding-top: 10% !important;
    padding: 0 5%;
}

.slick-dots {
    z-index: 10;
    bottom: 10%;
}

.slick-dots li {
    margin: 0 20px;
    width: 14px;
    height: 14px;
}

.prev2, .next2 {
    z-index: 10;
    bottom: 9%;
    position: absolute;
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px solid #E0E0E0;
    box-sizing: border-box;
    font-size: 18px;
    background: #FFFFFF;
}

.prev2 {
    left: 36%;
    color: #E0E0E0;
}

.next2 {
    right: 36%;
    color: #E0E0E0;

}

.prev2:hover, .next2:hover, .prev2:focus, .next2:focus {
    bottom: 9%;
    position: absolute;
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #C3E98C !important;
    border: 3px solid #E0E0E0;
    box-sizing: border-box;
    font-size: 18px;
}

.prev2:hover, .prev2:focus {
    left: 36%;
    color: #FFFFFF;
}

.next2:hover, .next2:focus {
    right: 36%;
    color: #FFFFFF;
}

.slide-style .slick-list .slick-track .slick-slide {
    margin-top: 0%;
    margin-bottom: 1%;
}


.sec-dowload .row {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 4%;
}

.dowload-item1, .dowload-item2, .dowload-item3 {
    margin: auto;
    padding-left: 5%;

}

.btnfreedowload {
    font-family: 'Roboto', system-ui;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #7ACC00;
    border-radius: 6px;
    padding: 3% 6%;
    margin: 0 auto;
    text-transform: uppercase;
}

.btnfreedowload:hover {
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #ade25f;
}

.titledowload {
    font-family: 'Roboto', system-ui;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
}

.btnfreedowload img {
    padding-right: 20px;
}

.stylecv-title {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.scv-tit {
    font-family: 'Roboto', system-ui;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.steps-title {
    font-family: 'Roboto', system-ui;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #485BC6;
}

.sec-steps ul li {
    font-family: 'Roboto', system-ui;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    color: #000000;
    text-align: justify;
    padding-left: 20px;
}

.text-step {
    padding: 2%;
}

.text-step ul {
    padding-top: 6%;

}

.listep + .listep {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

ul.steps {
    list-style-image: url("/local/job/resumes/assets/img/liststeps.png");
}

.createcv-title {
    font-family: 'Roboto', system-ui;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #4F4F4F;
    margin: 0 auto;
}

.createcv-tit {
    padding-top: 5%;
    font-family: 'Roboto', system-ui;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4F4F4F;
    margin: 0 auto;
}

.btncreatecv2 {
    font-family: 'Roboto', system-ui;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 32px;
    color: #FFFFFF;
    background: #6EA652;
    border-radius: 6px;
    padding: 25px 90px;
    margin: 0 auto;
}

.btncreatecv2:hover {
    color: #FFFFFF;
    background: #9bce83;
}

.cv-tit {
    width: 95%;
    margin: 0 auto;
}

.cv-btncreate {
    padding-top: 8%;
}

.create-text {
    padding-top: 10%;
    padding-bottom: 10%;
}

.col-sm-4.imgstyle {
    padding: 2.5% 5%;
}

#stylecvId .pagination-listjob {
    padding-top: 2%;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.btn-create-upload {
    display: flex;
    justify-content: center;
}

a.btn.btn-large.btn-createcv.btncv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 48%;
}

button.btn.btn-large.btn-fileupload1.btncv.showpop-fileupload {
    margin-right: 48%;
}

@media screen and (max-width: 1655px) {
    .row-title1, .row-title2 {
        padding-left: 20%;
        padding-right: 20%;
    }

    .sec-intro .title1 {
        font-size: 44px;
        line-height: 54px;
    }

    .sec-intro .title2 {
        font-size: 30px;
        line-height: 30px;
    }

    .btn-createcv, .btn-fileupload1 {
        font-size: 26px !important;
        line-height: 26px;
    }
    .btnfreedowload {
        font-size: 44px;
        line-height: 30px;
    }
    .titledowload {
        font-size: 30px;
        line-height: 35px;
    }
    .steps-title{
        font-size: 40px;
        line-height: 44px;
    }
    .sec-steps ul li {
        font-size: 22px;
        line-height: 28px;
    }
    .createcv-title {
        font-size: 42px;
        line-height: 30px;
    }
    .createcv-tit {
        font-size: 39px;
        line-height: 43px;
    }
    .btncreatecv2 {
        font-size: 32px;
        line-height: 30px;
    }
}

@media screen and (max-width: 1240px) {
    .row-title1, .row-title2 {
        padding-left: 15%;
        padding-right: 15%;
    }

    .sec-intro .title1 {
        font-size: 38px;
        line-height: 45px;
    }

    .sec-intro .title2 {
        font-size: 27px;
        line-height: 27px;
    }

    .btn-createcv, .btn-fileupload1 {
        font-size: 19px;
        line-height: 19px;
    }
    .btnfreedowload {
        font-size: 30px;
        line-height: 23px;
    }
    .titledowload {
        font-size: 22px;
        line-height: 25px;
    }
    .steps-title {
        font-size: 36px;
        line-height: 36px;
    }
    .sec-steps ul li {
        font-size: 18px;
        line-height: 22px;
    }
    .scv-tit {
        font-size: 45px;
        line-height: 50px;
    }
    .createcv-title {
        font-size: 36px;
        line-height: 26px;
    }
    .createcv-tit {
        font-size: 31px;
        line-height: 35px;
    }
    .btncreatecv2 {
        font-size: 28px;
        line-height: 28px;
    }
}

@media screen and (max-width: 1024px) {
    .slick-slide {
        margin-top: 0;
        margin-bottom: 1%;
    }
}

@media screen and (max-width: 991px) {
    a.btn.btn-large.btn-createcv.btncv,
    a.btn.btn-large.btn-fileupload1.btncv.showpop-fileupload2 {
        margin: 0 !important;
    }

    .btn-create-upload {
        margin: 2% 0;
    }
    .text-step ul {
        margin: 0 10%;
    }
    .steps-title {
        text-align: center;
    }
}

@media screen and (max-width: 920px) {
    .row-title1, .row-title2 {
        padding-left: 10%;
        padding-right: 10%;
    }

    .sec-intro .title1 {
        font-size: 30px;
        line-height: 33px;
    }

    .sec-intro .title2 {
        font-size: 23px;
        line-height: 23px;
    }
    .btnfreedowload {
        font-size: 23px;
    }
    .scv-tit {
        font-size: 33px;
        line-height: 35px;
    }
}

@media screen and (max-width: 767px) {
    .dowload-item1,.dowload-item3{
        display: none;
    }
}

@media screen and (max-width: 635px) {
    .row-title1, .row-title2 {
        padding-left: 5%;
        padding-right: 5%;
    }

    .sec-intro .title1 {
        font-size: 24px;
        line-height: 24px;
    }

    .sec-intro .title2 {
        font-size: 20px;
        line-height: 20px;
    }
    .scv-tit {
        font-size: 23px;
        line-height: 23px;
    }

    .createcv-title {
        font-size: 33px;
        line-height: 33px;
    }
    .createcv-tit {
        font-size: 28px;
        line-height: 32px;
    }
    .btncreatecv2 {
        font-size: 25px;
        line-height: 25px;
    }
}

@media screen and (max-width: 450px) {
    .row-title1, .row-title2 {
        padding-left: 0;
        padding-right: 0;
    }

    .sec-intro .title1 {
        font-size: 20px;
        line-height: 20px;
    }

    .sec-intro .title2 {
        font-size: 15px;
        line-height: 15px;
    }

    .sec-btncv {
        width: 100%;
    }

    .btn-createcv, .btn-fileupload1 {
        font-size: 16px;
        line-height: 16px;
    }
    .btnfreedowload {
        font-size: 19px;
        line-height: 19px;
    }
    .createcv-title {
        font-size: 29px;
        line-height: 29px;
    }
    .createcv-tit {
        font-size: 24px;
        line-height: 30px;
    }
    .btncreatecv2 {
        font-size: 23px;
        line-height: 23px;
    }
}

/* form cv duc */
.my-box {
    border: 1px solid rgb(230, 235, 244) !important;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    user-select: none;
    pointer-events: auto !important;
}
.tb-file-area.bx {
    border: 1px solid rgb(230, 235, 244);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    user-select: none;
    pointer-events: auto !important;
}
span.btns.br.f-r.m-w100 {
    font-weight: 600;
    font-size: 16px;
    color: #485cc7;
    border: none;
    transition: background-color 0.15s ease 0s;
}
input.sortable-idx {
    border-radius: 3px;
    caret-color: rgb(33, 150, 243);
    background-color: rgb(242, 245, 250);
    outline: none !important;
    border: none !important;
    pointer-events: unset;
    transition: color 0.1s ease 0s;
}
.sub-tit .btns.f-r {
    border: none;
    background: #f2f5fa;
    color: #485cc7;
    font-weight: 600;
}
p.dt-grp {
    padding-left: 10px;
    background-color: #f2f5fa;
    border-radius: 3px;
    border: none !important;
}
.my-box.imprt {
    border-top: 2px solid #e7ecf4 !important;
}
p.f16.t-gray {
    color: rgb(152, 161, 179);
}
.my-box.move.resume>div>p textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    height: 100px;
    box-sizing: border-box;
    border: none;
    outline: none !important;
    background: #f2f5fa;
}
select {
    border: 1px solid #e6ebf4;
}
h5.pg-tit.mt-5 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}
.my-box.resume input[type=text] {
    background: #f2f5fa;
    border: 0;
    border-bottom: none;
}
.my-box .rw>p>select {
    border: 0;
    border-bottom: none;
    background: #f2f5fa;
}
.my-box.imprt.resume .profile-img {
    width: 70px;
    height: 70px;
    position: relative;
    margin-top: 10px;
    float: left;
}
.my-box.imprt.resume .profile-img .u-btn {
    width: 35px;
    height: 35px;
}
.my-box.imprt.resume .f-l .rw.full {
    width: 100%;
    margin-left: 0;
}
label.rw-label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: rgb(152, 161, 179);
    margin-bottom: 6px;
}
.imprt .rw>p {
    width: 100% !important;
}
.my-box.imprt.resume .f-l {
    width: auto;
    margin: 0;
}
.my-box.bx-inline.resume .rw:nth-child(2n) {
    margin-left: 0;
}
input#resumetitle {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    border: none;
    font: inherit;
    text-align: center;
    caret-color: rgb(33, 150, 243);
    background-color: #ffffff;
}
.my-box.move.resume .ic-close {
    cursor: pointer;
    display: inline-block;
    background: #485cc7 url(/theme/oklassedu/pix/images/icon_close_w.png) no-repeat center;
    background-size: 17px auto;
    width: 25px;
    height: 25px;
    font-size: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.my-box.imprt.resume {
    border: none !important;
}
.my-box.imprt.resume {
    padding: 20px 0 10px;
}



