.all{
    max-width: 960px;
    box-shadow: 5px 5px 5px 5px #ccc;
    display: flex;
    background-color: #211F2E;
    margin: auto;
}

@media only screen and (max-width:500px){
    .all{
        display: block;
    }
}

.column_left{
    background-color: #282C40;
    max-width: 25%;
    margin: 16px 0px 16px 16px;
    border-radius: 10px;
}

@media only screen and (max-width:500px){
    .column_left{
        max-width: 100%;
        margin-right: 16px;
        margin-top: 16px;

    }
}

.avatar{
    width: 100%;
    border-radius: 50%;
    min-height: 118.75px;
}




.image{
    background-image: linear-gradient( to right,#f300ff,#00b9ff);
    border-radius: 50%;
    margin-left: 10px;
    margin-top:24px;
    margin-right: 10px;
    padding: 5px;
}

@media only screen and (max-width:500px){
    .image{
        margin: auto;
        margin-top: 32px;

    }
}


.icon{
    background-image: linear-gradient( to right,#f300ff,#00b9ff);
}


.header{
    display: flex;
    justify-content: space-between;
    padding: 24px;

}

@media only screen and (max-width:600px){
    .header{
        display: block;
    }
}



.time1{
    background-image: linear-gradient( to right,#f300ff,#00b9ff);
}

.title_right{
    color: white;
    padding-left: 8px;
}
.h5{
    font-size: 16px;
}

.yearcity{
    display: flex; justify-content: space-between;
    padding-top: 20px;
    align-items: flex-start;
}

@media only screen and (max-width:600px){
    .yearcity{
        display: block;
    }
}

.year1{
    font-size: 14px;
    text-align: center;
    color: white;
    padding-top: 7px;
    word-break: break-word;
}

@media only screen and (max-width:600px){
    .year1{
        padding-top: 4px;
        padding-bottom: 6px;
    }
}

@media only screen and (max-width:600px){
    .hehe{
        padding-top: 16px;

    }
}

.experience_right{
    padding-bottom: 24px;
    padding-left: 20px;
}