<link rel="stylesheet" href="cv_templates/CV_template_07/20092021.css">
<link rel="stylesheet" href="assets/css/style.css">

<div class="all" id="capture">
    <div class="column_left">
        <div class="hehe">
            <div class="image">
                <img class="avatar" src="" alt="" id="userImage">
            </div>
        </div>
        <h3 style="font-family: helvetica;color: white; text-align: center;font-size: 20px;margin-top: 20px;" id="name"></h3>
        <H5 style="color: #ccc; text-align: center;font-size: 16px;" id="employment"></H5>
        <div style="display: flex;margin: 40px 8px 0;">
            <div class="icon" style=";border-radius: 50px; width: 28px; height: 28px;">
                <i class="fab fa-artstation" style="color: white;padding-left: 7px;padding-top: 7px;"></i>
            </div>
            <h5 style="color:white;margin-left: 8px;font-size: 16px;">Salary</h5>
        </div>

        <h5 style="font-size: 14px; color:white;margin: 0 8px;font-weight: 400;margin-top:24px;" id="hopeSalary"></h5>

        <div style="display: flex;margin: 40px 8px 0;">
            <div class="icon" style=";border-radius: 50px; width: 28px; height: 28px;">
                <i class="far fa-atom" style="color: white;padding-left: 7px;padding-top: 7px;"></i>
            </div>
            <h5 style="color:white;margin-left: 8px;font-size: 16px;">Information</h5>

        </div>

        <h5 style="font-size: 14px;color:white;margin-left: 8px;margin-right: 8px;font-weight: bold;margin-top:24px;">Final Education</h5>
        <h5 style="font-size: 14px;color:white;margin-left: 8px;margin-right: 8px;font-weight: 400;" id="finalEducation"></h5>

        <h5 style="font-size: 14px;color:white;margin-left: 8px;margin-right: 8px;font-weight: bold;margin-top:24px;">Experience</h5>
        <h5 style="font-size: 14px;color:white;margin-left: 8px;margin-right: 8px;font-weight: 400;" id="experienceWork"></h5>

        <h5 style="font-size: 14px;color:white;margin-left: 8px;margin-right: 8px;font-weight: bold;margin-top:24px;">Skill groups</h5>
        <h5 style="font-size: 14px;color:white;margin-left: 8px;margin-right: 8px;font-weight: 400;" id="skillGroups"></h5>

        <h5 style="font-size: 14px;color:white;margin-left: 8px;margin-right: 8px;font-weight: bold;margin-top:24px;">Skills</h5>
        <h5 style="font-size: 14px;color:white;margin-left: 8px;margin-right: 8px;font-weight: 400;" id="skills"></h5>

        <h5 style="font-size: 14px;color:white;margin-left: 8px;margin-right: 8px;font-weight: bold;margin-top:24px;">Workplaces</h5>
        <h5 style="font-size: 14px;color:white;margin-left: 8px;margin-right: 8px;font-weight: 400;" id="workplaces"></h5>

        <h5 style="font-size: 14px;color:white;margin-left: 8px;margin-right: 8px;font-weight: bold;margin-top:24px;">Korean Language Level</h5>
        <h5 style="font-size: 14px;color:white;margin-left: 8px;margin-right: 8px;font-weight: 400;" id="koreanLanguageLevel"></h5>
    </div>

    <div class="column_right" style="width: 100%;">

        <div class="headerall" style="background-color:#282C40;MARGIN: 16PX;border-radius: 10PX;">
            <h4 style="color: white;    padding: 24px 24px 0;font-size: 18px;">PROFILE</h4>
            <div class="header" style=" ;max-width: 100%;">
                <div style="max-width: 45%;" class="header1">
                    <div style="display: flex;">
                        <i class="fas fa-birthday-cake" style="color: #ccc;font-size: 12px;padding-top: 4px"></i>
                        <h5 style="color: white;font-size: 14px;margin-left: 8px;" id="dateOfBirth"></h5>
                    </div>

                    <div style="display: flex;">
                        <i class="fas fa-phone-alt" style="color: #ccc;font-size: 12px;padding-top: 4px"></i>
                        <h5 style="color: white;font-size: 14px;margin-left: 8px;word-break: break-all;" id="phone"></h5>
                    </div>

                </div>


                <div style="max-width: 45%;" class="header2">
                    <div style="display: flex;">
                        <i class="fas fa-envelope" style="color: #ccc;font-size: 12px;padding-top: 4px"></i>
                        <h5 style="color: white;font-size: 14px;margin-left: 8px;word-break: break-all;" id="email2"></h5>
                    </div>



                    <div style="display: flex;">
                        <i class="fas fa-map-marker-alt" style="color: #ccc;font-size: 12px;padding-top: 4px"></i>
                        <h5 style="color: white;font-size: 14px;margin-left: 8px;" id="address"></h5>
                    </div>

                </div>
            </div>

        </div>

        <div class="headerrow2" style="background-color:#282C40 ;max-width: 100%;MARGIN:16PX;border-radius: 10PX;">

            <div style="display: flex; margin: 0 24px;padding-top: 24px;">
                <div class="icon" style="border-radius: 50px;width: 28px; height: 28px;">
                    <i class="fas fa-graduation-cap"
                       style="color: white;margin: auto;padding-left: 6px;padding-top: 6px;"></i>
                </div>
                <h4 class="title_right" style="font-size: 18px;">EDUCATION</h4>
            </div>

            <div class="experience_left" style="margin: 16px 24px 0;padding-bottom: 24px;">

                <div id="education-preview">
                    <div class="education-area">

                    </div>
                </div>

                <template id="education-field">
                    <div id="_idx">
                        <div class="yearcity">
                            <h5 style="color: white;font-size: 16px;max-width: 260px;" id="educationName"></h5>
                            <div class="icon" style="width: 80px;border-radius: 2px;">
                                <h5 class="year1" id="educationFromTo"></h5>
                            </div>
                        </div>
                        <h5 style="color: white;font-size: 14px;" id="educationMajor"></h5>
                        <h5 style="color: white;font-size: 14px;" id="educationAttend"></h5>
                    </div>
                </template>

            </div>

        </div>

        <div class="headerrow2" style="background-color:#282C40 ;max-width: 100%;MARGIN:16PX;border-radius: 10PX;">

            <div style="display: flex; margin: 0 24px;padding-top: 24px;">
                <div class="icon" style="border-radius: 50px;width: 28px; height: 28px;">
                    <i class="fas fa-briefcase"
                       style="color: white;margin: auto;padding-left: 7px;padding-top: 7px;"></i>
                </div>
                <h4 class="title_right" style="font-size: 18px;">WORK EXPERIENCE</h4>
            </div>

            <div class="experience_left" style="margin: 16px 24px;">

                <div id="experience-preview">
                    <div class="experience-area">

                    </div>
                </div>

                <template id="experience-field">
                    <div id="_idx">
                        <div class="yearcity">
                            <h5 style="color: white;font-size: 16px;max-width: 260px;" id="experienceName"></h5>
                            <div class="icon" style="width: 80px;border-radius: 2px;">
                                <h5 class="year1" id="experienceFromTo"></h5>
                            </div>
                        </div>
                        <h5 style="color: white;font-size: 14px;" id="experienceMajor"></h5>
                        <p style="color: white;font-weight: 300;font-size: 14px;" id="experienceAttend"></p>

                        <div class="experience_right">
                            <h5 style="color: white;font-size: 14px;">Achievements:</h5>

                            <div class="sub-experience-area"></div>
                        </div>
                    </div>
                </template>

                <template id="sub-experience-field">
                    <div id="_subidx">
                        <div style="display: flex;justify-content: space-between;margin-top: 24px;align-items: flex-start;">
                            <h5 style="color: white;font-size: 12px;max-width: 240px;" id="sub_experienceName"></h5>
                            <div class="icon" style="width: 80px;border-radius: 2px;">
                                <h5 class="year2" style="font-size: 12px; text-align: center;color: white;margin: auto;" id="sub_experienceFromTo"></h5>
                            </div>
                        </div>
                        <p style="color: white;font-weight: 300;font-size: 12px;" id="sub_experienceDescription"></p>
                    </div>
                </template>

            </div>

        </div>

        <div class="headerrow2" style="background-color:#282C40 ;max-width: 100%;MARGIN:16PX;border-radius: 10PX;">

            <div style="display: flex; margin: 0 24px;padding-top: 24px;">
                <div class="icon" style="border-radius: 50px;width: 28px; height: 28px;">
                    <i class="fas fa-crosshairs"
                       style="color: white;margin: auto;padding-left: 7px;padding-top: 7px;"></i>
                </div>
                <h4 class="title_right" style="font-size: 18px;">ACTIVITIES</h4>
            </div>

            <div class="experience_left" style="margin: 16px 24px 0;">

                <div id="activity-preview">
                    <div class="activity-area">

                    </div>
                </div>

                <template id="activity-field">
                    <div id="_idx">
                        <div class="yearcity">
                            <h5 style="color: white;font-size: 16px;max-width: 260px;" id="activityName"></h5>
                            <div class="icon" style="width: 80px;border-radius: 2px;">
                                <h5 class="year1" id="activityFromTo"></h5>
                            </div>
                        </div>
                        <h5 style="color: white;font-size: 14px;" id="activityAttend"></h5>
                        <p style="color: white;font-weight: 300;padding-bottom: 32px;font-size: 14px;" id="activityDescription"></p>
                    </div>
                </template>

            </div>
        </div>

        <div class="headerrow2" style="background-color:#282C40 ;max-width: 100%;MARGIN:16PX;border-radius: 10PX;">

            <div style="display: flex; margin: 0 24px;padding-top: 24px;">
                <div class="icon" style="border-radius: 50px;width: 28px; height: 28px;">
                    <i class="fas fa-certificate"
                       style="color: white;margin: auto;padding-left: 7px;padding-top: 7px;"></i>
                </div>
                <h4 class="title_right" style="font-size: 18px;">CERTIFICATIONS</h4>
            </div>

            <div class="experience_left" style="margin: 16px 24px 0;">

                <div id="certification-preview">
                    <div class="certification-area">

                    </div>
                </div>

                <template id="certification-field">
                    <div id="_idx">
                        <div class="yearcity">
                            <h5 style="color: white;font-size: 16px;max-width: 260px;" id="certificationName"></h5>
                            <div class="icon" style="width: 80px;border-radius: 2px;">
                                <h5 class="year1" id="certificationFromToType"></h5>
                            </div>
                        </div>
                        <h5 style="color: white;font-size: 14px;" id="certificationMajor"></h5>
                        <p style="color: white;font-weight: 300;padding-bottom: 32px;font-size: 14px;" id="certificationDescription"></p>
                    </div>
                </template>

            </div>
        </div>

        <div class="headerrow2" style="background-color:#282C40 ;max-width: 100%;MARGIN:16PX;border-radius: 10PX;">

            <div style="display: flex; margin: 0 24px;padding-top: 24px;">
                <div class="icon" style="border-radius: 50px;width: 28px; height: 28px;">
                    <i class="fas fa-link"
                       style="color: white;margin: auto;padding-left: 7px;padding-top: 7px;"></i>
                </div>
                <h4 class="title_right" style="font-size: 18px;">LINKS</h4>
            </div>

            <div class="experience_left" style="margin: 16px 24px 0;">

                <div id="links-preview">
                    <div class="links-area">

                    </div>
                </div>

                <template id="links-field">
                    <div id="_idx">
                        <h5 style="color: white;font-size: 16px;" id="linksName"></h5>
                        <p style="color: white;font-weight: 300;padding-bottom: 32px;font-size: 14px;word-break: break-all;" id="linksDescription"></p>
                    </div>
                </template>

            </div>
        </div>
    </div>
</div>