.list-category-item:first-child,
.list-course-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-category-item:last-child,
.list-course-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.list-category-item ,
.list-course-item {
    position: relative;
    display: block;
    padding: 10px 15px 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

li.list-category-item div,
li.list-course-item div {
    line-height: 30px;
}

li.list-course-item .course-image {
    float: left;
    width: 100px;
    margin-top: 2px;
}
li.list-course-item .course-image img {
    width: 100%;
    height: 100%;
}

.course-info .txt {
    border-top: 1px solid #d5d5d5;
}

.course-info .txt p {
    border-bottom: 1px solid #d5d5d5;
    font-size: 0;
    padding: 11px 0;
}
.course-info .txt p>strong {
    display: inline-block;
    width: 115px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #040303;
    font-weight: 500;
    font-size: 16px;
    vertical-align: text-top;
}
.course-info .txt p>span {
    display: inline-block;
    width: calc(100% - 115px);
    font-weight: 300;
    color: #272727;
    font-size: 16px;
    vertical-align: text-top;
}

.course-thumbnail .c-img img {
    width: 318px;
    height: 194px;
}

.course-guide .img-area,
.course-roadmap .img-area {
    width: 100%;
    height: 900px;
    overflow: auto;
    background-color: #a7a7a7;
    border: 2px solid #a7a7a7;
}

.course-roadmap .img-area {
    display: none;
}

.course-guide .img-area ul li img,
.course-roadmap .img-area ul li img {
    width: 100%;
    height: auto;
}
.course-guide .img-area ul li:not(:last-child) img,
.course-roadmap .img-area ul li:not(:last-child) img {
    padding-bottom: 10px
}

.upload-guide {
    font-size: 16px;
    padding: 0px 0px 15px 0px;
}