
body {
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.667;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul-bullet{
    list-style-type: disc !important;
    padding-left:1em !important;
    margin-left:1em;
    color: #000000;
}

.ul-none{
    list-style-type: none !important;
    padding-left:1em !important;
    color: #000000;
}

a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  color: #2a2a2a;
  line-height: 1.25;
}

h1,
.h1 {
  font-size: 50px;
}

h2,
.h2 {
  font-size: 26px;
}

@media (min-width: 768px) {
  h2,
  .h2 {
    font-size: 36px;
  }
}

h3, .h3 {
  font-size: 20px;
}

.primary-text {
  color: #209624;
}

.bg-gray {
  background-color: #f8f8ff;
}

.pb-90px {
  padding-bottom: 60px;
}

@media (min-width: 992px) {
  .pb-90px {
    padding-bottom: 90px;
  }
}

.mh-tour {
  max-height: 630px;
}

.section-margin {
  margin: 65px 0;
}

@media (min-width: 992px) {
  .section-margin {
    margin: 130px 0;
  }
}

.section-margin-large {
  margin: 65px 0;
}

@media (min-width: 992px) {
  .section-margin-large {
    margin: 140px 0;
  }
}

.section-padding {
  padding: 65px 0;
}

@media (min-width: 992px) {
  .section-padding {
    padding: 130px 0;
  }
}

.generic-margin {
  margin-top: 100px;
}

@media (min-width: 992px) {
  .generic-margin {
    margin-top: 180px;
  }
}

@media (min-width: 1200px) {
  .generic-margin {
    margin-top: 250px;
  }
}

/* global style end
	============================================================================================ */
/* header style start
  ============================================================================================ */
.header_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear;
}

.header_area .navbar-right {
  min-width: 200px;
  text-align: right;
}

.menu-head{
	height: 30px;
	background: #ffffff;
}

.menu-head a{
	color: #000000;
}

.divider {
	margin: 0px 16px;
	width: 4px;
	/* border-left: 4px solid rgba(0, 0, 0, 1); */
}

@media (max-width: 991px) {
  .header_area .navbar-right {
    margin: 20px 0;
  }
  
  .header_area .navbar {
    background: #ffffff !important;
  }
  
  .header_area .navbar .nav .nav-item .nav-link{
  	background: #ffffff !important;
  }
  .header_area .navbar .nav-right {
   margin-left: 40px;
	}
}

.header_area .navbar-brand {
  margin-right: 30px;
  padding: 0;
}

.header_area .navbar-social {
  min-width: 95px;
  float: right;
}

.header_area .navbar-social li {
  margin-right: 12px;
}

.header_area .navbar-social li i, .header_area .navbar-social li span {
  font-size: 13px;
}

.header_area .navbar-social li:last-child {
  margin-right: 0;
}

.header_area .navbar-social li a:hover i, .header_area .navbar-social li span {
  color: #209624;
}

.header_area .menu_nav {
  width: 100%;
}

.header_area .navbar {
  background: #ffffff;
  border: 0px;
  border-radius: 0px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.header_area .navbar .nav-right {
  min-width: 460px;
}

.header_area .navbar .nav .nav-item {
  margin-right: 15px;
}

.header_area .navbar .nav .nav-item .nav-link {
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  height: 42px;
}

.header_area .navbar .nav .nav-item .nav-link:after {
  display: none;
}

.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
  color: #000000;
  opacity: 1;
}

.header_area .navbar .nav .nav-item.submenu {
  position: relative;
}

.header_area .navbar .nav .nav-item.submenu ul {
  border: none;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  margin: 0px;
  background: #fff;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 300px;
    text-align: left;
    opacity: 0;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4);
  }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 3;
  opacity: 0;
  transition: all 400ms linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #ededed;
  margin-left: 0px;
  transition: all 0.4s linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
  line-height: 45px;
  color: #209624 !important;
  padding: 0px 30px;
  transition: all 150ms linear;
  display: block;
  margin-right: 0px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
  border-bottom: none;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
  background-color: #209624;
  color: #fff !important;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
  margin-top: 0px;
}

.header_area .navbar .nav .nav-item:last-child {
  margin-right: 0px;
}

.header_area .navbar .search {
  font-size: 12px;
  line-height: 60px;
  display: inline-block;
  margin-left: 80px;
}

.header_area .navbar .search i {
  font-weight: 600;
}

.header_area.navbar_fixed .main_menu {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}


.header_area.navbar_fixed .main_menu .navbar {
  background: #ffffff;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
  line-height: 20px;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item:hover .nav-link, .header_area.navbar_fixed .main_menu .navbar .nav .nav-item.active .nav-link {
  color: #fff;
}

@media (min-width: 992px) {
  .header_area.white_menu .navbar .navbar-brand img {
    display: none;
  }
  .header_area.white_menu .navbar .navbar-brand img + img {
    display: inline-block;
  }
}

@media (max-width: 991px) {
  .header_area.white_menu .navbar .navbar-brand img {
    display: inline-block;
  }
  .header_area.white_menu .navbar .navbar-brand img + img {
    display: none;
  }
}

.header_area.white_menu .navbar .nav .nav-item .nav-link {
  color: #fff;
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img {
  display: inline-block;
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img + img {
  display: none;
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
  line-height: 70px;
}

.top_menu {
  background: #ec9d5f;
}

.top_menu .float-left a {
  line-height: 40px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 50px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.top_menu .float-left a:last-child {
  margin-right: 0px;
}

.top_menu .float-right .pur_btn {
  color: #fff;
  line-height: 40px;
  display: block;
  padding: 0px 40px;
  font-weight: 500;
  font-size: 12px;
}

/* header style end
	============================================================================================ */
@media (max-width: 1619px) {
  /* Main Menu Area css
	============================================================================================ */
  .header_area .navbar .search {
    margin-left: 40px;
  }
  /* End Main Menu Area css
	============================================================================================ */
}

@media (max-width: 1199px) {
  /* Main Menu Area css
	============================================================================================ */
  .header_area .navbar .nav .nav-item {
    margin-right: 28px;
  }
  /* End Main Menu Area css
	============================================================================================ */
  /* Home Banner Area css
	============================================================================================ */
  .home_banner_area .banner_inner {
    padding: 100px 0px;
  }
  /* End Home Banner Area css
	============================================================================================ */
  .header_area .navbar .tickets_btn {
    margin-left: 40px;
  }
  .home_banner_area .banner_inner .banner_content h2 br {
    display: none;
    font-size: 36px;
  }
  .home_banner_area .banner_inner .banner_content h2 {
    font-size: 36px;
    line-height: 45px;
  }
}

.navbar-toggler{
	color: #ffffff;
}

@media (max-width: 991px) {
  /* Main Menu Area css
	============================================================================================ */
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
    color: #ffffff;
  }
  .header_area .navbar {
    background: #485cc7;
  }

  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }
  .navbar-toggler[aria-expanded="true"] span:last-child {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
  }
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #000000;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
  }
  .navbar .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav {
    padding: 0px 0px;
  }
  .header_top .nav {
    padding: 0px;
  }
  .header_area .navbar .nav .nav-item .nav-link {
    padding: 12px 0;
    margin-right: 0px;
    display: block;
    border-bottom: 1px solid #ededed33;
    border-radius: 0px;
    background: #485cc7;
  }
  .header_area .navbar .search {
    margin-left: 0px;
  }
  .header_area .navbar-collapse {
    max-height: 450px;
    overflow-y: scroll;
  }
  .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    padding: 0px 15px;
    background: #ffffff; 
  }
  .header_area .navbar .nav .nav-item {
    margin-right: 0px;
  }
  .home_banner_area .banner_inner .banner_content .banner_map_img {
    display: none;
  }
  .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px;
  }
  .header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px;
  }
  .header_area.white_menu .navbar .nav .nav-item .nav-link {
    color: #222;
  }
  /* End Main Menu Area css
	============================================================================================ */
  /* Blog page Area css
	============================================================================================ */
  .categories_post img {
    width: 100%;
  }
  .categories_post {
    max-width: 360px;
    margin: 0 auto;
  }
  .blog_categorie_area .col-lg-4 {
    margin-top: 30px;
  }
  .blog_area {
    padding-bottom: 80px;
  }
  .single-post-area .blog_right_sidebar {
    margin-top: 30px;
  }
  /* End Blog page Area css
	============================================================================================ */
  /* Contact Page Area css
	============================================================================================ */
  .contact_info {
    margin-bottom: 50px;
  }
  /* End Contact page Area css
	============================================================================================ */
  .home_banner_area .donation_inner {
    margin-bottom: -30px;
  }
  .home_banner_area .dontation_item {
    max-width: 350px;
    margin: auto;
  }
  /* Footer Area css
	============================================================================================ */
  .footer_area .col-sm-6 {
    margin-bottom: 30px;
  }
  .footer_area .footer_inner {
    margin-bottom: -30px;
  }
  .news_widget {
    padding-left: 0px;
  }
  /* End End Footer Area css
	============================================================================================ */
  .home_banner_area .banner_inner .home_left_img {
    display: none;
  }
  .header_area .navbar .tickets_btn {
    display: none;
  }
  .home_banner_area .banner_inner {
    padding: 70px 0px 100px 0px;
  }
  .left_side_text {
    margin-bottom: 50px;
  }
  .price_item {
    max-width: 360px;
    margin: 0px auto 30px;
  }
  .price_inner {
    margin-bottom: -30px;
  }
}

@media (max-width: 767px) {
  .home_banner_area {
    min-height: 500px;
  }
  .home_banner_area .banner_inner {
    min-height: 500px;
  }
  .home_banner_area .banner_inner .banner_content {
    margin-top: 0px;
  }
  /* Blog Page Area css
	============================================================================================ */
  .blog_banner .banner_inner .blog_b_text h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .blog_info.text-right {
    text-align: left !important;
    margin-bottom: 10px;
  }
  /* End Blog Page Area css
	============================================================================================ */
  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 30px;
  }
  .home_banner_area .banner_inner .banner_content p br {
    display: none;
  }
  .home_banner_area .banner_inner .banner_content h3 span {
    line-height: 45px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  /* Footer Area css
	============================================================================================ */
  .footer-bottom {
    text-align: center;
  }
  .footer-bottom .footer-social {
    text-align: center;
    margin-top: 15px;
  }
  /* End End Footer Area css
	============================================================================================ */
  .made_life_inner .nav.nav-tabs li {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 15px;
  }
  .made_life_inner .nav.nav-tabs {
    margin-bottom: -15px;
  }
  .made_life_area.made_white .left_side_text {
    margin-bottom: 0px;
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .top_menu {
    display: none;
  }
  /* Home Banner Area css
	============================================================================================ */
  .home_banner_area .banner_inner .banner_content h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .home_banner_area {
    min-height: 450px;
  }
  .home_banner_area .banner_inner {
    min-height: 450px;
  }
  .blog_banner .banner_inner .blog_b_text {
    margin-top: 0px;
  }
  .home_banner_area .banner_inner .banner_content img {
    display: none;
  }
  .home_banner_area .banner_inner .banner_content h5 {
    margin-top: 0px;
  }
  /* End Home Banner Area css
	============================================================================================ */
  .p_120 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main_title h2 {
    font-size: 25px;
  }
  /* Elements Area css
	============================================================================================ */
  .sample-text-area {
    padding: 70px 0 70px 0;
  }
  .generic-blockquote {
    padding: 30px 15px 30px 30px;
  }
  /* End Elements Area css
	============================================================================================ */
  /* Blog Page Area css
	============================================================================================ */
  .blog_details h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .blog_banner .banner_inner .blog_b_text h2 {
    font-size: 28px;
    line-height: 38px;
  }
  /* End Blog Page Area css
	============================================================================================ */
  /* Footer Area css
	============================================================================================ */
  .footer-area {
    padding: 70px 0px;
  }
  /* End End Footer Area css
	============================================================================================ */
  .pad_top {
    padding-top: 70px;
  }
  .pad_btm {
    padding-bottom: 70px;
  }
}

@media (max-width: 480px) {
  /* Main Menu Area css
	============================================================================================ */
  .header_area .navbar-collapse {
    max-height: 450px;
  }
  /* End Main Menu Area css
	============================================================================================ */
  /* Home Banner Area css
	============================================================================================ */
  .home_banner_area .banner_inner .banner_content {
    padding: 30px 15px;
    margin-top: 0px;
  }
  .banner_content .white_btn {
    display: block;
  }
  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 24px;
  }
  /* End Home Banner Area css
	============================================================================================ */
  .banner_area .banner_inner .banner_content h2 {
    font-size: 32px;
  }
  /* Blog Page Area css
	============================================================================================ */
  .comments-area .thumb {
    margin-right: 10px;
  }
  /* End Blog Page Area css
	============================================================================================ */
  .testi_item .media .d-flex {
    padding-right: 0px;
  }
  .testi_item .media .d-flex img {
    width: auto;
    margin-bottom: 15px;
  }
  .testi_item .media {
    display: block;
  }
  .banner_btn {
    margin-bottom: 20px;
  }
}

/* banner section start
	============================================================================================ */
.hero-banner {
  padding-top: 120px;
}

@media (min-width: 992px) {
  .hero-banner {
    padding-top: 160px;
  }
}

.hero-banner h1 {
  text-transform: uppercase;
  color: #209624;
  margin-bottom: 15px;
}

@media (max-width: 1200px) {
  .hero-banner h1 {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  .hero-banner h1 {
    font-size: 30px;
  }
}

.hero-banner-sm {
  background: url(../img/banner/banner.png) left center no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 90px;
}

@media (min-width: 992px) {
  .hero-banner-sm {
    padding-top: 240px;
    padding-bottom: 140px;
  }
}

.hero-banner-sm h1 {
  text-transform: uppercase;
  color: #209624;
}

@media (max-width: 991px) {
  .hero-banner-sm h1 {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  .hero-banner-sm h1 {
    font-size: 28px;
  }
}

.hero-banner-sm p {
  margin-bottom: 0;
}

.hero-banner-sm-content {
  max-width: 400px;
}

.bg-shape {
  position: relative;
}

.bg-shape::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 595px;
  height: 660px;
  background: url(../img/home/bg-shape-left.png) left center no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 620px) {
  .bg-shape::before {
    display: none;
  }
}

.bg-shape::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 755px;
  height: 860px;
  background: url(../img/home/bg-shape-right.png) left center no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 620px) {
  .bg-shape::after {
    display: none;
  }
}


.search-wrapper {
  background: #f8f8ff;
  padding: 30px 10px;
  text-align: center;
}

@media (min-width: 600px) {
  .search-wrapper {
    padding: 60px;
  }
}

.search-wrapper h3 {
  font-size: 25px;
  margin-bottom: 25px;
}

@media (min-width: 600px) {
  .search-wrapper h3 {
    margin-bottom: 50px;
  }
}

.search-form .form-group {
  margin-bottom: 20px;
}

.search-form .nice-select {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: 0;
  border-radius: 0;
  margin-bottom: 20px;
  font-size: 14px;
  color: #999999;
}

.search-form .nice-select:after {
  right: 25px;
}

.search-form .form-control {
  font-size: 14px;
  color: #999999;
  padding-left: 20px;
  border: 0;
  height: 50px;
  border-radius: 0;
}

.search-form .form-control::placeholder {
  color: #999999;
}

.search-form .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.search-form .input-group-append .input-group-text {
  border: 0;
  padding-right: 20px;
  border-radius: 0;
  background: #fff;
}

.search-form .input-group-append i, .search-form .input-group-append span {
  font-size: 14px;
  color: #999999;
}

.search-form::placeholder {
  color: #999999;
}

.search-content h2 {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .search-content h2 {
    margin-bottom: 20px;
  }
}

.search-content p {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .search-content p {
    margin-bottom: 40px;
  }
}

/*=================== contact banner start ====================*/
.contact-info {
  margin-bottom: 12px;
}

.contact-info__icon {
  margin-right: 20px;
}

.contact-info__icon i, .contact-info__icon span {
  color: #8f9195;
  font-size: 27px;
}

.contact-info .media-body h3 {
  font-size: 16px;
  margin-bottom: 0;
}

.contact-info .media-body h3 a {
  color: #2a2a2a;
}

.contact-info .media-body p {
  color: #999999;
}

/* footer style start
	============================================================================================ */
.footer-area {
  background: #485cc7;
  padding-top: 60px;
}


.footer-area .footer-nav li {
  margin-top: 18px;
}

.footer-area .footer-nav li a {
  color: #fff;
}

.footer-area .footer-nav li a:hover {
  color: #209624;
}

.footer-area .primary-btn {
  background-color: #209624;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 60px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.footer-area .primary-btn:focus {
  outline: none;
}

.footer-area .primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-area .primary-btn:hover {
  background-color: #209624;
  box-shadow: none;
  color: #fff;
}

.footer-area .primary-btn:hover span {
  color: #fff;
  right: 20px;
}

.footer-area .primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}

.footer-area .primary-btn.white span {
  color: #fff;
}

.footer-area .primary-btn.white:hover {
  background: #63ff68;
  color: #209624;
}

.footer-area .primary-btn.white:hover span {
  color: #209624;
}

.footer-area h6 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 700;
}

.copy-right-text i, .copy-right-text a {
  color: #209624;
}

.instafeed {
  margin: -5px;
}

.instafeed li {
  overflow: hidden;
  width: 25%;
  margin-bottom: 0 !important;
}

.instafeed li img {
  margin: 5px;
}

.footer-social {
  text-align: right;
}

.footer-social a {
  width: 20px;
  width: 40px;
  display: inline-table;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-social a:hover i {
  color: #209624;
}

.footer-social i, .footer-social span {
  font-size: 14px;
  color: rgba(221, 221, 221, 0.5);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .footer-social {
    text-align: left;
    margin-top: 20px;
  }
}

.single-footer-widget {
  color: #fff;
}

.single-footer-widget input {
  line-height: 38px;
  border: none;
  background: transparent;
  border: 1px solid #333333;
  font-weight: 400;
  color: #999999;
  padding-left: 20px;
  width: 80%;
  font-size: 14px;
}

.single-footer-widget input:focus {
  outline: 0;
  box-shadow: none;
}

.single-footer-widget input::placeholder {
  font-weight: 400;
}

.single-footer-widget .bb-btn {
  background-color: #209624;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  border-radius: 0;
  cursor: pointer;
}

@media (max-width: 960px) {
  .single-footer-widget .nw-btn {
    margin-top: 20px;
  }
  .single-footer-widget .newsletter {
    padding-bottom: 40px;
  }
}

.single-footer-widget .info {
  position: absolute;
  margin-top: 3px;
  color: #fff;
  font-size: 14px;
}

.single-footer-widget .info.valid {
  color: green;
}

.single-footer-widget .info.error {
  color: #209624;
}

.single-footer-widget ::-moz-selection {
  /* Code for Firefox */
  background-color: #209624;
  color: #888888;
}

.single-footer-widget ::selection {
  background-color: #209624;
  color: #888888;
}

.single-footer-widget ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #888888;
  font-weight: 300;
}

.single-footer-widget :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #888888;
  opacity: 1;
  font-weight: 300;
}

.single-footer-widget ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #888888;
  opacity: 1;
  font-weight: 300;
}

.single-footer-widget :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #888888;
  font-weight: 300;
}

.single-footer-widget ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #888888;
  font-weight: 300;
}

@media (max-width: 991.98px) {
  .single-footer-widget {
    margin-bottom: 30px;
  }
}

.single-footer-widget p {
  color: #ffffff;
}

.single-footer-widget ul li {
  margin-bottom: 10px;
}

.single-footer-widget ul li a {
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-footer-widget ul li a:hover {
  color: #209624;
}

.footer-bottom {
  padding: 18px 0;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-text a, .footer-text i {
  color: #a40000;
}

/* footer style end
	============================================================================================ */

/* start nav bar */	

.btn-menu{
	width: 140px;
	padding: 2px 10px;
	background: #ffffff;
	margin-top: 6px;
	color: #6d7dd2;
	border: none;
}

#frm-search{
	margin-top: 11px;
}

#frm-search input{
	width: 160px;
}

.nav-full-h{
	height: 64px;
	background: none;
	margin: 0 0;
	padding: 0 0;
	display: inline-block;
}

.nav-full-h a{
	margin: 16px 8px;
/* 	background: #485cc7; */
	color: #ffffff;
	border-color: none;
}

.btn-light {
  color: #3a3b45;
  background-color: #ffffff;
  border-color: #555753;
}

.nav-alert{
	height: 64px;
	margin: 0 0;
	padding: 0 0;
	display: inline-block;
}

.nav-alert i{
	font-size: 30px;
}

.nav-alert span{
	font-size: 10px;
	background: green;
	margin: 0px 0 30px -12px;
}

@media (max-width: 1025px) {
	#frm-search {
		display: none;
	}
}

/* End nav bar */

/* Start slider bar */

.search-key{
	width: 50%;
	height: 50px;
	background-color:rgba(0, 0, 0, 0.1);
	border: 4px solid #ffffff;
	padding-left: 20px;
}

.search-action{
	margin-left: -50px;
}

.txt-on-slider{
	padding-bottom: 100px;
}

.txt-on-slider h2{
	padding-bottom: 20px;
	color: #ffffff;
}


.break-top{
	margin-top: 120px;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  top: 12px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  padding-left: 0;
  margin: 0 15% 0px 75%;
  list-style: none;
  border-radius: 10px;
}

.carousel-indicators li {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 50%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

@media (max-width: 1025px) {
	.txt-on-slider{
		padding-bottom: 10px;
	}
}

/* End slider bar */

.break-line{
	width: 100%; 
	color: black; 
	height: 1px; 
	background-color:black;
}

.col-dark{
	background-color:rgba(0, 0, 0, 0.1);
}

.title{
	color: #485cc7;
	margin: 0 0 0 20px;
	width: 60%;
}

.video-card{
	padding: 10px 10px;
	background-color:rgba(0, 0, 0, 0.0);
}

.video-card img{
	border-radius: 0px;
}

.video-thub{
	padding: 4px 0;
	background-color: #ffffff;
}

.video-thub h6{
	padding: 0 6px;
}

.video-thub p{
	font-size: 12px;
	padding: 0 6px;
}

.video-time{
	margin-top: -36px;
	padding: 0 16px;
	background-color:rgba(0, 0, 0, 0.6);
}

.video-time p{
	color: #ffffff;
	margin: 0 0;
	padding: 6px 6px;
}

.active-heart{
	color:rgba(0, 255, 0, 1);
}

.active-heart-red{
	color:rgba(255, 0, 0, 1);
}

.active-heart-dark{
	color:rgba(0, 0, 0, 0.5);
}

.active-heart-blue{
	color:rgba(0, 0, 255, 1);
}

.voice{
	margin-top: -12px;
}

.jino-info{
	color: #ffffff;
}

.jino-info h6{
	font-size: 14px;
}

.jino-info p{
	font-size: 11px;
	padding: 0 0 ;
	margin: 0 0 0 20px;
}

#footer-dialog{
	background: #ff8674;
}

.dialog-t1{
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}

.dialog-t2{
	font-size: 14px;
	
}

.audio-play{
	margin: -10px 0 10px 0;
	border-radius: 50%;
	color: #ffffff;
	background: #888a85;
}

/* Signup/Sigin dialog */

.txt{
	resize: none;
	height: 100px;
}

.txt-h2{
	resize: none;
	height: 200px;
}

textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

div::-webkit-scrollbar {
    width: 6px;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}

div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.err-mess{
	color: red;
}

#noTitleDialogIframe, #titleDialogIframe, #usr-iframe{
	overflow-y:scroll !important;
    overflow-x:hidden !important;
    overflow:hidden;
    border:none; /* optional */
}

#agreeShareInfo{
	color: red;
	text-align: center;
}

.oval-number{
  border-radius: 50%;
  border: 1px solid #3399ff;
  padding: 0 8px;
  margin: 0 0;
  font-size: 20px;
}

.oval-join{
	border-bottom: 3px solid #3399ff;
	width: 40px;
	height: 14px;
	font-size: 10px;
}

.current{
	background: #3399ff;
	color: #ffffff;
}

.text-over {
  position: relative;
  text-align: center;
  color: white;
  
}

.text-over img{
	width: 100%; 
	height: 80px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.overlay-dark {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
}

.overlay-dark:hover{
	background:rgba(0,0,0,0.8);
}

.as-pointer{
	cursor: pointer;
}

#menu-container{
	max-width: 80%;
	top: 100px;
	bottom:0;
	left:0;
	right:0;
	padding: 0 0;
	margin: 0 0;
}

#menu-container .modal-content{
	bottom:0;
	left:80px;
	right:0;
}

.menu-li:hover{
	background:rgba(0,0,0,0.6);
	color: #ffffff;
}

.img-heart{
	height: 180px;
}

.job-img{
	height: 180px;
}

.job-img img{
	width: 100%;
}

.job-img h2{
	top: 80px;
}

.job-heart{
	margin-top: -100px;
	padding: 0 16px;
}

.job-heart h2{
	color: #ffffff;
	margin: 0 auto;
	padding: 6px 6px;
}

.job-item:hover{
	background:rgba(153, 255, 102, 0.1);
	cursor: pointer;
}

.job-alert{
	color: red;
}

.job-action{
	width: 150px;
	text-align: center;
}

.job-action i{
	font-size: 60px;
}

.job-action i:hover{
	cursor: pointer;
	color: #73d216;
}

.job-card:hover{
	background:rgba(153, 255, 102, 0.1);
	cursor: pointer;
}

.compa-card{
	max-width: 340px;
}

.li-icon{
	width: 24px; 
	height: 20px; 
	font-size: 20px; 
	padding-left: 2px;
}

.list-group-item:hover{
	background:rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.row-link:hover{
	background:rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh; 

  display: flex;
  align-items: center;
}

.nv-btn{
	color: #485cc7 !important;
}

.nv-btn:hover{
	color: #ffffff !important;;
}

.user-menu{
	max-height: 350px;
	width: 150px;
	top: 90px;
	right: 0;
	z-index: 1;
	margin-right: 10px; 
}


.user-alert{
	max-height: 400px;
	width: 350px;
	z-index: 1;
	margin-right: 40px; 
}

.user-menu ul li, .user-alert ul li{
	color: #000000; 
	background: #ffffff !important;
}

.user-menu li:hover, .user-menu li a:hover, .user-alert li:hover, .alert li a:hover{
	color: #000000;
	background: #d3d7cf !important;
}

.user-menu li a, .user-alert li a { 
	margin: 0px; 
	display: block; 
	width: 100%; 
	height: 100%;
	color: #000000; 
}

.deactive-background{
	background: #edf0f5;
}

.text-info{
	color: #3399ff !important;
}

.btn-info{
	background: #3399ff !important;
}

.dash-card{
	background: #ffffff;
	padding: 4px;
	width: 200px;
	height: 200px;
	border: 1px solid #babdb6;
	margin: 20px 10px;
	position: relative;
}

.dash-card h2{
	font-size: 60px;
	margin: 30px auto 0 auto;
	color: #485cc7;
}

.dash-card p{
	font-size: 14px;
	margin: -10px auto 26px auto;
}

.dash-card hr{
	width: 100%;
	height: 1px;
	bottom: 30px;
	position: absolute;
	left: 0; 
	right: 0;
}

.dash-card h3{
	font-size: 16px;
	bottom: 12px;
	margin: auto;
  	position: absolute;
  	left: 0; 
	right: 0;
}

#cinfo{
	height: 160px;
	position: relative;
}

#cinfo img{
	width: 150px; 
	height: 150px;
}

#cinfo p{
	padding: 8px;
	font-size: 30px;
	position: absolute;
  	bottom: 2px; 
	right: 10px;
	background: #ffffff;
	color: #3399ff;
	margin: 0 0;
}

#cinfo p:hover{
	background: #3399ff;
	cursor: pointer;
	color: #ffffff;
}

.txt-len p, .len{
	top: 30%;
	position: absolute;
	text-align: center;
}

.txt-len-l p{
	top: 50%;
	position: absolute;
	
}

.txt-len textarea{
	resize: none;
	border-radius: 0;
}

.form-check p{
	font-size: 30px;
	margin-right: 20px; 
}

.custom-chk input[type=checkbox]
{
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  padding: 10px;
}

.form-check-label{
  font-size: 110%;
  display: inline;
}

.money input[type=text]{
	border: none !important;
	border-bottom: 1px solid #babdb6 !important;
	width: 200px;
}

.money input[type=date]{
	width: 200px;
}

.money select{
	width: 100px;
	margin: 0 30px 0 10px;
}

.group{max-width: 1140px;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.green-bx{background: #3c4ca5;box-sizing: border-box;position: relative;margin-top: -70px;text-align: center;overflow: hidden;z-index: 1;margin-bottom: 30px;}
.green-bx>p{float: left;box-sizing: border-box;}
.green-bx>p:first-child{width: 60%;background: #485cc7;padding: 30px 10px;}
.green-bx>p:last-child{width: 40%;padding: 30px 30px;}
.green-bx>p>span{display: block;float: left;width: 33.33%;color: #fff;font-size: 18px;font-weight: normal;text-decoration: underline;text-align: center;}
.green-bx>p>span>em{font-style: normal;text-align: center;display: inline-block;vertical-align: middle;}
.green-bx>p>span .sm{display: block;font-size: 14px;}
.green-bx>p>span:before{content: "";display: inline-block;vertical-align: middle;margin-right: 10px;position: relative;}
.green-bx>p>span:first-child:before{background: url("../icon/icon_chat.png") no-repeat center;background-size: 26px 23px;height: 23px;width: 26px;top: 2px;}
.green-bx>p>span:nth-child(2):before{background: url("../icon/icon_call.png") no-repeat center;background-size: 30px 27px;height: 27px;width: 30px;top: 3px;}
.green-bx>p>span:nth-child(3):before{background: url("../icon/icon_m_menu02.png") no-repeat center;background-size: 29px 28px;height: 28px;width: 29px;top: 2px;}
.green-bx>p>strong{font-size: 18px;color: #fff;display: inline-block;text-align: left;font-weight: 300;margin-right: 30px;}


.green-bx>p>*{vertical-align: middle;}
.green-bx>p .ic-facebook{display: inline-block;font-size: 0;background: url("../icon/icon_facebook.png") no-repeat center;width: 27px;height: 27px;margin: 0 8px 0 15px;}
.green-bx>p .ic-youtube{display: inline-block;font-size: 0;background: url("../icon/icon_youtube.png") no-repeat center;width: 27px;height: 27px;}
.green-bx .bt img{vertical-align: middle;margin-right: 8px;}

