#statistics_table_jb th{
    width:10%;
}
#statistics_table_jb td{
    width:10%;
}
    .table-search-option.stat_form {
        float:left;
        width:calc(100% - 42px);
    }
    .stat_search_area {
        clear:both;
        float:left;
    }
    .stat_downbtn {
        float:right;
    }
    .select_colume {
        clear:both;
        float:left;
    }