/* styles using by poll */
body[id *= page-mod-poll] div[role=main] p
, body[id *= page-mod-poll] div[role=main] div{
    font-size: 14px;
}
#page-mod-poll-view div[role=main] h3{
    font-size: 16px;
    margin-bottom: 10px;
}
.path-mod-poll div.poll_info{
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    margin-top: -1px;
}
.path-mod-poll span.poll_info{
    background: #f0f0f0;
    line-height: 30px;
    display: inline-block;
    font-weight: 600;
    min-width: 160px;
    padding: 0 10px;
    box-sizing: border-box;
}
.path-mod-poll span.poll_info_value{
    line-height: 30px;
    box-sizing: border-box;
    padding: 0 10px;
}
.path-mod-poll #checkall
, .path-mod-poll #checknone{
    display: inline-block;
    line-height: 35px;
    border: 1px solid #c0c0c0;
    background: #fff;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 20px;
    min-width: 107px;
}
.path-mod-poll input[name=send_message]{
    background: #fd6186;
    border: 0;
    color: #fff;
    min-width: 80px;
    line-height: 35px;
    border-radius: 3px;
    font-size: 14px;
}
#poll_edit_form{
    margin-top: 10px;
}
.path-mod-poll .mform.full-width-labels .fitem.row>.col-md-3{
    padding: 10px;
}
.path-mod-poll .mform>.form-group:not(.femptylabel) .col-md-9.form-inline.felement{
    padding: 10px;
}
#page-mod-poll-use_templ .col-md-9{
    background: #fff;
    padding: 13px 10px;
}
#page-mod-poll-use_templ h2 + h4{
    margin-bottom: 10px;
    font-size: 14px;
}
.path-mod-poll span.poll_info {
    font-weight: bold;
}

.path-mod-poll div.poll_is_dependent {
    background: #ddd;
}

.path-mod-poll span.poll_depend {
    color: #f00;
}

.path-mod-poll hr.poll_pagebreak {
    height: 4px;
    color: #aaa;
    background-color: #aaa;
    border: 0;
    margin: 0;
}

.path-mod-poll .drag_target_active {
    opacity: .25;
}

.path-mod-poll .drag_item_active {
    opacity: .5;
}

.path-mod-poll .poll_bar_image {
    height: 10px;
}

.path-mod-poll #analysis-form label {
    display: inline;
}

.path-mod-poll .templateslist td.cell.action,
.path-mod-poll .templateslist th.header.action {
    width: 10%;
}

/* Analysis page */
.path-mod-poll table.analysis {
    width: 100%;
    border-top: 1px solid #aaa;
    margin-top: 10px;
}

.path-mod-poll table.analysis tr:first-child th {
    padding-top: 10px;
}

.path-mod-poll table.analysis tr:hover {
    background: #f5f5f5;
}

.path-mod-poll table.analysis td.singlevalue:before,
.path-mod-poll table.analysis td.optionname:before {
    content: '- ';
}

.path-mod-poll table.analysis td {
    text-align: left;
}
.path-mod-poll table.analysis td.choicetext {
    background: #f5f5f5;
}

.path-mod-poll table.analysis tr.isempty {
    display: none;
}
.path-mod-poll table.responses {
    margin-top: 20px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
.path-mod-poll table.responses th {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    background: #f5f5f5;
}
.path-mod-poll table.responses tr:first-child td {
    border-top: 1px solid silver;
}
.path-mod-poll table.responses.questiontype_scale th.choicetext,
.path-mod-poll table.responses.questiontype_scale td.response {
    text-align: center;
}


/* Responses list */
.path-mod-poll #showentrytable td.cell.completed_timemodified,
.path-mod-poll #showentryanontable td.cell.random_response {
    font-weight: bold;
}

.path-mod-poll #showentrytable td.cell.userpic,
.path-mod-poll #showentrytable td.cell.deleteentry,
.path-mod-poll #showentryanontable td.cell.deleteentry {
    width: 10px;
}

/* Responses navigation */
.path-mod-poll .response_navigation {
    margin: .5em 0;
}

.path-mod-poll .response_navigation a {
    display: block;
}

.path-mod-poll .response_navigation a.back_to_list {
    text-align: center;
}

.path-mod-poll .response_navigation .prev_response:before {
    /*rtl:raw:
    content: ' ► ';
    */
    /*rtl:remove*/
    content: ' ◄ ';
}

.path-mod-poll .response_navigation .next_response:after {
    /*rtl:raw:
    content: ' ◄ ';
    */
    /*rtl:remove*/
    content: ' ► ';
}

.path-mod-poll .response_navigation .next_response {
    text-align: right;
}

.path-mod-poll .response_navigation .prev_response {
    text-align: left;
}

.path-mod-poll .itemactions {
    float: right;
}