/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019. 6. 24, 오후 2:29:45
    Author     : 혜원
*/
.text-left{text-align: left !important;}
.text-right{text-align: right !important;}
.text-center{text-align: center !important;}

.t-info{
    position: relative;
    padding-left: 14px;
}
.t-info:before{
    content: "※";
    position: absolute;
    left: 0;
    top: 0px;
}
.table + .t-info{
    margin-top: 20px;
}
.box-body{
    padding: 20px;
}
.pagination{
    margin: 0 0 20px;
}
/*####################
#  modal style
######################*/
.modal-title {
    font-size: 15px;
    font-weight: 600;
}
.modal-header .close{
    margin-top: 0;
    top: 14px;
    position: absolute;
    right: 15px;
    opacity: 1;
}
/*####################
#  button style
######################*/
.btns{
    margin-bottom: 30px 
}
.btn{
    margin-right: 5px;
}
.btn.pull-right{
    margin-right: 0;
    margin-left: 5px;
}
.btn.m-auto{
    display: block;
    margin: 10px auto 10px;
}
/*####################
#  search style
######################*/
.search-form{
    text-align: right;
    margin-bottom: 12px;
}
.search-form label{
    vertical-align: middle;
}
.search-form input[type=text]{
    width: calc(100% - 151px);
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
}
.file-form .custom-file{
    width: calc(100% - 62px);
    display: inline-block;
    vertical-align: middle;
}
.custom-file{
    font-size: 0;
}
.custom-file input[type=file]{
    display: none;
}
.custom-file input[type=text]{
    width: calc(100% - 92px);
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
/*####################
#  tab style
######################*/
.tab-content .tab-pane{
    padding: 20px 0;
}
/*####################
#  table style
######################*/
.table{
    border-spacing: 0;
    border-collapse: collapse;
}
.table thead th{
    color: #495057;
    background-color: #e9ecef;
    border: 1px solid #e0e0e0 !important;
}
.table thead td
, .table thead th{
    text-align: center;
}
.table tbody td{
    text-align: center;
    border: 1px solid #e0e0e0 !important;
}
.w-10{
   width: 10%;
}
.f-r{
      float: right;
}
.t-center{
    text-align: center;
}