@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body{
     background: #ffffff !important;
 }

.content {
    width: 100%;
    margin: 0 auto;
}

.content {
}

.header {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.cm-search-area {
    display: flex;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-between;
}

.content-header h1, .myrecei-title {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #333333;
}

.thead-conpon th {
    background-color: #485BC6 !important;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF !important;
    vertical-align: top !important;
}

.thead-conpon tr th {
    border: none !important;
}

.ip-search {
    display: inline-block !important;
}

#btn-search-coupon,#btnsearch,#searchrecei{
    display: flex;
}

#btn-search-coupon input,#btnsearch input ,#searchrecei input{
    margin-right: 5px;
    border-radius: 6px;
}

.btn-search {
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 6px 16px;
    background-color: #ffffff;
}

.btn-add {
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 7px 16px;
    margin-top: 20px;
    color: #333 !important;
    background: #fff;
}

.col-action img {
    margin-left: 30%;
}

.body-coupon tr {
    border-bottom: 1px solid #C4C4C4;
    border-top: 1px solid #C4C4C4;
}

.body-coupon tr td ,.body-coupon tr td a{
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
    text-align: center;
}

.body-coupon tr .col-num {
    text-align: center;
}

.body-coupon tr td.sub-code {
    font-weight: 500;
}

.row-received {
    margin-top: 100px;
}

.page-link1 {
    position: relative;
    display: block;
    border: none;
    background-color: #E0E0E0;
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    color: #555555;
    padding: 5px 20px !important;
    width: auto !important;
    margin: 0 20px;
}
.justify-content-center{

}
.page-link1:hover {
    text-decoration: none;
}

.page-item {
    margin: 0 8px;
}

.page-item .active {
    color: #ffffff;
    background-color: #7ACB00;
}

.page-item .disabled {
    font-weight: normal;
    color: #828282;
}

.vertical-line {
    width: 1px;
    background: #485BC6;
    height: 100%;
}

.nav-item .nav-link {
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    color: #333333;
}

.nav-item .for-employer {
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #485BC6;
}

.item-login {

    border: 1px solid #485BC6;
    border-radius: 6px;
}

.item-login .nav-link {
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #485BC6;
}

.col-table-conpon {
    padding: 0 !important;
    width: 100%;
    text-align: center;
}

.row-table-conpon {
    /*padding-top: 20px;*/
}

.col-date {
    text-align: center;
}

.rbswitch {
    display: none;
}

header .listcoupon1 p,
header .listerror1 p {
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #CCCCCC;
    margin-top: 15px;

}

#listcoupon:checked ~ header .listcoupon1 p {
    color: #4F4F4F;
}

#listerror:checked ~ header .listerror1 p {
    color: #4F4F4F;
}

.listerror1 {
    margin-left: 32px;
}

.action-error img {
    margin-left: 45%;
}

.col-text {
    text-align: justify;
    word-break: break-word;
}

header .addcoupon1 p,
header .sendemail1 p {
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #CCCCCC;
    margin-top: 15px;
}



#addcoupon:checked ~ header .addcoupon1 p {
    color: #4F4F4F;
}

#sendemail:checked ~ header .sendemail1 p {
    color: #4F4F4F;
}

.add-coupon-left .row, .add-coupon-right .row {
    margin-top: 12px;
    margin-bottom: 12px;
}

.add-coupon-left .row .input-width, .add-coupon-right .row .input-width {
    width: 80%;
    background: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 5px;
}

.add-coupon-left .row span, .add-coupon-right .row span {
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 32px;
    color: #000000;
}

.add-coupon-left .row .btn-dowload {
    background: #EB5757;
    width: 60%;
    margin: 0 10%;
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.add-coupon-left .row .choise-file {
    background: #485BC6;
    color: #ffffff;
    padding: 3% 22%;

}

.add-coupon-left .row .choise-file i {
    margin-right: 20px;
}

.add-coupon-right .row .preview-coupon {
    width: 65%;
    margin: 0 auto;
    background: #F2F2F2;
    border-radius: 5px;
    height: 300px;
}

.add-coupon-right .row .input-date {
    /*background: url("/local/management/coupon/asset/img/datepicker.png") no-repeat 7px 7px;*/
    width: 50%;
}

.add-coupon-right .row-date {
    margin-top: 30px;

}

.add-coupon-right .btn-cancel, .add-coupon-right .btn-save, .add-coupon-right .btn-next {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF !important;
    margin-top: 20px;
}

.add-coupon-right .btn-cancel {
    background: #EB5757;
}

.add-coupon-right .btn-save {
    background: #7ACC00;
}

.add-coupon-right .btn-next {
    background: #485BC6;
}

.send-mail-tit h3 {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #4F4F4F;

}
.add-step,.add-email{
    margin-top: 30px;
}
.email-member{
    background: #F2F2F2;
    border-radius: 5px;
}
.email-notmember{
    background: #F2F2F2;
    border-radius: 5px;
    margin: 0 auto;
}
.search-email-input1,
.search-input1.not-mem-input {
    width: 86%;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #B1B1B1 !important;
    box-sizing: border-box;
    border-radius: 5px !important;
}
.btn-search1 {
    width: 13%;
    height: 40px;
    border: none!important;
    color: #485BC6;
    background: #F2F2F2;
}

.btn-add-mail {
    width: 22px;
    height: auto;
}

.btn-search1 i {
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.list-emailmem,.list-emailsend{
    background: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 25px 30px;
    height: 320px;
    overflow-y: scroll;
}
/*.btn-search1:hover{*/
/*    background: #F2F2F2;*/
/*    color: #0424e3;*/
/*}*/
.searchbox{
    margin: 15px 30px 0 30px;
}
.member-tit,.notmember-tit{
    margin-top: 15px;
    margin-left: 30px;
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.emailbody{
    margin-top: 50px;
}
.email-body-tit{
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.email-btn .btn-cancel,.email-btn .btn-send{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
        font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF !important;
    margin-top: 20px;
}
.email-btn .btn-cancel{
    background: #EB5757;
}
.email-btn .btn-send{
    background: #485BC6;
}
.btndel {
    border: none !important;
    background: none !important;
}
.btndel:focus{
    outline: none;
}
@media (max-width: 642px) {
    header .sendemail1 p{
        margin-left: 0px;
    }
}

@media (max-width: 425px) {
    .page-link1 {
        padding: 5px 13px;
    }

    .page-item {
        margin: 0 3px;
    }
}

/*@media (max-width: 1024px) {*/
/*    .table thead {*/
/*        display: none;*/
/*    }*/

/*    .table,*/
/*    .table tbody,*/
/*    .table tr,*/
/*    .table td {*/
/*        display: block;*/
/*        width: 100%;*/
/*    }*/

/*    .table tr {*/
/*        margin-bottom: 20px;*/
/*    }*/

/*    .table tbody tr td {*/
/*        text-align: right;*/
/*        padding-left: 55%;*/
/*        position: relative;*/
/*    }*/

/*    .table td:before {*/
/*        content: attr(data-label);*/
/*        position: absolute;*/
/*        left: 0;*/
/*        width: 45%;*/
/*            font-family: 'Roboto',sans-serif;*/
/*        font-style: normal;*/
/*        font-weight: 500;*/
/*        font-size: 21px;*/
/*        line-height: 25px;*/
/*        text-align: left;*/
/*        color: #555555;*/
/*        padding-left: 10px;*/
/*    }*/

/*    .body-coupon tr .col-num {*/
/*        text-align: right;*/
/*    }*/

/*    .body-coupon tr td {*/
/*        height: 80px;*/
/*    }*/

/*    .sub-code span {*/
/*        word-break: break-all;*/
/*    }*/

/*    .col-date span {*/
/*        word-break: break-all;*/
/*    }*/

/*    tr {*/
/*        border: 1px solid #ccc;*/
/*    }*/

/*    .col-no {*/
/*        background-color: #485BC6;*/

/*    }*/

/*    .col-no,*/
/*    .col-no::before {*/
/*        color: #ffffff !important;*/
/*    }*/
/*}*/