.credit-menu {
    max-width: 1620px;
    margin-top: 4%;
    margin-bottom: 7%;
    font-family: 'Roboto', sans-serif;
}

.list-group-item + .list-group-item {
    border: 1px solid rgba(0, 0, 0, .125);
}

.table-credit-status,
.table-credit-log {
    overflow: auto;
    margin-bottom: 3.35vw;
}

.table-credit-status .table,
.table-credit-log .table {
    min-width: max-content;
}

/* width */
.table-credit-status::-webkit-scrollbar,
#carouselInnerId::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
.table-credit-status::-webkit-scrollbar-track,
#carouselInnerId::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.table-credit-status::-webkit-scrollbar-thumb,
#carouselInnerId::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.table-credit-status::-webkit-scrollbar-thumb:hover,
#carouselInnerId::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#creditCarouselIdMobile {
    display: none;
}

#creditCarouselId,
#creditCarouselIdMobile {
    width: 100%;
}

#creditCarouselId img,
#creditCarouselIdMobile img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.credit-menu .carousel-control-prev {
    position: unset;
    width: 4.15vw;
    height: 4.15vw;
    box-sizing: border-box;
    border-radius: 100%;
    top: unset;
    bottom: unset;
    left: 35%;
    margin: auto;
}

.credit-menu .carousel-control-prev-icon {
    width: 1.25vw;
    height: 2vw;
    background-image: url(/theme/oklassedu/pix/images/prev-job-icon.png);
}

.credit-menu .carousel-indicators {
    margin: 10px 24px 0;
    position: unset;
}

.credit-menu ol li {
    width: 1vw;
    height: 1vw;
    margin: 0 0.55vw;
    background: #E0E0E0;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 100%;
}

.credit-menu .carousel-control-next {
    position: unset;
    width: 4.15vw;
    height: 4.15vw;
    box-sizing: border-box;
    border-radius: 100%;
    top: unset;
    bottom: unset;
    right: 35%;
    margin: auto;
}

.credit-menu .carousel-control-next-icon {
    width: 1.25vw;
    height: 2vw;
    background-image: url(/theme/oklassedu/pix/images/prev-job-icon.png);
    transform: rotate(180deg);
}

.section-left li a {
    color: #333333;
    font-size: 1vw;
}

.table > thead > tr > th {
    background-color: #485BC6;
    color: #FFFFFF;
    font-size: 1.1vw;
}

.section-right .table-credit-status a {
    color: #93D630;
}

.credit-margin-bottom {
    margin-bottom: 2.85vw;
    height: 100%;
}

.credit-price-title {
    font-size: 1vw;
    color: #828282;
    margin: 0;
}

.credit-price {
    font-size: 1vw;
    color: #000000;
    margin: 0;
}

.credit-name {
    margin-bottom: 0;
}

.credit-point{
    font-weight: 500;
    font-size: 1.25vw;
    color: #93D630;
    margin-bottom: 2.5vw;
}

.credit-name span {
    font-weight: bold;
    font-size: 1.7vw;
    color: #333333;
}

.price-area {
    display: inline-block;
    width: 8vw;
    overflow: hidden;
    white-space: nowrap;
}

section.price-area:hover{
    overflow: visible;
}

.buy-now-area {
    float: right;
}

.caption.credit-info {
    background: #FFFFFF;
    border-radius: 1vw 2vw 1vw 1vw;
    box-shadow: 3px 4px 10px rgb(0 0 0 / 15%);
    padding: 1.65vw;
    position: inherit;
    z-index: 2;
    margin-top: -1.5vw;
}

.thumbnail.credit-info {
    box-shadow: 3px 4px 10px rgb(0 0 0 / 15%);
    position: inherit;
    z-index: 1;
    height: 15vw;
}

.credit-control {
    margin: auto;
}

.arrow-show {
    border: 3px solid #93D630;
    background: #93D630;
}

.arrow-show span {
    background-image: url(/theme/oklassedu/pix/images/arrow-slide.png) !important;
    transform: rotate(180deg);
}

.arrow-show span.carousel-control-prev-icon {
    transform: none !important;
}

input.bt.payment.btn.btn-danger {
    font-size: 0.75vw;
    font-weight: bold;
}

.table > tbody > tr > td {
    font-size: 1vw;
}

.section-right h2 {
    font-size: 1.7vw;
}

.credit-description {
    font-size: 1.1vw;
    color: #828282;
}

.credit-log.hide {
    display: none;
}

#carouselInnerId {
    overflow: auto;
}

.row {
    margin: 0;
}

.arrow-hide {
    border: 3px solid #E0E0E0;
    pointer-events: none;
    cursor: default;
}

.carousel-control-prev {
    opacity: 1;
}

.carousel-control-next {
    opacity: 1;
}

.carousel-item {
    position: relative !important;
    float: left !important;
    width: 100% !important;
    height: 100%;
    margin-right: -100% !important;
    backface-visibility: hidden !important;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out !important;
}

.carousel-indicators .active {
    background: #93D630;
}

.carousel-indicators li {
    opacity: 1;
}

@media screen and (max-width: 1199px) {
    .section-left {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .table > tbody > tr > td {
        word-break: break-word;
    }
}

@media screen and (max-width: 767px) {
    #creditCarouselIdMobile {
        display: block;
    }

    #creditCarouselId {
        display: none;
    }

    .section-right h2,
    .credit-name span {
        font-size: 13px;
    }

    .credit-name {
        font-size: 10px;
    }

    .table > thead > tr > th,
    .credit-description {
        font-size: 9px;
    }

    .table > tbody > tr > td,
    .credit-price-title,
    .credit-price {
        font-size: 8px;
    }

    input.bt.payment.btn.btn-danger {
        font-size: 1.25vw;
    }

    .thumbnail.credit-info {
        height: 115.05px;
    }
}