.opinionDiv {
    position: absolute;
    top: 0px;
    left:2px;
    width: 465px;
    height: 465px;
    background: url(../img/memo_02.png) no-repeat;
}
#input_Text {
    position: absolute;
    top: 70px;
    width: 450px;
    height: 350px;
    background-color:transparent;
	margin-top:10px;
}
#inputTextArea{
	border: 0;
	margin:0 auto;
	position: relative;
	font-family: "KoPub돋움체 light";
	top:-28px;
	left:2px;
	font-size: 18px;
	line-height:24px;
    font-weight: 500;
}
#input_Text.textarea{
	border:0px;
	outline: none;
}
#saveOpinion {
	position: relative;
	top:-20px;
	left:500px;
	width: 93px;
  height: 73px;
	background-image: url("../img/save.png");
}
#saveOpinion:hover{background-image: url("../img/save_over.png");}
#saveOpinion a {
    display: block;
    width: 100%;
    height: 100%;
}

#expertOpinionView {
	position: relative;
	top:-93px;
	left:400px;
	width: 93px;
  height: 73px;
	background-image: url("../img/expert.png");
}
#expertOpinionView:hover{background-image: url("../img/expert_over.png");}
#expertOpinion_box {
	position: relative;
	top: -5px;
	left: -5px;
	width: 889px;
	height: 505px;
	background-image: url("../img/pro.png");
}
#expertOpinion_box_closeBtn{
	position: relative;
	top:15px;
	left:830px;
	width: 38px;
 	height: 38px;
	background-image: url("../img/x.png");
}
#expertOpinion_box_closeBtn:hover{background-image: url("../img/x_over.png");}
#myVideo{
	height:0px;
}
