body{font-family: 'Roboto', sans-serif;color:#394074}
a{text-decoration: none; color:#888}
a:hover{text-decoration: none;}
/* #div-frame{
    max-width: 1320px !important;
    margin:0 auto;
} */
.btn-page{border: 2px solid #DDDDDD; border-radius: 6px;background: #FFFFFF; text-transform: uppercase;color: #394074;font-weight: bold;}
.btn-page:hover{background: #394074;color: #fff;}
.max1320{max-width: 1320px; margin: 0 auto;}
.modal-backdrop.show{opacity:.8}
.modal {
    padding-right: 0px !important;
}
.modal-dialog{
    margin:0 auto !important;
}
.animated{
    opacity: 0;
}
/*header2
---------------------------------------*/
#header2{
    display:none;
    z-index: 3;
    top:0;
    width: 100%;
    background: #fff;
    padding:10px}
#header2 #header2-left a{
    padding:5px 7px;
    border-radius: 50%;
    border:1px solid #000;
    font-size: 0.8em;}
#header2 #header2-center img{
    max-height:20px;
}
#header2 #menu-right i{
    cursor: pointer;
    font-size: 1.8em;
}
#header2 #menu-right{
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    background: #fff;
    width: 80%;
    max-width: 400px;
    z-index: 10;
    overflow: hidden;
    display: none;
}
#menu-right-login p{
    margin-bottom:10px;
}
#menu-right-login a{
    border:1px solid #ccc;
    padding:5px 15px;
    font-size: 0.9em;
    color:#555;
}
#menu-right-link{
    height:50%;
    overflow-y: scroll;
    margin-top:15px;
}
.each_link{
    padding: 15px 0 15px 10px;
    border-bottom:1px solid #ddd;
}
.each_link:first-child{
    border-top:1px solid #ddd;
}
#menu-right-link a{
    font-weight: 500;
}
#menu-right-link-mkj{
    padding-left: 10px;
    margin-top:15px;
}
#link-mkj-logo{
    margin-bottom: 10px;
}
#menu-right-link-mkj img{
    max-height: 15px;
}
#menu-right-link-mkj a{
    font-size: 0.8em;
}
#menu-right-link-mkj p{
    font-size: 0.6em;
    margin:14px 0 8px 0;
    color:#aaa;
}
#menu-right-service-register{
    background:#f0f0f0;
    padding:10px 0;
    width:100%;
    overflow: hidden;
}
#menu-right-service-register p{
    width:49.5%;
    float:left;
    margin-bottom: 0;
    font-weight: 500;
}
#menu-right-service-register a{
    color:#000;
}
#menu-right-ask-help{
    padding:10px 0;
    width:100%;
}
.each-ask-help i{
    cursor: unset !important;
    margin-right:10px;
    color:#999;
}
.each-ask-help a{
    color:#000;
    font-size: 0.9em;
}
#menu-right-on-bottom{
    position: absolute;
    bottom:0;
    width: 100%;
}
#menu-right-bottom{
    width: 100%;
    border-top:1px solid #ddd;
    padding:8px 15px;
}
#menu-right-bottom a{
    border:2px solid #ddd;
    border-radius: 4px;
}
#menu-right-bottom i{
    font-size: 0.8em !important;
}
#bg-dark-header{
    /* background: rgba(0, 0, 0, 0.45);
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index:3;
    display: none; */
}
/*header
---------------------------------------*/
#header{z-index: 100;top:0;width: 100%;background: #fff;}
#top-line-header{overflow: hidden;max-width: 1320px;margin:0 auto;}
#top-MKJ ul{
    padding:6px 0;
    margin:0;
    overflow: hidden;
}
#top-MKJ ul li{
    list-style: none;
    float: left;
}
#top-MKJ ul li:first-child::after{
    content:"";
    width:1px;
    height: 13px;
    background: #eee;
    margin:0 15px;
    display: inline-block;
}
#top-MKJ ul li:first-child a{
    background: url('../images/logo_job.png') no-repeat center;
    background-size: auto 15px;
    height:20px;
    width: 110px;
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
}
#top-MKJ ul li:nth-child(2) a{
    color:#888;
    font-weight: 500;
}
#menu-search-header-frame{height: 80px;border: 1px solid #eee;}
#menu-search-header-frame div{height:100%}
#menu-search-header{max-width: 1320px;margin:0 auto;}
#menu-search-header img{height: 100%;}
#menu-search-logo{margin-right:10px;float: left;}
.menu-search-each{height:100%; float: left;padding: 0 23px;position: relative;}
.menu-search-each:hover ul{display:block}
.menu-search-each:hover ul li ul{display:none}
.menu-search-each a{color:#000;font-size: 20px; font-weight: 500}
.menu-search-each ul{position: absolute;top:78px;left:0;padding:0 200px 0 23px; min-width: 410px;border: 1px solid #ddd; display:none; background: #fff; z-index: 99998;}
.menu-search-each ul:hover{display:block}
.menu-search-each ul li{list-style: none;}
.menu-search-each ul li a{display: block;cursor: pointer;padding: 13px 16px 13px 5px;font-size: 19px;font-weight: 500;color: #555;border-bottom: 1px solid #eee;text-align: left;}
.menu-search-each ul li a:hover{background: url('../images/icon_arrow_r.png') no-repeat right center;color:#485cc7}
.menu-search-each ul li:hover ul {display:block}
.menu-search-each ul li ul{position: absolute;min-height:100%;left:209px;top: 0; padding:0 !important; min-width: 200px !important;border:none !important}
.menu-search-each ul li ul:hover{display:block}
.menu-search-each ul li ul li a{border: none;}
.menu-search-each ul li ul li a:hover{background: none;}
#menu-search-register{height:100%}
#menu-search-register a{height: 100%;padding: 25px 53px; background:#485cc7; font-weight: 500; color:white}
/*slide
---------------------------------------*/
/* #slide-header{max-height: 550px;height: 100vh; overflow: hidden;position: relative;}
#slide-header{background:url('../images/banner2.jpg') ;background-position: center;
    background-repeat: no-repeat;
    background-size: cover;} */
#slide-header img{width:100%;height: auto;margin:0 auto;}
/*middle
---------------------------------------*/
#about{margin:30px 0;padding:10px 0}
#about img{height:auto;max-width: 100%;border-radius: 10px;}
#about-text h2{font-size: 40px; font-weight: 500;}
#about-text p{text-align: justify;font-size: 22px;line-height: 176%; font-weight: 500;}
#about-text button{border: 2px solid #DDDDDD; border-radius: 6px;background: #FFFFFF;float:left; margin-right: 70px; padding:15px 50px;font-weight: bold;font-size: 22px; text-transform: uppercase;color: #394074;margin-top:20px}
#about-text button:hover{border: 2px solid #DDDDDD;background: #394074;color: #fff;}
#about-text{height: 100%;padding-left: 50px;}
/*middle why-choose
---------------------------------------*/
#why-choose{margin:20px 0 30px}
#why-choose .row{margin:0 auto !important}
#why-choose h2{max-width: 700px;margin:0 auto; font-size: 33px; font-weight: 900; text-align: center;margin-bottom: 30px;}
#why-choose .each-choose{border: 2px solid #DDDDDD;border-radius: 6px;padding:30px 30px 0px; height: 100%;}
#why-choose .each-choose:hover{box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);}
#why-choose .each-choose p{font-size: 20px; font-weight: 300; line-height: 170%; text-align: justify;height:100% !important}
#why-choose .each-choose h3{margin-top:30px}
/*TOPIK II & BUSINESS
---------------------------------------*/
.img-teacher{position: relative;}
.img-teacher .circle-teach{position: absolute; top: 0; z-index:1; width: 60%; border-radius: 50%; background: #fff;left:50%; transform: translateX(-50%);}
.img-teacher .circle-teach:before{content:'';padding-top: 100%;float: left;}
.img-teacher img{max-width:80%; position: relative; z-index: 2;}
.img-teacher a{position: absolute; z-index: 2; top:20%; left:20%; font-weight: bold;font-size: 20.4px;color: #394074;}
.img-teacher a hr{margin:7px auto; width: 80%; border-top:2px solid #394074}
.each-part-teach {margin:20px 0}
.each-part-teach h3{font-weight: 900;font-size: 25px;text-transform: uppercase;margin:20px 0}
.each-part-teach hr{width:50%; margin:0 auto 20px; border-top:3px solid #394074}
.each-part-teach p{font-weight: 500;font-size: 1.3em;line-height: 213%; color: #767A8F;margin:0 auto}
.each-part-teach button{font-size: 20px;line-height: 165%;margin:0 auto; width: 100%;padding:10px}
/*TOPIK II
---------------------------------------*/
#topik2{background:#F7F7FF; padding: 30px 0 0;}
#topik2 h2{text-align: center;margin-bottom: 30px; font-size: 33px; font-weight: 900;}
/*business
---------------------------------------*/
#business{background:#F5F5F5; padding: 30px 0 0;}
#business h2{text-align: center;margin-bottom: 0px; font-size: 33px; font-weight: 900;}
#business p#title_business{text-align: center;margin-bottom: 30px; font-size: 1.6em; font-weight: 400;}
#business .img-teacher a{position: absolute; z-index: 2; top:18%; left:10%; font-weight: bold;font-size: 20.4px;color: #394074;}
#business .each-part-teach button{font-size: 20px;line-height: 165%;margin:0 auto; width: 100%;padding:15px 10px; margin: 15px 0;}
/*video
---------------------------------------*/
#video {position: relative;color:#fff}
#video img{object-fit: cover;}
#video #black-bg{width: 100%; height: 100%; position: absolute; background: rgba(0, 11, 48, 0.61);z-index: 1;top:0}
#video #fron-vid{position:absolute;z-index: 2;top:0;width: 100%; height: 100%;}
#video #icon-vid{padding:25px;border-radius: 50%; background: #fff;color:#485CC7}
#video #icon-vid:hover{animation:fadein-video 1s ease infinite;cursor: pointer;}
#video #fron-vid h2{text-transform: uppercase;font-weight: 700;line-height: 135%;font-size: 2em; margin-top: 20px;}
#video #fron-vid p{font-size: 1.6em;font-weight: 300; margin:0}
/*email
---------------------------------------*/
#email{ padding: 30px 0}
#email img{ margin-left: 50px; border-radius: 6px; width:80%}
#email h2{font-weight: 900;font-size:1.9em; line-height: 150%;}
#email p{font-size:1.6em; margin-bottom: 8px;}
#email input{width:100%;max-width: 510px; margin:10px 0;border: 1px solid #DDDDDD;border-radius: 6px;height:45px; padding-left:15px;}
#email input::placeholder{color:#C7C7C7}
#email button{padding:8px 40px; font-weight: bold;margin-bottom:10px; font-size:1.3em}
#email span{color:#C7C7C7;font-weight: 500;font-size: 1.1em; font-style: italic; max-width:550px}
/*footer
---------------------------------------*/
#footer{background:#485CC7; padding:20px 0; color:#fff}
#footer img{width:100%; max-width:142px}
#footer a{color:#fff;font-weight: 500; margin-right:20px; font-size: 1.08em;}
#footer p{color:#fff;margin:10px 0; font-size: 0.8em;}
#footer #footer-right a{border:1px solid #fff; padding:4px 7px; border-radius: 5px; margin-right:10px; margin-bottom: 10px;}
#footer #footer-right img{width:auto}
#footer #footer-right a i{margin-bottom: 15px;}
#footer .col-md-8{padding:0}
/*animation
---------------------------------------*/
@keyframes fadein-video{
    0%{}
    50%{box-shadow: 0px 0px 0px 20px rgba(255,255,255,0.15);}
    100%{}
}

@media only screen and (max-width: 992px) {
    #about-text{padding-left: 0px;}
    #email img {margin-left: 0;}
    #footer .col-md-8{padding:0 15px}
}
@media only screen and (max-width: 1025px) {
    #header{display:none}
    #header2{display:block}
}
@media only screen and (max-width: 1115px) {
    #email .col-md-6 {padding-left: 15px !important}
    #footer .col-md-8{padding:0 15px !important}
}
@media only screen and (max-width: 1320px) {
    .row{margin:0 auto !important}
    .col-md-3{padding:0 10px !important}
    .col-md-2{padding:0 10px !important}
    .col-md-7{padding:0 10px !important}
    .col-md-8{padding:0 10px !important}
    .col-md-6{padding:0 10px !important}
    .col-md-4{padding:0 10px !important}
    .col-lg-3{padding:0 10px !important}
    .col-lg-2{padding:0 10px !important}
    .col-lg-7{padding:0 10px !important}
    .col-lg-8{padding:0 10px !important}
    .col-lg-6{padding:0 10px !important}
    .col-lg-4{padding:0 10px !important}
}