<form id="pruneform" method="get" action="post.php">
<table border="0" cellpadding="5">
<tr valign="top">
    <td align="right"><b><?php print_string("discussionname", "jinoforum"); ?>:</b></td>
    <td>
        <input type="text" name="name" size="60" value="<?php p($post->subject) ?>" />
    </td>
</tr>

<tr>
    <td align="center" colspan="2">
    <input type="hidden" name="prune"   value="<?php p($prune) ?>" />
    <input type="hidden" name="confirm" value="<?php p($prune) ?>" />
    <input type="hidden" name="sesskey" value="<?php echo sesskey() ?>" />
    <input type="submit" value="<?php print_string('prune', 'jinoforum'); ?>" />
    </td>
</tr>
</table>
</form>
