/**
 * Structure of a jinoforum post
 * div.jinoforumpost(.read.unread)
 *     div.header.row
 *         div.picture.left
 *         div.topic(.starter)
 *             div.subject
 *             div.author
 *     div.row
 *         div.side.left
 *         div.content-mask
 *             div.content
 *                 div.attachments
 *                 div.posting(.shortenedpost|.fullpost)
 *                     // message
 *                 div.attachedimages
 *                     // attachedimages
 *     div.row
 *         div.left
 *         div.options
 *             div.commands
 *             div.post-word-count
 *             div.jinoforum-post-rating
 *             div.link
 *             div.footer
 */

.jinoforumpost {
    border-top: 2px solid #676767;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 20px;
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
}
.jinoforumpost .row {width:100%;position:relative;}
.jinoforumpost .row .left {float:left;width: 43px;overflow:hidden;}
.jinoforumpost .row .left .grouppictures a {text-align:center;display:block;margin:6px 2px 0 2px;}
.jinoforumpost .row .left .grouppicture {width:20px;height:20px;}
.jinoforumpost .row .topic,
.jinoforumpost .row .content-mask,
.jinoforumpost .row .options {margin-left:50px;}
.jinoforumpost .picture img {margin:4px;}
.jinoforumpost .options .commands,
.jinoforumpost .content .attachments,
.jinoforumpost .options .footer,
.jinoforumpost .options .link {text-align:right;}
.jinoforumpost .options .jinoforum-post-rating {float:left;}
.jinoforumpost .content .posting {overflow:auto;max-width:100%;text-align: justify;color:#999;}
.jinoforumpost .content .attachedimages img {max-width:100%;}
.jinoforumpost .post-word-count { font-size: .85em; font-style: italic; }
.jinoforumpost .shortenedpost .post-word-count { display: inline; padding: 0 .3em; }

.dir-rtl .jinoforumpost .row .topic,
.dir-rtl .jinoforumpost .row .content-mask,
.dir-rtl .jinoforumpost .row .options {margin-right:43px;margin-left:0;}
.dir-rtl .jinoforumpost .row .left {float:right;}
.dir-rtl.path-mod-jinoforum .indent {margin-right:30px;margin-left:0;}

.path-mod-jinoforum .jinoforumolddiscuss,
#page-mod-jinoforum-search .c0 {text-align:right;}
.path-mod-jinoforum .indent {margin-left: 30px; clear:both; }
.path-mod-jinoforum .jinoforumheaderlist {width: 100%;border-width:1px;border-style:solid;border-collapse:separate;margin-top: 10px;}
.path-mod-jinoforum .jinoforumheaderlist td {border-width:1px 0px 0px 1px;border-style:solid;}
.path-mod-jinoforum .jinoforumheaderlist th.header.replies .iconsmall { margin: 0 .3em;}
.path-mod-jinoforum .jinoforumheaderlist .picture {width: 35px;}
.path-mod-jinoforum .jinoforumheaderlist .discussion .starter {vertical-align: middle;}
.path-mod-jinoforum .jinoforumheaderlist .discussion .lastpost {white-space: nowrap;text-align: right;}
.path-mod-jinoforum .jinoforumheaderlist .replies,
.path-mod-jinoforum .jinoforumheaderlist .discussion .author {white-space: nowrap;}

/** Styles for subscribers.php */
#page-mod-jinoforum-subscribers .subscriberdiv,
#page-mod-jinoforum-subscribers .subscribertable {width:100%;vertical-align:top;}
#page-mod-jinoforum-subscribers .subscribertable tr td {vertical-align:top;}
#page-mod-jinoforum-subscribers .subscribertable tr td.actions {width:16%;padding-top:3em;}
#page-mod-jinoforum-subscribers .subscribertable tr td.actions .actionbutton {margin:0.3em 0;padding:0.5em 0;width:100%;}
#page-mod-jinoforum-subscribers .subscribertable tr td.existing,
#page-mod-jinoforum-subscribers .subscribertable tr td.potential {width:42%;}

/** Styles for discuss.php **/
#page-mod-jinoforum-discuss .discussioncontrols {width:100%;margin:5px;}
#page-mod-jinoforum-discuss .discussioncontrols .discussioncontrol {width:33%;float:left;}
#page-mod-jinoforum-discuss .discussioncontrol.exporttoportfolio {text-align:left;}
#page-mod-jinoforum-discuss .discussioncontrol.displaymode {text-align:center;}
#page-mod-jinoforum-discuss .discussioncontrol.movediscussion {float:right;width:auto;text-align:right;padding-right:10px;}
#page-mod-jinoforum-discuss .discussioncontrol.movediscussion .movediscussionoption {}
#page-mod-jinoforum-discuss .jinoforumpost .viewinfo{
    font-size: 100%;
    margin-right: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
}

/** Styles for view.php **/
#page-mod-jinoforum-view .jinoforumaddnew {margin-bottom: 20px;}
#page-mod-jinoforum-view .groupmenu {float: left;text-align:left;white-space: nowrap;}
#page-mod-jinoforum-index .subscription,
#page-mod-jinoforum-view .subscription {float: right;text-align:right;white-space: nowrap;margin: 5px 0;}

/** Styles for search.php */
#page-mod-jinoforum-search .introcontent {padding: 15px;font-weight:bold;}

#page-mod-jinoforum-index .unread a:first-child,
#page-mod-jinoforum-view .unread a:first-child {padding-right: 10px;}
#page-mod-jinoforum-index .unread img,
#page-mod-jinoforum-view .unread img {margin-left: 5px;}
#page-mod-jinoforum-view .unread img {margin-left: 5px;}
.dir-rtl#page-mod-jinoforum-view .unread img {margin-right: 5px; margin-left: 0; }

/* Jinoforumpost unread
-------------------------*/
#page-mod-jinoforum-view .unread,
.jinoforumpost.unread .row.header,
.path-course-view .unread,
span.unread {
    background-color: #FFD;
}
.jinoforumpost.unread .row.header {
    border-bottom: 1px solid #DDD;
}

#page-mod-jinoforum-post .ui-front { z-index: 6000 !important; }

#page-mod-jinoforum-view .isnotice {
    background: #dedede;
}

#page-mod-jinoforum-view .board-list-area{
    clear: both;
}

#page-mod-jinoforum-view .board-list-area .board-list{
    margin: 0;
}

#page-mod-jinoforum-view .board-list-area .board-list li{
    clear: both;
    list-style: none;
    border: 1px solid #aaa;
    padding: 20px;
    margin-bottom: 5px;
}

#page-mod-jinoforum-view .table-header-area{
    float: left;
}

#page-mod-jinoforum-view .table-filter-area{
    float: right;
}

#page-mod-jinoforum-view .table-search-option .search-text{
    width: 200px;
}

#page-mod-jinoforum-view .post-title{
    font-size: 110%;
    font-weight: bold;
}

#page-mod-jinoforum-view .post-date{
    font-size: 90%;
    color: #999;
}

#page-mod-jinoforum-view .post-picture{
    float:left;
    margin-right: 10px;
}

#page-mod-jinoforum-view .post-title img{
    margin-right: 5px;
    vertical-align: bottom;
}

#page-mod-jinoforum-view .post-viewinfo{
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-right: 10px;
}


#page-mod-jinoforum-post_view .detail-title{
    font-size: 120%;
    font-weight: bold;
}

#page-mod-jinoforum-post_view .detail-date{
    margin-right: 5px;
    font-size: 90%;
    color: #999;
}

#page-mod-jinoforum-post_view .detail-contents{
    clear: both;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
}

#page-mod-jinoforum-post_view .detail-attachment-area{
    border: 1px solid #ccc;
    margin-bottom: 10px;
   padding: 18px 0;
   background: #eee;
}

#page-mod-jinoforum-post_view .detail-attachment-title{
    padding: 20px;
    background: #049cdb;
    color: #fff;
    font-weight: bold;
}

#page-mod-jinoforum-post_view .detail-attachment{
    padding: 20px;
}

#page-mod-jinoforum-post_view .detail-viewinfo{
    font-size: 110%;
    font-weight: bold; 
    text-align: center;
    margin-top: -15px;
    margin-right: 20px;
}  

#jinoforum_user_dialog #studentlist div {
    font-size: 12px;
}