.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #d2d6de;
}
li.list-group-item div {
    line-height: 30px;
}

#modal-add-user #user-list,
#modal-add-group #group-list {
    height: 300px;
    overflow-y: scroll;
}

#modal-add-user #user-list table tbody tr td {
    line-height: 30px;
}

li.list-group-item .user-image,
#modal-add-user #user-list table tbody tr td .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 2px;
}

li.list-group-item .btn {
    margin-right: 0px;
}

.form-group div.input-group {
    display: table;
}
.form-group div.input-group div.input-group-btn {
    display: table-cell;
}