.course-content ul.oklass_lcms {margin:0;}
.course-content ul.oklass_lcms li.section {list-style: none;margin:0 0 5px 0;padding:0;}
.course-content ul.oklass_lcms li.section .content {margin:0 40px;}
.course-content ul.oklass_lcms li.section .left,
.course-content ul.oklass_lcms li.section .right {width:40px;padding: 0 6px;}
.course-content ul.oklass_lcms li.section .right img.icon { padding: 0 0 4px 0;}
.course-content ul.oklass_lcms li.section .left {padding-top:22px;text-align: right;}
.jsenabled .course-content ul.oklass_lcms li.section .left,
.jsenabled .course-content ul.oklass_lcms li.section .right {width:auto;}
.course-content ul.oklass_lcms li.section .left .section-handle img.icon { padding:0; vertical-align: baseline; }
.course-content ul.oklass_lcms li.section .section_action_menu .textmenu,
.course-content ul.oklass_lcms li.section .section_action_menu .menu-action-text { white-space: nowrap; }

.course-content ul.oklass_lcms li.section .lcmscompletiontext{
    margin-left: 5px;
    margin-top: 5px;
    padding: 2px 5px;
    font-size: 11px;
    border: 1px solid #ddd;
}

.course-content ul.oklass_lcms li.section .lcmscompletiontext.complete{
    background-color: #fff;
}

.course-content ul.oklass_lcms li.section .lcmscompletiontext.incomplete{
    background-color: #fff;
    color: #f00;
    font-weight: bold;
}

.format-oklass_lcms #completionprogressid{
    display: none;
}