$font-family-sans-serif: "Noto Sans KR", "Noto Sans SC", sans-serif !default;
$font-family-base: $font-family-sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$headings-font-weight: 400;

$body-bg: #fff;
$body-color: #333;

$border-color: #e6e7e8;
$border-radius: 0px !default;

$padding-base-vertical: 8px !default;
$padding-base-horizontal: 14px !default;

//== Modals
$modal-content-border-color: #fff !default;
$modal-content-fallback-border-color: #fff !default;
$modal-backdrop-bg: #edf1f6 !default;
$modal-backdrop-opacity: 1 !default;
$modal-header-border-color: #fff !default;

$theme-colors: (
  "primary": #485cc7,
  "secondary": #7ace00,
  "light": #f0f3f9,
  "area": #f3f6f9,
  "gray": #eff0f1,
  "gray-200": #f7f8f9
);

$gray-light: #edf1f6;

$spacers: (
  "6": 60px,
  "7": 70px,
  "jbox": 20px
);
