@import "variables";
@import "animations";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700|Noto+Sans+SC:300,400,500,700&display=swap&subset=korean,vietnamese");
@import "../../node_modules/bootstrap/scss/bootstrap";

* {
  outline: none !important;
}

body.lang-ko{
  font-family: 'Noto Sans KR', 'Noto Sans SC', sans-serif;
}
body.lang-en{
  font-family: 'Noto Sans KR', 'Noto Sans SC', sans-serif;
}
body.lang-vi{
  font-family: 'Noto Sans', sans-serif;
}

.mk-jobs.jobs-site {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.667;

  @import "utilities";
  @import "oklassedu_overwrite";
  @import "theme";

  @import "components/icons.scss";
  @import "components/homepage.scss";
  @import "components/employers.scss";
}
