.m-menu-area {
  .custom-select.bs-disabled {
    padding: initial;
    display: initial;
    width: initial;
    height: initial;
    font-size: initial;
    font-weight: initial;
    line-height: initial;
    color: initial;
    background: initial;
    border: initial;
    border-radius: initial;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    appearance: initial;
    strong {
      max-height: 79px;
    }

    &.on > strong {
      color: initial;
      background: initial;
    }
    &.active > strong,
    &:hover > strong {
      color: #485cc7 !important;
      background: #f8f8f8 !important;
    }
  }
  &.on {
    .custom-select {
      width: 100%;
    }
  }
}

.main-slider {
  .slick-dots {
    max-width: initial !important;
    left: 50% !important;
    top: 0px !important;
    margin-left: auto !important;
  }

  .sd .group {
    top: 45%;
    h2 {
      color: #ffffff;
      font-size: 25px;
      text-align: center;
      margin-bottom: 35px;
    }
  }

  .main-search input[type="text"]::placeholder {
    color: #ccc;
  }

  .slick-arrow {
    border: none !important;
  }
}

.bar-tab > li:not(:first-child)::before {
  position: relative;
  top: 4px;
}

.pg-tit {
  &.f22 {
    .mr {
      width: 22px !important;
      height: 22px !important;
      top: 4px;
      position: relative;
      background-size: 13px;
    }
  }
}

.nav-filters-button {
  top: -4px;
  .sub-mn > span {
    background: url("../images/icon_options.png") no-repeat center;
  }
}

input[type="text"],
input[type="password"],
input[type="number"] {
  &.form-control {
    border: 1px solid #ccc;
    font-size: 15px;
    color: #555;
    height: auto;
    box-sizing: border-box;
    padding: auto;
    line-height: 1;
    margin-bottom: 0;
  }
}

// ==================================================================================================
// ==================================================================================================

// @media (min-width: 576px) {
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-slider .sd .group h2 {
    font-size: 30px;
  }

  .bg-md-area {
    background-color: #f3f6f9;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .main-slider .sd .group h2 {
    font-size: 44px;
  }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }

// ==================================================================================================
// ==================================================================================================
// @media (max-width: 1200px) {
// }

// @media (max-width: 992px) {
// }
@media (max-width: 768px) {
  .ply-list ul > li {
    margin: 10px 0px;
    width: 100%;
    &:first-child {
      padding-right: 0;
      border-right: none;
    }
    &:last-of-type {
      padding-left: 0;
    }

    .img {
      width: 160px;
      height: 100px;
    }
    .txt {
      width: calc(100% - 200px);
    }
  }
}

@media (max-width: 576px) {
}
