*[v-cloak] {
  display: none !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.modal {
  .modal-dialog {
    margin-top: 200px;
  }
}

.form-group {
  label {
    font-weight: 500;
  }
}

.form-control,
.btn {
  border-radius: 0px !important;
  &:hover,
  &:focus,
  &:active {
    box-shadow: none !important;
  }
}

.btn-spinner {
  .spinner {
    display: none;
  }

  &:disabled {
    .spinner {
      display: inline-block;
    }
    .btn-lbl {
      display: none;
    }
  }

  &.btn-lg {
    .spinner {
      position: relative;
      top: -5px;
    }
  }
}

.tit-jbox {
  font-size: 20px;
  line-height: 1.2;
  overflow: hidden;
  font-weight: 500;
  margin-bottom: 23px;
}

.article-jbox {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
    line-height: 1.2;
    overflow: hidden;
    font-weight: 500;
    margin-bottom: 23px;
  }

  p,
  ul,
  ol,
  dl {
    color: #888;
    margin-bottom: 20px;
  }

  li,
  a {
    color: #888;
  }
}

.map-jbox {
  height: 417px;
}

.pagination {
  justify-content: center;
  li {
    > a,
    > span {
      display: block;
      border: 1px solid #ccc;
      border-top-color: rgb(204, 204, 204);
      border-right-color: rgb(204, 204, 204);
      border-bottom-color: rgb(204, 204, 204);
      border-left-color: rgb(204, 204, 204);
      color: #888;
      font-size: 13px;
      line-height: 32px;
      text-align: center;
      width: 34px;
      height: 34px;
      box-sizing: border-box;
      padding: 0;
      margin: 1.5px;
    }

    &.active {
      > span,
      > a {
        color: #000 !important;
        border-color: #000;
        background: #fff;
      }
    }
  }
}

.vi-autocomplete {
  padding: 2px;
  .vi-tag {
    margin: 2px;
    display: inline-block;
  }
  input {
    border: 0px;
    border-bottom: 1px dashed #ccc;
    margin: 2px;
  }

  .dropdown-menu > li > div {
    padding: 10px 20px;
    cursor: pointer;
    outline: 0;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  .dropdown-menu > .active > div,
  .dropdown-menu > .active > div:focus,
  .dropdown-menu > .active > div:hover {
    color: #fff !important;
    background-color: #485cc7;

    * {
      color: #fff !important;
    }
  }
}

// ==================================================================================================
// ==================================================================================================

// @media (min-width: 576px) {
// }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }

// ==================================================================================================
// ==================================================================================================
// @media (max-width: 1200px) {
// }

@media (max-width: 992px) {
  .modal {
    .modal-dialog {
      margin-top: 100px;
    }
  }
}

@media (max-width: 768px) {
  .map-jbox {
    height: 300px;
  }
  .btn-md-float {
    position: fixed;
    bottom: 65px;
  }
}

@media (max-width: 576px) {
  .map-jbox {
    height: 200px;
  }
}
