<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    .content,
    .custom-menu {
        width: 84.5%;
        margin: 0 auto;
    }

    .content {
        margin-top: 75px;
        margin-bottom: 245px;
    }

    .header {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }

    .mycoupons-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        color: #333333;
    }

    .thead-conpon th {
        background-color: #485BC6 !important;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF !important;
        vertical-align: top !important;

    }

    .thead-conpon tr th {
        border: none !important;
    }

    .ip-search {
        display: inline-block !important;
        margin-top: 20px;
    }

    .btn-search {
        border: 1px solid #828282;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 7px 16px;
        background-color: #ffffff;
        margin-top: 20px;
    }

    .col-action img {
        margin-left: 30%;
    }

    .body-coupon tr {
        border-bottom: 1px solid #C4C4C4;
        border-top: 1px solid #C4C4C4;
    }

    .body-coupon tr td,.body-coupon tr td a {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 22px;
        color: #555555;
    }

    .body-coupon tr .col-num {
        text-align: center;
    }

    .body-coupon tr td.sub-code {
        font-weight: 500;
    }

    .page-link1 {
        position: relative;
        display: block;
        margin-left: -1px;
        border: none;
        background-color: #E0E0E0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 22px;
        color: #555555;
        padding: 0px 16px !important;
        width: auto !important;
        height: auto !important;
    }

    .page-link1:hover {
        text-decoration: none;
    }

    .page-item {
        margin: 0 8px;
    }

    .page-item .active {
        color: #ffffff !important;
        background-color: #7ACB00;
    }

    .page-item .disabled {
        font-weight: normal;
        color: #828282;
    }

    .col-table-conpon {
        padding: 0 !important;
        width: 100%;
    }

    .row-table-conpon {
        padding-top: 20px;
    }

    .btndel {
        border: none !important;
        background: none !important;
    }

    .sub-code span {
        word-break: break-all;
    }

    @media (max-width: 425px) {
        .page-link1 {
            padding: 5px 13px;
        }

        .page-item {
            margin: 0 3px;
        }
    }

    @media (max-width: 1024px) {
        .table thead {
            display: none;
        }

        .table,
        .table tbody,
        .table tr,
        .table td {
            display: block;
            width: 100%;
        }

        .table tr {
            margin-bottom: 20px;
        }

        .table tbody tr td {
            text-align: right;
            padding-left: 55%;
            position: relative;
        }

        .table td:before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 45%;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 25px;
            text-align: left;
            color: #555555;
            padding-left: 10px;
        }

        .body-coupon tr .col-num {
            text-align: right;
        }

        .body-coupon tr td {
            height: 80px;
        }

        .sub-code span {
            word-break: break-all;
        }

        .col-date span {
            word-break: break-all;
        }

        tr {
            border: 1px solid #ccc;
        }

        .col-no {
            background-color: #485BC6;

        }

        .col-no,
        .col-no::before {
            color: #ffffff !important;
        }
    }
</style>

<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <p class="mycoupons-title">{{coupon_title}}</p>
            </div>
            <div class="col-md-4">
                <form method="POST" action="{{url}}" role="search" class="" id="" novalidate="">

                    <input required="" name="searchtext" placeholder="Search" class="ip-search" id="" autocomplete="off"
                           spellcheck="false" dir="auto" type="text">
                    <button class="btn-search" type="submit"><i class="far fa-search"></i></button>

                </form>
            </div>
        </div>
        <div class="row row-table-conpon">
            <div class="col-md-12 col-table-conpon">
                <table class="table table-conpon" id="table-coupon">
                    <thead class="thead-conpon">
                    {{#tablehead}}
                        <th>{{no}}</th>
                        <th>{{title}}</th>
                        <th>{{course}}</th>
                        <th>{{discount_rate}}</th>
                        <th>{{receiveddate}}</th>
                        <th>{{subscriptioncode}}</th>
                        <th>{{used}}</th>
                        <th>{{useddate}}</th>
                        <th>{{expired}}</th>
                        <th>{{expire_date}}</th>
                        <th>{{actions}}</th>
                    {{/tablehead}}
                    </thead>
                    <tbody class="body-coupon">
                    <tr>
                        <td colspan="11" style="display: {{stylenodata}}">{{nodata}}</td>
                    </tr>
                    {{#rows}}

                        <tr class="datacp" id="{{id}}">
                            <td class="col-num col-no" data-label="No">{{no}}</td>
                            <td data-label="Title" style="word-break: break-word;"><a href="{{linkcourse}}">{{title}}</a></td>
                            <td data-label="Course" style="word-break: break-all;">{{course}}</td>
                            <td class="col-num" data-label="Discount Rate">{{discount_rate}}%</td>
                            <td data-label="Received Date" class="col-date"><span>{{send_date}}</span></td>
                            <td data-label="Subscription Code" class="sub-code"><span><a href="{{linkcourse}}">{{key_code}}</a></span></td>
                            <td data-label="Used">{{is_used}}</td>
                            <td data-label="Used Date" class="col-date"><span>{{used_date}}</span></td>
                            <td data-label="Expired">{{is_expire}}</td>
                            <td data-label="Used Date" class="col-date"><span>{{expire_date}}</span></td>
                            <td data-label="Actions" class="col-action">
                                <button id="del_{{id}}" class="btndel" data-id="{{id}}"><img
                                        src="/local/job/templates/img/actiondel.png"/></button>
                            </td>
                        </tr>
                    {{/rows}}
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" id="pagicoupon">

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        // Delete
        $(".btndel").click(function () {
            var id = $(this).parents("tr").attr("id");
            if (confirm("{{confirmdelete}}")) {
                $.ajax({
                    url: '/local/job/coupon/ajaxfile.php',
                    type: 'POST',
                    data: {id: id},
                    success : function() {
                        alert('{{succdel}}');
                        location.href="{{url}}"
                    },
                    error : function() {
                        alert('{{faildel}}');
                    },
                });
            }
        });
    });
    $(document).ready(function () {
        $('#table-coupon').after('<ul class="pagination justify-content-center" id="pagicoupon"></ul>');
        var rowsShown = 5;
        var rowsTotal = $('#table-coupon tbody .datacp').length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('#pagicoupon').append('<li class="page-item"><a class="page-link1" href="#" rel="' + i + '">' + pageNum + '</a></li>');
        }
        $('#table-coupon tbody .datacp').hide();
        $('#table-coupon tbody  .datacp').slice(0, rowsShown).show();
        $('#pagicoupon li a:first').addClass('active');
        $('#pagicoupon li a').bind('click', function () {

            $('#pagicoupon li a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#table-coupon tbody .datacp').css('opacity', '0.0').hide().slice(startItem, endItem).css('display', 'table-row').animate({opacity: 1}, 300);
        });
    });
</script>