{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/forum_post_emaildigestbasic_htmlemail

    Template which defines a forum post for sending in a single-post HTML email.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * permalink
    * subject
    * authorlink
    * authorfullname
    * postdate

    Example context (json):
    {
        "permalink": "https://example.com/mod/forum/discuss.php?d=2#2",
         "subject": "Is Lorem ipsum Latin?",
        "authorlink": "https://example.com/user/view.php?id=2&course=2",
        "authorfullname": "Lucius Caecilius lucundus",
        "postdate": "Sunday, 13 September 2015, 2:22 pm"
    }
}}
<div>
  <a target="_blank" href="{{{ permalink }}}">{{{ subject }}}</a>
  {{# str }} bynameondate, forum, {
          "name": {{# quote }}<a target="_blank" href="{{{ authorlink }}}">{{ authorfullname }}</a>{{/ quote }},
          "date": {{# quote }}{{ postdate }}{{/ quote }}
      } {{/ str }}
</div>
