body {
    font-family: 'Roboto', sans-serif;
}
header {
    background: #fff;
    border-bottom: 1px solid #eeeeee;
}
.main-menu {
    align-items: center;
}
a.nav-link {
    font-size: 18px;
    color: #000 !important;
}
.job-logo {
    height: 20px;
    background-size: contain !important;
}
.job-logo a {
    opacity: 0;
}
.icon-height {
    height: 20px;
    font-size: 20px;
}
.search-icon {
    margin-right: 10px;
}
.li-job {
    border: 1px solid #E4E4E4;
    padding: 2px 13px;
    border-radius: 4px;
}
.menu-right li{
    padding-left: 5px;
    padding-right: 5px;
}
.menu-right li a {
    color: #a3a6aa;
}
.menu-right li a.active {
    color: #000;
}
.carousel-item {
    /*height: 100vh;*/
    width: auto;
}
.carousel-item img {
    height: 100vh;
    width: 100vw !important;
    object-fit: cover;
}
.slick-dots {
    display: flex;
    margin-top: 30px;
}
.slick-dots li {
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}
.fa.fa-circle {
    color: #fff;
}
.slick-active i {
    color: #454545 !important;
}
.main-course-cate i.fa{
    color: #ddd !important;
}
.slick-dots {
    justify-content: center;
}
.course-popular-slider-button {
    width: unset !important;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 40px;
    color: #485cc7;
    position: absolute;
}
.course-popular-slider-pre, .course-recommend-slider-pre, .course-employer-slider-pre {
    left: -5px;
}
.course-popular-slider-next, .course-recommend-slider-next , .course-employer-slider-next {
    right: -5px;
}
.bg-course {
    width: 100%;
    padding-top: 40px;
    margin-top: 50px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding-bottom: 30px;
}
.bg-course-employer {
    margin-top: 50px;
}
.bg-course-employer .course-popular {
    top: 10%;
}
.bg-course-employer .slick-dots {
    margin-top: 20px;
}
.border-radius {
    border-radius: 4px;
}
.main-course .m-2{
    background: #fff;
    border-radius: 4px;
}
.main-course img {
    border-radius: 4px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
.employer-img {
    height: 250px;
    display: flex;
}
.main-course .main-course-text {
    padding: 20px;
}
.main-course .main-course-text h2 {
    font-size: 24px;
}
.btn-main {
    background: #485cc7;
    color: #fff;
    border: #485cc7;
}
.btn-main i {
    color: #fff !important;
}
.btn-main:hover {
    color: #fff;
}
.price {
    margin-top: 40px;
    margin-bottom: 20px;
}
.price span {
    font-size: 16px;
}
body {
    background: #F4F4F4;
}
.text-main {
    color: #485cc7;
}
.h2-title {
    font-size: 30px;
    font-weight: 700;
}
.feedback-form {
    margin-top: 50px;
}
.feedback-form h2 {
    margin-top: 40px;
    margin-bottom: 22px;
}
.feedback-form input {
    margin-bottom: 30px;
}
.feedback-form textarea {
    height: 256px;
}
.btn-feedback {
    padding: 20px 40px;
    margin-top: 30px;
}
.feedback-note {
    font-weight: 700;
    font-style: italic;
    color: #C7C7C7;
    margin-top: 8px;
}
.img-feedback {
    /*height: 86%;*/
    object-fit: cover;
}
.feedback-banner {
    background: #e1e1e1;
}
footer {
    background: #485cc7;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
footer .bt {
    font-size: 12px;
}
footer .bt p {
    margin: 0;
}
#logoCCDV img {
    width: 200px;
    display: block;
    margin-top: 20px;
}
.term {
    display: block;
    padding: 0px;
}
.term li{
    display: inline-block;
    margin-right: 20px;
    list-style: none;
}
.term li a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
footer .foot-icon {
    border: 1px solid #fff;
    margin-right: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    margin-bottom: 6px;
    color: #fff;
    margin-bottom: 14px;
}
.main-content-none div {
    display: none;
}

.course-popular {
    position: relative;
    margin-top: 20px;
}
video {
    width: 100vw;
    /*height: 100vh;*/
    object-fit: cover;
}
.mobile {
    display: none;
}
.search {
    width: 100vw;
    right: 0px;
    top: 70px;
    border: 0px;
}
.categories-menu {
    border-radius: unset;
    margin-top: 30px;
}
.categories-menu a{
    padding: 8px 30px;
}
@media only screen and (max-width : 480px ) {
    .carousel-item {
        height: 70vh;
    }
    .img-feedback {
        height: auto;
    }
    .price {
        margin-top: 0px;
    }
    .bg-course {
        padding-top: 40px;
    }
    .course-popular {
        top: 10%;
    }
    video {
        width: 100vw;
        height: 70vh;
        object-fit: cover;
    }
    .carousel-item img {
        height: 70vh;
    }
    .categories-menu {
        margin-top: 0px;
    }
    .bg-course-recommned {
        margin-top: 80px;
    }
    .bg-course-employer .course-popular {
        top: 5%
    }
    .bg-course-employer {
        margin-top: 50px;
    }
}
@media only screen and (max-width : 600px ) {
    .carousel-item {
        height: 70vh;
    }
    .bg-course-recommned {
        margin-top: 80px;
    }
}
@media only screen and (max-width : 800px ) {
    .carousel-item {
        height: 70vh;
    }
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }

}
@media only screen and (max-width : 768px) {
    /* Styles */
}
@media only screen and (max-width : 1024px ) {
    /* Styles */
}

.ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;

}
.ellipsis-1 {
    height: 35px;
    margin: 0 auto;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 30px;
}
.ellipsis-2 {
    height: 55px;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 30px;
}
.block-ellipsis-title {
    height: 60px;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 30px;
    margin-bottom: 26px;
    font-weight: 700;
}
.font-700 {
    font-weight: 700;
}

.block-ellipsis-title:hover {
    color: #000;
}

.block-ellipsis-description a {
    color: #888;
}
.block-ellipsis-description {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 34px;
    margin: 0 auto;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}