.flowplayer { width: 80%; }
.flowplayer {
  background-color: #333;
}
 
/* initially hide speed buttons while they cannot be used */
.is-splash.flowplayer .buttons, .is-loading.flowplayer .buttons {
  /*display: none;*/
}
.flowplayer .buttons {
  position: absolute;
  left: 15px;
  bottom: 40px;
  z-index: 12; /* make clickable */
  display: block;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.is-mouseout.flowplayer .buttons {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  /* same transition as other ui elements like fullscreen */
  -webkit-transition: opacity .15s .3s;
  -moz-transition: opacity .15s .3s;
  transition: opacity .15s .3s;
}
.flowplayer .buttons span {
  padding: 1ex;
  margin: 0.5ex;
  width: 3em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background-color: #eee;
  cursor: pointer;
  -webkit-border-radius: 1ex;
  -moz-border-radius: 1ex;
  border-radius: 1ex;
}
.flowplayer .buttons span.active {
  color: #00a7c8;
  background-color: #666;
  cursor: default;
}

#pop_wrap{
    border: 2px solid #828282;
    box-sizing: border-box;
    width: 580px;
    height: auto;
    margin: 0;
}

#pop_wrap .pop_title h2 {
    text-indent: 10px;
    float: left;
}

.pop_title .popclose {
    float: right;
    cursor: pointer;
}

#pop_wrap #contents {
    overflow: hidden;
    padding: 30px 25px 30px 25px !important;
    box-sizing: border-box;
    height: calc(100% - 60px);
    position: relative; 
}

.modal-text, .modal-text p {
    line-height: 20px;
    color: #1d1d1d;
}

#pop_wrap .pop_title {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #828282;
}
.path-local-media .explan_group{
    overflow: hidden;
    margin: 15px 0 5px 0;
}

.path-local-media .satis-score-list{
    clear: both;
    margin: 10px 0;
    height: 40px;
}

.path-local-media .satis-score-list li{
    position: relative;
    float: left;
    margin-right: 10px;
}

.path-local-media .satis-score-list li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.path-local-media .satis-score-list li label{
    display: inline-block !important;
    position: relative;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #333;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
}

.path-local-media .satis-score-list li:hover label{
    background-color: #eee;
}

.path-local-media .satis-score-list li input[type=radio]:checked ~ label{
  background-color: #f34d78;
  color: #fff;
}

.path-local-media .center{
    text-align: center;
}

.path-local-media .comment-regis-area, .path-local-media .comment-list-area{
    clear: both;
    margin-bottom: 20px;
}

.path-local-media textarea{
    width: 99%;
}

.path-local-media .comment-regis-area .comment-regis-btn{
    float: right;    
}

.path-local-media .comment-regis-area a.comment-btn{
    display: inline-block;
    background-color: #ffffff;
    font-size: 12px;
    color: #1d1d1d;
    border: 1px solid #cacaca;
    width: 50px;
    height: 20px;
    line-height: 20px;
    margin-left: 6px;
    text-align: center;
}

.path-local-media .comment-list-area{
    margin-top: 30px;
    margin-bottom: 50px;
}

.path-local-media .comment-list-area li{
    padding: 5px 0;
    margin-bottom: 10px;
    clear: both;
}

.path-local-media .comment-list-area .comment-regis-info{
    float: right;
}

.path-local-media .comment-list-area .comment-regis-user{
    font-size: 12px;
    color: #666;
    margin-left: 6px;
}

.path-local-media .captiontab{
 
}

.path-local-media .captiontab li{
    float: left;
    padding: 10px;
    line-height: 10px;
    margin-bottom: 10px;
}

.path-local-media .captiontab li.on{
    border-bottom: 3px solid #ddd;
}

.path-local-media .captioninfo{
    clear: both;
    margin-bottom: 10px;
}

.path-local-media .script_list{
    max-height: 500px;
    overflow-y: auto;
}


.path-local-media .script_list div.subtime {
    display: inline-block;
    width: 70px;
    color: #666;
    vertical-align: top;
}

.path-local-media .script_list div.subtext {
    display: inline-block;
    overflow: hidden;
    width: 97%;
}

.path-local-media #controls {
    position: absolute; bottom: 0px; left: 0px; width: 100%; height: 50px; background: #333;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.path-local-media #playbtn{
    display:block; visibility: visible; position: absolute; bottom: 10px; left: 1%; width:35px;
}
.path-local-media #pausebtn{
    display:block; visibility: visible; position: absolute; bottom: 10px; left: 4%; width:35px;
}
.path-local-media #playpausebtn img{
    width: 35px; vertical-align: middle;
}
.path-local-media #playtime {
   display:block; visibility: visible; position: absolute; bottom: 15px; left: 9%; width: 10%;
}
.path-local-media #seekslider{ 
    display:block; visibility: visible; position: absolute; bottom: 20px; left: 17%; width: 70%; z-index: 999;
}
.path-local-media #totaltime {
    display:block; visibility: visible; position: absolute; bottom: 15px; right: 1%; width: 10%;
}


.path-local-media input[type='range'] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #777;
    background-color: #999;
    height: 10px;
    vertical-align: middle;
}
.path-local-media input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #777;
    background-color: #999;
    height: 10px;
}
.path-local-media input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 30px;
    width: 30px;
}
.path-local-media input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 30px;
    width: 30px;
}

.path-local-media input[type='range']::-webkit-slider-thumb:hover {
	 background-color: yellow;
}

.path-local-media input[type='range']::-moz-range-thumb:hover {
	 background-color: yellow;
}

.path-local-media #id_additionheader, .path-local-media #id_thumbnailheader, .path-local-media #id_captionheader, .path-local-media #id_embedheader {
	 display: none;
}

.path-local-media .selected_target{
    width:100%; height:100px;background:#eee;overflow:auto;border: 1px solid #ccc; padding: 5px;
}

.path-local-media .selected_target_btn{
    font-size: 12px !important;
    padding: 3px 5px !important;
    margin-bottom: 3px !important;
    float: right;
}

.path-local-media .w_20{
    width: 20px !important;
    font-size: 12px !important;
}

.path-local-media .smallbtn{
    font-size: 12px !important;
    padding: 3px !important;
    margin-right: 0 !important;
}
