h2.mylearning_title{
    letter-spacing: -1px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding-left: 10px;
    padding-right:10px;
}
div.mylearning_header{
    float: left;
    width: 100%;
    /* padding: 0 5px;
     border: 1px solid #CAD2DC;
     border-radius: 5px;
     background: #F1F4FC;*/
}
div.mylearning_header select{
    margin: 1px 0;
    font-family: 'nanumGothic', 'Malgun Gothic', Helvetica, Arial, sans-serif;
    font-size: 9pt;
    float:right;
    width: auto;
}
/*선택박스*/
div.mylearning_header select#titleside{
    margin: 1px 0;
    font-family: 'nanumGothic', 'Malgun Gothic', Helvetica, Arial, sans-serif;
    font-size: 9pt;
    float:left; 
}
.mylearning_header input[type="submit"]{
    float: right;
    color: white;
    background: #4488ad;
    text-align: center;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.mylearning_header input[type="submit"]:hover{
    opacity:0.7;
}
.mylearning_header input[type="text"]{
    float: right;
    background: #fff;
    border:1px solid #ccc;
    padding:0;
    border-radius:0;
    margin:0 5px;
    color:#333;
}
table.mylearning_table{
    width:100%;
    margin-bottom:5px !important;
}
/*테이블에서 th부분*/
table.mylearning_table th{
    background: #E6E9F0;
    border-bottom: 1px solid #B4BCCD;
    border-top: 3px solid #B4BCCD;
    border-collapse: collapse;
    font-size: 8pt;
    text-decoration: none;
    color: #4D6699 !important;
    padding: 5px;
}
/*테이블에서 th부분*/
table.mylearning_table.half th{
    width:30%;
}