.cmd {
    border: 1px solid #ccc;
    overflow: auto;
    background-color: #eee;
    white-space: nowrap;
    margin: 10px 0px 10px 0px;
    padding: 20px 10px 20px 10px;
}

.cmd .param {
    font-style: italic;
    font-weight: bold;
    color: blue;
}

.parameters dl dt {
    margin: 10px 0px 10px 0px;
}

.parameters dl dd ul {
    padding: 5px 0px 5px 30px;
}

.parameters dl dd ul li {
    list-style: circle;
}

span.required {
    color: red;
}

/** 로딩 **/
#loading{
    background: rgba(0,0,0,.5) url(/theme/oklassv3/pix/images/loading.gif) no-repeat center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}