.uperpage{
    float: left;
    position: relative;
    min-height: 1px; 
    padding-left: 15px;
    margin-top: 4px;
    height: 30px;
}
.tb-arrow{
    cursor: pointer;
}
.tb-arrow:after{
    content: "";
    display: inline-block;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    vertical-align: middle;
    margin-left: 4px;
}
.tb-arrow.up:after{
    border-color: transparent transparent #333 transparent;
    margin-top: -8px;
}
.tb-arrow.dash:after{
    border: 0;
    width: 10px;
    height: 3px;
    background: #333;
    vertical-align: middle;
    margin-top: -3px;
}