<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="/local/management/coupon/asset/css/style.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js" integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="coupon-generate-content">
    <div class="cg_wrapper">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <input type="radio" name="switch-cg-form" class="switch-cg-form" id="create-coupon" checked/>
                <input type="radio" name="switch-cg-form" class="switch-cg-form" id="send-coupon"/>
                <div class="switch-label">
                    <label for="create-coupon" class="cg-form-1">{{#str}}create_coupon,local_management{{/str}}</label>
                    <label for="send-coupon" class="cg-form-2">{{#str}}send_coupon,local_management{{/str}}</label>
                </div>
                <div class="cards-area">
                    <div class="cards">
                        <div class="cg-form" id="add-coupon">
                            <div class="cg-form_box">
                                <form action="{{savecouponurl}}" method="post" enctype="multipart/form-data"
                                      id="cg-form">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7 cg-form--left">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="cg-input-label">{{#str}}cp_title,local_management{{/str}}</span>
                                                </div>
                                                <div class="col-md-10 col-sm-10">
                                                    <div class="form-group">
                                                        <input type="hidden" name="couponid" value="{{#coupon_infor}}{{id}}{{/coupon_infor}}">
                                                        <input type="text" name="title" rules="required|min:6" class="input-width" id="cg-upload-title" placeholder="" value="{{#coupon_infor}}{{title}}{{/coupon_infor}}"/>
                                                        <p class="form-mes"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="cg-input-label">{{#str}}cp_img,local_management{{/str}}</span>
                                                </div>
                                                <div class="col-md-10 col-sm-10">
                                                    <div class="form-group">
                                                        <input type="file" name="image" {{#coupon_infor}}{{required}}{{/coupon_infor}} id="cg-upload-image" class="cg-upload-image" value=""/>
                                                        <label for="cg-upload-image" class="input-width">
                                                            <div class="cg-choose-file">
                                                                <p><i class="fal fa-upload"></i>{{#str}}choose-file,local_management{{/str}}</p>
                                                            </div>
                                                        </label>
                                                        <p class="form-mes"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="cg-input-label">{{#str}}cp_course,local_management{{/str}}</span>
                                                </div>
                                                <div class="col-md-10 col-sm-10">
                                                    <div class="cg-course-box form-group">
                                                        <div class="cg-course-selector">
                                                            <input type="text" name="course" rules="required"
                                                                   id="cg-course_input"/>
                                                            <p class="cg-course-chosen">{{#course_infor}}{{en_coursename}}{{/course_infor}}</p>
                                                            <i class="fa fa-angle-down"></i>
                                                        </div>
                                                        <div class="cg-search-course_box">
                                                            <input type="text" class="cg-search-course_input"
                                                                   placeholder="Search course ...">
                                                            <div class="cg-course-search-list">

                                                            </div>
                                                        </div>
                                                        <p class="form-mes"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="cg-input-label">{{#str}}cp_dr,local_management{{/str}}</span>
                                                </div>
                                                <div class="col-md-2 col-sm-2">
                                                    <div class="form-group">
                                                        <div class="cg-discount-rate">
                                                            <input type="number" id="discountrate" rules="required|countmin:1|countmax:100" name="discount-rate" min="1" max="100" step="1" value="{{#coupon_infor}}{{discount_rate}}{{/coupon_infor}}"/>
                                                            <span>%</span>
                                                        </div>
                                                        <p class="form-mes"></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2"></div>
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="cg-input-label">{{#str}}cp_renderqr,local_management{{/str}}</span>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <div class="is-render-qrcode">
                                                        <input type="radio" name="qrcode" id="yesqrcode" class="rbqrcode" value="1" {{#coupon_infor}}{{render_qrcodeyes}}{{/coupon_infor}}/>
                                                        <label for="yesqrcode">Yes</label>
                                                        <input type="radio" name="qrcode" id="noqrcode" class="rbqrcode" value="0" {{#coupon_infor}}{{render_qrcodeno}}{{/coupon_infor}}/>
                                                        <label for="noqrcode">No</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="cg-input-label">{{#str}}cp_dis,local_management{{/str}}</span>
                                                </div>
                                                <div class="col-md-10 col-sm-10">
                                                    <div class="form-group">
                                                        <textarea id="description" name="description" class="area-des input-width" rules="required" rows="4" cols="33" value=''>{{#coupon_infor}}{{description}}{{/coupon_infor}}</textarea>
                                                        <p class="form-mes"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="cg-input-label">{{#str}}rc_code,local_management{{/str}}</span>
                                                </div>
                                                <div class="col-md-10 col-sm-10">
                                                    <div class="form-group">
                                                        <input type="text" id="couponcode" name="couponcode" class="input-width" value="{{couponcode}}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="cg-input-label ">{{#str}}startdate,local_management{{/str}}</span>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <div class="form-group">
                                                        <div class="cg-date-form">
                                                            <input type="date" name="start-date" rules="required" id="cg-start-date-input" value="{{#coupon_infor}}{{start_date}}{{/coupon_infor}}"/>
                                                        </div>
                                                        <p class="form-mes"></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2">
                                                    <span class="cg-input-label">{{#str}}expiredate,local_management{{/str}}</span>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <div class="form-group">
                                                        <div class="cg-date-form">
                                                            <input type="date" name="expire-date" rules="required" id="cg-expire-date-input" value="{{#coupon_infor}}{{expire_date}}{{/coupon_infor}}"/>
                                                        </div>
                                                        <p class="form-mes"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4"></div>
                                                <div class="col-md-8 col-sm-8">
                                                    <div class="cg-btn">
                                                        <input type="hidden" name="submitType" id="cg-submitType">
                                                        <div class="cg-btn-save">
                                                            <input type="submit" value="{{#str}}save,local_management{{/str}}" name="save">
                                                        </div>
                                                        <div class="cg-btn-next"><div>{{#str}}next,local_management{{/str}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 cg-form--right">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="cg-form-right_box">
                                                        <!-- preview coupon-->
                                                        <div class="cg-form_preview form-group">
                                                            <div class="cg-preview-switch">
                                                                <span>Coupon Preview</span>
                                                                <div class="cg-preview-switch-button">
                                                                    <input type="checkbox" id="cg-preview-switch-checkbox" checked>
                                                                </div>
                                                            </div>
                                                            <div class="coupon-preview" id="coupon_preview">
                                                                <div class="coupon-preview_image">
                                                                    <div class="cg-cp-img"><img src="{{#coupon_infor}}{{imgurl}}{{/coupon_infor}}" alt="preview img" class="img-thumbnail" width="480px" , height="472px"/>
                                                                        <div class="cg-cp-qrcode_img">
                                                                            <img id="qrcodeimg" style="{{#coupon_infor}}{{cpqrcodestyle}}{{/coupon_infor}}" src="{{#coupon_infor}}{{cpqrcode}}{{/coupon_infor}}" alt="qrcode"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cg-cp-logo">
                                                                        <img src="/local/management/coupon/asset/img/LogoMKJ.png" alt="mk logo"/>
                                                                    </div>
                                                                    <div class="cg-cp_discount">
                                                                        <p>
                                                                            <span>{{#coupon_infor}}{{discount_rate}}{{/coupon_infor}}</span>
                                                                            %</p>
                                                                    </div>
                                                                </div>
                                                                <div class="coupon-preview_description">
                                                                    <row>
                                                                        <div class="col-sm-12">
                                                                            <p class="cg-cp-title"
                                                                               style="word-break: break-word">{{#coupon_infor}}{{title}}{{/coupon_infor}}</p>
                                                                        </div>
                                                                    </row>
                                                                    <row>
                                                                        <div class="col-md-12 col-sm-12">
                                                                            <div class="cg-cp-description">
                                                                                <p style="word-break: break-word; text-align: justify">
                                                                                    {{#coupon_infor}}{{description}}{{/coupon_infor}}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </row>
                                                                    <row>
                                                                        <div class="coupon-preview-qrcode">
                                                                            <div class="row">
                                                                                <div class="col-md-12 col-sm-12">
                                                                                    <div class="cg-cp-couponcode">
                                                                                        <h4><b>CODE:&nbsp;&nbsp;<span style="word-break: break-word">{{couponcode}}
                                                                                                    </span>
                                                                                            </b>
                                                                                        </h4>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </row>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <row>
                                                            <div class="col-md-3 col-sm-3 coupon-preview-downloadPDF">
                                                                <span class="cg-input-label" style="margin: 10px auto">{{#str}}cp_qty,local_management{{/str}}</span>
                                                            </div>
                                                            <div class="col-md-3 col-sm-3 coupon-preview-downloadPDF">
                                                                <div class="form-group">
                                                                    <input type="number" id="quantity" name="quantity"
                                                                           rules="required|countmin:1" min="0" step="1"
                                                                           value="{{#coupon_infor}}{{count}}{{/coupon_infor}}"
                                                                           class="input-width"/>
                                                                    <p class="form-mes"></p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-2 coupon-preview-downloadPDF" style="">
                                                                <button style="margin-right: 30px;" onclick="dowloadpdf()">
                                                                    {{#str}}rc_dowloadpdf,local_management{{/str}}
                                                                    <i class="fas fa-arrow-alt-to-bottom"></i>
                                                                </button>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4"></div>
                                                        </row>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="sg-form" id="send-email" style="display: none;">
                            <div class="col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 send-mail-tit">
                                        <h3>{{#str}}receivers,local_management{{/str}}</h3>
                                    </div>
                                </div>
                                <div class="row add-email">
                                    <div class="col-md-8 col-sm-8">
                                        <div class="email-member">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                        <span class="member-tit">
                                            {{#str}}member,local_management{{/str}}
                                        </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="searchbox">
                                                        <input type="text" class="search-email-input1"/>
                                                        <button class="btn-search1"><i class="far fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="list-emailmem list-emailmem-toadd">

                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="list-emailsend list-emailmem-tosend">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="email-notmember">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                        <span class="notmember-tit">
                                            {{#str}}notmember,local_management{{/str}}
                                        </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="searchbox">
                                                        <input type="text" class="search-input1 not-mem-input"/>
                                                        <button class="btn-search1" onclick="addNotMemEmail()">
                                                            <span><img
                                                                    src="/local/management/coupon/asset/img/additem.png"
                                                                    alt="add" class="btn-add-mail"/></span>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="list-emailmem list-notmememail-tosend">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-sm-8">
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="email-btn">
                                            <a class="btn btn-send"> {{#str}}send,local_management{{/str}}</a>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="email-btn">
                                            <a class="btn btn-cancel"> {{#str}}
                                                cancel,local_management{{/str}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="savedcoupon" value="{{saved}}">
<script>
    function dowloadpdf(){
        if(document.getElementById("savedcoupon").value==="true"){
            const previewcoupon=document.getElementById("coupon_preview");
            const filename=document.getElementById("cg-upload-title").value;
            const opt = {
                margin:       2,
                filename:     filename+'.pdf',
                image:        { type: 'jpeg', quality: 0.98 },
                html2canvas:  { scale: 2 },
                jsPDF:        { unit: 'in', format: 'a4', orientation: 'portrait' }
            };
            html2pdf(previewcoupon,opt)
        }else{
            alert("Coupon has not been saved");
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('input[name="switch-cg-form"]').change(function () {
            if ($('#create-coupon').prop('checked')) {
                document.getElementById("add-coupon").style.display = "";
                document.getElementById("send-email").style.display = "none";
            }
            if ($('#send-coupon').prop('checked')) {
                document.getElementById("add-coupon").style.display = "none";
                document.getElementById("send-email").style.display = "";
            }
        });
        $('input[name="qrcode"]').change(function () {
            if ($('#yesqrcode').prop('checked')) {
                document.getElementById("qrcodeimg").style.display = "";
                document.getElementById("qrcodeimg").src = "/local/management/coupon/asset/img/qrcode.png";
            }
            if ($('#noqrcode').prop('checked')) {
                document.getElementById("qrcodeimg").style.display = "none";
            }
        });
    });

    const listEmailToAdd = document.querySelector('.list-emailmem-toadd');
    const listMemEmailToSend = document.querySelector('.list-emailmem-tosend');
    const listNotMemEmailToSend = document.querySelector('.list-notmememail-tosend');

    const searchEmailInput = document.querySelector('.search-email-input1');
    const notMemEmailInput = document.querySelector('.not-mem-input');

    const userEmailToAdd = [];
    const userEmailToSend = [];
    const notMemEmailToSend = [];
    let allUserEmail;

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    //get user email
    const jqxhr = $.ajax({
        url: '/local/management/coupon/api/get_user_email.php',
        type: 'POST',
        dataType: 'json',
        data: 'abc'
    }).done(function (res) {
        allUserEmail = res;
        let listEmailHtml = '';
        for (let i = 0; i < 50; i++) {
            userEmailToAdd.push(res[i]);
            listEmailHtml += `<div class="email-to-add" data-idemail="${res[i].id}">
                                  <p>${res[i].email}</p>
                                  <img src="/local/management/coupon/asset/img/additem.png" alt="add" class="addemailbtns"/>
                              </div>`;
        }
        listEmailToAdd.innerHTML = listEmailHtml;
    })
    jqxhr.always(function () {
        const removeBtns = document.querySelectorAll('.addemailbtns');
        removeBtns.forEach(function (e) {
            e.addEventListener('click', function (e) {
                const para = document.createElement("div");
                para.classList.add('email-to-add');
                const btn = e.target;
                const emailid = btn.parentElement.dataset.idemail;
                const moveItem = btn.parentElement;
                const emailBlock = moveItem.getElementsByTagName('p');
                const email = emailBlock[0].innerHTML;
                para.dataset.idemail = emailid;

                //create email item in email to send box
                const paraEmail = document.createElement("p");
                const removeBtn = document.createElement("img");
                paraEmail.innerHTML = email;
                removeBtn.classList.add('removeEmailbtns')
                removeBtn.setAttribute("src", "/local/management/coupon/asset/img/actiondel.png")
                removeBtn.addEventListener('click', function (e) {
                    removeItemWhenClickBtn(e);
                    removeItemFromSendArray(emailid);
                });
                para.appendChild(paraEmail)
                para.appendChild(removeBtn)
                listMemEmailToSend.appendChild(para)
                moveItem.remove();
                //add email to send array
                // userEmailToAdd.push({userId: emailid, email: email})
                addItemToSendArray(emailid, email)
            })
        })
    });

    //add email in array that to send
    function removeItemFromSendArray(userid) {
        const emailIndex = userEmailToSend.findIndex(e => {
            return e.userId === userid;
        })
        userEmailToSend.splice(emailIndex, 1)
        console.log(userEmailToSend)
    }

    //add email into array that to send
    function addItemToSendArray(userid, email) {
        if (!userEmailToSend.find(e => e.userId === userid)) {
            userEmailToSend.push({userId: userid, email: email})
            console.log(userEmailToSend)
        }
    }

    //search course
    const courseSelector = document.querySelector('.cg-course-selector');
    const courseChosen = document.querySelector('.cg-course-chosen');
    const searchCourseInput = document.querySelector('.cg-search-course_input');
    const searchCourseBox = document.querySelector('.cg-search-course_box');
    const courseSearchList = document.querySelector('.cg-course-search-list');
    const courseInput = document.querySelector('#cg-course_input');

    $(document).ready(function () {
        const courseid ={{#course_infor}}{{id}}{{/course_infor}};
        if (courseid !== -1) {
            courseInput.value = courseid;
        }
    });
    //get course list
    let allCourses = [];
    const coursesSearching = [];
    $.ajax({
        url: '/local/management/coupon/api/get_course_list.php',
        type: 'POST',
        dataType: 'json',
        data: 'abc'
    }).done(function (res) {
        console.log(res)
        allCourses = res;
        let allCoursesLength = allCourses.length;
        for (let i = 0; i < allCoursesLength; i++) {
            const para = document.createElement("div");
            para.classList.add('cg-course-item');
            para.dataset.courseId = res[i].id;
            //create course item in course to search box
            const paraEmail = document.createElement("p");
            paraEmail.innerHTML = res[i].name;
            paraEmail.addEventListener('click', function (e) {
                // removeItemWhenClickBtn(e);
                chooseCourse(e);
            });
            para.appendChild(paraEmail)
            courseSearchList.appendChild(para)
        }
    })

    $(document).mouseup(function (e) {
        const container = $(".cg-search-course_box");

        // if the target of the click isn't the container nor a descendant of the container
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.hide();
        }
    });

    function chooseCourse(e) {
        searchCourseBox.style.display = "none";
        searchCourseInput.value = '';
        courseChosen.innerHTML = e.target.innerHTML;
        courseInput.value = e.target.parentElement.dataset.courseId;
        console.log(e.target.innerHTML)
        console.log(courseInput.value)
    }

    courseChosen.addEventListener('click', function (e) {
        searchCourseBox.style.display = "block";
        courseSearchList.innerHTML = '';
        const allCoursesLength = allCourses.length
        if (allCoursesLength > 0) {
            for (let i = 0; i < allCoursesLength; i++) {
                const para = document.createElement("div");
                para.classList.add('cg-course-item');
                para.dataset.courseId = allCourses[i].id;
                //create course item in course to search box
                const paraEmail = document.createElement("p");
                paraEmail.innerHTML = allCourses[i].name;
                paraEmail.addEventListener('click', function (e) {
                    chooseCourse(e);
                });
                para.appendChild(paraEmail)
                courseSearchList.appendChild(para)
            }
        }
    })

    searchCourseInput.addEventListener('keyup', function (e) {
        courseSearchList.innerHTML = '';
        let searchKey = e.target.value;
        const searchData = allCourses.filter(course => {
            return course.name.toString().toLowerCase().includes(searchKey.toLowerCase())
        })
        console.log(searchData)
        const searchDatalength = searchData.length
        if (searchDatalength > 0) {
            for (let i = 0; i < searchDatalength; i++) {
                const para = document.createElement("div");
                para.classList.add('cg-course-item');
                para.dataset.courseId = searchData[i].id;
                //create course item in course to search box
                const paraEmail = document.createElement("p");
                paraEmail.innerHTML = searchData[i].name;
                paraEmail.addEventListener('click', function (e) {
                    chooseCourse(e);
                });
                para.appendChild(paraEmail)
                courseSearchList.appendChild(para)
            }
        }
    })

    searchCourseBox.addEventListener('blur', function (e) {
        searchCourseBox.style.display = "none";
    })
    //end search course


    //add item to send box
    function addCourseToBox(courseid, name) {
        if (!coursesReceivedCoupon.find(e => e.courseid === courseid)) {
            const para = document.createElement("div");
            para.classList.add('email-to-add');
            para.dataset.idemail = courseid;

            //create email item in email to send box
            const paraEmail = document.createElement("p");
            const removeBtn = document.createElement("img");
            paraEmail.innerHTML = name;
            removeBtn.classList.add('removeEmailbtns')
            removeBtn.setAttribute("src", "/local/management/coupon/asset/img/actiondel.png")
            removeBtn.addEventListener('click', function (e) {
                removeItemWhenClickBtn(e);
                removeCourseFromArray(courseid);
            });
            para.appendChild(paraEmail)
            para.appendChild(removeBtn)
            courseList.appendChild(para)
        }
    }

    //add item to send box
    function addItemToSendBox(userid, email) {
        if (!userEmailToSend.find(e => e.userId === userid)) {
            const para = document.createElement("div");
            para.classList.add('email-to-add');
            para.dataset.idemail = userid;

            //create email item in email to send box
            const paraEmail = document.createElement("p");
            const removeBtn = document.createElement("img");
            paraEmail.innerHTML = email;
            removeBtn.classList.add('removeEmailbtns')
            removeBtn.setAttribute("src", "/local/management/coupon/asset/img/actiondel.png")
            removeBtn.addEventListener('click', function (e) {
                removeItemWhenClickBtn(e);
                removeItemFromSendArray(userid);
            });
            para.appendChild(paraEmail)
            para.appendChild(removeBtn)
            listMemEmailToSend.appendChild(para)
        }

    }

    //remove item when click on remove btn
    function removeItemWhenClickBtn(e) {
        let btn = e.target;
        const moveItem = btn.parentElement;
        moveItem.remove();
    }

    function addNotMemEmail() {
        const emailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!emailRegex.test(notMemEmailInput.value.toLowerCase())) return;
        if (notMemEmailToSend.includes(notMemEmailInput.value)) return;
        notMemEmailToSend.push(notMemEmailInput.value)

        //add item to box
        const para = document.createElement("div");
        para.classList.add('email-to-add');

        //create email item in email to send box
        const paraEmail = document.createElement("p");
        const removeBtn = document.createElement("img");
        paraEmail.innerHTML = notMemEmailInput.value;
        removeBtn.classList.add('removeEmailbtns')
        removeBtn.setAttribute("src", "/local/management/coupon/asset/img/actiondel.png")
        removeBtn.addEventListener('click', function (e) {
            removeItemWhenClickBtn(e);
            const emailIndexItem = notMemEmailToSend.indexOf(notMemEmailInput.value)
            console.log(emailIndexItem)
            notMemEmailToSend.splice(emailIndexItem - 1, 1)
            console.log(notMemEmailToSend)
        });
        para.appendChild(paraEmail)
        para.appendChild(removeBtn)
        listNotMemEmailToSend.appendChild(para)
        //add email to send array
        notMemEmailInput.value = ''
        console.log(notMemEmailToSend)
    }

    //search email
    searchEmailInput.addEventListener('keyup', function (e) {
        listEmailToAdd.innerHTML = '';
        // userEmailToAdd.splice(0, userEmailToAdd.length)
        // console.log(userEmailToAdd)
        let searchKey = e.target.value;
        const searchData = allUserEmail.filter(user => {
            return user.email.toString().toLowerCase().includes(searchKey.toLowerCase())
        })
        console.log(searchData)
        const searchDatalength = searchData.length
        if (searchDatalength > 0) {
            for (let i = 0; i < searchDatalength; i++) {
                const para = document.createElement("div");
                para.classList.add('email-to-add');
                para.dataset.idemail = searchData[i].id;

                //create email item in email to send box
                const paraEmail = document.createElement("p");
                const removeBtn = document.createElement("img");
                paraEmail.innerHTML = searchData[i].email;
                removeBtn.classList.add('removeEmailbtns')
                removeBtn.setAttribute("src", "/local/management/coupon/asset/img/additem.png")
                removeBtn.addEventListener('click', function (e) {
                    addItemToSendBox(searchData[i].id, searchData[i].email)
                    addItemToSendArray(searchData[i].id, searchData[i].email)
                    removeItemWhenClickBtn(e);
                });
                para.appendChild(paraEmail)
                para.appendChild(removeBtn)
                listEmailToAdd.appendChild(para)
            }
        }
    })

    $('.btn.btn-send').click(function (e) {
        e.preventDefault();
        const couponCode = $('#couponcode').val();
        const discountRate = $('#discountrate').val();
        const title = $('#cg-upload-title').val();
        const description = $('#description').val();
        const info = {
            memberEmail: userEmailToSend,
            notMemberEmail: notMemEmailToSend,
            couponCode: couponCode,
            discountRate: discountRate,
            couponId: couponId,
            cpImage: cpImage,
            cpQrCode: cpQrCode,
            title: title,
            description: description
        }
        $.ajax({
            url: '/local/management/coupon/api/sendmail.php',
            type: 'POST',

            data: info
        }).done(function (ketqua) {
            alert('send mail success!')
        });
    })

    //submit form
    $('.btn.btn-cancel').click(function (e) {
        e.preventDefault();
        window.location.replace("{{couponindexurl}}")
    })
    $('.cg-btn-save').click(function (e) {
        e.preventDefault();
        $('#cg-submitType').val('save');
        $('#cg-form').submit();
    })

    let couponId;
    let cpImage;
    let cpQrCode;
    $('.cg-btn-next').click(function (e) {
        $('#cg-submitType').val('next');
        $('#cg-form').submit();
    })

    $('#cg-form').on('submit', (function (e) {
        e.preventDefault();

        let isValid = true;
        const inputs = formElement.querySelectorAll('[name][rules]');
        console.log(inputs)
        for (let input of inputs) {
            if (!handleValidate({target: input})) {
                isValid = false;
            } else {
                handleClearError({target: input})
            }
        }

        // const isValid = validator('#cg-form');
        console.log('submited')
        if (!isValid) {
            console.log('error')
            return 'error'
        }
        ;
        console.log('data is valid')
        const formData = new FormData(this);
        console.log('formData: ', formData.entries());
        let url = $(this).attr('action')

        if ($('#cg-submitType').val() === 'download') {
            url = '/local/management/coupon/savecoupon.php'
        }
        console.log(url)
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            dataType:"json",
            // contentType: 'application/x-www-form-urlencoded;charset=UTF-8',
            processData: false,
            success: function (data) {
                console.log("success");
                console.log(data);
                if (data.resType === 'url') {
                    window.location.replace(data.url);
                    document.getElementById("savedcoupon").value = data.saved;
                }else if (data.resType === 'couponId') {
                    console.log(data.id)
                    couponId = data.id;
                    cpImage = data.cpImage;
                    cpQrCode = data.cpQrCode;
                    $('#create-coupon').attr('checked', false);
                    $('#send-coupon').attr('checked', true);
                    document.getElementById("add-coupon").style.display = "none";
                    document.getElementById("send-email").style.display = "";
                    document.getElementById("savedcoupon").value = data.saved;
                }
            },
            error: function (data) {
                console.log("error");
                console.log(data);
            }
        });
    }));

    $('.coupon-preview-downloadPDF button').click(function (e) {
        e.preventDefault();
        $('#cg-submitType').val('download');
        $('#cg-form').submit();
        // const formData = $('#cg-form').serialize()
        // const formData = $("#cg-form").serializeArray().reduce((obj, item) => ({ ...obj, ...{ [item.name]: item.value } }), {});
        // console.log(formData)
    })
    $('#cg-preview-switch-checkbox').change(function () {
        console.log('changed')
        if ($('#cg-preview-switch-checkbox').prop('checked')) {
            $('.coupon-preview').show()
        } else {
            $('.coupon-preview').hide()

        }
    })
</script>
