<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <input type="radio" name="switch-table" id="listcoupon" class="rbswitch" checked/>
                <input type="radio" name="switch-table" id="listerror" class="rbswitch"/>
                <header>
                    <div class="switch-table">
                        <label for="listcoupon" class="listcoupon1" id="">
                            <p>{{#str}}coupon_list,local_management{{/str}}</p>
                        </label>
                        <label for="listerror" class="listerror1" id="">
                            <p>{{#str}}error_list,local_management{{/str}}</p>
                        </label>
                    </div>
                </header>
            </div>
            <div class="col-md-3" id="spacebtnadd">
            </div>

        </div>
        <div class="cards-area">
            <div class="cards">
                <div class="row">
                    <div class="col-md-12" style="padding: 0;">
                        <div class="cm-search-area">
                            <div id="btnsearch" style="display: none">
                                <input required="" name="searchtexterror" placeholder="Search errors" style="width: 80%;"
                                       class="ip-search form-control" id="inpsearcherror" autocomplete="off"
                                       spellcheck="false" dir="auto" type="text">
                                <button class="btn-search" type="submit" id="btnsearcherror"><i class="far fa-search"></i></button>
                            </div>
                            <div id="btn-search-coupon">
                                <input required="" placeholder="Search coupon by course name"
                                       class="ip-search form-control" autocomplete="off"
                                       spellcheck="false" dir="auto" type="text">
                                <button class="btn-search" id="btn-search-course"><i class="far fa-search"></i></button>
                            </div>

                            <div id="btnadd">
                                <a class="btn-add" href="{{#url}}{{urladd}}{{/url}}">Add new</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-table-conpon" id="tablecoupon">
                    <div class="col-md-12 col-table-conpon">
                        <table class="table table-conpon" id="table-coupon">
                            <thead class="thead-conpon">
                            <th>{{#str}}cp_no,local_management{{/str}}</th>
                            <th>{{#str}}cp_title,local_management{{/str}}</th>
                            <th>{{#str}}cp_course,local_management{{/str}}</th>
                            <th>{{#str}}cp_dr,local_management{{/str}}</th>
                            <th>{{#str}}cp_qty,local_management{{/str}}</th>
                            <th>{{#str}}cp_crdate,local_management{{/str}}</th>
                            <th>{{#str}}cp_sent,local_management{{/str}}</th>
                            <th>{{#str}}cp_sentdate,local_management{{/str}}</th>
                            <th>{{#str}}cp_expried,local_management{{/str}}</th>
                            <th>{{#str}}cp_exprieddate,local_management{{/str}}</th>
                            <th colspan="2">{{#str}}cp_actions,local_management{{/str}}</th>
                            </thead>
                            <tbody class="body-coupon">
                            <tr style="display: {{coupondisplay}}">
                                <td style="text-align: center"  colspan="5">{{coupondisshow}}</td>
                            </tr>
                            {{#coupons}}
                                <tr class="datacp" id="{{idcoupon}}">
                                    <td class="col-num col-no" data-label="No">{{no}}</td>
                                    <td data-label="Title" class="col-text"><a href="{{detaillink}}">{{title}}</a></td>
<!--                                    <td data-label="Image"><img src="{{img}}"></td>-->
                                    <td data-label="Course" class="col-text">{{course}}</td>
                                    <td class="col-num" data-label="Discount Rate">{{disrate}}%</td>
                                    <td data-label="Quantity" class="col-num"><span>{{quantity}}</span></td>
                                    <td class="col-date" data-label="Created Date"><span>{{create_time}}</span></td>
                                    <td data-label="Sent" class="col-text">{{is_send}}</td>
                                    <td data-label="Sent Date" class="col-date"><span>{{send_date}}</span></td>
                                    <td data-label="Expried" class="col-text">{{is_expire}}</td>
                                    <td data-label="Expried Date" class="col-date"><span>{{expire_date}}</span></td>
                                    <td data-label="Edit" class="col-action"><a href="{{editlink}}"><img
                                            src="/local/management/templates/img/actionedit.png"/></a></td>
                                    <td data-label="Delete" class="col-action">
                                        <button id="delcoupon_{{idcoupon}}" class="btndel btndelcoupon"
                                                data-id="{{idcoupon}}"><img
                                                src="/local/management/templates/img/actiondel.png"/></button>
                                    </td>
                                </tr>
                            {{/coupons}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row row-table-conpon" id="tableerror" style="display: none;">
                    <div class="col-md-12 col-table-conpon">
                        <table class="table table-conpon" id="table-error">
                            <thead class="thead-conpon">
                            <th>{{#str}}err_coupon,local_management{{/str}}</th>
                            <th>{{#str}}err_coupontype,local_management{{/str}}</th>
                            <th>{{#str}}err_couponerror,local_management{{/str}}</th>
                            <th>{{#str}}err_coupondate,local_management{{/str}}</th>
                            <th>{{#str}}err_couponaction,local_management{{/str}}</th>
                            </thead>
                            <tbody class="body-coupon">
                            <tr style="display: {{errordisplay}}">
                                <td style="text-align: center"  colspan="5">{{errordisshow}}</td>
                            </tr>
                            {{#errors}}
                                <tr class="dataerror" id="{{iderror}}">
                                    <td class="col-text" data-label="Coupon">{{coupon}}</td>
                                    <td class="col-text" data-label="Type">{{error_type}}</td>
                                    <td class="col-text" data-label="Error" style="color: #EB5757;">{{error_message}}
                                    </td>
                                    <td class="col-date" data-label="Date"><span>{{created_time}}</span></td>
                                    <td data-label="Delete" class="col-action action-error">
                                        <button id="delerror_{{iderror}}" class="btndel btndelerror"
                                                data-id="{{iderror}}">
                                            <img src="/local/management/templates/img/actiondel.png"/></button>
                                    </td>
                                </tr>
                            {{/errors}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: {{displayrecei}}">
            <div class="row row-received">
                <form method="GET" action="#" role="search" class="" id="" novalidate=""></form>
                <div class="col-md-8" style="padding-left: 0;">
                    <h3 class="myrecei-title">{{#str}}rc_manage,local_management{{/str}} <strong>{{coupontitle}}</strong></h3>
                </div>
                <div class="col-md-4" id="searchrecei" style="padding-right: 0;">
                    <input type="hidden" id="coupon-id" value="{{couponid}}">
                    <input required="" name="searchtexterror" placeholder="Search" style="margin-left: 40%;"
                           class="ip-search form-control" id="inpsearchrecei" autocomplete="off"
                           spellcheck="false" dir="auto" type="text">
                    <button class="btn-search" type="submit" id="btnsearchrecei"><i class="far fa-search"></i></button>
                </div>
                </form>
            </div>
            <div class="row row-table-conpon">
                <div class="col-md-12 col-table-conpon">
                    <table class="table table-conpon" id="table-email">
                        <thead class="thead-conpon">
                        <th>{{#str}}rc_email,local_management{{/str}}</th>
                        <th>{{#str}}rc_rcdate,local_management{{/str}}</th>
                        <th>{{#str}}rc_code,local_management{{/str}}</th>
                        <th>{{#str}}rc_used,local_management{{/str}}</th>
                        <th>{{#str}}rc_useddate,local_management{{/str}}</th>
                        </thead>
                        <tbody class="body-coupon">
                        <tr style="display: {{receidisplay}}">
                            <td style="text-align: center"  colspan="5">{{receidisshow}}</td>
                        </tr>
                        {{#receivers}}
                            <tr class="dataemail">
                                <td class="col-text sub-code" data-label="Email"><span>{{email}}</span></td>
                                <td data-label="Received Date" class="col-date">{{received_time}}</td>
                                <td class="sub-code col-text" data-label="Subscription Code"><span>{{key_code}}</span>
                                </td>
                                <td class="col-text" data-label="Used"
                                    style="text-transform: uppercase;">{{is_used}}</td>
                                <td data-label="Used Date" class="col-date"><span>{{used_date}}</span></td>
                            </tr>
                        {{/receivers}}
                        </tbody>
                    </table>

                        <ul class="pagination justify-content-center" id="pagiemail">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('input[name="switch-table"]').change(function () {
            if ($('#listcoupon').prop('checked')) {
                document.getElementById("tablecoupon").style.display = "";
                document.getElementById("tableerror").style.display = "none";
                document.getElementById("btnadd").style.display = "";
                document.getElementById("spacebtnadd").style.display = "";
                document.getElementById("btnsearch").style.display = "none";
                document.getElementById("btn-search-coupon").style.display = "";
            }
            if ($('#listerror').prop('checked')) {
                document.getElementById("tablecoupon").style.display = "none";
                document.getElementById("tableerror").style.display = "";
                document.getElementById("btnadd").style.display = "none";
                document.getElementById("spacebtnadd").style.display = "none";
                document.getElementById("btnsearch").style.display = "";
                document.getElementById("btn-search-coupon").style.display = "none";
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#btnsearcherror").click(function () {
            var value = document.getElementById("inpsearcherror").value;
            location.href = "{{#url}}{{basurl}}{{/url}}?searcherror=" + value;
        });
        $("#btn-search-course").click(function () {
            const value = $("#btn-search-coupon input").val();
            location.href = "{{#url}}{{basurl}}{{/url}}?searchcoursetext=" + value;
        });
        $("#btnsearchrecei").click(function () {
            var value = document.getElementById("inpsearchrecei").value;
            var value1 = document.getElementById("coupon-id").value;
            location.href = "{{#url}}{{basurl}}{{/url}}?id=" + value1 + "&searchrecei=" + value;

        });
        // Delete
        $(".btndelcoupon").click(function () {
            var id = $(this).parents("tr").attr("id");
            if (confirm("{{#str}}confirmdelete,local_management{{/str}}")) {
                $.ajax({
                    url: '/local/management/coupon/deletecoupon.php',
                    type: 'POST',
                    data: {id: id},
                    success: function () {
                        alert('{{#str}}succde,local_managementl{{/str}}');
                        location.href = "{{#url}}{{basurl}}{{/url}}"
                    },
                    error: function () {
                        alert('{{#str}}faildel,local_management{{/str}}');
                    },
                });
            }
        });
        $(".btndelerror").click(function () {
            var id = $(this).parents("tr").attr("id");
            if (confirm("{{#str}}confirmdelete1,local_management{{/str}}")) {
                $.ajax({
                    url: '/local/management/coupon/deleteerror.php',
                    type: 'POST',
                    data: {id: id},
                    success: function () {
                        alert('{{#str}}succdel1,local_management{{/str}}');
                        location.href = "{{#url}}{{basurl}}{{/url}}"
                    },
                    error: function () {
                        alert('{{#str}}faildel1{{/str}}');
                    },
                });
            }
        });
    });
    //pagi couponlist
    $(document).ready(function () {
        $('#table-coupon').after('<nav aria-label="Page navigation example"><ul class="pagination justify-content-center" id="pagicoupon"></ul></nav>');
        var rowsShown = 10;
        var rowsTotal = $('#table-coupon tbody .datacp').length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('#pagicoupon').append('<li class="page-item"><a class="page-link1" href="#" rel="' + i + '">' + pageNum + '</a></li>');
        }
        $('#table-coupon tbody .datacp').hide();
        $('#table-coupon tbody  .datacp').slice(0, rowsShown).show();
        $('#pagicoupon li a:first').addClass('active');
        $('#pagicoupon li a').bind('click', function () {

            $('#pagicoupon li a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#table-coupon tbody .datacp').css('opacity', '0.0').hide().slice(startItem, endItem).css('display', 'table-row').animate({opacity: 1}, 300);
        });
    });
    //pagi error list
    $(document).ready(function () {
        $('#table-error').after('<nav aria-label="Page navigation example"><ul class="pagination justify-content-center" id="pagierror"></ul></nav>');
        var rowsShown1 = 3;
        var rowsTotal1 = $('#table-error tbody .dataerror').length;
        var numPages1 = rowsTotal1 / rowsShown1;
        for (x = 0; x < numPages1; x++) {
            var pageNum1 = x + 1;
            $('#pagierror').append('<li class="page-item"><a class="page-link1" href="#" rel="' + x + '">' + pageNum1 + '</a></li>');
        }
        $('#table-error tbody .dataerror').hide();
        $('#table-error tbody  .dataerror').slice(0, rowsShown1).show();
        $('#pagierror li a:first').addClass('active');
        $('#pagierror li a').bind('click', function () {

            $('#pagierror li a').removeClass('active');
            $(this).addClass('active');
            var currPage1 = $(this).attr('rel');
            var startItem1 = currPage1 * rowsShown1;
            var endItem1 = startItem1 + rowsShown1;
            $('#table-error tbody .dataerror').css('opacity', '0.0').hide().slice(startItem1, endItem1).css('display', 'table-row').animate({opacity: 1}, 300);
        });
    });
    //pagi receied list
    $(document).ready(function () {
        $('#table-email').after('<nav aria-label="Page navigation example"><ul class="pagination justify-content-center" id="pagiemail"></ul></nav>');
        var rowsShown2 = 3;
        var rowsTotal2 = $('#table-email tbody .dataemail').length;
        var numPages2 = rowsTotal2 / rowsShown2;
        for (z = 0; z < numPages2; z++) {
            var pageNum2 = z + 1;
            $('#pagiemail').append('<li class="page-item"><a class="page-link1" href="#table-email" rel="' + z + '">' + pageNum2 + '</a></li>');
        }
        $('#table-email tbody .dataemail').hide();
        $('#table-email tbody  .dataemail').slice(0, rowsShown2).show();
        $('#pagiemail li a:first').addClass('active');
        $('#pagiemail li a').bind('click', function () {

            $('#pagiemail li a').removeClass('active');
            $(this).addClass('active');
            var currPage2 = $(this).attr('rel');
            var startItem2 = currPage2 * rowsShown2;
            var endItem2 = startItem2 + rowsShown2;
            $('#table-email tbody .dataemail').css('opacity', '0.0').hide().slice(startItem2, endItem2).css('display', 'table-row').animate({opacity: 1}, 300);
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
