.dir-rtl.path-mod-jinotechboard .indent {margin-right:30px;margin-left:0;}

.path-mod-jinotechboard .jinotechboardolddiscuss,
#page-mod-jinotechboard-search .c0 {text-align:right;}
.path-mod-jinotechboard .indent {margin-left: 30px;}
.path-mod-jinotechboard .jinotechboardheaderlist {width: 100%;border-width:1px;border-style:solid;border-collapse:separate;margin-top: 10px;}

.path-mod-jinotechboard .jinotechboardheaderlist td {
    border-bottom: 1px dotted #CCC;
    font-size: 9pt;
    color: #333;
    text-align: center;
    padding: 8px;
}

.path-mod-jinotechboard table tr.body_order.r1 td {
background: #EDEDED;
}

.path-mod-jinotechboard table tr.body_order td {
    
}

.path-mod-jinotechboard table {
    
}

.path-mod-jinotechboard  {
    
}



.path-mod-jinotechboard .jinotechboardheaderlist td {border-width:1px 0px 0px 1px;border-style:solid;}
.path-mod-jinotechboard .jinotechboardheaderlist .picture {width: 35px;}
.path-mod-jinotechboard .jinotechboardheaderlist .discussion .starter {vertical-align: middle;}
.path-mod-jinotechboard .jinotechboardheaderlist .discussion .lastpost {white-space: nowrap;text-align: right;}
.path-mod-jinotechboard .jinotechboardheaderlist .replies,
.path-mod-jinotechboard .jinotechboardheaderlist .discussion .author {white-space: nowrap;}

/** Styles for subscribers.php */
#page-mod-jinotechboard-subscribers .subscriberdiv,
#page-mod-jinotechboard-subscribers .subscribertable {width:100%;vertical-align:top;}
#page-mod-jinotechboard-subscribers .subscribertable tr td {vertical-align:top;}
#page-mod-jinotechboard-subscribers .subscribertable tr td.actions {width:16%;padding-top:3em;}
#page-mod-jinotechboard-subscribers .subscribertable tr td.actions .actionbutton {margin:0.3em 0;padding:0.5em 0;width:100%;}
#page-mod-jinotechboard-subscribers .subscribertable tr td.existing,
#page-mod-jinotechboard-subscribers .subscribertable tr td.potential {width:42%;}

/** Styles for discuss.php **/
#page-mod-jinotechboard-discuss .discussioncontrols {width:100%;margin:5px;}
#page-mod-jinotechboard-discuss .discussioncontrols .discussioncontrol {width:33%;float:left;}
#page-mod-jinotechboard-discuss .discussioncontrol.exporttoportfolio {text-align:left;}
#page-mod-jinotechboard-discuss .discussioncontrol.displaymode {text-align:center;}
#page-mod-jinotechboard-discuss .discussioncontrol.movediscussion {float:right;width:auto;text-align:right;padding-right:10px;}
#page-mod-jinotechboard-discuss .discussioncontrol.movediscussion .movediscussionoption {}

/** Styles for view.php **/
#page-mod-jinotechboard-view .jinotechboardaddnew {margin-bottom: 20px;}
#page-mod-jinotechboard-view .groupmenu {float: left;text-align:left;white-space: nowrap;}
#page-mod-jinotechboard-index .subscription,
#page-mod-jinotechboard-view .subscription {float: right;text-align:right;white-space: nowrap;margin: 5px 0;}

/** Styles for search.php */
#page-mod-jinotechboard-search .introcontent {padding: 15px;font-weight:bold;}

#page-mod-jinotechboard-index .unread img,
#page-mod-jinotechboard-view .unread img {margin-left: 5px;}

#page-mod-jinotechboard-view .isnotice {
    background: #dedede;
}

#page-mod-jinotechboard-view .board-list-area{
    clear: both;
}

#page-mod-jinotechboard-view .board-list-area .board-list{
    margin: 0;
}

#page-mod-jinotechboard-view .board-list-area .board-list li{
    clear: both;
    list-style: none;
    border: 1px solid #aaa;
    padding: 20px;
    margin-bottom: 5px;
}

#page-mod-jinotechboard-view .table-header-area{
    float: left;
}

#page-mod-jinotechboard-view .table-filter-area{
    float: left;
}

#page-mod-jinotechboard-view .table-filter-area form{
    text-align: left;
}

#page-mod-jinotechboard-view .table-search-option .search-text{
    width: 200px;
}

#page-mod-jinotechboard-view .post-title{
    font-size: 110%;
    font-weight: bold;
}

#page-mod-jinotechboard-view .post-date{
    font-size: 90%;
    color: #999;
}

#page-mod-jinotechboard-view .post-content{
    font-size: 90%;
    color: #777;
    font-weight: normal;
    padding-top: 5px;
}

#page-mod-jinotechboard-view .post-title img{
    margin-right: 5px;
    vertical-align: bottom;
}

#page-mod-jinotechboard-view .post-viewinfo{
    font-size: 100%;
    margin-right: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
}

#page-mod-jinotechboard-view .post-picture{
    float: left;
    margin-right: 10px;
}

#page-mod-jinotechboard-view .fl { float: left; }
#page-mod-jinotechboard-view input.next {
    width:100%;
    height:35px;
}

#page-mod-jinotechboard-mod #fgroup_id_radioar label{
    margin-left: 0;
    margin-right: 10px;
}

#page-mod-jinotechboard-view .table-top-area {
    width: 100% !important;
    margin: 10px 0 5px 0 !important;
    clear: both;
}
#page-mod-jinotechboard-view .table-top-area .table-top-left {
    width: 70%;
    margin-top:10px;
    float: left;
}
#page-mod-jinotechboard-view .table-top-area .table-top-right {
    width: 30%;
    float: right;
    text-align: right;
}

#page-mod-jinotechboard-view .table-top-area .table-top-right .edit:hover {
}
