.loading_modal {
    display:    none;
    position:   fixed;
    z-index:    9999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .5 )
                url('../img/loading.svg')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;  
}

/* Anytime the body has the loading class, our
   loading_modal element will be visible */
body.loading .loading_modal {
    display: block;
}
