@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

/****** Reset *******/
/**:focus {
    outline: none;
}*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'NanumBarunGothic', sans-serif;
    color: #333333;
    font-size: 14px;
}
body{
    min-width: 1280px;
}
ul, ol, li, h1, h2, h3, h4, h5, h6, input, select, textarea, p, div {
    font-family: 'NanumBarunGothic', sans-serif;
}
ul, ol, li {
    margin: 0; 
    padding: 0;
    //display: inline; 메뉴 때문에 일단 주석처리..
}
img {
    border: 0 !important;
}
p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
    color: #333333;
}
.pointer {
    cursor: pointer;
}
#wrap {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    min-width: 1024px;
}
dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
div {
    display: block;
}
dd {
    display: block;
    margin-bottom: 15px;
    -webkit-margin-start: 40px;
}
img.icon{
    vertical-align: middle;
    margin-right: 5px;
}
.none{
    display:none;
}
.clear{
    clear: both;
}
.mg_bt10{margin-bottom: 10px;}
.mg_bt20{margin-bottom: 20px;}
.mg_bt30{margin-bottom: 30px;}
.mg_tp10{margin-top: 10px;}
.text-left{text-align: left;}
.text-righr{text-align: right;}
.text-center{text-align: center;}

.mainexposure_recommend, .mainexposure_new, .mainexposure_famous{
    white-space: nowrap;
    display: inline-block;
    background: #fb5a28;
    color: #fff;
    font-size: 10px;
    width: 35px;
    height: 19px;
    line-height: 20px;
    vertical-align: text-top;
    text-align: center;
    margin: -2px 2px 0 0;
    padding: 0 5px;
}
.mainexposure_new{
    background: #43afb2;
}
.mainexposure_famous{
    background: #ff9934;
}   
.table-info{
    color: #707070;
    margin-bottom: 5px;
    margin-top: 5px;
}
/*************************************
        Login Area
*************************************/
#wrap_login {
    width: 100%;
    height: auto;
    min-height: 500px;
    float: left;
    background-image: url('../img/admin_login_bg.png');
    background-position: left top;
    background-repeat: no-repeat;
}
#login_box {
    width: 304px;
    height: 298px;
    background-color: white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #d9d9d9;
    margin: 200px auto 0 auto;
    box-shadow: 0px 0px 10px #ccc;
}
img.admin_login_logo {
    display: block;
    margin: 27px auto 0 auto;
}
form.login {
    display: block;
    padding: 20px 20px;
}
form.login input {
    appearance: none;
    width: 242px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 14px;
    margin: 10px 0;
    padding: 9px 10px;
}
form.login input.blue_style_btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #018db8;
    border: 1px solid #005d7b;
    color: white;
    width: 100%;
    margin: 20px 0 0 0 !important;
}

/*************************************
        Header Area
*************************************/
#header {
    width: 100%;
    height: 103px;
    float: left;
    /*    background-color: #4C98AF;*/
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.logout{ 
    width: 100%;
    text-align: right;
    background: #5c5c5c;
    height: 30px;
    padding: 0 40px;
    box-sizing: border-box;
}
.logout a{
    color: #fff;
    font-size: 13px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
.logout a:first-child{
    border-left: 1px solid #6c6c6c;
    border-right: 1px solid #6c6c6c;
    padding: 0 15px;
    color: #fcd762;
}
.logout a:last-child{
    border-right: 1px solid #6c6c6c;
    padding: 0 15px;
}
h1.logo{
    display: block;
    width: 260px;
    height: 57px;
    float: left;
    text-align: left;
    padding-top: 15px;
    /*    background-color: #018db8;*/
    background: #fff;
    box-sizing: border-box;
    text-align: center;
}
h1.logo img {
    margin: 7px 0 0;
    width: 60px;
}
h1.logo a {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
ul.gnb {
    display: block;
    width: 86%;
    max-width: calc(100% - 260px);
    float: left;
}
ul.gnb li {
    display: inline-block;
    float: left;
    padding: 26px 0px;
    font-size: 16px;
    font-weight: 700;
}
ul.gnb li a {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin: 16px 18px;
}
ul.gnb li a.selected {
    color: #fa797e;
}
ul.gnb li a:hover{
    color: #fa797e;
}

/*************************************
        Sidebar Area
*************************************/
#contents {
    width: 100%;
    float: left;
    background-color: #f2f2f2;
}
#sidebar {
    position: relative;
    width: 260px;
    float: left;
}
div.menu_title {
    width: 100%;
    float: left;
    background-color: #e3e4e5;
    color: white;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}
div.menu_title h2 {
    display: block;
    font-size: 20px;
    color: #000;
    width: 92%;
    float: left;
    padding: 0 4%;
    font-weight: normal;
}
ul.submenu {
    display: block;
    width: 100%;

    float: left;
    padding: 0 0 120% 0;
    margin: 0;
}
ul.submenu li {
    display: inline-block;
    background-color: #f2f2f2;
    margin: 0;
    width: 92%;
    padding: 12px 4%;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}
ul.submenu li a{
    color: #666;
}
ul.submenu a:hover li {
    background-color: #efefef;
}
ul.submenu li.selected {
    background-color: #f2f2f2;
}
ul.submenu li.selected  a{
    color: #000;
}
ul.submenu li ul {
    display: block;
    background-color: #efefef !important;
    margin: 6px 0 0 0;
}
ul.submenu > li > ul{
    background: #fff !important;
    margin: 13px -4% -12px -4%;
    padding: 7px 0;
}

ul.submenu li ul li {
    background-color: #fff !important;
    border-bottom: none;
    padding: 8px 2% 8px 4%;
    font-weight: normal;
    font-size: 15px;
}
ul.submenu li ul li a {
    color: #666;
}
ul.submenu li ul li.selected a{
    color: #fa797e;
    font-weight: 600;
    text-decoration: none;
}
ul.submenu li ul li a:hover {
    text-decoration: none;
}
#nav {
    position: fixed;
    display: block;
    width: 13%;
    color: white;
    bottom: 50px;
    left: 10px;
}
.nnav {
    width: 92%;
    /*    color: white;
        background-color: #666;*/
    background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -ms-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    text-align: center;
    /*    border: 1px solid #333;*/
}

/*************************************
        Content Area
*************************************/

#content { 
    padding: 20px 2%;
    float: left;
    min-height: 750px;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    width: calc(100% - 260px);
    background: #fff;

}
h3.page_title {
    font-size: 19px;
    font-weight: 600;
    margin: 0 0 7px;
    float: left;
}
.page_navbar{
    float: right;
}
h4.page_sub_title {
    display: block;
    float: left;
    font-size: 13px;
    color: #666;
    margin: 10px 0px 5px 0px;
}
h3.page_title + div:not(.page_navbar){
    clear: both;
}
h4.table_title{
    margin: 20px 0 10px 0 !important;
    float: left;
    width: 100%;
    font-size: 16px;
}
h4.frm_h4 {
    font-weight: normal;
    font-size: 13px;
    float: left;
}
p.page_sub_title {
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 700;
    color: #666;
    margin: 0 0 0 10px;
    border-bottom: 1px solid #666;
}                
form.search_area {
    display: block;
    width: 100%;
    float: left;
    padding: 20px 20px 10px 20px;
    background-color: #f2f2f2;
    border: solid 1px #dadada;
    margin: 5px 0 20px 0;
    box-sizing: border-box;
}
form.search_area2 {
    display: block;
    width: 20%;
    float: right;
    padding: 10px 0;
    margin: 10px 0;
}
form.search_template {
    width: 32%;
    float: right;
    clear: both;
    padding: 10px 0 0 0;
    margin: 0 0 10px 0;
}
form.sync_area {
    display: block;
    width: 98%;
    float: left;
    padding: 10px 1% 0 1%;
    background-color: #efefef;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 5px 0 20px 0;
}
p.search {
    text-size: 12px;
    color: #F00A0D;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
}
label {
    color: #333;
    display: inline-block;
    margin: 0 10px 0 0;
}

div.commentWrap {
    width: 100%;
    float: left;
    text-align: left;
}
ul.comments {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding: 8px 0;
    border-bottom: 1px dotted #333;
}
div.result {
    width: 100%;
    float: left;                   
}
div.result h3 {
    font-weight: 700;
}
div[role="main"] {
    float: left;
    width: 100%;
}
div[role="main"] > h2 {
    float: left;
    font-size: 18px !important;
    width: 100%;
    margin: 0 0 5px 0;
}
#maincontent {
    display: block;
    height: 1px;
    over-flow:hidden;
}
.userprofile {
    float: left;
    width: 100%;
}
.userprofile h2 {
    width: 100%;
    float: left;
}
.userprofilebox {
    background-color: #fff;
    padding: 20px 2%;
    width: 96%;
    float: left;
    margin: 5px 0 20px 0;
    border: 1px dotted #999;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.profilepicture {
    float: left;
    margin: 0 30px 0 0 !important;
}
img.userpicture {
    border-radius: 50%;
    box-shadow: 0 0 2px #ccc;
}

.userprofile dl {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
}                
.userprofile dl dt {
    width: 20%;
    margin: 0 0 4px 0;
    font-weight: bold;
    display: block;
    float:left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 3px;
    padding-bottom: 3px;
}
.userprofile dl dd {
    width: 80%;
    margin: 0 0 4px 0;
    padding-top: 3px;
    padding-bottom: 3px;
}
.userprofile dl dd a {
    color: #5d9cec;
}
.clearfix {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    min-width: 0;
    visibility: hidden;
}
.descriptionbox {
    float: left;
    margin: 0 0 10px 0;
    width: 80%;
}        
.description {
    margin: 0 !important;
}
p.ps {
    margin: 3px 10px 0 0px;
    float: left;
    font-size: 12px;
    color:#F00A0D; 
    font-weight: bold; 
    border-bottom: 1px solid #F00A0D;
}
.containerbox {
    background-color: #fff;
    padding: 20px 3%;
    width: 96%;
    float: left;
    margin: 5px 0 20px 0;
    border: 1px dotted #999;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.containerbox dl {
    margin-top: 10px;
    width: 100%;
}
.containerbox dl dt {
    width: 20%;
    margin: 0 0 4px 1%;
    font-size: 12px;
    font-weight: bold;
    display: block;
    float:left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.containerbox dl dd {
    width: 80%;
    margin: 0 0 6px 0;
    font-size: 12px;
}
dt.emphasis {
    color: #F00A0D;
    font-size: 13px;
    font-weight: bold;
}
.info {
    width: 100%;
    float: left;
}
.info_top {
    width: 20%;
    float: left;
    margin: 5px 0 10px 0;
    font-size: 15px; 
    font-weight: bold;
    color: #666;
    padding-bottom: 3px;
}
.connectbox {
    padding: 20px 2%;
    width: 96%;
    float: left;
    background-color: #F5F5F5;
    border: 2px solid #D2D8D9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}              
.connectbox ul {
    list-style-image: url('../img/pagination_right.png');
}
.connectbox ul li {
    display: block;
    padding: 5px 0 5px 1%;
}
#content-region {
    width: 96%;
    padding: 20px 2% 80px 2%;
    float: left;
    min-height: 100%;
}
.edit-button {
    width: 100%;
    float: left;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #ccc;
    text-align: right; 
}
#file_area span#file{
    display: block;
}

/* Form Style */

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    padding: 7px 17px 7px 7px;
    border-radius: 2px;
    border: 1px solid #ddd;
    background-image: url(../img/select_arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    margin: 0 10px 10px 0 !important;
}
select::-ms-expand {
    display: none;
}
table tr td input[type=radio]:not(:first-child){
    margin-left: 10px;
}
table td input[type="text"]:first-child, table td select:first-child{margin-left: 0px !important;}
table tr td.left {
    text-align: left;
}
table h3 {
    width: 100%;
    float: left;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 0;
}
input[type="submit"],input[type="button"],button {
    font-size: 14px;
    padding: 4px 10px;
    border: none;
    cursor: pointer;
    margin: 0;
    min-width: 60px;
    line-height: 20px;
    height: 30px;
    background: #fff;
    border: 1px solid #d0d0d0;
    color: #707070;
}
input[type="text"], input[type="password"], input[type="number"] ,textarea{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    color: #333;
    padding: 7px 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #ddd;
    margin: 0 10px 10px 0 !important;
}
table tr td input[type="text"], table tr td input[type="date"],textarea {
    margin: 0 !important;
}
table input[type=text]:read-only{
    border: 0;
    background: inherit;
}
table input.normal_btn
, table button.normal_btn{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px 5px;
}

table select[multiple]{
    display: block;
}
input[type="date"], input[type="file"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 13px;
    color: #333;
    padding: 3px 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #bfbfbf;
    margin: 3px 20px 10px 0 !important;
    background: #fff;
}
input[type="file"].btn-margin{
    margin: 2px 5px 10px 0 !important;
}
input[type="checkbox"]{
    vertical-align: middle;
}
input[type="radio"]{
    margin: 0 5px 0 0;
    vertical-align: middle;
}


input.search_btn, form.search_area input[type=submit]{
    background: #5c5c5c url(/theme/oklassedu/pix/images/icon_search_w.png) no-repeat left 8px center;
    background-size: 14px auto;
    padding-left: 20px;
    padding-right: 7px;
    border: 0;
    color: #fff;
}
input.blue_btn, .stat_downbtn button {
    background-color: #fa797e;
    border: 1px solid #fa797e;
    color: #fff;
}
table input.blue_btn{
    min-width: 50px;
    height: 25px;
    padding: 3px 5px;
    line-height: 10px;
}
input.red_btn {
    background: #f2f2f2;
    border: 1px solid #d0d0d0;
    color: #707070;
}
input.normal_btn {
    background: #f2f2f2;
    border: 1px solid #d0d0d0;
    color: #707070;
}
input.normal_btn[value="목록"]{
    border: 1px solid #d0d0d0;
    color: #707070;
    background: #fff;
}
.normal_btn{
    min-width: 60px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: #f2f2f2;
    border: 1px solid #d0d0d0;
    color: #707070;
}
.normal_btn:hover{
    min-width: 60px;
    display: inline-block;
    height: 30px;
}
input.orange_btn {
    background-color: #fa797e;
    border: 1px solid #fa797e;
    color: #fff;
}
button.blue_btn {
    background: #fa797e;
    border: 0;
    color: #fff;
}
button.red_btn {
    background: #f2f2f2;
    border: 1px solid #d0d0d0;
    color: #707070;
}
button.orange_btn {
    background-color: #E8920C;
    border: 1px solid #E87E0C;
}
input.orange_btn_small {
    border-color: #8a9094;
    background-color: #8a9094;
    padding: 3px 8px 4px;
    font-size: 12px;
    min-width: 50px;
    height: 25px;
    line-height: 10px;
    color: #fff;
}
input.gray_btn_small {
    background-color: #f2f2f2;
    border: 0;
    padding: 3px 5px;
    min-width: 50px;
    height: 25px;
    line-height: 10px;
    box-sizing: border-box;
    font-size: 11px;
    border: 1px solid #d0d0d0;
    color: #707070;
}
input.gray_btn, button.gray_btn {
    border: 1px solid #ccc;
    background: #eee;
    color: #222;
}

div.content_navigation {
    float: left;
    width: 100%;
    margin: 10px 0;
    clear: both;
    border-bottom: 1px solid #7f7f7f;
}
div.frm_application {
    float: left;
    width: 100%;
}
div.frm_application h4 {
    font-size: 15px;
    font-weight: normal;
    float: left;
    width: 100%;
}
div.frm_application h5 {
    font-size: 15px;
    font-weight: 700;
    float: left;
    width: 100%;
}
div.frm_popup {
    width: 100%;
    float: left;
    margin-top: 20px;
    font-weight: normal;
}                
p.popup {
    display: block;
    float: left;
    font-size: 13px;
    color: #F00A0D;
    margin: 8px 0 0 15px;

}
div.file_input {
    width:100%;
    float: left;
}

p.black_btn{
    display: block;
    color: #333;
    background: #eee;
    border: 1px solid #ddd;
    height: 30px;
    line-height: 20px;
    box-sizing: border-box;
    margin: 0 4px 10px 0 !important;
    padding: 5px 15px 3px 15px;
    float: left;
    width: auto !important; 
    font-size: 14px;
}
p.black_btn_selected {
    background: #505b61;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
    border: 0;
}
p.red_btn {
    display: block;
    color: white;
    background: #fb5a28;
    float: left;
    margin: 0px 4px 10px 0 !important;
    padding: 5px 15px 5px 15px;
    float: left;
    width: auto !important;
    line-height: 20px;
    font-size: 12px !important;
}
p.red_btn_selected {
    background-color: #F00A0D;
}

a:hover p.black_btn {
    background: #e6e6e6;
    padding: 5px 15px 3px 15px;
    border-radius: 2px;
}
a:hover p.red_btn {
    background: #ea6666;
    padding: 5px 15px 5px 15px;
    border-radius: 2px;
}
.ui-dialog .ui-dialog-buttonpane button{
    background: #f2f2f2 !important;
    border: 1px solid #d0d0d0;
    color: #707070;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    font-size: 14px;
}
.w_30 {
    width: 30px !important;
}
.w_40 {
    width: 40px !important;
}
.w_50 {
    width: 50px !important;
}
.w_70 {
    width: 70px !important;
}
.w_90 {
    width: 90px !important;
}
.w_120 {
    width: 120px !important;
}
.w_160 {
    width: 160px;
}
.w_200 {
    width: 200px !important;
}
.w_260 {
    width: 260px !important;
}
.w_300 {
    width: 300px !important;
}
.w_315 {
    width: 315px !important;
}
.w_500 {
    width: 500px !important;
}                
.w_100 {
    width: 98% !important;
}
h2.tab-h2 {
    font-size: 13px;
    width: 97%;
    float: left;
    clear: both;
    margin: 8px 0 4px 0;
    padding-left: 3%;
    color: #656c7e;
}
ul.tab-unlist {
    width: 100%;
    float: left;
    display: list-item;
    margin: 4px 0 8px 0; 
    list-style: none;
}
ul.tab-unlist li {
    width: 99%;
    float: left;
    clear: both;
    display: list-item;
    //    background-img:
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1%;
    margin: 0 0 4px 24px;
}
.mg-left {
    padding-left: 0 !important;
}
.mg-left li{
    margin: 0 0 4px 0 !important;
    font-size: 12px;
}
.blank_35 {
    width: 100%;
    height: 35px;
    float: left;
}
.blank_10 {
    width:100%;
    height: 10px;
    float: left;
}
#pushtable_area {
    width: 100%;
    float: left;
    padding: 10px 1%;
}
.push_table {
    width: 40%;
    float: left;
    border:1px dotted #7f7f7f !important;
    margin-top: 10px;
    margin-bottom: 2%;
}
.phsh_title {
    background-color: #efefef;
    border-left: 1px dotted #7f7f7f;
    border-right: 1px dotted #7f7f7f;
    text-align: left;
    padding-left: 2%;
    font-weight: bold; 
    height:30px;
}
.phsh_left {
    text-align: left; 
    padding-left: 2%; 
}



/*  */
div.extra_information {
    float: left;
    background-color: #efefef;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #d7d7d7;
    width: 96%;
    padding: 15px 2%;
    margin: 20px 0px 20px 0px;
}
div.extra_information h4 {
    font-size: 15px;
    font-wieght: 700;
    margin: 0 0 20px 0;
}
div.extra_information ul li {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 12px;
}
div.extra_information ul li strong {
    width: 80px;
    padding: 0 40px 0 0;
}
.textcontainer {
    width: 100%;
    float: left;
}


/* Table Style */

p.stat_desc {
    display: block;
    float: left;
    width: 100%;
    font-size: 12px;
    color: red;
}
.popup_content p.search_result {
    margin: 30px 0 0 0;
}
p.search_result {
    width: 40%;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    display: block;
    float: right;
    margin: 10px 0 0 0;
}
table img{
    max-width: 100%;
}
table {
    width: 100%;
    float: left;
    border-top: 2px solid #505050;
    margin: 0 0 20px;
    padding: 0;
    border-collapse: collapse;
}
div + table{
    margin-top: 10px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table tr th {
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #e0e0e0;
    background: #f6f6f6;
    padding: 10px 10px;
    color: #202020;
    word-break: keep-all;
}
table tr td {
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
    text-align: center;
    border: 1px solid #e0e0e0;
    padding: 10px 10px;
    color: #707070;
    word-break: keep-all;
}
table tr td[colspan]:last-child:first-child{
    padding: 20px 10px;
}
table tr th:first-child, table tr td:first-child {
    border-left: 0;
}
table tr th:last-child, table tr td:last-child {
    border-right: 0;
}
table tr td a {
    color: #202020;
}
table tr td a:hover {
    text-decoration: underline;
}
table tr td.total2 {
    background-color: #efefef;
    font-weight: 700;
}
table tr td.total {
    background-color: #eafaff;
    font-weight: 700;
}
table.form_table tr th {
    border-left: 1px dotted #333;
    border-right: 1px dotted #333;
}
table.form_table tr td {
    border-left: 1px dotted #333;
    border-right: 1px dotted #333;
    border-bottom: 1px solid #eee !important;
}


.number {
    font-family: Verdana, sans-serif;
    font-size: 11px;
}
table tr td.attachment {
    background-image: url('../img/attachment_icon.png');
    background-position: center center;
    background-repeat: no-repeat;
}
table tr td.title {
    width: 10px;
    text-align: left;
    padding: 0 0 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    white-space: nowrap;
}
table tr td.title_re {
    text-align: left;
    padding: 0 0 0 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: url('../img/reply_header.png');
    background-position: left center;
    background-repeat: no-repeat;
}
.table-filter-area {
    float: right;
    width: 30%;
    text-align: right;
    margin: 0;
}
.table-filter-area-wide {
    width: 100% !important;
}
.table-header-area {
    float: left;
    width: 70%;
    margin: 0;
}
.table-footer-area {
    width: 100%;
    float: left;
    margin: 5px 0 30px 0;
}
.table-footer-area .btn_area_left {
    float: left;
    width: 49%;
    padding: 0 0.5%;
    background-repeat: repeat;
}
.table-footer-area .btn_area_right {
    float: right;
    width: 49%;
    padding: 0 0.5%;
    background-repeat: repeat;
}
.board-fix {
    width: 40px !important;
}

.board-title {
    text-align: left !important;
}

/* Table Pagination */
.popup_content .pagination {
    margin: 10px 0 0 0;
}
.pagination {
    font-family: verdana;
    font-size: 11px;
    text-align: center;
    float: left;
    width: 100%;
    margin: 30px 0 60px 0;
    font-size: 0;
}
.pagination strong {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 5px 0 0 0;
    line-height: 20px;
    background: #5c5c5c; 
    color: #fff;
    text-align: center;
    text-decoration: none !important;
    vertical-align: top;
    box-sizing: border-box;
    margin-left: 5px;
    font-size: 12px;
}
.pagination a {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 5px 0 0 0;
    line-height: 20px;
    color: #555;
    text-align: center;
    text-decoration: none !important;
    vertical-align: top;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-left: 5px;
    font-size: 12px;
}
.pagination a.next, .pagination a.prev{
    width: 30px;
    height: 30px;
    padding: 5px 0 0 0;
    vertical-align: top;
    border: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
}
.pagination a.next img, .pagination a.prev img{
    display: none;
}
.pagination a.next:before{
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px;
    border-color: transparent #666 transparent transparent;
    position: absolute;
    left: 5px;
    top: 8px;
}
.pagination a.prev:before{
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px;
    border-color: transparent transparent transparent #666;
    position: absolute;
    left: 12px;
    top: 8px;
}
.pagination a.next img, .pagination a.prev img {
    /*margin: 2px 0 0 3px !important;*/
}
table.detail {
    width: 100%;
    border: 1px solid #ddd;
    border-top: 2px solid #505050;
}

table.detail tr td.field_title {
    height: auto;
    background-color: #f6f6f6;
    width: 7%;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    font-weight: 700;
    color: #202020;
    font-size: 14px;
}
table.detail tr td.field_title2 {
    background-color: #fdfdfd;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
table.detail tr td.field_value {
    height: auto;
    border-bottom: 1px solid #ddd;
    text-align: left;
    width: 30%;
    padding: 10px;
    font-size: 14px;
    color: #707070;
}
table.detail tr td.field_value div.field_value {
    height: auto;
    border-top: 1px solid #ddd;
    text-align: left;
    margin-top: 10px;
    padding-top: 10px;
}
table.detail tr td.field_value2 {
    text-align: center;
}
ul.sms_receiver {
    display: block;
    width: 80%;
    background-color: #efefef;
    border-radius: 3px;	
    -moz-border-radius: 3px;	
    -webkit-border-radius: 3px;
    padding: 10px 5px;
    float: left;
}
/* Editor Area */
.editor p {
    margin: 0 0 6px 0;
    font-size: 12px;
}
.editor ul {
    display: block;
    margin: 0 0 10px 0;
}
.editor ul li {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    margin: 4px;
}
div.down_area {
    width: 100%;
    float: left;
    margin: 10px 0;
    text-align: center;
}
#btn_area, .btn_area {
    /*    width: 100%;*/
    float: right;
    margin: 10px 0;
    padding: 0 0 40px 0;
    text-align: center;
}
.btn_area.width100{
    width: 100%;
}
#btn_area input, .btn_area input{
    margin-left: 2px !important;
    margin-right: auto !important;
    float:none !important;
}
.btn_area_left {
    width: 12.6%;
    float: left;
    padding: 0 0 40px 0;
}
.btn_area_right {
    width: 12.6%;
    float: right;
    padding: 0 0 40px 0;
}


/*  */
span.delete a {
    color: red;
}
span.delete a:hover {
    text-decoration: underline;
}
/* Table Detail 2 */

table.detail2 {
    width: 100%;
    border-top: 2px solid #7f7f7f;
}

table.detail2 tr td.field_title {
    height: auto;
    background-color: #efefef;
    border-bottom: 1px solid #7f7f7f;
    font-weight: 700;
}
table.detail2 tr td.field_value {
    height: auto;
    border-bottom: 1px solid #7f7f7f;
    text-align: left;
    padding: 10px;
}
/*div.btn_area {
    width: 100%;
    float: left;
    margin: 15px 0;
    padding: 0 0 60px 0;
}*/






/*************************************
        Footer Area    
*************************************/
#footer{
    float: left;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding: 0;
}
#footer .top{
    background: #fafafd;
    padding: 6px 35px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
}
#footer .top ul{
    font-size: 0;
}
#footer .top ul li{
    margin-top: 7px;
    color: #404040;
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px solid #c8c8c8;
    height: 11px;
    line-height: 12px;
    display: inline-block;
}  
#footer .top ul li:last-child{
    border: 0;
    padding-right: 0;
}
#footer .top select{
    width: 155px;
    height: 27px;
    box-sizing: border-box;
    border: 1px solid #cfcfcf;
    color: #525252;
    font-size: 12px;
    float: right;
    padding: 5px;
    line-height: 17px !important; 
    margin: 0 !important;
}
#footer > .group {
    padding: 28px 45px 16px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
#footer .logo{
    clear: both;
    float: left;
    margin-right: 60px;
    width: 160px;
    text-align: center;
}
#footer .logo img{
    width: 60px;
    height: auto;
}
#footer .info{
    float: left;
    width: auto;
}
#footer p{
    margin-bottom: 5px;
    color: #414141;
    font-size: 12px;
}
#footer p.copy{
    color: #8e8e8e;
    font-size: 11px;
    margin-top: 12px;
}
#footer p a
, #footer li a{
    color: inherit;
    font-weight inherit;
}
.footer100 .group{
    width: 100%;
    padding: 0 20px;
    max-width: none;
}


/*************************************
        Popup Style
*************************************/
div.popup {
    max-height: 610px;
    width: 650px;
    z-index: 1000;
    border: 2px solid #00769A;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -325px;
    box-shadow: 0px 0px 6px #999;
    overflow: scroll;
}
.popup_header {
    background-color: #00769A;
    width: 100%;
    float: left;
    position: fixed;
    width: 650px;
}
.popup_header h1.popup_title {
    font-size: 15px;
    text-shadow: 0px 1px 0px #444;
    -webkit-text-shadow: 0px 1px 0px #444;
    -moz-text-shadow: 0px 1px 0px #444;
    color: white;
    display: block;
    padding: 10px;
    width: 80%;
    float: left;
}
.popup_header img.close_btn {
    display: block;
    float: right;
    margin: 10px 10px 0 0;
    border: none;
}
.popup_content {
    float: left;
    width: 94%;
    padding: 10px 3% 20px 3%;
}
.popup_content h2 {
    font-size: 18px;
    font-weight: 700;
    color: #fa797e;
    float: left;
    margin: 5px 0 5px 0;
    width: 100%;
}
.popup_content h3 {
    font-size: 12px;
    font-weight: 700;
    color: #333;
    float: left;
    margin: 10px 0 5px 0;
}
p.popup_description {
    width: 100%;
    float: left;
    clear: both;
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin: 3px 0 15px 0;
}
form.popup_btn {
    width: 90%;
    display: block;
    clear: both;
    text-align: center;
    padding: 20px 2%;
    margin: 40px auto 0 auto;
}

.popup form.popup_btn {
    margin: 0 auto !important;
    padding:0;
}


/*************************************
Main Popup Style
*****************************/

.main_popup {
    height: auto;
    border: 2px solid #00769a;
    top: 50px;
    left: 50px;
    box-shadow: 0px 0px 6px #999;
}
.main_popup_header {
    height: 28px;
    width: 100%;
    background-color: #00769a;
    color: white;
}
.main_popup_header h1.main_popup_title {
    float: left;
    font-size: 12px;
    margin: 6px 0 0 10px;
    font-weight: 500;
}
.main_popup_header a img {
    float: right;
    margin: 8px 10px 0 0;
}
.main_popup_content {
    color: #333;
    width: 96%;
    background-color: white;
}
.main_popup_content h2 {
    padding: 10px 0 0 0;
}
.main_popup_content p {
    padding: 0;
    width: 100% !important;
}
.main_popup_content img {
    width: 100%;
    border: 1px solid #d7d7d7;
}
.main_popup_btn_area {
    display: block;
    clear: both;
    text-align: right;
}


div.file_input {
    width:200px;
    position: relative;
} /*file_wrap의 위치를 위해 임의로 감싸줌*/


/**    .file_text {
    float:left;
    width: 130px;
    height: 16px;
    background-color: rgba(0);
    border: 1px solid #eee;
    color: #777;
}/*파일 첨부했을 경우 경로가 나오는 input type="text"*/
/**    .file_wrap {
    float: left;
    display: inline-block;
    width: 60px; 
    height: 20px;
    background:url(../img/bt_find.png)0 0 no-repeat;
    position: absolute;
    top: 0;
    right: 0;                    
}/*display: inline-block으로 변경 (익스6에서는 안된다고함) 
   overflow:hidden; 해주면 될듯-확인안됨
   버튼이미지를 배경이미지로 삽입, 전체 사이즈는 버튼 이미지와 동일 
   위치 절대값 top:0; right: 0;  또는 top:0; left:인풋 text박스크기 + 여백 만큼*/
/**       .file_add {
    filter: alpha(opacity: 0);
    opacity: 0;
    width: 60px;
    height: 20px;
}/*input type="file" 투명도를 0으로 만들기, 
  사이즈는 버튼 이미지 사이즈와 동일하게*/

div.sync_history {
    float: left;
    width: 100%;
}


label.w100 {
    width: 100px;
}

label.right {
    text-align: right;
}

h1.page_sub_h1 {
    font-size: 18px;
    width: 97%;
    float: left;
    clear: both;
    margin: 30px 0 15px 0;
    padding: 0;
    color: #5d9cec;
    padding-left: 3%;
}
.icon-fit {
    background-image: url("../img/icon-fit.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.icon-sys {
    background-image: url("../img/icon-system.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.icon-sample {
    background-image: url("../img/icon-sample.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.icon-phone {
    background-image: url("../img/icon-phone.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.icon-info {
    background-image: url("../img/icon-info.png");
    background-position: left center;
    background-repeat: no-repeat;
}
ul.list-img {
    display: block;
    margin: 0 0 0 18px;
}
ul.list-img-sam {
    display: block;
    margin: 0 0 0 18px;
}
ul.list-img-sam li {
    display: inline-block;
    background-image: none !important;
    width: 42%;
    margin: 0 5% 0 0;
    float: left;
    clear: none;
}
ul.list-img-sam li img {
    width: 100%;
    height: auto;
}
.list-img-caption {
    display: block;
    width: 100%;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin: 4px 0 0 0;
}
.list-img-sam-caption {
    display: block;
    width: 100%;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin: 4px 0 0 0;
}
ul.list-img li {
    display: inline-block;
    background-image: none !important;
    width: 22%;
    margin: 0 1% 0 0;
    float: left;
    clear: none;
}
ul.list-img li img {
    width: 100%;
    height: auto;
}

div.course_imported {
    float: left;
}

.tabGroup {
    width: 100%;
    float: left;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #999;
}

/* Configure the radio buttons to hide off screen */
.tabGroup > input[type="radio"] {
    position: absolute;
    left:-100px;
    top:-100px;
}

/* Configure labels to look like tabs */
.tabGroup > input[type="radio"] + label {
    /* inline-block such that the label can be given dimensions */
    display: inline-block;

    /* A nice curved border around the tab */
    border: 1px solid #999;

    /* the bottom border is handled by the tab content div */
    border-bottom: 0;

    /* Padding around tab text */
    padding: 8px 25px;

    /* Set the background color to default gray (non-selected tab) */
    background-color: #fafafa;
    color: #1a1a1a;
    font-size: 13px;
    font-weight: normal;
    margin-left: -2px;
}

/* Focused tabs need to be highlighted as such */
.tabGroup > input[type="radio"]:focus + label {
    border:1px solid #676767;
}

/* Checked tabs must be white with the bottom border removed */
.tabGroup > input[type="radio"]:checked + label {
    background: rgb(242,242,242); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,1) 73%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(73%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 73%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 73%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 73%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 73%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    font-weight: bold;
    color: #4d8ee0;
    font-size: 13px;
    border-bottom: 1px solid #fff !important;
    border-top: 2px solid #4d8ee0 !important;
    margin-bottom: -1px;
    border: 1px solid #999;
    margin-left: -2px;
}

/* The tab content must fill the widgets size and have a nice border */
.tabGroup > div {
    display: none;
    border-top: 2px solid #4d8ee0;
    background-color: white;
    padding: 10px 0;
    /* height: 100%; */
    overflow-x: hidden;
}

/* This matchs tabs displaying to thier associated radio inputs */
.tab1:checked ~ .tab1, .tab2:checked ~ .tab2, .tab3:checked ~ .tab3, .tab4:checked ~ .tab4 {
    display: block;
}

/* 검색 부분 */
.search-text{
    width: 300px !important;
}

/* 달력 스타일 */
.ui-datepicker{
    padding: 5px;
    border: 1px solid #ccc;
}

.ui-datepicker a.ui-datepicker-pev span{
    color: #fff;
}

.ui-datepicker a.ui-datepicker-next span{
    color: #fff;
}

/*상세보기 페이지*/
.detail-title-area{
    padding: 0;
    margin-top: 5px; 
    clear: both;
    border-top: 2px solid #505050;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.detail-title{
    font-size: 16px;
    font-weight: bold;
    display: block;
    width: 100%;
    background: #f6f6f6;
    padding: 12px 10px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.detail-date{
    clear: both;
    display: block;
    margin-top: -10px;
    font-size: 14px;
    color: #999;
    padding: 5px 10px 10px 10px;
}
.detail-contents{
    clear: both;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0 10px 0;
    min-height: 150px;
}
.detail-contents p{
    font-size: 14px;
}
.detail-attachment-area{
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.detail-attachment-title{
    display: none;
}

.detail-attachment{
    padding: 0 20px;
    width: 100%;
}
.detail-attachment li{
    width: 100%;
}

.detail-viewinfo{
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #777;
    margin-top: 5px;
}

.detail-status{
    border: 1px solid #bbb;
    background: #eee;
    font-size: 11px;
    color: blue;
    padding: 3px 5px;
    margin-top: -40px;
}

.area-right{
    float: right;
}

.icon-attachment{
    margin: 0 0 -4px 10px;
}
#empty_timetable {
    background: #efefef; 
    line-height: 50px;
    padding: 15px;
    min-height: 50px;
    border: 1px solid #bfbfbf; 
    clear: both; 
    float: left;
    width: 98%;
    text-align: center;
}
.jb_both {
    clear: both;
}
.jb_left {
    float: left
}
.jb_right {
    float: right;
}
.jb_h30 {
    line-height:30px; 
    height: 30px;
}
.timetable_block_indetail.first_indetail {
    float:left;
    clear:both;
    width: 150px;
    text-align: center;
    height: 140px;
    background-color:#ececec;
    border-radius: 10px;
}
.timetable_block_indetail {
    float:left; 
    margin:3px;
    width: 166px;
    text-align: center;
    height: 140px;
    background-color:#ececec;
    border-radius: 10px;
}
.timetable_weeks_indetail {
    float:left;
    clear:both;
    min-height: 60px;
    width: 100%;
}
.block_header_indetail.first_indetail {
    float:left;
    width: 150px;
    text-align: center;
    height: 35px;
    padding-top: 12px;
}
.block_header_indetail {
    float:left;
    width: 165px;
    margin-left:5px;
    text-align: center;
    height: 35px;
    padding-top: 12px;
}
.weeks_font_indetail {
    color: #018db8;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    padding-top: 15px;
    display: inline-block;
}
.weeks_font_indetail2 {
    color:#018db8;
    font-weight:bold;
    font-size: 13px;
    line-height: 140px;
}

.students_header {
    display: block;
    width: 98%;
    float: left;
    padding: 10px 1%;
    background-color: #efefef;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 5px 0 20px 0;
}

.students_search {
    display: block;
    width: 98%;
    float: left;
    padding: 10px 1%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 5px 0 20px 0;
}

.students_header_content {
    float: left;
    margin: 7px 0px 0px 15px;
}

.students_header_button {
    float: right;
}
#timetable_weeks_body {
    width:100%;
    clear: both;
    float:left;
}
.timetable_arrow {
    display: inline-block;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 2px 7px;
    color: #bbb;
    margin: 0 5px;
}
.timetable_table_font {
    color: #018db8;
    font-weight: bold;
    padding-top: 2px;
    display: inline-block;
}
.timetable_week_picker {
    font-weight: bold;
    margin-top: 11px;
}

.guard_line {
    width: 80%;
    float: left;
    border-bottom: 3px solid #bfbfbf;
    margin: 10px 10% 10px 10%;
}

.enrol_explain{
    float : left;
    padding-left: 10%;
}

.frm_multiselete_box{
    float:left;
    width: 98%;
}

.multiselectbox_area{
    width: 96%;
    float: left;
    padding: 10px 2% 10px 2%;
}

.multiselectbox_area option{
    margin: 3px 0px 3px 0px;
}

.multiselectbox_area .left_selete_area{
    width: 40%;
    float: left;
    padding: 0px 2% 0px 2%;
    text-align: center;
}

.multiselectbox_area .center_button_area{
    width: 10%;
    float: left;
    padding: 150px 1% 0px 1%;
    text-align: center;
}

.multiselectbox_area .center_button_area input{
    margin-bottom: 10px
}

.multiselectbox_area .right_selete_area{
    width: 40%;
    float: left;
    padding: 0px 2% 0px 2%;
    text-align: center;
}

.left_selete_area .left_sel{
    width: 70%;
}

.right_selete_area .right_sel{
    width: 70%;
}

#frm_third_excel .group_notice{
    padding: 5px 0px 5px 30%;
}

#frm_third_excel .input_excel{
    padding-left: 25%
}

#frm_third_excel .group_sample{
    padding: 5px 0px 5px 25%;
}

.third_group_reset, .third_schedule_excel {
    margin-right: 10px;
    margin-bottom: 10px !important;
    float: right;
}

.third_group_list {
    width: 98%;
    margin-left: 1%;
}

.third_group_list td {
    border: 1px solid #bfbfbf !important;
}

.third_group_list .group_num, .stu_count {
    background-color: #efefef;
}

.third_group_list .group_member {
    float: left;
    margin: 8px 0px 0px 20px;
}
.third_group_list .group_popup_button {
    float: right;
    margin-right: 10px;
}

#popup_content {
    width: 98%;
}

#popup_enrol_third_search {
    width: 90%;
    margin: 10px 0px 10px 13%;
}

.popup_enrol_explain {
    margin-left: 5%;
}

.popup_guard_line {
    width: 90%;
    float: left;
    border-bottom: 3px solid #bfbfbf;
    margin: 5px 0px 5px 5%;
}

.popup_multiselectbox_area{
    width: 96%;
    float: left;
    padding: 10px 0px 10px 2%;
}

.popup_left_selete_area, .popup_right_selete_area {
    width: 45%;
    float: left;
    text-align: center;
}

.popup_center_button_area {
    width: 10%;
    float: left;
    padding-top: 150px;
    text-align: center;
    margin-bottom: 10px
}
.popup_center_button_area input{
    margin-bottom: 10px
}

.popup_left_sel, .popup_right_sel {
    width : 80%;
}
.competence_title {
    padding: 5px 0px 5px 0px;
}
.competences_box-1 {
    height: 135px;
}

.competences_box-2 {
    height: 95px;
}

.competences_box-3 {
    height: 75px;
}

.competences_box-4 {
    height: 115px;
}

.competence {
    float : left;
    width : 33%;
    padding-bottom: 1px;
}

#competence_btn_area {
    width: 100%;
    float: left;
    margin: 10px 0;
    text-align: center;
}
.field_value #univ_selecte {
    width: 100%;
    float: left;
    margin: 10px 0;
    text-align: center;
}

.field_value #hyear_checkbox {
    float: left;
    padding-top: 10px;
    padding-left: 20px;
}

.enrol_mentor_search{
    display: block;
    width: 85%;
    float: left;
    padding: 10px 9%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 5px 0 20px 0;
}

.siteadmin_tabs {
    clear:both;
    float:left;
}

/** popup css **/
.ui-dialog{
    border: 1px solid #5c5c5c   !important;
}
.ui-draggable .ui-dialog-titlebar{
    background: #5c5c5c !important;
    font-size: 20px;
    padding: 10px 20px;
    line-height: 20px;
    height: 27px;
}
.ui-state-default .ui-icon, .ui-icon-closethick{
    background-color: transparent !important;
}
.ui-button {
    background-color:#285397 !important;
}
.ui-button.ui-dialog-titlebar-close{
    background-color:transparent !important;
    width: 30px;
    min-width: 0;
}
.ui-dialog-titlebar {
    border: 0;
    padding: 0;
}
.ui-dialog-titlebar-close {
    top: 0;
    right: 0;
    margin: 0;
    z-index: 999;
}
.ui-button-text-only .ui-button-text{
    padding: 0 5px !important;
    line-height: 20px;
}
.ui-dialog .ui-dialog-buttonpane button#save {
    background-color: #fa797e !important;
    border: 1px solid #fa797e;
    border-radius: 0;
    margin-bottom: 20px;
}
.ui-dialog .ui-dialog-buttonpane button#close{
    background: #acacac!important;
    border: 1px solid #acacac;
    border-radius: 0;
    margin-bottom: 20px;
}
/** popup css **/

/*
    시작 - /chamktu/support/menu_main.php
*/
.support-menu-main {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    min-height: 550px;
}
.support-menu-main .support-menu-main-list {
    width: 33%;
    box-sizing: border-box;
    min-width: 260px;
    float: left;
    margin-right: 3%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    /*margin: 0px 10px 10px 0px;*/
    min-height: 550px;
}
.support-menu-main .support-menu-main-list .menu-box-area{
    overflow-y: scroll; 
    height: 500px;
}
.support-menu-main .support-menu-main-list .menu-button-area{
    text-align: right;
    margin-right:28px;
}
.support-menu-main .support-menu-main-list .menu-button-area button{
    /*margin: 10px 50px;*/
    width: 110px;
    height: 30px;
}
.support-menu-main .support-menu-main-list .menu-content{
    margin: 10px 10px 15px 10px;;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 34px;
    height: 34px;
}
.support-menu-main .support-menu-main-list .menu-selected{
    border: 2px solid #265093;
    height: 32px;
}
.support-menu-main .support-menu-main-list .menu-content p{
    font-size: 15px;
    font-weight:bold;
    margin: 9px;
    letter-spacing: 0.5em;
}
.support-menu-main .support-menu-main-list .menu-selected p{
    margin: 8px;
}
.support-menu-main .support-menu-main-option {  
    width: 64%;
    float: left;
    box-sizing: border-box;
    min-width: 260px;
    margin-top: -5px;
    min-height: 550px;
}
.support-menu-main .support-menu-main-option input[type=text]{
    width:80%;
}

/*@media screen and (max-width: 1000px){
    .support-menu-main .support-menu-main-option { 
        width: 60%;
    }
}*/

.support-menu-main .support-menu-main-option table{  
    width: 100%;
    height: 505px;
    /*margin: 10%;*/
}
.support-menu-main .support-menu-main-option select{  
    margin:5px 20px 5px 0px;
}
.support-menu-main .support-menu-main-option .menu-button-area{  
    float: right;
    //  margin-right: 10%;
}
.support-menu-main .support-menu-main-option button{  
    width: 100px;
    height: 30px;
    //   margin-right: 30px;
}
.support-menu-main-option .icon_list span{
    margin-right:5px;
}
.support-menu-main-option .icon_list img{
    width: 20px;
    padding: 6px;
}
.support-menu-main-option .icon_list .img-selected{
    border: 1px solid #018db8 !important;
    padding: 5px;
}
/*
    종료 - /chamktu/support/menu_main.php
*/

.generaltable thead>tr>th, .generaltable tbody>tr>td{
    border: 1px solid #ddd;
}
.generaltable thead>tr>th:first-child, .generaltable tbody>tr>td:first-child{
    border-left: 0;
}
.generaltable thead>tr>th:last-child, .generaltable tbody>tr>td:last-child{
    border-right: 0;
}
.no-overflow{
    overflow:auto;
    padding-bottom:1px;
    clear:both;
}

/* 검색 스타일 */
.detail + .generaltable{
    margin-top: 30px;
}
.table-search-option{
    padding: 20px 20px 15px;
    border: 1px solid #ddd;
    background: #fff;
    margin-bottom: 20px;
}

/*학습현황*/
.table-search-option{ 
    border:0; 
    padding: 0;
    margin: 0;
    clear: none;
    width: 100%;
    overflow: hidden;
    height: 70px;
}
.stat_search_area{
    margin-top: 35px;
    float: right;
    clear: none;
    font-size: 0;
}
.stat_search_area input{
    margin-left: 5px !important;
    margin-right: 0 !important;
}
.board-search{
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    background: linear-gradient(to bottom,#fff,#e6e6e6) ;
    border: 1px solid #bbb !important;
    border-bottom-color: #a2a2a2 !important;
}
.select_colume{
    margin-top: 50px;
    float: left;
    clear: none;
}
.generaltable.stat_table tr td:nth-child(1){
    min-width: 60px;
    width: 60px;
}
.generaltable.stat_table tr td:nth-child(2){
    min-width: 110px;
    width: 110px;
} 
.generaltable.stat_table tr td:nth-child(3){
    min-width: 80px;
    width: 80px;
}
.generaltable.stat_table th, .generaltable.stat_table td{white-space:nowrap; min-width: 50px;}
.generaltable.stat_table th, .detail + .generaltable th{
    background-color: #f6f6f6 !important;
    padding: 7px 5px;
}
.stat_span{
    font-size: 12px;
    display: inline-block !important;
    border: 1px solid #ddd;
    background: #fff;
    float: none !important;
    text-align: center;
    width: 35px !important;
    height: 20px;
    line-height: 20px;
    color: #000;
    cursor: pointer;
} 
th .stat_span:hover, .stat_span[active=on]{background: #f4f4f4;}
.stat_span:first-child{border-right: 0;}
th .stat_span:first-child:last-child {border: 1px solid #eee;}
.stat_span.comment_span{border-left: 0;}
td .stat_span{border:0;}
.no-overflow ~ .pagination{margin:20px 0 0 0; width: calc(100% - 100px);}
.pagination + .stat_downbtn{text-align: right;}
.pagination + .stat_downbtn button{margin-top: 10px;}
.lcms_write_btn {
    clear:both;
    float:right;
}

.btn-area-left {
    float:left;
}
.btn-area-right {
    float:right;
}


.board-detail-area{
    border-bottom: 0;
    clear: both;
    margin-bottom: 15px;
}
.detail_title{  
    clear: both;
    border-top: 2px solid #505050;
    border-bottom: 1px solid #ddd;
    background-color: #f6f6f6;
    margin-bottom: 0;
    height: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 18px;
}
.detail-title-area {
    border-bottom: 1px solid #ddd;
}
.detail-progress-area {
    border: 0; 
    background: none; 
    text-align: right; 
    margin-top: -40px;
}
.detail-contents-area{
    padding: 20px !important;
    border-bottom: 1px solid #ddd;
    padding: 0;
    overflow: hidden;
} 
iframe{border: 0;}
#vod_viewer{
    margin: 0 auto;
    display: block;
}
#course_search_cata2, #course_search_cata3{width: 170px;}
select[name="format"], select[name=certiform], select[name=certiform_en], select[name=lang], select[name=codeid]{padding-right: 20px;}

.hidden{display: none;}

/*캡션 숨김*/
.hidden-caption{
    visibility:hidden;
    height: 0px;
}
.red {
    color:red;
}

.menu_usergroups {
    border:1px solid #acacac;
    float:left;
    padding: 5px;
    min-width:40px;
    border-radius: 5px;
    margin:2px;
}
.child_icon {
    margin-left:20px;
    font-size:5px;
    color:#636363;
}

/* 태그박스 */
.tag_box{
    height:35px; 
    line-height:35px; 
    padding:0px 10px; 
    background:#dddddd; 
    float:left; 
    margin-right:10px;
}

/*파일업로드 버튼*/
.fileBox label {
    margin: 0 !important;
    vertical-align: middle;
    padding: 10px 10px
}


.cursor {
    cursor: pointer !important;
}
/** 설문양식 **/
fieldset{
    border: 0 !important;
    padding: 0;
}
fieldset legend{
    padding: 0;
}
fieldset legend h2{
    margin: 20px 0 10px;
}
fieldset.categories {
    border-radius: 0;
    background-color: #f2f2f2;
    margin: 15px 0;
    padding: 10px 15px 15px;
}
fieldset.categories > div[style] > input{
    margin: 0 0 0 4px !important;
}
.categories legend h3{
    margin-bottom: -32px;
    margin-top: 13px;
    position: relative;
    bottom: -4px;
}
div.questions {
    clear: both;
    float: left;
    width: 100%;
    margin: 10px 0 0;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #e0e0e0;
    background: #fff;
    box-sizing: border-box;
}
.question_header{
    overflow: hidden;
}
.question_header h3{
    float: left;
    font-size: 15px;
}
.question_header > div{
    float: right;
    clear: none !important;
}
.question_header > div *{
    margin: 0 0 0 4px !important;
}
textarea.question_textarea {
    clear: both;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.no-overflow{
    margin-bottom: 20px;
}
.no-overflow table{
    min-width: 100%;
    width: auto;
    table-layout: auto;
    margin-bottom: 0;
}
.stat_table img.icon{
    width: 25px;
    height: auto;
}
/**  카테고리 **/
.category_border{
    clear: both;
}
.category_border h3{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 25px;
}
br + .category_border h3{
    border-top: 0;
}
.question_border{
    clear: both;
    border: 1px solid #ddd;
    padding: 20px 20px 13px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: #f6f6f6;
    line-height: 1.5;
    color: #707070;
    font-weight: bold;
}
.question_border .question_header{
    margin: -20px -20px 10px;
    border-bottom: 1px solid #e0e0e0;
}
.question_border > div{
    margin-bottom: 15px;
}
.question_header h5{
    font-size: 15px;
    color: #333;
    padding: 10px 20px 8px;
    background: #fff;
}
.question_border pre{
    margin: 0;
}

/** editor **/
body .cke_dialog_body{
    border: 1px solid #c0c0c0;
    border-radius: 0;
    box-shadow: none;
    background: #fff;
    padding: 0;
    overflow: hidden;
}
body .cke_dialog_title{
    background: #f2f2f2;
    border: 0;
    border-bottom: 1px solid #c0c0c0;
    padding: 12px 15px;
    box-shadow: none;
    text-shadow: none;
    font-size: 15px;
}
body .cke_ltr .cke_dialog_close_button {
    right: 8px;
    top: 14px;
}
body .cke_dialog_tabs{
    margin-top: 10px;
}
body .cke_dialog_contents{
    box-shadow: none;
    margin: 35px 15px 15px;
}
body .cke_dialog_footer{
    border: 0;
    background: #fff;
    box-shadow: none;
    outline: none;
    text-align: center;
}
body a.cke_dialog_tab{
    border-radius: 0;
    min-width: 60px;
    text-align: center;
    background: #f6f6f6;
}
body a.cke_dialog_tab_selected{
    font-weight: bold;
    background: #fff;
}
body .cke_dialog_contents_body{
    padding: 10px 0;
    overflow: hidden;
}
body .cke_dialog_contents_body input[type=text]
, body .cke_dialog_contents_body select{
    border-radius: 0 !important;
    box-shadow: none !important;
    margin-top: 3px !important;
    margin-bottom: 5px !important;
    border: 1px solid #ddd !important;
    height: 30px;
}
body .cke_dialog_contents_body select{
    background: url(../img/select_arrow.png) no-repeat right center;
    padding-right: 17px;
    line-height: 20px;
    height: 30px;
}
body a.cke_dialog_ui_button{
    background: #fff;
    border: 1px solid #ddd;;
    border-radius: 0;
    min-width: 60px;
    height: 30px;
    box-sizing: border-box;
    line-height: 25px;
}
body a.cke_dialog_ui_button span{
    text-shadow: none;
}
body a.cke_dialog_ui_button_ok{
    background: #fa797e;
    border-color: #fa797e;
}