@font-face {
     font-family: ng;
     src: url('NanumGothic.eot');
     src: local(※), url('NanumGothic.woff') format('woff')
}

/* Reset */

html, body {
	margin: 0;
	padding: 0;
	font-family: "굴림", "굴림체", NanumGothic, ng, sans-serif;
	color: #333333;
	font-size: 12px;
}

ul, ol, li {
	margin: 0; 
	padding: 0;
	display: inline;
}
img {
	border: 0 !important;
}
p {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 18px;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

a, a:hover {
	text-decoration: none;
	color: #333333;
}



#wrap {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	min-width: 1024px;
}



/*************************************
    Login Area
*************************************/
#wrap_login {
	width: 100%;
	height: auto;
	min-height: 500px;
	float: left;
	background-image: url('../images/admin_login_bg.png');
	background-position: left top;
	background-repeat: no-repeat;
}
#login_box {
	width: 304px;
	height: 298px;
	background-color: white;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #d9d9d9;
	margin: 200px auto 0 auto;
	box-shadow: 0px 0px 10px #ccc;
}
img.admin_login_logo {
	display: block;
	margin: 27px auto 0 auto;
}
form.login {
	display: block;
	padding: 20px 20px;
}
form.login input {
	appearance: none;
	width: 242px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 14px;
	margin: 10px 0;
	padding: 9px 10px;
}
form.login input.blue_style_btn {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #018db8;
	border: 1px solid #005d7b;
	color: white;
	width: 100%;
	margin: 20px 0 0 0 !important;
}





/*************************************
    Header Area
*************************************/
#header {
	width: 100%;
	height: 60px;
	float: left;
	background-color: #00769A;
	border-bottom: 1px solid #034e65;
}
h1.logo{
	display: block;
	width: 14%;
	height: 60px;
	float: left;
	background-color: #005d7b;
}
h1.logo img {
	margin: 12px 0 0 12px;
}
ul.gnb {
	display: block;
	width: 86%;
	float: left;
}
ul.gnb li {
	display: inline-block;
	float: left;
	padding: 21px 0px;
	font-size: 16px;
	font-weight: 700;
}
ul.gnb li a {
	color: #FFF;
	font-size: 15px;
	font-weight: 700;
	margin: 16px 18px;
	text-shadow: 0px 1px 3px #555;
}
ul.gnb li a.selected {
	color: #fff200;
}
ul.gnb li a:hover{
	color: #fff200;
}
input[type="button"].logout {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #444;
	border: 1px solid #333;
	font-size: 11px;
	font-weight: 500;
	color: white;
	padding: 2px 4px;
	position: absolute;
	right: 130px;
	top: 17px;
}
input[type="button"].url_link {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #005d7b;
	border: 1px solid #004e69;
	font-size: 11px;
	font-weight: 500;
	color: white;
	padding: 2px 4px;
	position: absolute;
	right: 40px;
	top: 17px;
}




/*************************************
    Sidebar Area
*************************************/
#contents {
	width: 100%;
	float: left;
        background-color: #fff;
}
#sidebar {
	width: 14%;
	float: left;
}
div.menu_title {
	width: 100%;
	float: left;
	background-color: #444;
	color: white;
	padding: 18px 0;
}
div.menu_title h2 {
	display: block;
	font-size: 18px;
	color:#efefef;
	width: 92%;
	float: left;
	padding: 0 4%;
}
ul.submenu {
	display: block;
	width: 100%;
	
	float: left;
	padding: 0;
	margin: 0;
}
ul.submenu li {
	display: inline-block;
	background-color: white;
	margin: 0;
	width: 92%;
	padding: 12px 4%;
	border-bottom: 1px solid #ccc;
}
ul.submenu a:hover li {
	background-color: #efefef;
}
ul.submenu li.selected {
	background-color: #efefef; 
	color: #00769A;
	font-weight: 700;
}
ul.submenu li ul {
	display: block;
	background-color: #efefef !important;
	margin: 6px 0 0 0;
}
ul.submenu li ul li {
	background-color: #efefef !important;
	border-bottom: none;
	padding: 8px 2% 8px 6%;
	font-weight: normal;
	font-size: 12px;
}
ul.submenu li ul li a {
	color: #666;
}
ul.submenu li ul li a.selected{
	color: #333;
	font-weight: 700;
}
ul.submenu li ul li a:hover {
	text-decoration: underline;
}

/*************************************
    Content Area
*************************************/
#content {
	width: 81%;
	padding: 20px 2%;
	float: left;
	min-height: 1000px;
	border-left: 1px solid #ccc;
}
h3.page_title {
	font-size: 28px;
	margin: 0 0 20px 0;
}
h4.page_sub_title {
	font-size: 18px;
	margin: 0 0 10px 0;
}
form.search_area {
	display: block;
	width: 98%;
	float: left;
	padding: 10px 1% 0 1%;
	background-color: #efefef;
	border: 1px solid #bfbfbf;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 5px 0 20px 0;
}
label {
	font-size: 12px;
	font-weight: 700;
	color: #333;
	display: inline;
	width: 60px;
	margin: 0 10px 0 0;
}


/* Form Style */

select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	padding: 3px 4px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #bfbfbf;
	background-image: url('../images/select_arrow.png');
	background-position: right center;
	background-repeat: no-repeat;
	margin: 0 20px 10px 0 !important;
}
table tr td select {
	margin: 0 20px 0 0 !important;
}
input[type="submit"],input[type="button"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	color: white;
	padding: 3px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: none;
	cursor: pointer;
	margin: 0;
}
input[type="text"], input[type="password"], textarea {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	color: #333;
	padding: 3px 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #bfbfbf;
	margin: 0 20px 10px 0;
}
table tr td input[type="text"], input[type="password"], textarea {
	margin: 0 20px 0 0 !important;
}
input[type="date"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	color: #333;
	padding: 3px 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #bfbfbf;
	margin: 0 20px 10px 0 !important;
}
table tr td input[type="date"] {
	margin: 0 20px 0 0 !important;
}
input.blue_btn {
	background-color: #00769A;
	border: 1px solid #034e65;
}
input.red_btn {
	background-color: #ED4242;
	border: 1px solid #D0231C;
}
input.orange_btn {
	background-color: #E8920C;
}
input.orange_btn_small {
	background-color: #E8920C;
	padding: 3px 8px;
	font-size: 11px;
}
input.gray_btn_small {
	background-color: #999;
	padding: 3px 8px;
	font-size: 11px;
}
div.content_navigation {
	float: left;
	width: 100%;
	margin: 10px 0;
	clear: both;
}
p.black_btn {
	display: block;
	color: white;
	background-color: gray;
	border-radius: 2px;
	float: left;
	margin: 0 4px 10px 0 !important;
	padding: 5px 15px 3px 15px;
	float: left;
	width: auto !important;
	font-size: 12px !important;
}
p.black_selected {
	background-color: black;
}
a p.black_btn {
	color: white;
}
a:hover p.black_btn {
	background-color: black;
	padding: 5px 15px 3px 15px;
	border-radius: 2px;
}
.w_30 {
	width: 30px !important;
        font-size: 12px !important;
}
.w_40 {
	width: 40px !important;
        font-size: 12px !important;
}
.w_50 {
	width: 50px !important;
        font-size: 12px !important;
}
.w_70 {
	width: 70px !important;
        font-size: 12px !important;
}
.w_90 {
	width: 90px !important;
        font-size: 12px !important;
}
.w_120 {
	width: 120px !important;
        font-size: 12px !important;
}
.w_160 {
	width: 130px !important;
        font-size: 12px !important;
}
.w_200 {
	width: 200px !important;
        font-size: 12px !important;
}
.w_260 {
	width: 260px !important;
        font-size: 12px !important;
}
.w_300 {
	width: 300px !important;
        font-size: 12px !important;
}
.w_100 {
	width: 98% !important;
        font-size: 12px !important;
}

/*  */
div.extra_information {
	float: left;
	background-color: #efefef;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #d7d7d7;
	width: 96%;
	padding: 15px 2%;
	margin: 0 0 50px 0;
}
div.extra_information h4 {
	font-size: 15px;
	font-wieght: 700;
	margin: 0 0 20px 0;
}
div.extra_information ul li {
	display: block;
	width: 100%;
	margin: 0 0 10px 0;
	font-size: 12px;
}
div.extra_information ul li strong {
	width: 80px;
	padding: 0 40px 0 0;
}
/* Table Style */

p.stat_desc {
	display: block;
	float: left;
	width: 100%;
	font-size: 12px;
	color: red;
}
.popup_content p.search_result {
	margin: 30px 0 0 0;
}
p.search_result {
	width: 40%;
	text-align: right;
	font-size: 12px;
	font-weight: 500;
	display: block;
	float: right;
	margin: 10px 0 0 0;
}
table {
	width: 100%;
	float: left;	
	border-top: 2px solid #7f7f7f;
	margin: 10px 0;
	padding: 0;
}
table tr th {
	font-size: 12px;
	font-weight: 700;
	border-bottom: 1px solid #7f7f7f;
	height: 30px;
}
table tr td {
	font-size: 12px;
	line-height: normal;
	font-weight: 500;
	text-align: center;
	height: 42px;
	border-bottom: 1px dotted #7f7f7f;
}
table tr td.outlink a {
	color: #ed4242;
}
table tr td.outlink a:hover {
	text-decoration: underline;
}
table tr td.total2 {
	background-color: #efefef;
	font-weight: 700;
}
table tr td.total {
	background-color: #eafaff;
	font-weight: 700;
}

.number {
	font-family: Verdana, sans-serif;
	font-size: 11px;
}
table tr td.attachment {
	background-image: url('../images/attachment_icon.png');
	background-position: center center;
	background-repeat: no-repeat;
}
table tr td.title {
	width: 10px;
	text-align: left;
	padding: 0 0 0 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
	white-space: nowrap;
}
table tr td.title_re {
	text-align: left;
	padding: 0 0 0 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	background-image: url('../images/reply_header.png');
	background-position: left center;
	background-repeat: no-repeat;
}

/* Table Pagination */
.popup_content .pagination {
	margin: 10px 0 0 0;
}
.pagination {
	font-family: verdana;
	font-size: 11px;
	text-align: center;
	float: left;
	width: 100%;
	margin: 30px 0 60px 0;
}
.pagination strong {
	display: inline-block;
	height: 17px;
	margin: 0 -2px;
	padding: 2px 5px 0;
	line-height: 13px;
	color: #005d7b;
	text-align: center;
	text-decoration: none !important;
	vertical-align: top;
}
.pagination a {
	display: inline-block;
	height: 17px;
	margin: 0 -2px;
	padding: 2px 5px 0;
	line-height: 13px;
	color: #8E9094;
	text-align: center;
	text-decoration: none !important;
	vertical-align: top;
}
.pagination a.next, .pagination a.prev {
	width: 17px;
	padding: 2px 0 0 0;
	vertical-align: top;
}
.pagination a.next img, .pagination a.prev img {
	margin: 2px 0 0 3px !important;
}
table.detail {
	width: 100%;
	border-top: 2px solid #7f7f7f;
}

table.detail tr td.field_title {
	height: auto;
	background-color: #efefef;
	width: 20%;
	border-bottom: 1px solid #7f7f7f;
	padding: 0 10px;
	font-weight: 700;
}
table.detail tr td.field_title2 {
	background-color: #fdfdfd;
	font-weight: bold;
	border-bottom: 1px solid #7f7f7f;
}
table.detail tr td.field_value {
        height: auto;
	border-bottom: 1px solid #7f7f7f;
	text-align: left;
	padding: 10px;
}
table.detail tr td.field_value div.field_value {
        height: auto;
	border-top: 1px solid #cfcfcf;
	text-align: left;
        margin-top: 10px;
	padding-top: 10px;
}
table.detail tr td.field_value2 {
	text-align: center;
}
ul.sms_receiver {
	display: block;
	width: 80%;
	background-color: #efefef;
	border-radius: 3px;	
	-moz-border-radius: 3px;	
	-webkit-border-radius: 3px;
	padding: 10px 5px;
	float: left;
}
/* Editor Area */
.editor p {
	margin: 0 0 6px 0;
	font-size: 12px;
}
.editor ul {
	display: block;
	margin: 0 0 10px 0;
}
.editor ul li {
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
	margin: 4px;
}
.btn_area {
	width: 100%;
	float: left;
	margin: 10px 0;
	padding: 0 0 40px 0;
	text-align: center;
}


/*  */
span.delete a {
	color: red;
}
span.delete a:hover {
	text-decoration: underline;
}
/* Table Detail 2 */

table.detail2 {
	width: 100%;
	border-top: 2px solid #7f7f7f;
}

table.detail2 tr td.field_title {
	height: auto;
	background-color: #efefef;
	border-bottom: 1px solid #7f7f7f;
	font-weight: 700;
}
table.detail2 tr td.field_value {
	height: auto;
	border-bottom: 1px solid #7f7f7f;
	text-align: left;
	padding: 10px;
}
div.btn_area {
	width: 100%;
	float: left;
	margin: 10px 0;
	padding: 0 0 60px 0;
}






/*************************************
	Footer Area    
*************************************/
#footer {
	width: 100%;
	float: left;
	border-top: 1px solid #ccc;
}
#footer p.copyright {
        display: block;
	width: 100%;
	text-align: center;
	font-size: 11px;
	padding: 10px;
}




/*************************************
    Popup Style
*************************************/
div.popup {
	max-height: 610px;
	width: 650px;
	z-index: 1000;
	border: 2px solid #00769A;
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -325px;
	box-shadow: 0px 0px 6px #999;
	overflow: scroll;
}
.popup_header {
	background-color: #00769A;
	width: 100%;
	float: left;
	position: fixed;
	width: 650px;
}
.popup_header h1.popup_title {
	font-size: 15px;
	text-shadow: 0px 1px 0px #444;
	-webkit-text-shadow: 0px 1px 0px #444;
	-moz-text-shadow: 0px 1px 0px #444;
	color: white;
	display: block;
	padding: 10px;
	width: 80%;
	float: left;
}
.popup_header img.close_btn {
	display: block;
	float: right;
	margin: 10px 10px 0 0;
	border: none;
}
.popup_content {
	float: left;
	width: 94%;
	padding: 10px 3% 20px 3%;
}
.popup_content h2 {
	font-size: 15px;
	font-weight: 700;
	color: #00769A;
	float: left;
	margin: 5px 0 5px 0;
	width: 100%;
}
.popup_content h3 {
	font-size: 12px;
	font-weight: 700;
	color: #333;
	float: left;
	margin: 10px 0 5px 0;
}
p.popup_description {
	width: 100%;
	float: left;
	clear: both;
	display: block;
	font-size: 12px;
	font-weight: 500;
	margin: 3px 0 15px 0;
}
form.popup_btn {
	width: 90%;
	display: block;
	clear: both;
	text-align: center;
	padding: 20px 2%;
	margin: 40px auto 0 auto;
}

.popup form.popup_btn {
	margin: 0 auto !important;
	padding:0;
}


/*************************************
Main Popup Style
*****************************/

.main_popup {
height: auto;
border: 2px solid #00769a;
top: 50px;
left: 50px;
box-shadow: 0px 0px 6px #999;
}
.main_popup_header {
height: 28px;
width: 100%;
background-color: #00769a;
color: white;
}
.main_popup_header h1.main_popup_title {
float: left;
font-size: 12px;
margin: 6px 0 0 10px;
font-weight: 500;

}
.main_popup_header a img {
float: right;
margin: 8px 10px 0 0;
}
.main_popup_content {
color: #333;
width: 96%;
background-color: white;
}
.main_popup_content h2 {
padding: 10px 0 0 0;
}
.main_popup_content p {
padding: 0;
width: 100% !important;
}
.main_popup_content img {
width: 100%;
border: 1px solid #d7d7d7;
}
.main_popup_btn_area {
display: block;
clear: both;
text-align: right;
}
