li.list-group-item div {
    line-height: 30px;
}

li.list-group-item .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 2px;
}

#modal-add-member #user-list {
    height: 300px;
    overflow-y: scroll;
}

#modal-add-member #user-list table tbody tr td {
    line-height: 30px;
}

#modal-add-member #user-list table tbody tr td .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 2px;
}

li.list-group-item .btn {
    margin-right: 0px;
}