body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
.animated{
    opacity: 0;
}
.max1145{
    max-width: 1145px;
    margin:0 auto;
}
#header img{
    width:100%;
}
#two_course{
    padding:80px 50px 20px;
    /* background: F6F6F6; */
    background:url('../images/bg4.png') fixed;
    background-size: cover;
}
#two_course img{
    width:100%;
}
#two_course p span{
    text-decoration: line-through;
}
#two_course p,h2{
    text-align: center;
}
#two_course h2{
    margin:0.5em auto;
}
#two_course p{
    font-size: 1.5em;
}
#two_course hr{
    margin: 1em auto;
    width: 95%;
}
#two_course ul{
    list-style-type: circle;
    padding-left: 20px;
}
#two_course button{
    box-sizing: border-box;
    padding: 10px 25px;
    color:#fff;
    background:#e1a341;
    border:1px solid #e1a341;
    border-radius: 50px;
    margin:20px 0 50px;
    font-weight: bold;
    font-size: 1.3em;
    outline: none;
}
#two_course button:hover{
    color:#e1a341;
    background:#fff;
}
.each_course{
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 15px 30px 0px;
    padding-bottom: 20px;
}
.reason_course{
    width: 95%;
    margin:0 auto;
    padding-bottom:15px;
}
.reason_course b{
    font-size: 1.1em;
}
.reason_course ul{
    margin-top:10px;
}
.reason_course ul li{
    margin-bottom: 7px;
    font-size: 0.9em;
}
#other_course{
    padding:40px 0 60px;
    background: #F0F0F0;
}
#other_course h2{
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom:50px;
}
.each_other_course{
    text-align: center;
}
.each_other_course img{
    width:25%;
    margin-bottom: 15px;
}
.each_other_course a{
    color:#e1a341;
    font-weight: bold;
    font-size: 1.2em;
}
.each_other_course p{
    font-size: 1.1em;
    margin-top:10px;
}
#reason_choose{
    max-width: 1145px;
    margin:0 auto;
    padding:40px 20px;
}
#reason_choose a{
    color:#e1a341;
}
#reason_choose h2{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}
.each_reason{
    padding:0 5%;
    margin:15px auto;
    /* max-width: 220px; */
}
.each_reason img{
    width:100%;
    overflow: hidden;
}
.each_reason h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    width: 100%;
    margin:20px 0;
}
#view_more{
    min-height: 288px;
    background-image: url('../images/bg-bottom.jpg');
    background-color: rgb(54, 80, 99);
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
#view_more p{
    color:#fff;
    text-align: center;
    font-size: 2.8em;
}
#view_more button{
    box-sizing: border-box;
    padding: 10px 25px;
    color:#fff;
    background:#e1a341;
    border:1px solid #e1a341;
    border-radius: 50px;
    margin:20px 0 0;
    font-weight: bold;
    font-size: 1.3em;
    outline: none;
}
#view_more button:hover{
    color:#e1a341;
    background:#fff;
}



#send_info{
    background: #4261a0;
    padding:40px 0;
}
#send_info hr{
    border-bottom:1px solid #fff;
}
#send_info input{
    border:none;
    outline: none;
    background: none;
    color:#fff;
    font-size: 1.2em;
}
#send_info input::placeholder{
    color:#fff;
}
#send_info button{
    background: #fff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.3em;
    border:none;
    padding:10px 15px;
    margin: 0 auto;
}
#outline_button{
    padding:3px;
    border-radius: 10px;
    height: min-content;
    background: linear-gradient(270deg, aqua, brown, pink, #212ddf,aqua, brown,pink);
    /* background: linear-gradient(270deg, red,blue,blue,red); */
    background-size: 400% auto;
    animation: bganimate 1s linear infinite  ;
    /* animation-fill-mode: forwards; */
}
@media only screen and (max-width: 765px) {
    #frame_header{
        padding:0 10px;
    }
    #about_teacher_text{
        padding:0 2%;
    }
}
@keyframes bganimate {
    0%{background-position:0% 50%}
    100%{background-position:90% 50%}
    /* 100%{background-position:140% 50%} */
    /* 100%{background-position:0% 50%} */
}