.format-oklass_mooc .course-content ul.oklass_mooc {margin:0;}
.format-oklass_mooc .course-content ul.oklass_mooc li.section {list-style: none;margin:3px 0 2px 1em;padding-left:5px;padding-right:5px;}
.course-content ul.oklass_mooc li.movehere {list-style: none;margin:3px 0 2px 1em;}
.dir-rtl.format-oklass_mooc .course-content ul.oklass_mooc li.section,
.dir-rtl.course-content ul.oklass_mooc li.movehere {margin:3px 1em 2px 0;}
.format-oklass_mooc .course-content ul.oklass_mooc-level-0 > li.section {margin-left: 0;}
.format-oklass_mooc .course-content ul.oklass_mooc-level-0 > li.movehere {margin-left: 0;}
.format-oklass_mooc .course-content ul.oklass_mooc li.section.main {border:none;}
.format-oklass_mooc .course-content ul.oklass_mooc-level-1 > li.section.main {border: #DDDDDD solid 1px;padding-left:5px;padding-right:5px;}
.format-oklass_mooc .course-content ul.oklass_mooc li.section .controls img {padding-left:0.3em;padding-right:0.3em}
.format-oklass_mooc .course-content ul.oklass_mooc li.section .availabilityinfo {padding-bottom: .5em;}

/* Overwrite bootstrapbase styles */
.format-oklass_mooc .course-content ul.oklass_mooc .controls a.hide,
.format-oklass_mooc .course-content ul.oklass_mooc .controls a.show {display:inline;}

/* hidden section */
.format-oklass_mooc .course-content li.section.hidden > .content > h3.sectionname,
.format-oklass_mooc .course-content li.section.hidden > .content > h3.sectionname a,
.format-oklass_mooc .course-content li.section.hidden > .content > .summary,
.format-oklass_mooc .course-content li.section.hidden .addresourcemodchooser a,
.format-oklass_mooc .course-content li.section.hidden a.addsection {color:#AAAAAA;}

/* add extra borders in editing mode */
.format-oklass_mooc.editing .course-content ul.oklass_mooc li.section.main {border: #DDDDDD solid 1px;}
.format-oklass_mooc.editing .course-content ul.oklass_mooc li.section.main#section-0 {border: none;}

/* moving section */
.format-oklass_mooc .course-content ul.oklass_mooc li.section.ismoving {background:#EEEEEE;}
.format-oklass_mooc .course-content ul.oklass_mooc li.movehere > img {padding-left:5px;}
.format-oklass_mooc .course-content div.cancelmoving {margin:3px;padding:5px;background:yellow;border:1px solid black;text-align:center;position:fixed;top:0;right:0;}

.format-oklass_mooc .jumpmenu {text-align:center;}

.format-oklass_mooc .header.backto {padding: 5px 10px;border: 1px solid #DDD;margin-bottom:5px;}
.format-oklass_mooc .header.backto .backto-text {margin-left:10px;}

.format-oklass_mooc .mooc_header .contentafterlink{
    display: none;
}
/* 여기바까유 */
.mooc_header{
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 0;
    box-sizing: border-box;
}
.mooc_header .left, .mooc_header .right{
    display: block;
    position: absolute;
    width: 25px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    background: #fff;
    color: #2f3033;
}
.mooc_header .right{
    left: 0px;
    top: 0px;
    border-right: 1px solid #ddd;
}
.mooc_header .left{
    right: 0px;
    top: 0px;
    border-left: 1px solid #ddd;
}

.format-oklass_mooc:not(.editing) .mooc_header + div{
    padding: 30px;
    box-sizing: border-box;
}
.format-oklass_mooc:not(.editing) .mooc_header + div + #modulen_navidiv
, .format-oklass_mooc:not(.editing) .mooc_header + div + #modulen_navidiv + .module_iframe{
    padding: 0 20px;
    box-sizing: border-box;
}

.format-oklass_mooc:not(.editing) .mooc_header + div + #modulen_navidiv + .module_iframe{
    margin-bottom: 20px;
}

.format-oklass_mooc:not(.editing) .mooc_header .activity {
    display: inline-block;
    clear: none;
    border: 0;
    padding: 0;
    width: 120px;
    height: 50px;
}

.format-oklass_mooc:not(.editing) .section .activity .actions, .format-oklass_mooc .resourcelinkdetails,.format-oklass_mooc .availabilityinfo {display: none;}

.format-oklass_mooc:not(.editing) .mooc_header .activity > div{

    padding: 0 !important;
    text-align: center;
    line-height: 47px;

}
.format-oklass_mooc:not(.editing) .mooc_header .activity:hover >  div{
    border-bottom: 3px solid #f34d78;
}
.format-oklass_mooc:not(.editing) .mooc_header .activity:hover div .instancename{
    color: #f34d78 !important;
}
.format-oklass_mooc:not(.editing) .section .activity .mod-indent-outer{margin:auto}
.format-oklass_mooc:not(.editing) .detail-contents-area{border: 0px;}
.format-oklass_mooc:not(.editing) .mooc_header .activity img{display: none;}
.format-oklass_mooc:not(.editing) .mooc_header .activity .activityinstance{line-height: 25px;}

.format-oklass_mooc:not(.editing) .board-detail-area{margin-bottom: 30px;}


.course-content .mooc_header + div button{ 
    border: 1px solid #cacaca;
    background: #f6f6f6;
    border-radius: 30px !important;
    height: 30px;
    padding: 0 10px;
    cursor: pointer; 
    float: right;
    text-shadow: none;
}
.course-content .mooc_header + div button:hover{background: #ecebeb;}
#modulen_navidiv{
    clear: both;
    line-height: 40px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
 
}
#modulen_navidiv input[type=button]{
    background: #f6f6f6;
/*    margin: 0px;
    border:0;
    height: 50px;
    color: #fff;*/
    text-shadow:none;
    border: 1px solid #cacaca;
    color: #3d3d46;
    max-height: 100px;
}
#modulen_navidiv input[type=button]:hover{background: #ecebeb;}
#modulen_navidiv input[value="Prev"]{margin-left: 0;}
#modulen_navidiv input[value="Next"]{float: right;}

#page-course-view-oklass_mooc .board-detail-area{overflow: hidden; clear: both;}
.empty_video{clear: both}

/*메뉴*/
.mooc_navigation .parent{ 
    line-height: 20px;
    margin-bottom: 6px;
    margin-top: 3px;
    width: 100%;
} 
.mooc_navigation .parent span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    cursor: pointer;
    width: calc(100% - 20px);
}
.mooc_navigation .parent > span::before{
    content: ' ';
    width: 20px;
    height: 16px;
    display: inline-block;
    background-image: url(/theme/image.php?theme=oklasscampus&component=core&image=t%2Fcollapsed);
}
.mooc_navigation .child{
    margin: 3px 0 3px 30px;
    display: none;
}
.mooc_navigation .parent.on .child{display: block;}
.mooc_navigation .parent.on > a::before{
    background-image: url(/theme/image.php?theme=oklasscampus&component=core&image=t%2Fexpanded);
    background-repeat: no-repeat;
}

/*미완료 강조표시*/
.media_list li.listitem span.r_content.incomplete{
    color: #fb5a28;
    font-weight: bold;
}

/*한양대 학습활동 갯수 및 이수 내역으로 추가함*/

.media_list li.listname, li.listitem {
    padding-right: 20px !important;
}

.course-content .section.clear .study-title-area {
    border-bottom: 1px solid #d4d4d4;
    width: auto;
    overflow: hidden;
    clear: both;
}
.course-content .section.clear .study-title-area h3.sectionname {
    width: calc(72% - 6px);
    /*display: inline-block;*/
    border-bottom: 0px;
    display: block;
    float: left;
}
.course-content .section.clear .study-title-area .activity-data {
    width: calc(28% - 12px);
    /*display: inline-block;*/
    text-align: center;
    line-height: 30px;
    display: block;
    float: left;
    padding: 12px 0;
}
.course-content .section.clear .activity-data .course-mod-completion {
    width: calc(25% - 2px);
    height: 30px;
    /*display: inline-block;*/
    text-align: center;
    border: 1px solid #ddd;
    line-height: 30px;
    background-color: #2d4b7a;
    color: #fff;
    display: block;
    float: left;
}

.course-content .media_list .section-mod-completion {
    width: calc(7% - 2px);
    height: 30px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 30px;
}

.course-content .media_list .listname .section-mod-completion {
    background-color: #718795;
    color: #f0f0f0;
    font-weight: normal;
}
.course-content .media_list .listitem .section-mod-completion {
    background-color: #fbfbfb;
}
.course-content .media_list > li > a{
    width: 93%;
    display: inline-block;
    margin-right: 5px;
}
.course-content .media_list > li > div.listname-title{
    width: calc(72% - 10px);
    display: inline-block;
}