@charset "UTF-8";

input[type="submit"],input[type="button"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	color: white;
	padding: 3px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: none;
	cursor: pointer;
	margin: 0;
}

.btn{
	
	background-color: #aaaaaa;
	border: 1px solid #888;
	color: white;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 11px;
	color: white;
	padding: 3px 5px !important;
	font-family: '나눔고딕', NanumGothic, ng, sans-serif;
}

.small_btn{
    padding: 0 3px !important;
    height: 20px !important;
}

.btn-success{
	border: 1px solid #005d7b;
	background-color: #018db8;
	color: white;
}

.table{
	margin-top: 5px;
}

.progress{
	margin-top: 5px;
}

.align_right{
	text-align: right;
}

.valign_middle{
	vertical-align: bottom;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.viewer_area{width:100%;height:auto;}
#subtitles{padding:5px;overflow:hidden;}
#viewer{width:100%;border:0;overflow:hidden;}
#caption{width:100%;height:600px;border:1px solid #ccc;overflow:hidden;}

li.subtitle{
    position: relative;
    padding: 5px 0;
}

li.subtitle .subtitle_edit{
    position: absolute;
    padding: 0;
    top: 5px;
    right: 15px;
}

li.subtitle .subtitle_time, li.subtitle .subtitle_text{
    padding-bottom: 5px;
}

/*************************************
    Content Navigation Area
*************************************/
#content_navigation {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
p.black_btn {
    display: block;
    color: white;
    background-color: gray;
    border-radius: 2px;
    float: left;
    margin: 0 4px 10px 0 !important;
    padding: 5px 15px 3px 15px;
    float: left;
    width: auto !important;
    font-size: 12px !important;
}
p.black_selected {
    background-color: black;
}
a p.black_btn {
    color: white;
}
a:hover p.black_btn {
    background-color: black;
    padding: 5px 15px 3px 15px;
    border-radius: 2px;
}


/* /IE8 only */  

div.subtitle_area {
    height: 600px; 
    overflow-y: auto; 
    width: 100%;
}

#header #header_top ul.logged_out li input[type="submit"] {
	color: #333333;
}

a.blue_btn {
	background-color: #00769A;
	border: 1px solid #034e65;
        appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	color: white;
	padding: 3px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: none;
	cursor: pointer;
	margin: 0;
}
a.red_btn {
	background-color: #ED4242;
	border: 1px solid #D0231C;
        appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	color: white;
	padding: 3px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: none;
	cursor: pointer;
	margin: 0;
}
a.orange_btn {
	background-color: #E8920C;
        appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	color: white;
	padding: 3px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: none;
	cursor: pointer;
	margin: 0;
}

.detail-progress-area{
    clear: both;
    border-bottom: 1px solid #ccc;
    background: #eee;
    padding: 10px;
}

.detail-progress-area .detail-laststudy{
    margin-right: 15px;
}

.detail-progress-area .detail-studyrate{
    margin-right: 15px;
}

.detail-progress-area .detail-totalstudytime{
    margin-right: 15px;
}

#page-mod-lcms-view .ui-front, #page-mod-lcms-view .ui-dialog{
    z-index: 99999;
}

#page-mod-lcms-view .ui-dialog .ui-dialog-content{
    padding: 0 !important;
}

#page-mod-lcms-view .reference-area{
    background: #eee !important;
}

.detail-contents-area{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.detail-contents-area ul{
    margin: 3px;
}

.detail-contents-area ul li{
    list-style: none;
    padding: 5px;
}

.no-overflow{
   overflow: none;
}

#vodimage {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
}

#vodimage img {
    width:100%;
    height:99%;
    border:0;
}

#vodquality {
	position: absolute;
	left: calc(50% - 144px) !important;
	top: calc(50% - 18px) !important;
	color: #FFF;
}
#vodquality .full { 
	margin-left:80px !important;
}
#vodquality a.blue_btn {
	padding: 8px 0;
	width: 120px;
	display: block;
	float: left;
	text-align: center;
	color: #fff;
	font-size: 15px !important;
	margin: 0px 10px;
	border: 2px solid rgb(237, 85, 101);
	border-radius: 2px;
	background-color: #ed5565;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0 0 6px #676767;
}
#vodquality a.orange_btn {
	margin: 0px 10px;
	padding: 8px 0;
	width: 120px;
	display: block;
	float: left;
	text-align: center;
	background-color: #E8920C;
	border-radius: 2px;
	color: #fff;
	font-size: 15px !important;
	border: 2px solid rgb(232, 146, 12);
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0 0 6px #676767;
}
#vodquality a.blue_btn:hover {
	background-color: #c33241;
	border: 2px solid #c33241;
}
#vodquality a.orange_btn:hover {
	background-color: #b3740c;
	border: 2px solid #b3740c;
}

iframe#vod_viewer{
    width:100%;border:0;overflow:hidden;
}

video{
    background: #000;
    width: 100%;
    height: 100%;
}

div#vodplayer {
    margin: 0;
    padding: 0;
    background: #000;
}

#page-mod-lcms-video_player{
    overflow: hidden;
}

#page-mod-lcms-video_player #page{
    width: 100%;
}


@media all and (max-width:768px) {
    iframe#vod_viewer{
        height: 350px;
    }
}

@media all and (max-width:480px) {
    iframe#vod_viewer{
        height: 200px;
    }
}

#controls {
    position: absolute; bottom: 0px; left: 0px; width: 100%; height: 50px; background: #333;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
#playpausebtn{
    display:block; visibility: visible; position: absolute; bottom: 10px; left: 1%; width:35px;
}
#playpausebtn img{
    width: 35px; vertical-align: middle;
}
#playtime {
   display:block; visibility: visible; position: absolute; bottom: 15px; left: 12%; width: 10%; font-size: 80%; color: #fff;
}
#seekslider{ 
    display:block; visibility: visible; position: absolute; bottom: 17px; left: 24%; width: 60%; z-index: 999;
}
#totaltime {
    display:block; visibility: visible; position: absolute; bottom: 15px; right: 3%; width: 10%; font-size: 80%;  color: #fff;
}


input[type='range'] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #777;
    background-color: #999;
    height: 10px;
    vertical-align: middle;
}
input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #777;
    background-color: #999;
    height: 10px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 30px;
    width: 15px;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 30px;
    width: 15px;
}

input[type='range']::-webkit-slider-thumb:hover {
	 background-color: #FFF;
}

input[type='range']::-moz-range-thumb:hover {
	 background-color: #FFF;
}

/*youtube팝업*/
div[aria-describedby="load_form"], #mod_lcms_contents{
    padding: 0 !important; 
    border-color: #ccc !important;
}  
.ui-dialog .ui-dialog-content{padding: 0 !important;}
.ui-widget-header{
    border: 0 !important;     
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px !important; 
}  
.ui-widget input{border-radius: 2px;}

#load_form.ui-widget-content > div, iframe div, .test{
    width: 100% !important;
    padding: 15px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
} 
#load_form.ui-widget-content > div[id *= yui]{border: 0;}
#load_form.ui-widget-content > div[id *= yui] input{margin: 5px 0 0 0 !important;}
.embed_thumbnail{margin-right: 10px !important;}
.embed_select{margin-top: 5px !important;}
.embed_select input[type=button]{
    margin: 0 !important;
    background: #eee; 
}ad
#page-mod-lcms-mod #fitem_id_totalpage,#page-mod-lcms-mod #fitem_id_popup {
    display: none;
}
