@import url(nanumgothic.css);
@import url(nanummyeongjo.css);
@import url(notosanskr.css);
@import url(kopubdotum.css);
/* CSS Document */

body{
	display: none;
	padding:0px;
	margin:0px;
 	background-repeat:no-repeat; 
	overflow:hidden;
	font-family: 'Noto Sans KR'; 
	*font-family: 'Nanum Gothic'; 
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
	background: #fff;
    min-width:750px;
}
html, body { height:100% }

#container{
	display:block;
	border:0px solid #ff0000;
	width:1020px;
	height:592px;
	position:absolute;
	overflow:hidden;

}

/* 상단*/
#top{
	display:block;
	width:1020px;
	float: left;
	z-index:99;
	position: absolute;
	top:0px;
}
#chapDiv{
	display:block;
	/*width:359px;*/
	width:550px;
	height:38px;
	float:left;


	
}

#course{
	display:block;
	position: absolute;
	width:200px;
	height:65px;
	right:-10px;
	top:0px;
	background: url() no-repeat center center;
	text-indent: -1000em;
	z-index:1;
}

#contents{
	display:block;
	width: 1020px;
	height:592px;
	border:0px solid #FF0000;
}



#videoPlayer{
	display: block;
	background-color:rgba(255,255,255,0.5);
	width:1020px;
	height: 592px;
}

#myVideo{
	width:1020px;
	height:592px;
}

#btn_skip{
	display:none;
	width: 110px;
	height:40px;
	position: absolute;
	top:530px;
	right:80px;
	background: url(../img/main/skipBtn.png) no-repeat;
}

#btn_skip:hover{
	background: url(../img/main/skipBtnOver.png) no-repeat;
}
#mobileStart{
	display:none;
	border:0px;
	text-indent: -1000em;
	background: url(../img/main/btn_start.png) no-repeat;
	width:95px;
	height: 95px;
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-47px;
	margin-left:-47px;
	cursor: pointer;
	opacity: 0.9;
	z-index: 9999;
}
#mobileStart:hover{
	transform:matrix(1.1,0,0,1.1,0,0);
	opacity: 0.8;
	background: url(../img/main/btn_start_over.png) no-repeat;
}


#narration{
	display:none;
	width:100%;
	height: 100px;
	background-color:rgba(0,0,0,0.8);
	*background-color:none;
	*background: url(../img/main/na_bg.png);
	top:-100px;
	position: absolute;
	padding:0px;
	
}
#nar_txt{
	color:#FFF;
	font-family: 'Nanum Gothic'; 
	font-weight: 500;
	font-size:14px;
	line-height: 21px;
	display: block;
	height:86px;
	overflow-x: hidden;
	overflow-y: auto;
	width:1000px;
	background-color:transparent;
	padding:7px;
	word-break:keep-all;
}
#nar_close{
	display:block;
	text-indent: -1000em;
	border:0px;
	cursor: pointer;
	background: url(../img/main/btn_narClose.png) no-repeat;
	width:62px;
	height: 21px;
	position: absolute;
	top:-21px;
	right:0px;
}
#nar_close:hover{
	background: url(../img/main/btn_narCloseOver.png) no-repeat;
}
#nar_close.MO2:hover{
	background: url(../img/main/btn_narCloseOver_M2.png) no-repeat;
}
#nar_close.MO3:hover{
	background: url(../img/main/btn_narCloseOver_M3.png) no-repeat;
}
#nar_close.MO4:hover{
	background: url(../img/main/btn_narCloseOver_M4.png) no-repeat;
}

#footer{
	display:block;
	position: absolute;
	width:1020px;
	height:30px;
	top:562px;
	background-color:transparent;
}




#htmlContents{
	display:none;
	width: 1020px;
	height:592px;
	position: absolute;
	top:0px;
	left: 0px;
	background-color: #FFF;
}


#mvEndContents{
	display:none;
	width: 1020px;
	height:592px;
	position: absolute;
	top:0px;
	left: 0px;
}
#loadActFrame{
	width: 1020px;
	height:592px;
}
#loadQuizFrame{
	width: 1020px;
	height:592px;
}



/* Styles specific to this particular page */
.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}


#swfDiv{
	display: none;
	width:1020px;
	height: 592px;
}


/*-----------------------------------*/
body.ie8{
	font-family: 'Nanum Gothic'; 
}

.chapDiv.ie8{
	font-family: 'Nanum Gothic';
	font-weight: 700;
	padding:5px 10px 3px 20px;
}
#narration.ie8{
	background-color:none;
	background: url(../img/main/na_bg.png);
}




#mobileLoading{
	width:100%;
	height: 100%;
	border:0px solid #FF0000;
	position: absolute;
	display: none;
	top:0px;
	left: 0px;
	background: url(../img/main/loading_bg.png);
	z-index: 9999999;
}
#mbImg00{
	/*
	display: block;
	background: url(../img/main/loading_img.png) no-repeat;
	width:166px;
	height: 40px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-84px;
	margin-left:-84px;
	
	-webkit-animation: loadingAni 2s 0s infinite linear alternate;
	-moz-animation: loadingAni 2s 0s infinite linear alternate;
	-ms-animation: loadingAni 2s 0s infinite linear alternate;
	-o-animation: loadingAni 2s 0s infinite linear alternate;
	animation: loadingAni 2s 0s infinite linear alternate;
	*/
	display: none;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-30px;
	margin-left:-30px;
	
	border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #454545; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
#mbImg{
	display: block;
	background: url(../img/main/loading_8.gif) no-repeat;
	width:74px;
	height: 74px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-37px;
	margin-left:-37px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes loadingAni {

	from {
		height: 40px;
	}

	to {
		height: 0px;
	}
}


.chap_ex2 {
	 font-family: Serif;
	 font-weight:600;
	 font-size:21px;
}
.chap_ex22 {
	 font-family: Serif;
	 font-weight:600;
	 font-size:16px;
}


@media all and (max-width:1019px){
    #container{width:100%;}
    #footer{width:100%;}
    #myVideo{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
    #videoPlayer{
		position: relative;
		width: 100%;
		height: 0;
		overflow: hidden;
		padding-bottom: 56.26%;
	}
    #contents{width:100%; height:100%;}
}