/* CSS Document */
@import url(kopubdotum.css);
#footerSet{
	position: absolute;
	display:block;
	width:1020px;
	height:30px;
	left:0px;
	
	/*margin-left:-488px;**/
}

#controller{
	width:1020px;
	height:30px;
	background-color:rgba(36,36,36,0.9);
}

.controlBtn{
	cursor:pointer;
	text-indent: -1000em;
}
.controlBtn.dis{
	cursor:default;
}

/*
#logo{
	display:block;
	background: url(../img/main/logo.png) no-repeat;
	width:150px;
	height:30px;
}
*/

/*학습지원도구 start ------------------------------------------------------------------------------*/

#supportBox{
	display:block;
	width:170px;
	height:30px;
	position: absolute;
	left:30px;
	top:0px;
}

#downBtn{
	width:22px;
	height:22px;
	position: absolute;
	border:0px;
	top:4px;
	left:-22px;
	background: url(../img/main/down.png) no-repeat;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#dicBtn{
	width:22px; height:22px;
	position:absolute;
	border:0;
	left:10px;
	top:4px;
	background: url(../img/main/dictionary.png) no-repeat;
}
#noteBtn{
	width:22px; height:22px; position:absolute;
	border:0;
	left:45px;
	top:4px;
	background: url(../img/main/note.png) no-repeat;
}
#bookBtn{
	width:22px; height:22px;
	border:0;
	position:absolute;
	background: url(../img/main/book.png) no-repeat;
	top:4px;
	left:80px;
}
#dicBtn:hover{background: url(../img/main/dictionary_over.png) no-repeat;}
#noteBtn:hover{background: url(../img/main/note_over.png) no-repeat;}
#downBtn:hover{	background: url(../img/main/down_over.png) no-repeat;}
#bookBtn:hover{background:url(../img/main/book_over.png) no-repeat;}

/*--------------------------------------------------------------------------------학습지원도구End*/

/*--------------------------------------------------------------------------------------goPage영역

#goPage{position:absolute; top:0; left:845px; width:100px; height:30px;}
#go_page{
	width:22px; height:22px; padding:0; margin:0; border:0; outline:0; background:#000; border-radius:12px;
	color:#fff; position:absolute; top:4px;
}
#page_num{width:18px; height:15px; position:absolute; top:2px; left:24px;}
#page_num input{width:18px; height:15px;}
#goPage span{color:#fff; font-size:12px; position:absolute; right:23px; top:4px; cursor:default;}

------------------------------------------------------------------------------------------------*/

#bae{width:125px; height:13px; background:url(../img/main/bae_bg.png); position:relative; top:9px; left:795px;}
#bae1{width:23px; height:8px; background:url(../img/main/bae_1.png); position:absolute; top:3px; left:31px; cursor:pointer;}
#bae12{width:22px; height:9px; background:url(../img/main/bae_12.png); position:absolute; top:2px; left:62px; cursor:pointer;}
#bae15{width:23px; height:8px; background:url(../img/main/bae_15.png); position:absolute; top:3px; left:91px; cursor:pointer;}

#bae1:hover{background:url(../img/main/bae_1over.png); margin-top:-1px;}
#bae12:hover{background:url(../img/main/bae_12over.png);}
#bae15:hover{background:url(../img/main/bae_15over.png); margin-top:-1px;}

#bae1:focus{background:url(../img/main/bae_1over.png); margin-top:-1px;}
#bae12:focus{background:url(../img/main/bae_12over.png);}
#bae15:focus{background:url(../img/main/bae_15over.png); margin-top:-1px;}


/*타임바 구역 start ------------------------------------------------------------------------------*/
/*조그바*/
#jogbar{
	display: block;
	width:360px;
	height: 30px;
	position: absolute;
	top:-5px;left:145px;
	background: url("../img/main/progressBg.png") repeat-x;
	cursor:pointer;
}

#jogProgress{
	display: block;
	width:330px;
	height: 7px;
	border: 0px solid #FFFF00;
	position: absolute;
	background-color: #0e6bb1;
	left:0px;top:17px;
}
#jogProgress.MO2{background-color: #50b2ff;}
#jogProgress.MO3{background-color: #01b884;}
#jogProgress.MO4{background-color: #009ecc;}

#jogbtn{
	display: block;
	width:7px;
	height: 6px;
	cursor: pointer;
	background: url(../img/main/dragBtn.png) no-repeat;
	position: absolute;
	top:7px;
	left:100px;
}

#time{
	color:#fff;
	font-size:12px;
	position: absolute;
	left:520px;top:9px;
	font-weight:500;
	display:block;
	width:85px;
	height:30px;
	font-family: "KoPub DotumR"; 
	*font-family: 'Nanum Gothic';
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
}
/*------------------------------------------------------------------------------------타임바 구역End*/


/*컨트롤버튼구역 start ------------------------------------------------------------------------------*/

#contBtnBox{
	display:block;
	width:150px;
	height:30px;
	position: absolute;
	right:260px;
	top:0px;
/*	background-color:#fff; */

}
#lnbBtn{
	width:43px; height:49px; position:absolute;
	border:0; top:-311px;	
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	background:url(../img/main/lnb.png) no-repeat center center;
	left:-30px;
	margin:0; padding:0;
}
#lnbBtn:hover{background:url(../img/main/lnb_over.png) no-repeat center center;}
#playBtn, #stopBtn, #scriptBtn, #replayBtn,#fullBtnMy,#muteBtn{
	width:33px;
	height:30px;
	position: absolute;
	border:0px;
	top:0px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#playBtn{
	background: url(../img/main/play.png) no-repeat;
	width:15px;
	height:16px;
	left:-10px;
	top:9px;
}
#stopBtn{
	background: url(../img/main/stop.png) no-repeat;
	width:15px;
	height:16px;
	left:5px;
	top:9px;
}
#replayBtn{
	background: url(../img/main/return.png) no-repeat;
	left:20px;
	top:9px;
}
#scriptBtn{
	background: url(../img/main/list.png) no-repeat;
	left:42px;
	top:10px;
}
#fullBtnMy{
	background: url(../img/main/full.png) no-repeat;
	left:62px;
	top:9px;
}
#muteBtn{
	background: url(../img/main/volume.png) no-repeat;
	left:80px;
	top:9px;
}

#playBtn:hover{	background: url(../img/main/play_over.png) no-repeat;}
#replayBtn:hover{	background: url(../img/main/return_over.png) no-repeat;}
#scriptBtn:hover{	background: url(../img/main/list_over.png) no-repeat;}
#fullBtnMy:hover{ background: url(../img/main/full_over.png) no-repeat;}
#muteBtn:hover{	background: url(../img/main/volume_over.png) no-repeat;}

#muteBtn.mute{
	background: url(../img/main/mute.png) no-repeat;
}
#muteBtn.mute:hover{
	background: url(../img/main/mute_over.png) no-repeat;
}

#stopBtn{
	background: url(../img/main/stop.png) no-repeat;
}
#stopBtn:hover{
	background: url(../img/main/stop_over.png) no-repeat;
}
/*------------------------------------------------------------------------컨트롤버튼구역End*/

/* volume*/
#volJogBar{
	display: block;
	width:70px;
	height: 30px;
	border: 0px solid #FF0000;
	background:url(../img/main/volProgressBg.png) repeat-x;
	position: absolute;
	top:-5px;right:235px;
	cursor:pointer;
}
#volJogProgress{
	display: block;
	width:40px;
	height: 7px;
	border: 0px solid #FFFF00;
	position: absolute;
	left:0px;top:17px;
	background-color: #0e6bb1;
}

#volJogbtn{
	display: block;
	width:0px;
	height:7px;
	cursor: pointer;
	position: absolute;
	top:15px;left:0;
}


/*백넥버튼구역 start-------------------------------------------------------------------------*/

#paging{
	display:block;
	width:115px;
	height:30px;
	position: absolute;
	right:0px;
	top:1px;
}
/*이전 다음버튼*/
#prevBtn{
	border:0px;
	background: url(../img/main/prev.png) no-repeat;
	width:11px;
	height: 13px;
	position:absolute;
	left:27px;
	top:9px;
}
#nextBtn{
	border:0px;
	background: url(../img/main/next.png) no-repeat;
	width:11px;
	height: 13px;
	position: absolute;
	right:0px;
	top:9px;
}
#prevBtn:hover{background: url(../img/main/prev_over.png) no-repeat;}
#nextBtn:hover{background: url(../img/main/next_over.png) no-repeat;}


/* page num*/
#currentNum{
	display:block;
	
	border:0px solid #FF0000;
	width:25px;
	height:30px;
	margin:0px;
	padding:0px 0 0 0;
	text-align: center;
	
	cursor: default;
	color:#fff;
	font-size: 20px;
	line-height: 20px;
	
	position: absolute;
	display:block;
	left:40px;
	top:5px;
	font-family: 'KoPub DotumR';
	font-size: 16px;
	font-weight:500;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}
#pageLine{
	display:block;
	width:2px;
	height: 15px;
	position: absolute;
	left:66px;
	top:8px;
	background: url("../img/main/pageLine.png") no-repeat;
}
#totalNum{
	display:block;
	
	border:0px solid #FF0000;
	width:25px;
	height:30px;
	margin:0px;
	padding:0px 0 0 0;
	text-align: center;
	
	cursor: default;
	color:rgba(255, 255, 255, 0.5);
	font-size: 16px;
	line-height: 20px;
	position: absolute;
	display:block;
	right:20px;
	top:5px;
	font-family: 'KoPub DotumR';
	font-weight: 500;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

/*-------------------------------------------------------------------백넥버튼구역End*/

#nextBubble{
	display:none;
	
	width:166px;
	height: 35px;
	
	 -webkit-transition-duration: 0.5s; /* Safari */
     transition-duration: 0.5s;
	
	position: absolute;
	top:-35px;
	right:1%;
	border:0px;
	text-indent: -1000em;
	background-color: transparent;
	
	cursor: pointer;
}

#nextBubble.show{
	display:block;
	margin-left:20px;
	background: url(../img/main/Bubble_next.png) no-repeat;
}
#nextBubble.last{
	display:block;
	margin-left:20px;
	background: url(../img/main/Bubble_end.png) no-repeat;
}

}

#popClosing2{
	display: block;
	border:0px;
	background: url(../img/main/popClose2.png) no-repeat;
	width:63px;
	height: 63px;
	position: absolute;
	left:100%;
	top:16px;
	cursor: pointer;
	margin-left: -63px;
}
#popClosing2:hover{
	background: url(../img/main/popClose2Over.png) no-repeat;
}


#popClosing{
	display: block;
	border:0px;
	background: url(../img/main/popClose.png) no-repeat;
	width:112px;
	height: 30px;
	position: absolute;
	left:889px;
	top:0px;
	cursor: pointer;
}

#popClosing.isMobile{
	left:890px;
	background: url(../img/main/popClose_Mobile.png) no-repeat;
	width:112px;
	height: 50px;
}

#popClosing:hover{
	background: url(../img/main/popCloseOver.png) no-repeat;
}

#popClosing.isMobile:hover{background: url(../img/main/popClose_MobileOver.png) no-repeat;}
#downBtn_over{background:url(../img/mal/down.png) no-repeat; width:64px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:-28px; display:none;}
#dicBtn_over{background:url(../img/mal/search.png) no-repeat; width:70px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:-12px; display:none;}
#bookBtn_over{background:url(../img/mal/data.png) no-repeat; width:86px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:64px; display:none;}
#noteBtn_over{background:url(../img/mal/memo.png) no-repeat; width:46px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:35px; display:none;}
#jogbar_over{background:url(../img/mal/bar.png) no-repeat; width:46px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:340px; display:none;}
#playBtn_over{background:url(../img/mal/play.png) no-repeat; width:41px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:-28px; display:none;}
#stopBtn_over{background:url(../img/mal/stop.png) no-repeat; width:56px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:-18px; display:none;}
#replayBtn_over{background:url(../img/mal/replay.png) no-repeat; width:56px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:-2px; display:none;}
#scriptBtn_over{background:url(../img/mal/script.png) no-repeat; width:56px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:17px; display:none;}
#fullBtnMy_over{background:url(../img/mal/full.png) no-repeat; width:56px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:38px; display:none;}
#muteBtn_over{background:url(../img/mal/volume.png) no-repeat; width:41px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:67px; display:none;}
#goPage_over{background:url(../img/mal/page.png) no-repeat; width:90px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:812px; display:none;}
#prevBtn_over{background:url(../img/mal/prev.png) no-repeat; width:70px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:-4px; display:none;}
#nextBtn_over{background:url(../img/mal/next.png) no-repeat; width:70px; height:34px; border:0; background-color:none; position:absolute; bottom:30px; left:42px; display:none;}




    
    @media all and (max-width:1019px){
        /*#footerSet{width:100%;}
        #controller{width:100%;}
        #jogbar{display:none;}
        #time{display:none;}
        #volJogBar{right:10.5%;}
        #contBtnBox{right:13%;}
        #bae{display:none;}*/
		#controller{display:none;}
		#pageNum{display:none;}
		#nextAram{display:none;}
		#paging{left:0; width:85%;}
		#nextBtn{background:url(../img/main/next_btn.png); width:50px; height:67px; top:-1000%; right:0;}
		#nextBtn:hover{background:url(../img/main/next_btn.png);}
		#prevBtn{background:url(../img/main/prev_btn.png); width:50px; height:67px; top:-1000%; left:0;}
		#prevBtn:hover{background:url(../img/main/prev_btn.png);}
    }




