/* CSS Document */


@font-face {
  font-family: 'KoPub DotumR';

  font-style: normal;
  src: url(font/KoPubDotum-Light.eot);
  src: url(font/KoPubDotum-Light.eot?#iefix) format('embedded-opentype'),
  url(font/KoPubDotum-Light.woff) format('woff'),
  url(font/KoPubDotum-Light.ttf) format('truetype');
}
