/* CSS Document */
@import url(kopubdotum.css);

#navi{
	display:block;
	width:250px;
	height:100%;
	position: absolute;
	left:0px;
	top:0px;
	border:0px solid #FF0000;
	overflow: hidden;
	z-index: 99999;
}
#navi.ready{
	width:0;
}

li {list-style: none;}


/* lnb */ 

#lnb {
	position: absolute;
	width: 215px;
	height:592px;;
	display: none;
} 

#lnb > ul {
	padding:0px 0 0 0;
	float:left;
	width:100%;
	position: absolute;
	background-color: rgba(0,0,0,0.9);
	height:592px;
	margin-top:0;
	margin-left:0px;
	min-height:150px;
} 
#lnb > ul > li { 
	
	padding:20px 0 0px 0;
	float:left;
	
} 

#lnb > ul > li > ul { 
	
	padding:0;
	float:left;
	*float:none;
}

#lnb > ul > li.depth1{width:94px;}
#lnb > ul > li.depth2{width:94px;position:absolute; top:205px;}
#lnb > ul > li.depth2_{width:94px;position:absolute; top:170px;}

#lnb > ul > li.depth3{width:94px;position:absolute; top:515px;}
#lnb > ul > li.depth4{width:116px;position:absolute; top:765px;}


#lnb > ul > li.depth1 > ul{width:310px; position:absolute; top:80px;}
#lnb > ul > li.depth2 > ul{width:310px; position:absolute; top:60px;}
#lnb > ul > li.depth3 > ul{width:310px; position:absolute; top:-100px;}
#lnb > ul > li.depth4 > ul{width:310px; position:absolute; top:-260px;}

#lnb > ul > li > button {
	display: block;
	font-size: 14px;
	border:0px solid #FF0000;
	cursor: pointer;
	position: relative;
	 -webkit-transition-duration: 0.7s; /* Safari */
     transition-duration: 0.7s;
	width:215px;
	height:27px;
	margin:0 0 0 0;
} 

#lnb > ul > li > button:hover{
	
}
#t_1{height: 27px; background: url("../img/index/index_01.png") no-repeat; left:60px; top:22px;}
#t_2{height: 27px;background: url("../img/index/index_02.png") no-repeat; left:60px;}
#t_3{height: 27px;background: url("../img/index/index_03.png") no-repeat; left:60px; top:-160px;}
#t_4{height: 27px;background: url("../img/index/index_04.png") no-repeat; left:50px; top:-320px;}

#t_1:hover{background: url("../img/index/index_01.png") no-repeat; left:60px; top:22px;}
#t_2:hover{background: url("../img/index/index_02.png") no-repeat; left:60px;}
#t_3:hover{background: url("../img/index/index_03.png") no-repeat; left:60px;top:-160px;}
#t_4:hover{background: url("../img/index/index_04.png") no-repeat; left:50px;top:-320px;}

#t_1.active{background: url("../img/index/index_01_Active.png") no-repeat; left:60px; top:22px;}
#t_2.active{background: url("../img/index/index_02_Active.png") no-repeat; left:60px;}
#t_3.active{background: url("../img/index/index_03_Active.png") no-repeat; left:60px; top:-160px;}
#t_4.active{background: url("../img/index/index_04_Active.png") no-repeat; left:50px; top:-320px;}







#lnb > ul > li > ul > li{ 
	padding:0;
	width:215px;
	margin-bottom:3px;
	border:0px solid #FF0000;
} 
#lnb > ul > li > ul > li > button {
	display: block;
	border:0px solid #FF0000;
	height:30px;
	cursor: pointer;

	position: relative;
	left:0px;
	-webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
	color: #999;
	font-family: 'KoPub DotumR';
	font-size:22px;
	font-weight:500;
	width:100%;
	background-color:rgba(0,0,0,0);
	text-align:center;
	
} 

#lnb > ul > li > ul > li > button.t22{height:30px;}
#lnb > ul > li > ul > li > button.t222{height:75px;}
#lnb > ul > li > ul > li > button.t2222{height:95px;}



#lnb > ul > li.depth2_ > ul > li > button{text-align:left;}
#lnb > ul > li.depth2 > ul > li > button{text-align:left;}

#lnb > ul > li > ul > li > button:hover{
	background-color: #093c76;
	color:#fff;
}

#lnb > ul > li > ul > li > button.active{background: #093c76;color: #fff;}

.dot{padding:0 10px 5px 10px;}


#indexCloseBar{
	background: url(../img/index/index_close1.png) no-repeat;
	display:block;
	width:22px;
	height:22px;
	cursor: pointer;
	position:absolute;
	top:10px;
	left:190px;
	border:0;
}


#indexCloseBar:hover{
	background: url(../img/index/index_close2.png) no-repeat;
}


#naviClose{display:none;}


.t22{letter-spacing:-2.5px;}