/* CSS Document */
@import url(nanumgothic.css);
@import url(nanummyeongjo.css);
@import url(notosanskr.css);
@import url(kopubdotum.css);

body{
	display: none;
	margin:0px;
	font-family: 'Nanum Gothic,Noto Sans KR,맑은 고딕,굴림,돋움'; 
	*font-family: 'Nanum Gothic';
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
}

.abs{
	position: absolute;
	top:0px;
	left:0px;
	width:960px;
	height: 540px;
}
#sync_1_1{	background: url(../image/oxquiz/quiz_img001.png) no-repeat;}
#sync_1_2{	background: url(../image/oxquiz/quiz_img002.png) no-repeat;}
#sync_1_3{	
	background: url(../image/oxquiz/quiz_img003.png) no-repeat;
	position: absolute;
	width: 399px;
	height: 73px;
	top:225px;
	left:580px;
}
#sync_1_4{	
	background: url(../image/oxquiz/quiz_img004.png) no-repeat;
	position: absolute;
	width: 399px;
	height: 62px;
	top:300px;
	left:580px;
}
#quiz_start{
	display: block;
	position: absolute;
	top:360px;
	left:630px;
	background: url(../image/oxquiz/Btn_start.png) no-repeat;
	text-indent: -1000em;
	cursor: pointer;
	border:0px;
	width: 140px;
	height: 46px;
	 -webkit-transition-duration: 0.3s; /* Safari */
     transition-duration: 0.3s;
}
#quiz_start:hover{
	margin-left:10px;
	background: url(../image/oxquiz/Btn_startOver.png) no-repeat;
}
#conSubject{
	position: absolute;
	background: url(../image/oxquiz/subject.png) no-repeat;
	width:240px;
	height:45px;
	z-index: 1;
}

#quizContainer{
	display:block;
	width:960px;
	height:540px;
	background: url(../image/oxquiz/quiz_bg.png) no-repeat;
	position: absolute;
	top:0px;
}

.quizScene{
	display:block;
	width:1000px;
	height:540px;
	background: url(../img/oxquiz/quizBg.png) no-repeat;
	border:0px;
	position: absolute;
	top:0px;
	
}
.munPannel{
	display:block;
	width:1000px;
	height:540px;
	background: url(../img/oxquiz/qxBg.png) no-repeat;
	border:0px;
	position: relative;
}
/*
.munPannel.MO2{background: url(../img/oxquiz/qxBg_M2.png) no-repeat;}
.munPannel.MO3{background: url(../img/oxquiz/qxBg_M3.png) no-repeat;}
.munPannel.MO4{background: url(../img/oxquiz/qxBg_M4.png) no-repeat;}
*/
.resPannel{
	display:block;
	width:1000px;
	height:540px;
	/*background: url(../img/oxquiz/resultPanel.png) no-repeat;*/
	border:0px;
	position: relative;
}
/*
.resPannel.MO2{background: url(../img/oxquiz/resultPanel_M2.png) no-repeat;}
.resPannel.MO3{background: url(../img/oxquiz/resultPanel_M3.png) no-repeat;}
.resPannel.MO4{background: url(../img/oxquiz/resultPanel_M4.png) no-repeat;}
*/
.quizTabSet{
	position:relative;
	display:block;
	top:15px;
	left:776px;
	width: 150px;
}
.qTab{
	display:block;
	width:40px;
	height: 45px;
	float: left;
	text-indent: -1000em;
	padding:0 10px 0 0 ;
	border:0px;
}
#tab_1{background: url(../image/oxquiz/tab_1.png) no-repeat;}
#tab_2{background: url(../image/oxquiz/tab_2.png) no-repeat;}
#tab_3{	background: url(../image/oxquiz/tab_3.png) no-repeat;}
#tab_4{	background: url(../image/oxquiz/tab_4.png) no-repeat;}
#tab_5{	background: url(../image/oxquiz/tab_5.png) no-repeat;}

#tab_1.active{background: url(../image/oxquiz/tab_1_over.png) no-repeat;}
#tab_2.active{background: url(../image/oxquiz/tab_2_over.png) no-repeat;}
#tab_3.active{	background: url(../image/oxquiz/tab_3_over.png) no-repeat;}
#tab_4.active{	background: url(../image/oxquiz/tab_4_over.png) no-repeat;}
#tab_5.active{	background: url(../image/oxquiz/tab_5_over.png) no-repeat;}



.qQuest{
	display: block;
	width:133px;
	height: 90px;
	position:relative;
	top:80px;
	left:47px;
	text-indent: -1000em;
}
#quest_1{background: url(../img/oxquiz/tab_1.png) no-repeat;}
#quest_2{background: url(../img/oxquiz/tab_2.png) no-repeat;}
#quest_3{background: url(../img/oxquiz/tab_3.png) no-repeat;}
#quest_4{background: url(../img/oxquiz/tab_4.png) no-repeat;}
#quest_5{background: url(../img/oxquiz/tab_5.png) no-repeat;}

#quest_1.MO2{background: url(../img/oxquiz/tab_1.png) no-repeat;}
#quest_2.MO2{background: url(../img/oxquiz/tab_2.png) no-repeat;}
#quest_3.MO2{background: url(../img/oxquiz/tab_3.png) no-repeat;}

#quest_1.MO3{background: url(../img/oxquiz/tab_1.png) no-repeat;}
#quest_2.MO3{background: url(../img/oxquiz/tab_2.png) no-repeat;}
#quest_3.MO3{background: url(../img/oxquiz/tab_3.png) no-repeat;}

#quest_1.MO4{background: url(../img/oxquiz/tab_1.png) no-repeat;}
#quest_2.MO4{background: url(../img/oxquiz/tab_2.png) no-repeat;}
#quest_3.MO4{background: url(../img/oxquiz/tab_3.png) no-repeat;}

.JiMun{
	font-family: 'Noto Sans KR';	
	text-shadow:2px 2px black;
	
	color:#fff;
	font-size:24px;
	font-weight: 500;
	position: absolute;
	top:80px;
	left:217px;
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
	line-height: 29px;
	
	*font-family: 'Nanum Gothic';
	*font-weight: 600;
}
.JiMun.MO2{color:#fff;}
.JiMun.MO3{color:#fff;}
.JiMun.MO4{color:#fff;}

.munjeSet{
	position: absolute;
	top:180px;
	left:150px;
	width:750px;
}

.munjeSet > ul  {
	width:750px;
}
.munjeSet > ul >li {
	list-style: none;
	width:650px;
	display: block;
	float:left;
}

.quizCheck_btn{
	display:block;
	cursor: pointer;
	top:100px;
	border:0px;
	min-height: 29px;
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
	
	word-wrap: break-word; /* Internet Explorer 5.5+ */ 
	white-space: pre-wrap; /* css-3 */ 
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
	white-space: -pre-wrap; /* Opera 4-6 */ 
	white-space: -o-pre-wrap; /* Opera 7 */  
	word-break:keep-all;

	*font-family: 'Nanum Gothic';
	*font-weight: 700;
	*font-size:19px; 
	*letter-spacing: -1px;
}


.quizCheck_btn.Li_1 {
	background: url(../img/oxquiz/obt.png) no-repeat; 
	width: 110px; 
	height:110px; 
	top:40px;
	left:170px;
	position:absolute;
}
.quizCheck_btn.Li_2 {
	background: url(../img/oxquiz/xbt.png) no-repeat; 
	width: 110px; 
	height:110px;
	top:40px;
	left:390px;
	position:absolute;

}

.quizCheck_btn.Li_1:hover {background: url(../img/oxquiz/obt.png) no-repeat;width: 110px; height:110px;}
.quizCheck_btn.Li_2:hover {background: url(../img/oxquiz/xbt.png) no-repeat;width: 110px; height:110px;}

.quizCheck_btn.Li_1.off {background: url(../img/oxquiz/obt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_2.off {background: url(../img/oxquiz/xbt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_1.off:hover {background: url(../img/oxquiz/obt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_2.off:hover {background: url(../img/oxquiz/xbt.png) no-repeat;cursor: default;width: 110px; height:110px;}


.quizCheck_btn.Li_1.check {background: url(../img/oxquiz/obt.png) no-repeat;width: 110px; height:110px;}
.quizCheck_btn.Li_2.check {background: url(../img/oxquiz/xbt.png) no-repeat;width: 110px; height:110px;}

.quizCheck_btn.Li_1.check.off {background: url(../img/oxquiz/obt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_2.check.off {background: url(../img/oxquiz/xbt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_1.check.off:hover {background: url(../img/oxquiz/obt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_2.check.off:hover {background: url(../img/oxquiz/xbt.png) no-repeat;cursor: default;width: 110px; height:110px;}

.quizCheck_btn.Li_1.MO2.check.off {background: url(../img/oxquiz/obt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_2.MO2.check.off {background: url(../img/oxquiz/xbt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_1.MO2.check.off:hover {background: url(../img/oxquiz/obt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_2.MO2.check.off:hover {background: url(../img/oxquiz/xbt.png) no-repeat;cursor: default;width: 110px; height:110px;}

.quizCheck_btn.Li_1.MO3.check.off {background: url(../img/oxquiz/obt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_2.MO3.check.off {background: url(../img/oxquiz/xbt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_1.MO3.check.off:hover {background: url(../img/oxquiz/obt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_2.MO3.check.off:hover {background: url(../img/oxquiz/xbt.png) no-repeat;cursor: default;width: 110px; height:110px;}

.quizCheck_btn.Li_1.MO4.check.off {background: url(../img/oxquiz/obt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_2.MO4.check.off {background: url(../img/oxquiz/xbt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_1.MO4.check.off:hover {background: url(../img/oxquiz/obt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_2.MO4.check.off:hover {background: url(../img/oxquiz/xbt.png) no-repeat;cursor: default;width: 110px; height:110px;}



.quizCheck_btn.Li_1.dap.off {background: url(../img/oxquiz/obt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_2.dap.off {background: url(../img/oxquiz/xbt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_1.dap.off:hover {background: url(../img/oxquiz/obt.png) no-repeat;cursor: default;width: 110px; height:110px;}
.quizCheck_btn.Li_2.dap.off:hover {background: url(../img/oxquiz/xbt.png) no-repeat;cursor: default;width: 110px; height:110px;}

.resultSet{
	position: absolute;
	display:block;
	top:405px;
	left:0px;
	width: 1000px;
	height: 165px;
	
	
	font-family: 'Noto Sans KR';	
	*font-family: 'Nanum Gothic';
	color:#fff;
	font-size:18px;
	font-weight: 600;
	border:0px;
	min-height: 30px;
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
	background: url(../img/oxquiz/answerBg.png) no-repeat;
}
/*
.resultSet.MO2{background: url(../img/oxquiz/answerBg_M2.png) no-repeat;}
.resultSet.MO3{background: url(../img/oxquiz/answerBg_M3.png) no-repeat;}
.resultSet.MO4{background: url(../img/oxquiz/answerBg_M4.png) no-repeat;}
*/
.resultDap1{
	background: url(../img/oxquiz/odap.png) no-repeat;
	position: absolute;
	width:67px;
	height:67px;
	top:50px;
	left:50px;
}

.resultDap2{
	background: url(../img/oxquiz/xdap.png) no-repeat;
	position: absolute;
	width:67px;
	height:67px;
	top:50px;
	left:50px;
}
.resultStr{
	position: absolute;
	left:190px;
	top:48px;
	display: block;
	width:700px;
	height: 90px;
	overflow: auto;
	
	font-size:19px;
	color:#062644;
	font-weight: 400;

}

.quizBtnSet{
	position: absolute;
	top:365px;
	left:25px;
}
.preQBtn{
	border: 0px;
	cursor: pointer;
	background: url(../img/oxquiz/prevMunjeBtn.png) no-repeat;
	width:98px;
	height:26px;
	-webkit-transition-duration: 0.2s; /* Safari */
     transition-duration: 0.2s;
	text-indent: -1000em;
}
.preQBtn:hover{
	margin-left:-5px;
	background: url(../img/oxquiz/prevMunjeBtnOver.png) no-repeat;
}
/*
.preQBtn.MO2:hover{background: url(../img/oxquiz/prevMunjeBtnOver_M2.png) no-repeat;}
.preQBtn.MO3:hover{background: url(../img/oxquiz/prevMunjeBtnOver_M3.png) no-repeat;}
.preQBtn.MO4:hover{background: url(../img/oxquiz/prevMunjeBtnOver_M4.png) no-repeat;}
*/
.confirm_btn{
	border: 0px;
	cursor: pointer;
	background: url(../img/oxquiz/nextMunjeBtn.png) no-repeat;
	width:120px;
	height:26px;
	position: absolute;
	left:877px;
	top:-40px;
	-webkit-transition-duration: 0.3s; /* Safari */
     transition-duration: 0.3s;
	text-indent: -1000em;
}
.confirm_btn:hover{
	margin-left:5px;
	
	
}
.confirm_btn.confirm{
	background: url(../img/oxquiz/nextMunjeBtn.png) no-repeat;
}
.confirm_btn.next{
	background: url(../img/oxquiz/nextMunjeBtn.png) no-repeat;
}
.confirm_btn.result{
	background: url(../img/oxquiz/resultMunjeBtn.png) no-repeat;
}

.confirm_btn.confirm:hover{
	background: url(../img/oxquiz/nextMunjeBtnOver.png) no-repeat;
}
/*
.confirm_btn.MO2.confirm:hover{background: url(../img/oxquiz/nextMunjeBtnOver_M2.png) no-repeat;}
.confirm_btn.MO3.confirm:hover{background: url(../img/oxquiz/nextMunjeBtnOver_M3.png) no-repeat;}
.confirm_btn.MO4.confirm:hover{background: url(../img/oxquiz/nextMunjeBtnOver_M4.png) no-repeat;}
*/
.confirm_btn.next:hover{
	background: url(../img/oxquiz/nextMunjeBtnOver.png) no-repeat;
}
.confirm_btn.MO2.next:hover{background: url(../img/oxquiz/nextMunjeBtnOver_M2.png) no-repeat;}
.confirm_btn.MO3.next:hover{background: url(../img/oxquiz/nextMunjeBtnOver_M3.png) no-repeat;}
.confirm_btn.MO4.next:hover{background: url(../img/oxquiz/nextMunjeBtnOver_M4.png) no-repeat;}

.confirm_btn.result:hover{
	background: url(../img/oxquiz/resultMunjeBtnOver.png) no-repeat;
}
/*
.confirm_btn.MO2.result:hover{background: url(../img/oxquiz/resultMunjeBtnOver_M2.png) no-repeat;}
.confirm_btn.MO3.result:hover{background: url(../img/oxquiz/resultMunjeBtnOver_M3.png) no-repeat;}
.confirm_btn.MO4.result:hover{background: url(../img/oxquiz/resultMunjeBtnOver_M4.png) no-repeat;}
*/
#replayBtn{
	border: 0px;
	cursor: pointer;
	background: url(../img/oxquiz/replayBtn.png) no-repeat;
	width:159px;
	height:60px;
	-webkit-transition-duration: 0.2s; /* Safari */
     transition-duration: 0.2s;
	text-indent: -1000em;
	position: absolute;
	top:420px;
	left:420px;
}
/*
#replayBtn.MO2{background: url(../img/oxquiz/replayBtn_M2.png) no-repeat;}
#replayBtn.MO3{background: url(../img/oxquiz/replayBtn_M3.png) no-repeat;}
#replayBtn.MO4{background: url(../img/oxquiz/replayBtn_M4.png) no-repeat;}
*/
#replayBtn:hover{
	background: url(../img/oxquiz/replayBtnOver.png) no-repeat;
	opacity: 0.9;
}
/*
#replayBtn.MO2:hover{background: url(../img/oxquiz/replayBtnOver_M2.png) no-repeat;}
#replayBtn.MO3:hover{background: url(../img/oxquiz/replayBtnOver_M3.png) no-repeat;}
#replayBtn.MO4:hover{background: url(../img/oxquiz/replayBtnOver_M4.png) no-repeat;}
*/
.resQ{
	position: absolute;
	background: url(../img/oxquiz/oxR.png) no-repeat;
	width:67px;
	height:67px;
	text-indent: -1000em;
}

.resQ.oo{
	background-position:-0px -0px;
}

.resQ.xx{
	background-position:-67px -0px;
}
#resq_1{
	top:153px;
	left:702px;
}
#resq_2{
	top:237px;
	left:702px;
}
#resq_3{
	top:322px;
	left:702px;
}
#resq_4{
	top:248px;
	left:597px;
}
#resq_5{
	top:248px;
	left:728px;
}

#scoreLine{
	position: absolute;
	top:85px;
	left:255px;
	font-family: 'Noto Sans KR';	
	text-shadow:2px 2px black;
	*font-family: 'Nanum Gothic';
	color:#fff;
	font-size:34px;
	font-weight: 500;
	border:0px;

	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
}



#scoreLine.MO2{color:#fff;}
#scoreLine.MO3{color:#fff;}
#scoreLine.MO4{color:#fff;}


#endresult{
    position: relative;
	top:420px;
    text-align: center;
	font-family: 'Noto Sans KR';	
	*font-family: 'Nanum Gothic';
	text-shadow:2px 2px black;
	color:#fff;
	font-size:25px;
	font-weight: 500;
	border:0px;

	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
}

#alertPop{
	display:none;
	width:1000px;
	height: 540px;
	position: absolute;
	top:0px;
	left:0px;
}
#alertPop.chk{
	background: url(../img/oxquiz/alert_chk.png) no-repeat;
}
#alertPop.re{
	background: url(../img/oxquiz/alert_re.png) no-repeat;
}
#alertPop.ok{
	background: url(../img/oxquiz/alert_ok.png) no-repeat;
}
#alertPop.no{
	background: url(../img/oxquiz/alert_no.png) no-repeat;
}
.chkArrow{
	display:none;
	background: url(../image/oxquiz/arrow.png) no-repeat;
	width:43px;
	height: 47px;
	position: absolute;
}


.qOx{
	
	background-image: none;
	width:112px;
	height:109px;
	position: absolute;
	top:-6px;
	left:-2px;
}
.qOx.oo{
	background: url(../img/oxquiz/oxO.png) no-repeat;
}
.qOx.xx{
	background: url(../img/oxquiz/oxX.png) no-repeat;
}


.floatLeft{
	float:left;
}
.redLine{
	color:#fff;
	text-decoration: none;
	/*background-color:#d44d4d;*/
	/*margin:8px 0 0 0;*/
	background: url(../img/oxquiz/redBg.png) repeat-x;
	
}

.tb1, .tb2, .tb3{
	display: block;
	width:386px;
	height: 28px;
	padding:3px 0 0 150px;
	color:#595c9b;
	font-size:20px;
	position: absolute;
	top:8.5px;
	left:90px;
	border: 0px;
}

/*
.tb1.MO2{background:url("../img/oxquiz/tB_M2.png") no-repeat;color:#c67b17}
.tb1.MO3{background:url("../img/oxquiz/tB_M3.png") no-repeat;color:#1f9fa3;}
.tb1.MO4{background:url("../img/oxquiz/tB_M4.png") no-repeat;color:#906d99;}

.tb2.MO2{background:url("../img/oxquiz/tB_M2.png") no-repeat;color:#c67b17}
.tb2.MO3{background:url("../img/oxquiz/tB_M3.png") no-repeat;color:#1f9fa3;}
.tb2.MO4{background:url("../img/oxquiz/tB_M4.png") no-repeat;color:#906d99;}

.tb3.MO2{background:url("../img/oxquiz/tB_M2.png") no-repeat;color:#c67b17}
.tb3.MO3{background:url("../img/oxquiz/tB_M3.png") no-repeat;color:#1f9fa3;}
.tb3.MO4{background:url("../img/oxquiz/tB_M4.png") no-repeat;color:#906d99;}
*/

.goDBtn{
	display: block;
	border:0px solid #FF0000;
	cursor:pointer;
	position: absolute;
	width: 100px;
	height: 70px;
	background-color: transparent;
	text-indent: -1000em;
}
.goDBtn.ty1{
	top:30px;
	left:20px;
}

.goDBtn.ty2{
	top:120px;
	left:20px;
}


/*-----------------------------------*/
body.ie8{
	font-family: 'Nanum Gothic';
}

.JiMun.ie8{
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
}
.quizCheck_btn.ie8{
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
	padding-top:3px;
	
}
.resultSet.ie8{
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
}
#scoreLine.ie8{
	font-family: 'Nanum Gothic';
}
.tb.ie8{
	background-position:0px -3px;
	top:0px;
}
.resultStr.ie8{
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
}
.redLine.ie8{
	padding-top:4px;padding-bottom:2px;padding-left:3px;padding-right:5px;
}
.resultStr.ie7{
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
}
.quizCheck_btn.ie7{
	line-height:21px;
	padding-top:3px;

}
.munjeSet.ie7{
	margin-top:15px;
}


.redLine.ie7{
	padding-top:4px;
	padding-bottom:2px;
	padding-left:3px;
	padding-right:5px;
}


.block_mc{
	display: none;
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: url(../img/oxquiz/block.png);
}