/* CSS Document */
@import url(nanumgothic.css);
@import url(nanummyeongjo.css);
@import url(notosanskr.css);
@import url(kopubdotum.css);

body{
	margin:0px;
	font-family: 'Nanum Gothic,Noto Sans KR'; 
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
}

#start_btn{
	display:block;
	position: absolute;
	top:430px;
	left:430px;
	background: url(../img/quiz/4cha_start.png) no-repeat;
	text-indent: -1000em;
	cursor: pointer;
	border:0px;
	width: 173px;
	height: 40px;
}
#start_btn.act{
	 -webkit-transition-duration: 0.3s; /* Safari */
     transition-duration: 0.3s;
}

#start_btn:hover{
	background: url(../img/quiz/4cha_start_over.png) no-repeat;
}

#quizContainer{
	display:block;
	width:1020px;
	height:592px;
	background-color: #FFF;
	position: absolute;
	top:0px;
}

.quizInitScene{
	display:block;
	width:1020px;
	height:592px;
	background: url(../img/quiz/quizintro_4cha.png) no-repeat;
	border:0px;
	position: absolute;
	top:0px;
}


#scene_1_1{
	display: block;
	background: url(../img/quiz/quizintro_4cha.png) no-repeat;
	width:1015px;
	height:680px;
	position: absolute;
	top:20px; left:0px;
}



#scene_1_3{
	display: block;
	background: url(../img/quiz/4cha_intro01.png) no-repeat;
	width:334px;
	height:142px;
	position:absolute;
	top:130px;
	left:341px;
}

#scene_1_4{
	display: block;
	background: url(../img/quiz/4cha_intro02.png) no-repeat;
	width:454px;
	height:56px;
	position: absolute;
	top:320px;
	left:292px;
}