/* CSS Document */
@import url(nanumgothic.css);
@import url(nanummyeongjo.css);
@import url(notosanskr.css);
@import url(kopubdotum.css);

body{
	display: none;
	margin:0px;
	font-family: 'Nanum Gothic,Noto Sans KR,맑은 고딕,굴림,돋움'; 

}

.abs{
	position: absolute;
	top:0px;
	left:0px;
	width:960px;
	height: 540px;
}
#sync_1_1{	background: url(../image/quiz/quiz_img001.png) no-repeat;}
#sync_1_2{	background: url(../image/quiz/quiz_img002.png) no-repeat;}
#sync_1_3{	
	background: url(../image/quiz/quiz_img003.png) no-repeat;
	position: absolute;
	width: 399px;
	height: 73px;
	top:225px;
	left:580px;
}
#sync_1_4{	
	background: url(../image/quiz/quiz_img004.png) no-repeat;
	position: absolute;
	width: 399px;
	height: 62px;
	top:300px;
	left:580px;
}
#quiz_start{
	display: block;
	position: absolute;
	top:360px;
	left:630px;
	background: url(../image/quiz/4cha_start.png) no-repeat;
	text-indent: -1000em;
	cursor: pointer;
	border:0px;
	width: 140px;
	height: 46px;
	 -webkit-transition-duration: 0.3s; /* Safari */
     transition-duration: 0.3s;
}
#quiz_start:hover{
	margin-left:10px;
	background: url(../image/quiz/4cha_start.png) no-repeat;
}
#conSubject{
	position: absolute;
	background: url(../image/quiz/subject.png) no-repeat;
	width:240px;
	height:45px;
	z-index: 1;
}

#quizContainer{
	display:block;
	width:1020px;
	height:592px;
	background: url(../image/quiz/quizbg_4cha.png) no-repeat;
	position: absolute;
	top:0px;
}

.quizScene{
	display:block;
	width:1020px;
	height:592px;
	background: url(../img/quiz/quizbg_4cha.png) no-repeat;
	border:0px;
	position: absolute;
	top:0px;
	
}
.munPannel{
	display:block;
	width:1020px;
	height:592px;
	background: url(../img/quiz/quizbg_4cha.png) no-repeat;
	border:0px;
	position: relative;
}

.resPannel{
	display:block;
	width:1020px;
	height:592px;
	background: url(../img/quiz/resultPanel2_4cha.png) no-repeat;
	border:0px;
	position: relative;
	top:-592px;
}

.quizTabSet{
	position:relative;
	display:block;
	top:15px;
	left:776px;
	width: 150px;
}
.qTab{
	display:block;
	width:40px;
	height: 45px;
	float: left;
	text-indent: -1000em;
	padding:0 10px 0 0 ;
	border:0px;
}
#tab_1{background: url(../image/quiz/mun_num1_4cha.png) no-repeat;}
#tab_2{background: url(../image/quiz/mun_num2_4cha.png) no-repeat;}
#tab_3{	background: url(../image/quiz/mun_num3_4cha.png) no-repeat;}
#tab_4{	background: url(../image/quiz/tab_4.png) no-repeat;}
#tab_5{	background: url(../image/quiz/tab_5.png) no-repeat;}

#tab_1.active{background: url(../image/quiz/tab_1_over.png) no-repeat;}
#tab_2.active{background: url(../image/quiz/tab_2_over.png) no-repeat;}
#tab_3.active{	background: url(../image/quiz/tab_3_over.png) no-repeat;}
#tab_4.active{	background: url(../image/quiz/tab_4_over.png) no-repeat;}
#tab_5.active{	background: url(../image/quiz/tab_5_over.png) no-repeat;}



.qQuest{
	display: block;
	width:90px;
	height: 117px;
	position:relative;
	top:79px;
	left:44px;
	text-indent: -1000em;
}
#quest_1{background: url(../img/quiz/mun_num1_4cha.png) no-repeat;}
#quest_2{background: url(../img/quiz/mun_num2_4cha.png) no-repeat;}
#quest_3{background: url(../img/quiz/mun_num3_4cha.png) no-repeat;}
#quest_4{background: url(../img/quiz/tab_4.png) no-repeat;}
#quest_5{background: url(../img/quiz/tab_5.png) no-repeat;}


.jimunBox{
background-color:rgba(0,0,0,0.2);
width:680px;
height:145px;
position: absolute;
top:175px;
left:320px;
}
.JiMun{
	font-family:"KoPub DotumR";	
	color:#393939;
	font-size:30px;
	position: absolute;
	top:105px;	left:148px;
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
	line-height: 29px;
    font-weight: bold;
}


.munjeSet{
	position: absolute;
	top:150px;
	left:-50px;
	width:750px;
}

.munjeSet > ul  {
	width:750px;
	position:absolute;
	top:10px;
	left:190px;
}
.munjeSet > ul >li {
	list-style: none;
	width:650px;
	display: block;
	float:left;
}
.munjeSet > ul > li > p{
	font-family:"KoPub DotumR";	
	color:#353535;
	font-size:24px;
}
.Li_2, .Li_3, .Li_4{margin-top:-7px;}
.txtItalic{font-style:italic;}
.quizCheck_btn{
	display:block;
	
	font-family: 'KoPub DotumR';	
	
	color:#464545;
	font-size:20px;
	font-weight: 300;
	
	cursor: pointer;
	border:0px;
	min-height: 29px;
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
	
	word-wrap: break-word; /* Internet Explorer 5.5+ */ 
	white-space: pre-wrap; /* css-3 */ 
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
	white-space: -pre-wrap; /* Opera 4-6 */ 
	white-space: -o-pre-wrap; /* Opera 7 */  
	word-break:keep-all;

	
	padding:4px 0 7px 35px;
	margin:2px 0 0 -35px;
	float:left;
	text-align: left;
	line-height: 27px;

	*font-family: 'Nanum Gothic';
	*font-weight: 700;
	*font-size:19px; 
	*letter-spacing: -1px;
/*
	*line-height: 21px;
*/

	-webkit-transition-duration: 0.2s; /* Safari */
     transition-duration: 0.2s;
	background-position: 5px 5px;	
}



.quizCheck_btn:hover{
	color:#ee2a1f;
}
.quizCheck_btn.check{
	color:#ee2a1f;
}


.quizCheck_btn.check:hover{
	color:#4496c9;
}


.quizCheck_btn.off{
	color:#464545;
}
.quizCheck_btn.off:hover{
	color:#464545;
}
.quizCheck_btn.check.off{
	color:#009cff;
}


.quizCheck_btn.check.off:hover{
	color:#009cff;
}


.quizCheck_btn.dap{
	color:#009cff;
}
.quizCheck_btn.dap:hover{
	color:#009cff;
}
.quizCheck_btn.dap.off{
	color:#f32f94;
}
.quizCheck_btn.dap.off:hover{
	color:#f32f94;
}

.quizCheck_btn.Li_1 {background: url(../img/quiz/bnum_1.png) no-repeat;background-position: 5px 5px;}
.quizCheck_btn.Li_2 {background: url(../img/quiz/bnum_2.png) no-repeat;background-position: 5px 5px;}
.quizCheck_btn.Li_3 {background: url(../img/quiz/bnum_3.png) no-repeat;background-position: 5px 5px;}
.quizCheck_btn.Li_4 {background: url(../img/quiz/bnum_4.png) no-repeat;background-position: 5px 5px;}

.quizCheck_btn.Li_1:hover {background: url(../img/quiz/anum_1_tj.png) no-repeat;background-position: 5px 5px;}
.quizCheck_btn.Li_2:hover {background: url(../img/quiz/anum_2_tj.png) no-repeat;background-position: 5px 5px;}
.quizCheck_btn.Li_3:hover {background: url(../img/quiz/anum_3_tj.png) no-repeat;background-position: 5px 5px;}
.quizCheck_btn.Li_4:hover {background: url(../img/quiz/anum_4_tj.png) no-repeat;background-position: 5px 5px;}

.quizCheck_btn.Li_1.off {background: url(../img/quiz/bnum_1.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_2.off {background: url(../img/quiz/bnum_2.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_3.off {background: url(../img/quiz/bnum_3.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_4.off {background: url(../img/quiz/bnum_4.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_1.off:hover {background: url(../img/quiz/bnum_1.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_2.off:hover {background: url(../img/quiz/bnum_2.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_3.off:hover {background: url(../img/quiz/bnum_3.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_4.off:hover {background: url(../img/quiz/bnum_4.png) no-repeat;background-position: 5px 5px;cursor: default;}


.quizCheck_btn.Li_1.check {background: url(../img/quiz/check_1.png) no-repeat;background-position: 5px 5px;}
.quizCheck_btn.Li_2.check {background: url(../img/quiz/check_2.png) no-repeat;background-position: 5px 5px;}
.quizCheck_btn.Li_3.check {background: url(../img/quiz/check_3.png) no-repeat;background-position: 5px 5px;}
.quizCheck_btn.Li_4.check {background: url(../img/quiz/check_4.png) no-repeat;background-position: 5px 5px;}


.quizCheck_btn.Li_1.check.off {background: url(../img/quiz/check_1.png) no-repeat;background-position: 5px -1px;cursor: default;}
.quizCheck_btn.Li_2.check.off {background: url(../img/quiz/check_2.png) no-repeat;background-position: 5px -1px;cursor: default;}
.quizCheck_btn.Li_3.check.off {background: url(../img/quiz/check_3.png) no-repeat;background-position: 5px -1px;cursor: default;}
.quizCheck_btn.Li_4.check.off {background: url(../img/quiz/check_4.png) no-repeat;background-position: 5px -1px;cursor: default;}
.quizCheck_btn.Li_1.check.off:hover {background: url(../img/quiz/check_1.png) no-repeat;background-position: 5px -1px;cursor: default;}
.quizCheck_btn.Li_2.check.off:hover {background: url(../img/quiz/check_2.png) no-repeat;background-position: 5px -1px;cursor: default;}
.quizCheck_btn.Li_3.check.off:hover {background: url(../img/quiz/check_3.png) no-repeat;background-position: 5px -1px;cursor: default;}
.quizCheck_btn.Li_4.check.off:hover {background: url(../img/quiz/check_4.png) no-repeat;background-position: 5px -1px;cursor: default;}



.quizCheck_btn.Li_1.dap.off {background: url(../img/quiz/anum_1_tj.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_2.dap.off {background: url(../img/quiz/anum_2_tj.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_3.dap.off {background: url(../img/quiz/anum_3_tj.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_4.dap.off {background: url(../img/quiz/anum_4_tj.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_1.dap.off:hover {background: url(../img/quiz/anum_1_tj.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_2.dap.off:hover {background: url(../img/quiz/anum_2_tj.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_3.dap.off:hover {background: url(../img/quiz/anum_3_tj.png) no-repeat;background-position: 5px 5px;cursor: default;}
.quizCheck_btn.Li_4.dap.off:hover {background: url(../img/quiz/anum_4_tj.png) no-repeat;background-position: 5px 5px;cursor: default;}


.resultSet{
	position: absolute;
	display:block;
	bottom:-31px;
	left:0px;
	width: 1020px;
	height: 220px;
	
	
	font-family:"KoPub DotumR";	

	color:#222;
	font-size:24px;
	border:0px;
	min-height: 30px;
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
	background: url(../img/quiz/answer_Bg_tj.png) no-repeat;
}


.resultDap{
	position: absolute;
	left:90px;
	top:28px;
	width:17px;
	height:26px;
	color:#0b0b0b;
	font-size:26px;
	padding:0 0 0 8px;
	line-height: 24px;
	
}
.resultStr{
	position: absolute;
	left:98px;
	top:62px;
	display: block;
	width:870px;
	height: 80px;
	overflow: auto;
	font-weight:300;
	font-size:22px;
	color:#222;
}

.quizBtnSet{
	position: absolute;
	top:385px;
	left:747px;
}

.preQBtn{
	border: 0px;
	cursor: pointer;
	background: url(../img/quiz/prevMunjeBtn.png) no-repeat;
	width:98px;
	height:26px;
	-webkit-transition-duration: 0.2s; /* Safari */
     transition-duration: 0.2s;
	text-indent: -1000em;
}
.preQBtn:hover{
	margin-left:-5px;
	background: url(../img/quiz/prevMunjeBtnOver.png) no-repeat;
}

.confirm_btn{
	border: 0px;
	cursor: pointer;
	background: url(../img/quiz/next_tj.png) no-repeat;
	width:153px;
	height:36px;
	position: absolute;
	right:50px;
	top:-15px;
	-webkit-transition-duration: 0.2s; /* Safari */
     transition-duration: 0.2s;
	text-indent: -1000em;
}
.confirm_btn.confirm{
	background: url(../img/quiz/next_tj.png) no-repeat;
}
.confirm_btn.next{
	background: url(../img/quiz/next_tj.png) no-repeat;
}
.confirm_btn.result{
	background: url(../img/quiz/result_tj.png) no-repeat;
}

.confirm_btn.confirm:hover{
	background: url(../img/quiz/next_tj_over.png) no-repeat;
}

.confirm_btn.next:hover{
	background: url(../img/quiz/next_tj_over.png) no-repeat;
}

.confirm_btn.result:hover{
	background: url(../img/quiz/result_tj_over.png) no-repeat;
}

#replayBtn{
	border: 0px;
	cursor: pointer;
	background: url(../img/quiz/replay_tj.png) no-repeat;
	width:153px;
	height:36px;
	-webkit-transition-duration: 0.2s; /* Safari */
     transition-duration: 0.2s;
	text-indent: -1000em;
	position: absolute;
	top:475px;
	left:430px;
}

#replayBtn:hover{
	background: url(../img/quiz/replay_tj_over.png) no-repeat;
	opacity: 0.9;
}

.resQ{
	position: absolute;
	background: url(../img/quiz/oxox.png) no-repeat;
	width:147px;
	height:138px;
	text-indent: -1000em;
}

.resQ.oo{
	background-position:-0px -0px;
}

.resQ.xx{
	background-position:-127px -0px;
}
#resq_1{
	top:335px;
	left:235px;
}
#resq_2{
	top:335px;
	left:457px;
}
#resq_3{
	top:335px;
	left:665px;
}

#scoreLine{
	position: absolute;
	top:185px;
	left:210px;
	font-family: "KoPub DotumR";	
	color:#fff;
	font-size:44px;
	border:0px;
	font-weight:500;
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
}



#endresult{
    position: relative;
    text-shadow: 2px 2px black;
	top:410px;
    text-align: center;
	font-family: 'KoPub DotumR';	
	color:#fff;
	font-size:25px;
	font-weight: 500;
	border:0px;

	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
}

#alertPop{
	display:none;
	width:1020px;
	height: 592px;
	position: absolute;
	top:0px;
	left:0px;
}
#alertPop.chk{
	background: url(../img/quiz/alert_chk.png) no-repeat;
}
#alertPop.re{
	background: url(../img/quiz/alert_rere.png) no-repeat;
}
#alertPop.ok{
	background: url(../img/quiz/alert_correct.png) no-repeat;
}
#alertPop.no{
	background: url(../img/quiz/alert_nono.png) no-repeat;
}
.chkArrow{
	display:none;
	background: url(../image/quiz/arrow.png) no-repeat;
	width:43px;
	height: 47px;
	position: absolute;
}


.qOx{
	background-image: none;
	width:112px;
	height:109px;
	position: absolute;
	top:9px;
	left:8px;
}
.qOx.oo{
	background: url(../img/quiz/correct.png) no-repeat;
}
.qOx.xx{
	background: url(../img/quiz/uncorrect.png) no-repeat;
}


.floatLeft{
	float:left;
}
.redLine{
	color:#fff;
	text-decoration: none;
	/*background-color:#d44d4d;*/
	/*margin:8px 0 0 0;*/
	background: url(../img/quiz/redBg.png) repeat-x;
}
.yellowLine{
	text-decoration: none;
	color:#ee2a1f;
	/*background-color:#d44d4d;*/
	/*margin:8px 0 0 0;*/
	/*background: url(../img/quiz/yellowBg.png) repeat-x;*/
}

.tb{
	display: block;
	background:url("../img/quiz/bogi_btn.png") no-repeat;
	width:140px;
	height: 36px;
	padding:3px 0 0 150px;
	color:#595c9b;
	font-size:20px;
	position: absolute;
	top:-14px;
	left:650px;
	border: 0px;
	cursor: pointer;
}

.tb:hover{
background:url("../img/quiz/bogi_btn_over.png") no-repeat;
}


.goDBtn{
	display: block;
	border:0px solid #FF0000;
	cursor:pointer;
	position: absolute;
	width: 100px;
	height: 70px;
	background-color: transparent;
	text-indent: -1000em;
}
.goDBtn.ty1{
	top:30px;
	left:20px;
}

.goDBtn.ty2{
	top:120px;
	left:20px;
}


/*-----------------------------------*/
body.ie8{
	font-family: 'Nanum Gothic';
}

.JiMun.ie8{
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
}
.quizCheck_btn.ie8{
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
	padding-top:3px;
	
}
.resultSet.ie8{
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
}
#scoreLine.ie8{
	font-family: 'Nanum Gothic';
}
.tb.ie8{
	top:12px;
}
.resultStr.ie8{
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
}
.redLine.ie8{
	padding-top:4px;padding-bottom:2px;padding-left:3px;padding-right:5px;
}
.resultStr.ie7{
	font-family: 'Nanum Gothic';
	font-weight: 700;
	letter-spacing: -1px;
}
.quizCheck_btn.ie7{
	line-height:21px;
	padding-top:3px;

}
.munjeSet.ie7{
	margin-top:15px;
}

.redLine.ie7{
	padding-top:4px;
	padding-bottom:2px;
	padding-left:3px;
	padding-right:5px;
}


.block_mc{
	display: none;
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: url(../img/quiz/block.png);
}