/* CSS Document */
@import url(nanumgothic.css);
@import url(notosanskr.css);
@import url(nanummyeongjo.css);
@import url(kopubdotum.css);
body{
	margin:0px;
	font-family: 'Noto Sans KR'; 
	*font-family: 'Nanum Gothic';
	-webkit-font-smoothing:antialiased; 
	-moz-font-smoothing:antialiased; 
	font-smoothing:antialiased;
}


#termContainer{
	display: block;
	width:1000px;
	height: 510px;
	background: url(../img/term/term_bg.png) no-repeat;
}

#termContainer.MO2{background: url(../img/term/term_bg_M2.png) no-repeat;}
#termContainer.MO3{background: url(../img/term/term_bg_M3.png) no-repeat;}
#termContainer.MO4{background: url(../img/term/term_bg_M4.png) no-repeat;}

.termScene{
	display: block;
	width:1000px;
	height: 510px;
	background: url(../img/term/term_bg.png) no-repeat;
	position: relative;
}

.termScene.MO2{background: url(../img/term/term_bg_M2.png) no-repeat;}
.termScene.MO3{background: url(../img/term/term_bg_M3.png) no-repeat;}
.termScene.MO4{background: url(../img/term/term_bg_M4.png) no-repeat;}

#conSubject{
	display: block;
	position: absolute;
	top:30px;
	*top:35px;
	left:50px;
	color:#fff;
	font-size:20px;
	background: url(../img/summary/jisi.png) no-repeat;
	background-position: -0px 11px;
	height: 30px;
	width:100%;
	padding:5px 0 0 20px;
	letter-spacing: -1px;
	z-index: 1;
	
	*font-family: 'Nanum Gothic';
	*font-size:18px;
	*font-weight: 700;
	*background-position: -0px 3px;
	*padding:1px 0 0 20px;
}

#conSubject.MO2{
	color:#fff;
	background: url(../img/summary/jisi_M2.png) no-repeat;background-position: -0px 11px;
}
#conSubject.MO3{
	color:#fff;
	background: url(../img/summary/jisi_M3.png) no-repeat;background-position: -0px 11px;
}
#conSubject.MO4{
	color:#fff;
	background: url(../img/summary/jisi_M4.png) no-repeat;background-position: -0px 11px;
}

.cardSet{
	display: block;
	position: absolute;
	top:94px;
	left:-20px;
}

.cardBtn{
	display: block;
	background: url(../img/term/card.png) no-repeat;
	width: 294px;
	height: 390px;
	top:0px;
	border:0px solid #FF0000;
	cursor: pointer;
	position: absolute;
	margin:auto;
	
	
}
.cardBtn.MO2{background: url(../img/term/card_M2.png) no-repeat;}
.cardBtn.MO3{background: url(../img/term/card_M3.png) no-repeat;}
.cardBtn.MO4{background: url(../img/term/card_M4.png) no-repeat;}

.cardBtn:hover{
	background: url(../img/term/card.png) 0 -390px no-repeat;
}
.cardBtn.MO2:hover{background: url(../img/term/card_M2.png) 0 -390px no-repeat;}
.cardBtn.MO3:hover{background: url(../img/term/card_M3.png) 0 -390px no-repeat;}
.cardBtn.MO4:hover{background: url(../img/term/card_M4.png) 0 -390px no-repeat;}

.cardBtn.open{
	background: url(../img/term/card.png) 0 -780px no-repeat;
	cursor: default;
}
.cardBtn.MO2.open{background: url(../img/term/card_M2.png) 0 -780px no-repeat;}
.cardBtn.MO3.open{background: url(../img/term/card_M3.png) 0 -780px no-repeat;}
.cardBtn.MO4.open{background: url(../img/term/card_M4.png) 0 -780px no-repeat;}

#card_1{
	left:85px;
}
#card_2{
	left:372px;
}
#card_3{
	left:660px;
}


.tS{
	color:#FFF;
	font-size:43px;
	font-weight: 700;
	font-family: 'Noto Sans KR'; 
	*font-family: 'Nanum Gothic';
	position: absolute;
	top:80px;
	width:100%;
	text-align: center;
	left:0px;
	line-height:1.2;
}
.tS2{
	color:#FFF;
	font-size:43px;
	font-weight: 700;
	font-family: 'Noto Sans KR'; 
	*font-family: 'Nanum Gothic';
	position: absolute;
	top:80px;
	width:100%;
	text-align: center;
	left:0px;
	line-height:1.2;
}
.sS{
	color:#91c5df;
	font-size:26px;
	font-weight: 600;
	font-family: 'Noto Sans KR'; 
	*font-family: 'Nanum Gothic';
	position: absolute;
	top:160px;
	width:100%;
	text-align: center;
	line-height: 24px;
	left:0px;
}
.sS.MO2{color:#f0d8b6;}
.sS.MO3{color:#bbcfb5;}
.sS.MO4{color:#b9a0c0;}

.viewSet{
	display: block;
	position: absolute;
	top:94px;
	left:-20px;
}


.viewDiv{
	display: block;
	background: url(../img/term/card.png) 0 -780px  no-repeat;
	width: 294px;
	height: 390px;
	position: absolute;
	top:0px;
	border:0px;
}
.viewDiv.MO2{background: url(../img/term/card_M2.png) 0 -780px  no-repeat;}
.viewDiv.MO3{background: url(../img/term/card_M3.png) 0 -780px  no-repeat;}
.viewDiv.MO4{background: url(../img/term/card_M4.png) 0 -780px  no-repeat;}

#view_1{
	left:85px;
}
#view_2{
	left:372px;
}
#view_3{
	left:660px;
}

.vbox{
	display: block;
	width:242px;
	height: 60px;
}

.vBt{
	color:#FFF;
	font-size:25px;
	font-weight: 600;
	font-family: 'Noto Sans KR'; 
	*font-family: 'Nanum Gothic';
	*font-weight: 700;
	position: absolute;
	top:16px;
	width:100%;
	text-align: center;
	margin-top:19px;
	*padding: 5px 0 0 0;
}
.vBt2{
	color:#FFF;
	font-size:25px;
	font-weight: 600;
	font-family: 'Noto Sans KR'; 
	*font-family: 'Nanum Gothic';
	*font-weight: 700;
	position: absolute;
	top:16px;
	width:100%;
	text-align: center;
	margin-top:19px;
	*padding: 5px 0 0 0;
}
.vBt_type2{
	color:#FFF;
	font-size:25px;
	font-weight: 600;
	font-family: 'Noto Sans KR'; 
	*font-family: 'Nanum Gothic';
	*font-weight: 700;
	position: absolute;
	top:5px;
	width:100%;
	text-align: center;
	margin-top:19px;
	*padding: 5px 0 0 0;
}

.vBs{
	color:#91c5df;
	font-size:20px;
	font-weight: 600;
	font-family: 'Noto Sans KR'; 
	*font-family: 'Nanum Gothic';
	*font-weight: 700;
	position: absolute;
	top:53px;
	width:100%;
	text-align: center;
}

.vBs.MO2{color:#f0d8b6;}
.vBs.MO3{color:#bbcfb5;}
.vBs.MO4{color:#b9a0c0;}

.vBs_type2{
	color:#91c5df;
	font-size:20px;
	font-weight: 600;
	font-family: 'Noto Sans KR'; 
	*font-family: 'Nanum Gothic';
	*font-weight: 700;
	position: absolute;
	top:53px;
	width:100%;
	text-align: center;
}
.vBs_type2.MO2{color:#f0d8b6;}
.vBs_type2.MO3{color:#bbcfb5;}
.vBs_type2.MO4{color:#b9a0c0;}

.inBox > ul{
	list-style: none;
	margin:0px;
	padding:30px 0 0 30px;
}

.inBox > ul > li{
	background: url(../img/term/dot.png) no-repeat;
	min-height: 21px;
	color:#333;
	font-size:21px;
	font-weight: 400;
	font-family: 'Noto Sans KR'; 
	*font-family: 'Nanum Gothic';
	*font-weight: 700;
	*font-size: 19px;
	text-indent: 0px;
	line-height: 23px;
	margin:0 0 10px 0;
	padding:0 0 0 15px;
	letter-spacing: -1px;
}

.inBox > ul > li.MO2{background: url(../img/term/dot_M2.png) no-repeat;}
.inBox > ul > li.MO3{background: url(../img/term/dot_M3.png) no-repeat;}
.inBox > ul > li.MO4{background: url(../img/term/dot_M4.png) no-repeat;}


/*-----------------------*/
body.ie8{
	font-family: 'Nanum Gothic';
}
.tS.ie8{
	font-family: 'Nanum Gothic';
	font-size:40px;
}
.sS.ie8{
	font-family: 'Nanum Gothic';
}
.vBt.ie8{
	font-size:24px;
	font-family: 'Nanum Gothic';
	font-weight: 800;
	padding: 5px 0 0 1px;
}
.vBs.ie8{
	font-size:19px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
}
.inBox > ul > li.ie8{
	font-family: 'Nanum Gothic';
	font-weight: 700;
	font-size:19px;
}
.cardBtn.ie8{
	font-family: 'Nanum Gothic';
	font-weight: 700;
}

.tS.ie7{
	font-family: 'Nanum Gothic';
	font-size:40px;
}

.vBt.ie7{
	padding: 3px 0 3px 1px;
	line-height:1.2;
}

.vBt_type2.ie8{
	top:12px;
	font-size:24px;
	font-family: 'Nanum Gothic';
	font-weight: 800;
}
.vBs_type2.ie8{
	top:60px;
	font-size:19px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
}

.vBt_type2.ie7{
	top:7px;
}
.vBs_type2.ie7{
	top:58px;
}



.fontsize.ie7{
font-size:100px;
}

.fontsize.ie8{
font-size:100px;
}