
<div class="top-nav">
	<div class="container">
		<nav role="navigation">
			<ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{config.wwwroot}}">{{#str}}home, local_notice{{/str}}</a></li>
                            <li class="breadcrumb-item"><a href="/local/notice/faqlist.php">{{#str}}faq, local_notice{{/str}}</a></li>
                        </ol>
		</nav>
	</div>
</div>
<div id="ct" class="introduction">
	<div class="container">
		<h2 class="title">FAQ</h2>
<!--		<ul class="tab-type01 bx-tb mb40">
			<li class="active"><a href="">{{#str}}faqlist, local_notice{{/str}}</a></li>
			<li><a href="">{{#str}}apply, local_notice{{/str}}</a></li>
		</ul>-->
		<div class="board-wrp">
			<div class="clearfix">
                            {{#searchcnt}}
                            <p class="pull-left tit-srch">'{{searchword}}'{{#str}}searchresult, local_notice{{/str}} {{searchcount}}{{#str}}numofthing, local_notice{{/str}}</p>
                            {{/searchcnt}}
				<div class="pull-right bx-form">
					
                                        <form class="table-search-option">
					<div class="bx-input-srch">
						<input type="text" title="search" name="search" class="form-control" placeholder="{{#str}}entersearch, local_notice{{/str}}">
						<button type="submit" class="btn-srch">{{#str}}search, local_notice{{/str}}</button>
					</div>
                                        </form>
				</div>
			</div>
			<div class="tb-faq">
                            {{^boardcontents}}
                                <div class="s-content">
                                    <div class="search-data-no">
                                                        <span class="icon"></span>
                                                        <strong>{{#str}}nocontents, local_notice{{/str}}</strong>
                                                        <p>{{#str}}keywordchk, local_notice{{/str}}</p>
                                    </div>
                                </div>
                            {{/boardcontents}}
                            {{#boardcontents}}
                                <div class="tg-wrp faqlistdivbox">
					<a class="btn-tg" href="#" style="pointer-events: none">
						<p class="tit"><span class="s-tit">Q.</span>{{title}}</p>
						<small class="date">{{#timeedited}}{{timeedited}}{{/timeedited}}{{^timeedited}}{{timecreated}}{{/timeedited}}</small>
                                        </a>
					<div class="tg-content">
						<span class="s-tit">A.</span>
						<p class="txt">{{{content}}}</p>
						{{#filedownload}}<a class="btn-down" href="{{filedownload}}"><img class="mr10" src="/theme/oklassv3/images/community/icon-down2.png" alt="">{{filename}}</a>{{/filedownload}}
                                                {{#siteadmin}}
                                            <span class="btn-wrp">
                                                <button type="button" onclick="location.href='/local/notice/write.php?id={{id}}&category=1'"><small class="text-gray">{{#str}}edit, local_notice{{/str}}</small></button>
                                                <button type="button" class="split delchkplz"><input type="hidden" class="categoryval" value="1"><input type="hidden" class="indexdelval" value="{{id}}"><small class="text-gray">{{#str}}delete, local_notice{{/str}}</small></button>
                                            </span>
                                            {{/siteadmin}}
					</div>
                                </div>			
                            {{/boardcontents}}
			</div>
			<div class="paging">
				{{{pageset_first}}}
                                {{{pageset_end}}}
                                {{#pageset_j}}
                                {{{pageset}}}
                                {{/pageset_j}}
                                {{{pageset_next_end}}}
                                {{{pageset_next}}}
                                <div class="page-r-wrap">
                                {{#siteadmin}}
                                    <button type="button" class="btn btn-primary" onclick="location.href ='/local/notice/write.php?category=1'">{{#str}}faqwrite, local_notice{{/str}}</button>
                                {{/siteadmin}}
						<select id="faqpage_list" class="inline">
							{{#option}}<option value='{{val}}' {{#is}}selected{{/is}}> {{name}} </option>{{/option}}
						</select>
                                </div>
			</div>
		</div>
	</div>
</div>