

    <div class="inp-form-wp">
        <div  class="inp-tit">
            <p>{{#str}}title, local_notice{{/str}}</p>
        </div>
        <div class="inp-cont">
            <p><input type='text' id='title' class="form-control"></p>
        </div>
    </div>
    <div class="inp-form-wp">
        <div  class="inp-tit">
            <p>{{#str}}content, local_notice{{/str}}</p>
        </div>
        <div class="inp-cont">
            <p><textarea class="form-control" id='content'  style="resize: none; height: 190px;"></textarea></p>
        </div>
    </div>
    <div class="inp-form-wp">
        <div  class="inp-tit hasbtn">
            <p>{{#str}}attachedfile, local_notice{{/str}}</p>
        </div>
        <div class="inp-cont insertfile">
            <label class="btn btn-secondary f-r" for="fbfiles">{{#str}}fileupload, local_notice{{/str}}</label>
            <form action="" method="post" enctype="multipart/form-data">
                <input multiple="multiple" type="file" name="mulfile[]" id="fbfiles" class="none">
            </form>
            <p class="file-txt"></p>
        </div>
    </div>
    <div class="btn-wp btn-right-inline feedback-btm">
        <button class="btn btn-secondary fbcanclebtn">{{#str}}cancel, local_notice{{/str}}</button>
        <button type='submit' class="btn btn-secondary submitbtn mobafeedback">{{#str}}submission, local_notice{{/str}}</button>
    </div>
