
<div class="top-nav">
	<div class="container">
		<nav role="navigation">
                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{config.wwwroot}}">{{#str}}home, local_notice{{/str}}</a></li>
                                    <li class="breadcrumb-item"><a href="/local/notice/feedback.php">{{#str}}feedbacklist, local_notice{{/str}}</a></li>
                    </ol>
                </nav>
	</div>
</div>


<div id="ct" class="introduction">
	<div class="container">
		<h2 class="title">{{#str}}feedbacklist, local_notice{{/str}}</h2>
		<div class="board-wrp">
			<div class="clearfix">
				<div class="pull-right bx-form">
					<div class="select">
						<select id="page_list" class="form-control">
							<option value='' selected disabled>{{#str}}select, local_notice{{/str}}</option>
                                                        <option value='5'> {{#str}}showfive, local_notice{{/str}} </option>
                                                        <option value='10'> {{#str}}showten, local_notice{{/str}} </option>
                                                        <option value='15'> {{#str}}showfifteen, local_notice{{/str}} </option>
                                                        <option value='20'> {{#str}}showtwenty, local_notice{{/str}} </option>
                                                        <option value='30'> {{#str}}showthirty, local_notice{{/str}} </option>
						</select>
					</div>
				</div>
		
				<div class="pull-right bx-form">
					<div class="select">
						<select id="status_list" class="form-control">
<!--							<option value='0'>{{#str}}progressstatus, local_notice{{/str}}</option>
                                                        <option value='1'> {{#str}}completion, local_notice{{/str}} </option>
                                                        <option value='2'> {{#str}}hold, local_notice{{/str}} </option>
                                                        <option value='3'> {{#str}}checking, local_notice{{/str}} </option>
                                                        <option value='4'> {{#str}}ignoring, local_notice{{/str}} </option>
                                                        <option value='5'> {{#str}}unconfirmed, local_notice{{/str}} </option>-->
                                                    {{#fqoption}}<option value='{{val}}' {{#is}}selected{{/is}}> {{name}} </option>{{/fqoption}}
						</select>
					</div>
				</div>
			</div>
                        <div class="table-responsive">
			<table class="tb tb-fixed type4 tb-notice">
				<colgroup>
					<col width="65px"> <!--번호-->
                                        <col width=""> <!--제목-->
                                        <col width="120px"><!--게시일-->
                                        <col width=""><!--작성자-->
					<col width="65px"><!--첨부여부-->
                                        <col width="140px"><!--상태-->
                                        <col width="50px"><!--보류-->
				</colgroup>
				<tbody>
                                    {{#boardcontents}}
					<tr>
						<td class="num fbchkmoba top-nav">{{cnt}}</td>
						<td class="tit" data-target="{{cnt}}">
                                                        <input class="idval" type="hidden" value="{{id}}">
							<strong>{{title}}</strong>
						</td>
                                                <td class="date fbchkmoba top-nav">{{#timeedited}}{{timeedited}}{{/timeedited}}{{^timeedited}}{{timecreated}}{{/timeedited}}</td>
                                                <td class="date fbchkmoba top-nav">{{username}}</td>
						<td>
                                                    {{#filedownload}}<button type="button" class="img" onclick="location.href='{{filedownload}}'"><img src="/theme/oklassv3/images/icon_circle_down.png"></button>{{/filedownload}}
                                                    {{^filedownload}} {{/filedownload}}
                                                </td>
						<td>
                                                    <form>
                                                        <select class="inline fbstatus">
                                                          {{#option}}<option value='{{val}}' {{#is}}selected{{/is}}> {{name}} </option>{{/option}}
                                                        </select>
                                                        <input class="idstatus" type="hidden" value="{{id}}">
                                                    </form>
                                                </td>
                                                <td><input type="checkbox" name="delchk"><input class="idval" type="hidden" value="{{id}}"></td>
					</tr>
                                        <!-- 제목 클릭하면 내용 보일수있게 -->
                                        <tr class="hidden {{cnt}}">
                                            <td colspan="7">
                                                {{{content}}}
                                            </td>
                                        </tr>
                                    {{/boardcontents}}
				</tbody>
			</table>
                        </div>
			<div class="paging">
				{{{pageset_first}}}
                                {{{pageset_end}}}
                                {{#pageset_j}}
                                {{{pageset}}}
                                {{/pageset_j}}
                                {{{pageset_next_end}}}
                                {{{pageset_next}}}
                                <div class="page-r-wrap">
					<button type="button" class="btn btn-primary" id="fbmuldel">{{#str}}delete, local_notice{{/str}}</button>
				</div>
			</div>
		</div>
	</div>
</div>