
<div class="top-nav">
	<div class="container">
		<nav role="navigation">
			<ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{config.wwwroot}}">{{#str}}home, local_notice{{/str}}</a></li>
                <li class="breadcrumb-item"><a href="/local/notice/index.php">{{#str}}notice, local_notice{{/str}}</a></li>
    </ol>
		</nav>
	</div>
</div>

<div id="ct" class="introduction">
    <div class="container">
        <h2 class="title">{{#str}}notice, local_notice{{/str}}</h2>
        <div class="board-wrp">
            <div class="clearfix">
                {{#searchcnt}}
                 <p class="pull-left tit-srch">'{{searchword}}'{{#str}}searchresult, local_notice{{/str}} {{searchcount}}{{#str}}numofthing, local_notice{{/str}}</p>
                {{/searchcnt}}
                <div class="pull-right bx-form">
                    <form class="table-search-option">
                    <div class="bx-input-srch">
                        <input type="text" title="search" name="search" class="form-control" placeholder="{{#str}}entersearch, local_notice{{/str}}">
                        <button type="submit" class="btn-srch">{{#str}}search, local_notice{{/str}}</button>
                    </div>
                    </form>
                </div>
            </div>
            {{^boardcontents}}
                <div class="s-content">
                    <div class="search-data-no">
					<span class="icon"></span>
					<strong>{{#str}}nocontents, local_notice{{/str}}</strong>
					<p>{{#str}}keywordchk, local_notice{{/str}}</p>
                    </div>
		</div>
            {{/boardcontents}}
            <table class="tb tb-fixed type4 tb-notice">
                <colgroup>
                    <col width="65px">
                    <col width="">
                    <col width="65px">
                    <col width="120px">
                </colgroup>
                <tbody>
                 {{#pickupcontents}}
                    <tr class="notice">
                        <td class="num"><i class="fa fa-bullhorn"></i></td>
                        <td class="tit">
                            <a href="view.php?id={{id}}"><strong>{{title}}</strong></a>
                             {{#siteadmin}}
                            <span class="btn-wrp">
                                <button type="button" onclick="location.href='/local/notice/write.php?id={{id}}'"><small class="text-gray">{{#str}}edit, local_notice{{/str}}</small></button>
                                <button type="button" class="split delchkplz"><input type="hidden" class="categoryval" value="0"><input type="hidden" class="indexdelval" value="{{id}}"><small class="text-gray">{{#str}}delete, local_notice{{/str}}</small></button>
                            </span>
                             {{/siteadmin}}
                        </td>
                         {{#filedownload}}
                        <td>
                           <button type="button" class="img" onclick="location.href='{{filedownload}}'"><img src="/theme/oklassv3/images/icon_circle_down.png"></button>
                        </td>
                        {{/filedownload}}
                        {{^filedownload}}
                        <td class=""> </td>
                        {{/filedownload}}
                        <td class="date ">{{#timeedited}}{{timeedited}}{{/timeedited}}{{^timeedited}}{{timecreated}}{{/timeedited}}</td>
                    </tr>
                
                {{/pickupcontents}}
                
                 {{#boardcontents}}
                    <tr>
                        <td class="num">{{cnt}}</td>
                        <td class="tit">
                            <a href="view.php?id={{id}}"><strong>{{title}}</strong></a>
                             {{#siteadmin}}
                            <span class="btn-wrp">
                                <button type="button" onclick="location.href='/local/notice/write.php?id={{id}}'"><small class="text-gray">{{#str}}edit, local_notice{{/str}}</small></button>
                                <button type="button" class="split delchkplz"><input type="hidden" class="indexdelval" value="{{id}}"><small class="text-gray">{{#str}}delete, local_notice{{/str}}</small></button>
                            </span>
                             {{/siteadmin}}
                        </td>
                        <td>
                            {{#filedownload}}<button type="button" class="img" onclick="location.href='{{filedownload}}'"><img src="/theme/oklassv3/images/icon_circle_down.png"></button>{{/filedownload}}
                            {{^filedownload}} {{/filedownload}}
                        </td>
                        <td class="date">{{#timeedited}}{{timeedited}}{{/timeedited}}{{^timeedited}}{{timecreated}}{{/timeedited}}</td>
                    </tr>
                {{/boardcontents}}
                </tbody>
            </table>
            <div class="paging">
               {{{pageset_first}}}
                {{{pageset_end}}}
                {{#pageset_j}}
                {{{pageset}}}
                {{/pageset_j}}
                {{{pageset_next_end}}}
                {{{pageset_next}}}
                <div class="page-r-wrap">
                    <select id="page_list" class="inline">
							{{#option}}<option value='{{val}}' {{#is}}selected{{/is}}> {{name}} </option>{{/option}}
						</select>
                {{#siteadmin}}
                    <button type="button" class="btn btn-primary" onclick="location.href ='/local/notice/write.php'">{{#str}}write, local_notice{{/str}}</button>
                {{/siteadmin}}
                </div>
            </div>
        </div>
    </div>
</div>

