
<!DOCTYPE html>
<html  dir="ltr" lang="ko" xml:lang="ko">
    <head>
        <title>LG Leadership Academy</title>
        <link rel="shortcut icon" href="" />
        <!-- config 파일에서 정의한 css및 js 뿌리는곳 -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/theme/yui_combo.php?rollup/3.17.2/yui-moodlesimple.css" />
        <script type="text/javascript" src='/theme/oklassv3/javascript/common.js'></script>
        <script id="firstthemesheet" type="text/css">/** Required in order to fix style inclusion problems in IE with YUI **/</script>

        <script type="text/javascript">
            function personalinfoclose() {
                if (sessionStorage.getItem("app") == 'Y') {
                    utils.closePopup();
                } else {
                    self.close();
                }
            }
            $(document).ready(function () {
                //탭 이벤트
                $(".tab-area ul li a").click(function () {
                    var txt = $(this).text();
                    $("#pop_head h1").text(txt);//팝업타이틀 변경

                    $(this).parent().addClass("active");
                    $(this).parent().siblings().removeClass("active");

                    var target = $(this).attr("href");
                    $(target).addClass("active");
                    $(target).siblings().removeClass("active");
                    return false;
                });
            });
        </script>
        <link rel="stylesheet" type="text/css" href="/theme/oklassv3/style/all.css" />
        <link rel="stylesheet" type="text/css" href="/theme/oklassv3/style/common.css" />
    </head><body>
        <div class="body_pop">
            <div id="pop_news_wrap">
                <div id="pop_head">
                    <h1>{{#str}}privacyprocess, local_notice{{/str}}</h1> <!-- 2019-10-04 조성원 추가했습니다. -->
                    <p class="pop_close">
                        <a href="javascript:personalinfoclose()">{{#str}}close, local_notice{{/str}}</a> <!-- 2019-10-04 조성원 추가했습니다. -->
                    </p>
                    <p><img src="/theme/oklassv3/images/txt_pop_lgacademy.png" alt="{{#str}}lgihw, local_notice{{/str}}"></p> <!-- 2019-10-04 조성원 추가했습니다. -->
                </div> 
                <div id="pop_content1"> 
                    <div id="contents1"> 

                    </div>
                    <div class="tab-cont-area">
                        {{#boardlist}}
                        <div id="data{{id}}" class="{{class}}">
                            <div class="policy_Wrap" >
                                {{{content}}}
                            </div>    
                        </div>
                        {{/boardlist}}
                        <!--
                                                    <div id="data01" class="active">
                                                        <div class="policy_Wrap" >
                                                            <p class="title_head">
                                                                LG인화원 <span class="red">개인정보처리방침</span>
                                                            </p>
                                                            <p class="title_sub">
                                                                LG 인화원('회사')은 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고
                                                                개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.<br>
                        
                                                                회사는 개인정보처리방침을 개정하는 경우 웹사이트 게시(또는 개별공지)를 통하여 공지할 것입니다.<br><br>
                        
                                                                본 방침은 2011년 11월 1일 제정 되었으며, 2019년 03월 25일 개정/시행 됩니다.    
                                                            </p>
                                                        </div>
                        
                                                        <div class="policy">
                                                            <div class="policy_box">
                                                                <h4>1. 개인정보의 처리 목적</h4>
                                                                <p class="mb5">
                                                                    회사는 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적 이외의 용도로는
                                                                    사용되지 않으며 이용 목적이 변경될 시에는 웹사이트를 통하여 안내할 예정입니다.
                                                                </p>                         
                        
                                                                <h5>교육서비스 제공</h5>
                                                                <ul class="none">
                                                                    <li>교육 콘텐츠 제공, 교육 지원, 교육수료증 발급, 교육이력 관리, 강사료 지급, 강사료에 대한
                                                                        소득세 신고 등 교육서비스 제공에 관한 계약의 이행과 관련한 목적으로 개인정보를 처리합니다.
                                                                    </li>
                                                                </ul>
                        
                                                                <h5>회원 가입 및 관리</h5>
                                                                <ul class="none">
                                                                    <li>회원제 서비스 이용에 따른 개인 식별, 불량회원의 부정이용 방지와 비인가 사용방지,
                                                                        가입의사 확인, 분쟁 조정을 위한 기록 보존, 불만처리 등 민원처리, 고지사항 전달 등을 목적으로
                                                                        개인정보를 처리합니다.
                                                                    </li>
                                                                </ul>
                                                            </div>
                        
                                                            <div class="policy_box">
                                                                <h4>2. 처리하는 개인정보의 항목</h4>
                                                                <p class="mb5">
                                                                    회원가입, 각종 서비스 제공을 위해 처리하는 개인정보의 항목 및 수집 방법은 다음과 같습니다.
                                                                </p>                               
                        
                                                                <h5>강사 개인정보</h5>
                                                                <ul class="none">                        
                                                                    <li>필수 수집 항목
                                                                        <ul class="second">
                                                                            <li>e-mail, 비밀번호, 한글성명, 영문성명, 학력, 생년월일, 성별, 회사명, 직위, 회사전화번호, 이동전화번호, 주소, 계좌정보 </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>선택 수집 항목
                                                                        <ul class="second">
                                                                            <li>한자성명, 직책, 사진, 차량번호, 경력</li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>추가 수집 항목
                                                                        <ul class="second">
                                                                            <li>주민등록번호/외국인등록번호(소득세 신고)</li>
                                                                        </ul>
                                                                    </li>                     
                                                                    <li>수집 방법 : ACC 홈페이지 또는 서면을 통한 수집</li>                                
                                                                </ul>
                        
                                                                <h5>교육생 개인정보</h5>
                                                                <ul class="none">                          
                                                                    <li>필수 수집 항목
                                                                        <ul class="second">
                                                                            <li>e-mail, 비밀번호, 한글성명, 영문성명, 생년월일, 성별, 주소, 회사명, 사업장, 사업장번호, 회사전화번호, 이동전화번호, 직위, 사번, 직무, 관심주제, 중복가입확인정보(DI)
                                                                                <br>
                                                                                ※ 중복가입확인정보(DI)는 웹사이트 내 특정 고객을 확인하기 위한 정보임.
                                                                            </li>            
                                                                        </ul>
                                                                    </li>                     
                        
                        
                        
                                                                    <li>선택 수집 항목
                                                                        <ul class="second">
                                                                            <li>소속부서, 과정수강 결재권자 성명, 과정수강 결재권자 직위, 직무, 과정수강 결재권자 e-mail, 차량번호,  자기소개, 학력, 전문분야, 해쉬태그 </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>추가 수집 항목
                                                                        <ul class="second">
                                                                            <li>주민등록번호/외국인등록번호(신입사원교육 수강 시 단체 상해보험 가입용)</li>
                                                                        </ul>
                                                                    </li>                     
                                                                    <li>수집 방법 : LG 인화원 홈페이지(모바일 포함)</li>                                                         
                                                                </ul>
                                                            </div> 
                        
                                                            <div class="policy_box">
                                                                <h4>3. 개인정보의 처리 및 보유 기간</h4>
                                                                <p class="mb5">
                                                                    이용자 개인정보는 원칙적으로 개인정보의 처리목적이 달성되면 지체 없이 파기합니다.
                                                                    단, 별도 법령으로 규정된 경우에는 해당 법령에서 정한 기간만큼 분리하여 보관합니다. <br>
                                                                    -	별도 법령 <br>
                                                                    &nbsp;&nbsp;&nbsp;가. 강사 주민등록번호(외국인등록번호) : 소득세법에 따라 5년 보관 <br>
                                                                    &nbsp;&nbsp;&nbsp;나. 신입사원교육 교육생 주민등록번호(외국인등록번호) : 상해보험 가입기간 동안 보관
                        
                        
                                                                </p>                               
                        
                                                                <h5>강사 개인정보</h5>
                                                                <ul class="none">
                                                                    <li>필수 수집 항목
                                                                        <ul class="second">
                                                                            <li>e-mail, 비밀번호, 한글성명, 영문성명, 학력, 경력, 생년월일, 성별, 회사명, 직위, 회사전화번호, 이동전화번호, 주소</li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>선택 수집 항목
                                                                        <ul class="second">
                                                                            <li>한자성명, 직책, 사진, 차량번호, 경력</li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>추가 수집 항목
                                                                        <ul class="second">
                                                                            <li>주민등록번호/외국인등록번호</li>
                                                                        </ul>
                                                                    </li>                       
                                                                    <li>보유목적 : 강사지원서비스 제공(강사료 지급 및 강사료 소득세 신고, 강의이력 관리 등)</li>                                
                                                                    <li>보유기간 : 회원탈퇴시 까지</li>                                
                                                                </ul>
                        
                                                                <h5>교육생 개인정보</h5>
                                                                <ul class="none">
                                                                    <li>필수 수집 항목
                                                                        <ul class="second"> 
                                                                            <li>e-mail, 비밀번호, 한글성명, 영문성명, 생년월일, 성별, 주소, 회사명, 사업장, 사업장번호, 회사전화번호, 이동전화번호, 직위, 사번, 직무, 관심주제, 중복가입확인정보(DI) </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>선택 수집 항목
                                                                        <ul class="second">
                                                                            <li>소속부서, 과정수강 결재권자 성명, 과정수강 결재권자 직위,과정수강 결재권자 e-mail,자기소개, 차량번호, 학력,  관심주제, 해쉬태그 </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>추가 수집 항목
                                                                        <ul class="second">
                                                                            <li>주민등록번호/외국인등록번호(신입사원교육 수강 시 단체 상해보험 가입용)</li>
                                                                        </ul>
                                                                    </li>                     
                                                                    <li>보유목적 : 교육서비스 제공(교육콘텐츠제공, 교육 수료증 발급, 교육이력 관리 등)</li>                                
                                                                    <li>보유기간 : 회원탈퇴시 까지</li>                                
                                                                </ul>
                                                            </div> 
                        
                                                            <div class="policy_box">
                                                                <h4>4. 개인정보의 위탁</h4>
                                                                <p class="mb5">
                                                                    회사는 원칙적으로 이용자의 개인정보를 "1. 개인정보의 처리 목적"에서 명시한 범위 내에서 처리하며,
                                                                    이용자의 사전 동의 없이는 본래의 범위를 초과하여 처리하거나 위탁하지 않습니다.
                                                                    단, 다음의 경우에는 개인정보를 위탁할 수 있습니다. <br><br>
                                                                    회사는 다음과 같은 기관 및 자에게 개인정보를 위탁하고 있으며 위탁 목적 및 범위는 다음과 같습니다.                             
                                                                </p>
                        
                                                                <ul class="first">
                                                                    <li>제휴 CP업체(케이지에듀원, 휴넷, 멀티캠퍼스, 메가넥스트, 와이비엠넷, 엘지씨엔에스)
                                                                        <ul class="second">
                                                                            <li>위탁 목적 : 교육 Contents 제공</li>
                                                                            <li>위탁 항목 : 성명, 회사명, 직위, 이동전화번호, 주소, e-mail</li>                                
                                                                            <li>보유 및 이용기간 : 해당 교육과정 종료시까지</li>
                                                                        </ul>
                                                                    </li>                                                                                          
                                                                </ul>
                                                            </div>                                                
                        
                                                            <div class="policy_box">
                                                                <h4>5. 개인정보처리 위탁</h4>
                                                                <p class="mb5">
                                                                    회사는 보다 나은 서비스 제공과 이용자 편의 제공 등 업무 수행을 원활하게 하기 위하여 외부 전문업체에
                                                                    이용자의 개인정보에 대한 수집, 보관, 처리, 이용, 제공, 관리, 파기 등(이하 "취급")을 위탁할 수 있습니다.<br><br>
                                                                    회사가 외부 전문업체에 이용자의 개인정보를 취급 위탁하는 경우 그 위탁업무의 내용, 수탁자는 다음 표와 같습니다.                            
                                                                </p>
                        
                                                                <ul class="first mb20">
                                                                    <li>LG CNS, 인포젠
                                                                        <ul class="second">
                                                                            <li>위탁업무내용 : 시스템 운영/관리</li>                              
                                                                            <li>보유 및 이용기간 : 위탁계약 종료 시까지</li>
                                                                        </ul>
                                                                    </li> 
                                                                    <li>대연전자정보
                                                                        <ul class="second">
                                                                            <li>위탁업무내용 : OA기기 유지/관리</li>                              
                                                                            <li>보유 및 이용기간 : 위탁계약 종료 시까지</li>
                                                                        </ul>
                                                                    </li>   
                                                                    <li>NICE 평가정보
                                                                        <ul class="second">
                                                                            <li>위탁업무내용 : 본인 확인이 필요한 서비스 이용 시 본인 확인</li>                              
                                                                            <li>보유 및 이용기간 : 위탁계약 종료 시까지</li>
                                                                        </ul>
                                                                    </li> 
                                                                </ul>
                        
                                                                <p class="mb5">
                                                                    회사는 개인정보 취급 위탁의 경우 계약 등을 통하여 법 상 개인정보 보호규정의 준수, 개인정보에 관한
                                                                    비밀유지, 제3자 제공 금지 및 사고 발생 시의 책임부담, 위탁기간, 개인정보의 반환 및 파기 등을 명확히
                                                                    규정하고 당해 계약 내용을 서면 또는 전자적으로 보관합니다.<br><br>
                                                                    회사는 이용자에게 고지 없이 서비스 제공 이외의 목적으로 개인정보를 취급 위탁하지 않는 것을 원칙으로 합니다.
                                                                    다만, 그러한 필요가 생기는 경우 위탁업무의 내용과 수탁자를 이용자에게 고지하겠습니다.                            
                                                                </p>                            
                                                            </div>
                        
                                                            <div class="policy_box">
                                                                <h4>6. 개인정보의 제3자 제공</h4>
                                                                <p class="mb5">
                                                                    회사는 원칙적으로 이용자의 개인정보를 "1. 개인정보의 처리 목적"에서 명시한 범위 내에서 처리하며,
                                                                    이용자의 사전 동의 없이는 본래의 범위를 초과하여 제3자에게 제공하지 않습니다.
                                                                    단, 다음의 경우에는 개인정보를 제3자에게 제공할 수 있습니다. <br><br>
                                                                    회사는 다음과 같은 기관 및 자에게 개인정보를 제공하고 있으며 제공 목적 및 범위는 다음과 같습니다.                             
                                                                </p>
                        
                                                                <ul class="first">
                                                                    <li>KB손해보험
                                                                        <ul class="second">
                                                                            <li>제공 목적 : 신입사원교육 수강 시 단체 상해보험 가입</li>
                                                                            <li>제공 항목 : 성명, 이동전화번호, 주민등록번호/외국인등록번호</li>                                
                                                                            <li>보유 및 이용기간 : 해당 교육과정 종료 시까지</li>
                                                                        </ul>
                                                                    </li>                                                                                          
                                                                </ul>
                                                            </div>       
                        
                                                            <div class="policy_box">
                                                                <h4>7. 정보주체와 법정대리인의 권리·의무 및 행사방법</h4>
                                                                <p class="mb5">
                                                                    이용자는 개인정보주체로서 다음과 같은 권리를 행사할 수 있습니다.
                                                                </p>                         
                                                                <ul class="first">
                                                                    <li>자신의 개인정보 조회, 수정 및 가입 해지의 요청</li>
                                                                    <li>개인정보의 오류에 대한 정정 및 삭제의 요청</li>
                                                                    <li>개인정보의 조회, 수정 및 해지, 삭제 등의 요청은 '개인정보변경'/'회원정보수정' 및
                                                                        '가입해지'/'회원탈퇴'/'동의철회' 등을 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정,
                                                                        혹은 탈퇴가 가능합니다.
                                                                    </li>
                                                                    <li>이용자가 개인정보의 오류에 대한 정정 및 삭제를 요청한 경우에는 정정 및 삭제를 완료할 때까지
                                                                        당해 개인정보를 이용 또는 제공하지 않습니다.
                                                                        이 경우, 잘못된 개인정보를 이용 또는 제공한 경우 지체 없이 수정하겠습니다.
                                                                    </li>
                                                                    <li>
                                                                        회사는 이용자의 요청에 의해 해지 또는 삭제되는 개인정보는 '3. 개인정보의 처리 및 보유 기간'에 
                                                                        따라 처리합니다.<br>
                                                                        ※ 인화원은 만 14세 미만의 이용자 정보를 수집하지 않습니다.
                                                                    </li>
                        
                        
                        
                                                                </ul>
                                                            </div>   
                        
                                                            <div class="policy_box">
                                                                <h4>8. 개인정보의 파기</h4>
                                                                <p class="mb5">
                                                                    회사는 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체 없이 해당 개인정보를 파기합니다.
                                                                    파기절차, 기한 및 방법은 다음과 같습니다.
                                                                </p>             
                                                                <h5>파기절차</h5>
                                                                <ul class="none">
                                                                    <li>
                                                                        이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및
                                                                        기타 관련 법령에 따라 10년 동안 저장된 후 파기됩니다. 이 때, DB로 옮겨진 개인정보는
                                                                        정보주체의 동의 및 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.    
                                                                    </li>
                                                                </ul>
                        
                                                                <h5>파기기한</h5>
                                                                <ul class="none">
                                                                    <li>이용자의 개인정보는 개인정보의 보유기간이 경과된 경우 보유기간의 종료일로부터 5일 이내에,
                                                                        개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을
                                                                        때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.<br><br>          
                                                                    </li>
                                                                </ul>
                        
                                                                <h5>이용하지 않은 회원의 개인정보 파기(개인정보 유효기간제)</h5>
                                                                <ul class="none">
                                                                    <li>
                                                                        회사는 “정보통신망 이용촉진 및 정보 보호 등에 관한 법률” 제 29조에 근거하여 이용자의
                                                                        개인정보 보호를 위해서 1년 간 서비스 이용 기록이 없는 회원의 경우 사전 통지 후 다른 회원의
                                                                        개인정보와 분리하여 저장/관리합니다. 단, 다른 법령에서 별도의 기간을 정하고 있거나 이용자의
                                                                        요청에 의한 기간 동안은 이용자의 개인정보를 보관합니다.<br><br> 
                        
                                                                        종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br>
                                                                        전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다. 
                                                                    </li>
                                                                </ul>
                                                            </div> 
                        
                                                            <div class="policy_box">
                                                                <h4>9. 개인정보의 안전성 확보 조치</h4>
                                                                <p class="mb5">
                                                                    회사는 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를
                                                                    하고 있습니다.
                                                                </p>  
                        
                                                                <h5>개인정보 취급 직원의 최소화 및 교육</h5>
                                                                <ul class="none">
                                                                    <li>개인정보를 취급하는 직원을 지정하고 담당자를 최소화 하여 개인정보를 관리하고, 개인정보를 취급
                                                                        하는 직원은 정기적(년 1회 이상)으로 개인정보보호법에서 정한 교육을 진행하고 있습니다
                                                                    </li>  
                                                                </ul>
                                                                <h5>정기적인 자체 감사 실시</h5>
                                                                <ul class="none">
                                                                    <li>개인정보 취급 관련 안정성 확보를 위해 정기적(년 1회 이상)으로 자체 감사를 실시하고 있습니다.
                                                                    </li>  
                                                                </ul>
                                                                <h5>내부관리계획의 수립 및 시행</h5>
                                                                <ul class="none">
                                                                    <li>개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.
                                                                    </li>  
                                                                </ul>
                                                                <h5>개인정보의 암호화</h5>
                                                                <ul class="none">
                                                                    <li>이용자의 개인정보는 암호화 되어 저장 및 관리되고 있어 본인만이 알 수 있으며, 중요한 데이터는
                                                                        파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.
                                                                    </li>  
                                                                </ul>
                                                                <h5>해킹 등에 대비한 기술적 대책</h5>
                                                                <ul class="none">
                                                                    <li>회사는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을
                                                                        설치하고 주기적인 갱신/점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고
                                                                        기술적/물리적으로 감시 및 차단하고 있습니다.
                                                                    </li>  
                                                                </ul>
                                                                <h5>개인정보에 대한 접근 제한</h5>
                                                                <ul class="none">
                                                                    <li>개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여, 변경, 말소를 통하여
                                                                        개인정보 접근통제에 필요한 조치를 하고 있으며, 침입차단시스템을 이용하여 외부로부터의 무단
                                                                        접근을 통제하고 있습니다.
                                                                    </li>  
                                                                </ul>
                                                                <h5>접속기록의 보관 및 위변조 방지</h5>
                                                                <ul class="none">
                                                                    <li>개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며,
                                                                        접속 기록이 위변조 및 도난, 분실되지 않도록 보안기능을 사용하고 있습니다.
                                                                    </li>  
                                                                </ul>
                                                            </div>     
                        
                        
                                                            <div class="policy_box">
                                                                <h4>10. 개인정보 자동 수집의 목적 및 거부에 관한 사항</h4>
                                                                <p class="mb5">
                                                                    회사는 개인화되고 맞춤화된 서비스를 제공하기 위해서 이용자의 정보를 저장하고 수시로 불러오는 
                                                                    '쿠키(cookie)'를 사용합니다.
                                                                    <br>   <br>   
                                                                    쿠키는 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에게 보내는 아주 작은 텍스트 파일로  
                                                                    이용자 컴퓨터의 하드디스크에 저장됩니다. 이후 이용자가 웹 사이트에 방문할 경우 웹 사이트 서버는  
                                                                    이용자의 하드 디스크에 저장되어 있는 쿠키의 내용을 읽어 이용자의 환경설정을 유지하고 맞춤화된  
                                                                    서비스를 제공하기 위해 이용됩니다.
                                                                    <br>   <br>  
                                                                    쿠키는 개인을 식별하는 정보를 자동적/능동적으로 수집하지 않으며, 이용자는 언제든지 이러한 쿠키의  
                                                                    저장을 거부하거나 삭제할 수 있습니다.
                        
                                                                </p>  
                        
                                                                <h5>회사의 쿠키 사용 목적</h5>
                                                                <ul class="none">
                                                                    <li>이용자들이 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부 
                                                                        및 이용자 규모 등을 파악하여 이용자에게 최적화된 맞춤형 정보를 제공하기 위해 사용합니다.
                                                                    </li>  
                                                                </ul>
                                                                <h5>쿠키의 설치/운영 및 거부</h5>
                                                                <ul class="none">
                        
                                                                    <li>이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.
                                                                        <br>   <br>  
                                                                        다만, 쿠키의 저장을 거부할 경우에는 로그인이 필요한 일부 서비스는 이용에 어려움이 있을 수 있습니다.
                                                                        <br>   <br>  
                                                                        - 쿠키 설치 허용 여부를 지정하는 방법(Internet Explorer의 경우)은 다음과 같습니다.<br> 
                                                                        ① [도구] 메뉴에서 [인터넷 옵션]을 선택합니다.<br>   
                                                                        ② [개인정보 탭]을 클릭합니다.<br>  
                                                                        ③ [개인정보취급 수준]을 설정하시면 됩니다.
                        
                                                                    </li>  
                                                                </ul>
                        
                                                            </div>     
                        
                        
                        
                        
                        
                                                            <div class="policy_box">
                                                                <h4>11. 개인정보보호 책임자</h4>
                                                                <p class="mb5">
                                                                    회사는 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인정보
                                                                    보호책임자 및 실무담당자를 지정하고 있습니다.
                                                                </p>
                        
                                                                <dl class="mb10">
                                                                    <dt>개인정보보호책임자</dt>
                                                                    <dd>
                                                                        <ul class="second">
                                                                            <li>보호책임자 부서 : 경영지원팀</li>
                                                                            <li>이름 : 김형주</li>
                                                                            <li>전화번호 : 031-630-6114</li>
                                                                            <li>이메일 : webmaster@lgacademy.com</li>
                                                                        </ul>
                                                                    </dd>
                                                                </dl>
                        
                                                                <dl>
                                                                    <dt>개인정보보호담당 부서</dt>
                                                                    <dd>
                                                                        <ul class="second">
                                                                            <li>개인정보보호담당자 부서 : 경영지원팀</li>
                                                                            <li>이름 : 이영민</li>
                                                                            <li>전화번호 : 031-630-6242</li>
                                                                            <li>이메일 : ymlee@lgacademy.com</li>
                                                                        </ul>
                                                                    </dd>
                                                                </dl>
                                                            </div> 
                        
                                                            <div class="policy_box">
                                                                <h4>12. 개인정보 처리방침의 변경</h4>                                                                           
                                                                <p class="mb20">
                                                                    이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및
                                                                    정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.
                                                                </p>
                                                            </div>
                        
                                                            <div class="policy_box mz_b_10">                                                   
                                                                <h4>13. 권익침해 구제방법</h4>                                                                           
                                                                <p class="mb20">
                                                                    개인정보주체는 개인정보침해로 인한 피해를 구제 받기 위하여 아래의 기관에 신고 및 상담을 하실 수 있습니다.
                                                                </p>
                                                                <p class="mb5">
                                                                </p>
                                                                <li>1. 개인정보 분쟁조정위원회 : 1833-6972</li>
                                                                <li>2. 개인정보 침해신고센터 : (국번없이) 118</li>
                                                                <li>3. 대검찰청 사이버수사과 : (국번없이) 1301</li>
                                                                <li>4. 경찰청 사이버안전국 : (국번없이) 182</li>                    
                                                                <p></p>
                        
                                                            </div>                                              
                                                            <div class="policy_box mz_b_10">  
                                                                <ul>
                                                                    <li><a href="#" onclick="fnPreGo()">ο 이전 개인정보처리방침 보기 (2011년 11월 1일 - 2014년 3월 9일 적용)</a></li>
                                                                    <li><a href="#" onclick="fnNextGo()">ο 이전 개인정보처리방침 보기 (2014년 3월 10일 - 2014년 7월 29일 적용)</a></li>
                                                                    <li><a href="#" onclick="fnNextGo2()">ο 이전 개인정보처리방침 보기 (2014년 7월 30일 - 2016년 3월 3일 적용)</a></li>
                                                                    <li><a href="#" onclick="fnNextGo3()">ο 이전 개인정보처리방침 보기 (2016년 3월 4일 - 2016년 4월 14일 적용)</a></li>
                                                                    <li><a href="#" onclick="fnNextGo4()">ο 이전 개인정보처리방침 보기 (2016년 4월 15일 - 2016년 7월 4일 적용)</a></li>
                                                                    <li><a href="#" onclick="fnNextGo5()">ο 이전 개인정보처리방침 보기 (2016년 7월 5일 - 2016년 8월 18일 적용)</a></li>
                                                                    <li><a href="#" onclick="fnNextGo6()">ο 이전 개인정보처리방침 보기 (2016년 8월 19일 - 2017년 4월 16일 적용)</a></li>
                                                                    <li><a href="#" onclick="fnNextGo7()">ο 이전 개인정보처리방침 보기 (2017년 4월 17일 - 2017년 7월 1일 적용)</a></li>
                                                                    <li><a href="#" onclick="fnNextGo8()">ο 이전 개인정보처리방침 보기 (2017년 7월 1일 - 2017년 10월 17일 적용)</a></li>
                                                                    <li><a href="#" onclick="fnNextGo9()">ο 이전 개인정보처리방침 보기 (2017년 10월 18일 - 2018년 2월 18일 적용)</a></li>
                                                                    <li><a href="#" onclick="fnNextGo11()">ο 이전 개인정보처리방침 보기 (2018년 2월 19일 - 2018년 3월 22일 적용)</a></li>
                                                                    <li><a href="#" onclick="fnNextGo12()">ο 이전 개인정보처리방침 보기 (2018년 3월 23일 - 2019년 1월 7일 적용)</a></li>
                                                                    <li><a href="#" onclick="fnNextGo12()">ο 이전 개인정보처리방침 보기 (2018년 1월 8일 - 2019년 3월 24일 적용)</a></li>
                                                                </ul>
                                                            </div>  
                        
                        
                                                        </div>   
                                                    </div>
                                                    <div id="data02">
                                                        <div class="policy_Wrap" >
                                                            DLP이용약관2
                                                        </div>
                                                    </div>
                                                    <div id="data03">
                                                        <div class="policy_Wrap" >
                                                            DLP이용약관3
                                                        </div>
                                                    </div>
                                                    <div id="data04">
                                                        <div class="policy_Wrap" >
                                                            DLP이용약관4
                                                        </div>
                                                    </div>
                        -->
                    </div>
                    <div class="tab-area">
                        <ul>
                            {{#boardlist}}

                            <li class="{{class}}"><a href="#data{{id}}">{{title}}</a></li>
                            {{/boardlist}}
                        </ul>
                    </div>
                </div>

                <div id="pop_footer">
                    <p class="pop_close">
                        {{#prelogin}}
                        <a href="/login/index.php"><img src="/theme/oklassv3/images/btn_pop_close.png" title="{{#str}}close, local_notice{{/str}}"></a> <!-- 2019-10-04 조성원 추가했습니다. -->
                        {{/prelogin}}   
                        {{^prelogin}}
                        <a href="javascript:personalinfoclose()"><img src="/theme/oklassv3/images/btn_pop_close.png" title="{{#str}}close, local_notice{{/str}}"></a> <!-- 2019-10-04 조성원 추가했습니다. -->
                        {{/prelogin}}    
                    </p>
                </div>

                <!-- //contents -->
            </div>
        </div>
    </body>
