
<div class="top-nav">
	<div class="container">
		<nav role="navigation">
			<ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{config.wwwroot}}">{{#str}}home, local_notice{{/str}}</a></li>
                <li class="breadcrumb-item"><a href="/local/notice/index.php">{{#str}}notice, local_notice{{/str}}</a></li>
    </ol>
		</nav>
	</div>
</div>
<div id="ct" class="introduction">
<div class="container">
		<h2 class="title">{{#str}}notice, local_notice{{/str}}</h2>
		<div class="board-wrp">
			<div class="board-detail-title">
				<h3>{{contents.title}}</h3>
				<div class="clearfix pl20 pr20 pl10-xs pr10-xs">
					<dl class="lst-inline pull-left">
						<dt>{{#str}}createddate, local_notice{{/str}}</dt>
						<dd class="ml5 text-gray">{{#contents.timeedited}}{{contents.timeedited}}{{/contents.timeedited}}{{^contents.timeedited}}{{contents.timecreated}}{{/contents.timeedited}}</dd>
						<dd class="split"></dd>
						<dt>{{#str}}view, local_notice{{/str}}</dt>
						<dd class="ml5 text-gray">{{contents.view_count}}</dd>
					</dl>
<!--					<div class="pull-right">
						<button type="button" class="icon-act" title="{{#str}}getit, local_notice{{/str}}">{{#str}}getit, local_notice{{/str}}</button>
						<i class="split"></i>
						<button type="button" class="icon-act-share" title="{{#str}}shear, local_notice{{/str}}">{{#str}}share, local_notice{{/str}}</button>
					</div>-->
				</div>
			</div>
			<div class="board-detail-content">
				{{{contents.content}}}
				{{#file_download}}
                                <a class="btn-down" href="{{path}}"><img class="mr10" src="/theme/oklassv3/images/community/icon-down2.png" alt="">{{text}}</a>
                                {{/file_download}}
			</div>
			<div class="board-detail-btn clearfix">
				<div class="pull-left">
					<a class="btn btn-border" href="/local/notice/index.php"><img class="mr5" src="/theme/oklassv3/images/icon/ico-btn-list.png" alt="">{{#str}}list, local_notice{{/str}}</a>
					<span>
                                            {{#page}}
                                            {{#before}}
						<a class="btn btn-border" href="/local/notice/view.php?id={{id}}">{{#str}}previous, local_notice{{/str}}</a>
                                            {{/before}}
                                            {{#after}}
						<a class="btn btn-border" href="/local/notice/view.php?id={{id}}">{{#str}}next, local_notice{{/str}}</a>
                                            {{/after}}
                                            {{/page}}
					</span>
				</div>
				<div class="pull-right">
                                    {{#siteadmin}}
					<button type="button" class="btn btn-primary" onclick="location.href='/local/notice/write.php?id={{contents.id}}'">{{#str}}edit, local_notice{{/str}}</button>
                                        <button type="button" class="btn bg-dark delchkplz"><input type="hidden" class="indexdelval" value="{{contents.id}}">{{#str}}delete, local_notice{{/str}}</button>
                                    {{/siteadmin}}
                                </div>
			</div>
		</div>
	</div>
</div>