<link rel="stylesheet" href="assets/css/style.css">

<style>
    .width380 {
        width: 375px;
    }

    .width338 {
        width: 350px;
    }
</style>

<div class="wrapper flex scale-cv" style="display:flex;max-width: 960px;margin: auto;" id="capture">
    <div class="sidebar" style="display: flex;background-color: rgb(255, 238, 221);">


        <!-- CỘT TRÁI -->

        <div>
            <div class="column_left"
                 style="font-family: sans-serif;width: 320px;">
                <div class="wrapper flex">
                    <div class="sidebar">


                        <div class="avatar"
                             style="height: 230px;width: 230px;background: red:-moz-border-radius: 25px;-webkit-border-radius: 25px;--border-radius: 25px;border-radius: 25px;margin: 3px auto;border: 4px solid #ffffff">
                            <img src="" alt=""
                                 style="width: 100%; height: 100%; border-radius: 10%;" id="userImage">
                        </div><!-- .avatar -->


                        <!-- HÀNG1 -->


                        <div class="h1-colume2" style="display: flex;margin: 32px 24px 0px 40px;">
                            <div style="background-color: #000000;height: 0px;width: 0px;">

                            </div>
                            <h1 style="margin: 0;padding: 15px 0px 20px 10px;color: rgb(101, 123, 139);font-size: 24px;">
                                ABOUT ME</h1>
                        </div>
                        <div class="line" style="background-color: rgb(101, 123, 139);height: 1px;"></div>


                        <ul style="list-style:none; display: flex;">
                            <li class="flex" style="    font-size: 21px;
                              font-weight: 700;
                              color: #ffffff;">

                            </li>
                        </ul>

                        <div style="list-style: none;
                            color: rgb(101, 123, 139);
                            font-size: 16px;
                            margin: 10px 30px 0;
                            line-height: 1.5;">

                            <li style="    list-style: none;
                            font-size: 20px;
                            color: rgb(101, 123, 139);
                            margin-top: 30px;
                            margin-left: 0px;
                            font-weight: 700;">Phone
                            </li>
                            <li style="display: flex; font-size: 18px; word-break: break-all" id="phone"></li>

                            <li style="    list-style: none;
                            font-size: 20px;
                            color: rgb(101, 123, 139);
                            margin-top: 30px;
                            margin-left: 0px;
                            font-weight: 700;">Date of birth
                            </li>
                            <li style="display: flex; font-size: 18px;" id="dateOfBirth"></li>

                            <li style="    list-style: none;
                            font-size: 20px;
                            color: rgb(101, 123, 139);
                            margin-top: 30px;
                            margin-left: 0px;
                            font-weight: 700;">Email
                            </li>
                            <li style="display: flex; font-size: 18px; word-break: break-all;" id="email2"></li>

                            <li style="    list-style: none;
                            font-size: 20px;
                            color: rgb(101, 123, 139);
                            margin-top: 30px;
                            margin-left: 0px;
                            font-weight: 700;">Address
                            </li>
                            <li style="display: flex; font-size: 18px;" id="address"></li>

                        </div>


                    </div><!-- End .module #1 -->


                    <!-- HÀNG2 -->

                    <div class="h1-colume2" style="display: flex;margin: 32px 24px 0px 40px;">
                        <div style="background-color: #000000;height: 0px;width: 0px;">

                        </div>
                        <h1 style="margin: 0;padding: 15px 0px 20px 10px;color: rgb(101, 123, 139);font-size: 24px;">
                            SALARY</h1>
                    </div>

                    <div class="line" style="background-color: rgb(101, 123, 139);height: 1px;"></div>

                    <li style="    list-style: none;
                                                      font-size: 20px;
                                                      color: rgb(101, 123, 139);
                                                      margin: 10px 30px 0;
                                                      font-weight: 500;" id="hopeSalary"></li>

                    <div class="h1-colume2" style="display: flex;margin: 32px 24px 0px 40px;">
                        <div style="background-color: #000000;height: 0px;width: 0px;">

                        </div>
                        <h1 style="margin: 0;padding: 15px 0px 20px 10px;color: rgb(101, 123, 139);font-size: 24px;">
                            INFORMATION</h1>
                    </div>

                    <div class="line" style="background-color: rgb(101, 123, 139);height: 1px;"></div>


                    <div style="list-style: none;
                            color: rgb(101, 123, 139);
                            font-size: 16px;
                            margin-left: 30px;
                            margin-top: 10px;
                            line-height: 1.5;">

                        <li style="    list-style: none;
                        font-size: 20px;
                        color: rgb(101, 123, 139);
                       margin-top: 5px;
                        margin-left: 0px;
                        font-weight: 700;">Final Education
                        </li>

                        <li style="    list-style: none;
                        font-size: 18px;
                        color: rgb(101, 123, 139);
                        margin-bottom: 30px;
                        margin-left: 0px;
                        font-weight: 500;" id="finalEducation">
                        </li>

                        <li style="    list-style: none;
                        font-size: 20px;
                        color: rgb(101, 123, 139);
                       margin-top: 5px;
                        margin-left: 0px;
                        font-weight: 700;">Experience
                        </li>

                        <li style="    list-style: none;
                        font-size: 18px;
                        color: rgb(101, 123, 139);
                        margin-bottom: 30px;
                        margin-left: 0px;
                        font-weight: 500;" id="experienceWork">
                        </li>

                        <li style="    list-style: none;
                        font-size: 20px;
                        color: rgb(101, 123, 139);
                       margin-top: 5px;
                        margin-left: 0px;
                        font-weight: 700;">Skill groups
                        </li>

                        <li style="    list-style: none;
                        font-size: 18px;
                        color: rgb(101, 123, 139);
                        margin-bottom: 30px;
                        margin-left: 0px;
                        font-weight: 500;" id="skillGroups">
                        </li>

                        <li style="    list-style: none;
                        font-size: 20px;
                        color: rgb(101, 123, 139);
                       margin-top: 5px;
                        margin-left: 0px;
                        font-weight: 700;">Skills
                        </li>

                        <li style="    list-style: none;
                        font-size: 18px;
                        color: rgb(101, 123, 139);
                        margin-bottom: 30px;
                        margin-left: 0px;
                        font-weight: 500;" id="skills">
                        </li>

                        <li style="    list-style: none;
                        font-size: 20px;
                        color: rgb(101, 123, 139);
                       margin-top: 5px;
                        margin-left: 0px;
                        font-weight: 700;">Workplaces
                        </li>

                        <li style="    list-style: none;
                        font-size: 18px;
                        color: rgb(101, 123, 139);
                        margin-bottom: 30px;
                        margin-left: 0px;
                        font-weight: 500;" id="workplaces">
                        </li>

                        <li style="    list-style: none;
                        font-size: 20px;
                        color: rgb(101, 123, 139);
                       margin-top: 5px;
                        margin-left: 0px;
                        font-weight: 700;">Korean Language Level
                        </li>

                        <li style="    list-style: none;
                        font-size: 18px;
                        color: rgb(101, 123, 139);
                        margin-bottom: 30px;
                        margin-left: 0px;
                        font-weight: 500;" id="koreanLanguageLevel">
                        </li>

                    </div>
                </div><!-- End .sidebar -->


            </div>
        </div><!-- End .module #2 -->


    </div>

    <!-- PHẢI -->

    <div class="column_right" style="font-family: sans-serif;background-color: rgb(101, 123, 139);
			width: 640px;">


        <!-- HÀNG1 -->
        <div class="h1-colume2" style="display: flex;margin: 32px 24px 0px 20px;">
            <div style="background-color: #000000;height: 0px;width: 0px;">

            </div>
            <h1 style="margin: 0;padding: 6px 0px 0px 24px;color: rgb(255, 238, 221);"><i id="name"></i></h1>
        </div>


        <ul style="list-style:none; display: flex;">
            <li class="flex" style="    font-size: 21px;
						  font-weight: 700;
						  color: #202020;">

            </li>
        </ul>
        <li style="    list-style: none;
						  font-size: 30px;
						  color: rgb(255, 238, 221);
						  margin-left: 70px;
						  font-weight: 500;" id="employment"></li>


        <!-- HÀNG2 -->


        <div class="h1-colume2" style="display: flex;margin: 40px 24px 0px 20px;">
            <div style="background-color: #000000;height: 0px;width: 0px;">
                <div class="line" style="background-color: #581b0f;height: 1px;"></div>

            </div>

        </div>
        <div class="" style="width: 100px: 30px;margin: 40px; background-color: rgb(255, 238, 221) ;">
            <h1 style="margin: 0;padding: 15px 0px 10px 24px;color: rgb(101, 123, 139);font-size: 24px;">EDUCATION</h1>
        </div>

        <div id="education-preview">
            <div class="education-area">

            </div>
        </div>

        <template id="education-field">
            <div id="_idx">
                <div class="row" style="list-style: none; margin: 30px 42px 0; justify-content: space-between;">
                    <li class="flex width380" style="    font-size: 22px;
			  font-weight: 400;line-height: 1.4em;letter-spacing: 0em;
			  color: rgb(255, 238, 221);">

                        <div><i><u id="educationName"></u></i></div>
                    </li>
                    <li class="flex width176" style="    font-size: 20px;
			  color: rgb(255, 238, 221);
			  margin-top: 3px;">

                        <div id="educationFromTo"></div>
                    </li>
                </div>

                <div style="list-style: none;
			  color: rgb(255, 238, 221);
			  font-size: 17px;
			  margin: 0 42px 30px;
			  line-height: 1.5; justify-content: space-between;" class="row">
                    <li style="display: flex; font-size: 20px;" class="width380" id="educationMajor"></li>
                    <li style="display: flex; font-size: 20px;" class="width176" id="educationAttend"></li>
                </div>
            </div>
        </template>

        <div class="h1-colume2" style="display: flex;margin: 40px 24px 0px 20px;">
            <div style="background-color: #000000;height: 0px;width: 0px;">
                <div class="line" style="background-color: #581b0f;height: 1px;"></div>

            </div>

        </div>
        <div class="" style="width: 100px: 30px;margin: 40px; background-color: rgb(255, 238, 221) ;">
            <h1 style="margin: 0;padding: 15px 0px 10px 24px;color: rgb(101, 123, 139);font-size: 24px;">WORK
                EXPERIENCE</h1>
        </div>

        <div id="experience-preview">
            <div class="experience-area">

            </div>
        </div>

        <template id="experience-field">
            <div id="_idx">
                <div class="row" style="list-style: none; margin: 30px 42px 0; justify-content: space-between;">
                    <li class="flex width380" style="    font-size: 22px;
			  font-weight: 400;line-height: 1.4em;letter-spacing: 0em;
			  color: rgb(255, 238, 221);">

                        <div><i><u id="experienceName"></u></i></div>
                    </li>
                    <li class="flex width176" style="    font-size: 20px;
			  color: rgb(255, 238, 221);
			  margin-top: 3px;">

                        <div id="experienceFromTo"></div>
                    </li>
                </div>

                <div style="list-style: none;
			  color: rgb(255, 238, 221);
			  font-size: 17px;
			  margin: 0 42px 10px;
			  line-height: 1.5; justify-content: space-between;" class="row">
                    <li style="display: flex; font-size: 20px;" class="width380" id="experienceMajor"></li>
                    <li style="display: flex; font-size: 20px;" class="width176" id="experienceAttend"></li>
                </div>

                <div class="row" style="list-style: none; margin: 10px 42px 0 84px;">
                    <li class="flex" style="    font-size: 20px;
			  font-weight: 400;line-height: 1.4em;letter-spacing: 0em;
			  color: rgb(255, 238, 221);">
                        <div>Achievements:</div>
                    </li>
                </div>

                <div class="sub-experience-area"></div>
            </div>
        </template>

        <template id="sub-experience-field">
            <div id="_subidx">
                <div style="list-style: none;
			  color: rgb(255, 238, 221);
			  font-size: 17px;
			  margin: 15px 42px 5px 84px;
			  line-height: 1.5; justify-content: space-between;" class="row">
                    <li style="display: flex; font-size: 20px;" class="width338" id="sub_experienceName"></li>
                    <li style="display: flex; font-size: 18px;color: rgb(255, 238, 221);" class="width176" id="sub_experienceFromTo"></li>
                </div>
                <div style="list-style: none;
			  color: rgb(255, 238, 221);
			  font-size: 17px;
			  margin: 5px 42px 15px 84px;
			  line-height: 1.5;" class="row">
                    <li style="display: flex; font-size: 20px;" id="sub_experienceDescription"></li>
                </div>
            </div>
        </template>

        <div class="h1-colume2" style="display: flex;margin: 40px 24px 0px 20px;">
            <div style="background-color: #000000;height: 0px;width: 0px;">
                <div class="line" style="background-color: #581b0f;height: 1px;"></div>

            </div>

        </div>
        <div class="" style="width: 100px: 30px;margin: 40px; background-color: rgb(255, 238, 221) ;">
            <h1 style="margin: 0;padding: 15px 0px 10px 24px;color: rgb(101, 123, 139);font-size: 24px;">ACTIVITIES</h1>
        </div>

        <div id="activity-preview">
            <div class="activity-area">

            </div>
        </div>

        <template id="activity-field">
            <div id="_idx">
                <div class="row" style="list-style: none; margin: 30px 42px 0; justify-content: space-between;">
                    <li class="flex width380" style="    font-size: 22px;
			  font-weight: 400;line-height: 1.4em;letter-spacing: 0em;
			  color: rgb(255, 238, 221);">

                        <div><i><u id="activityName"></u></i></div>
                    </li>
                    <li class="flex width176" style="    font-size: 20px;
			  color: rgb(255, 238, 221);
			  margin-top: 3px;">

                        <div id="activityFromTo"></div>
                    </li>
                </div>

                <div style="list-style: none;
			  color: rgb(255, 238, 221);
			  font-size: 17px;
			  margin: 0 42px 10px;
			  line-height: 1.5;" class="row">
                    <div id="activityAttend" style="font-size: 20px;"></div>
                </div>

                <div style="list-style: none;
			  color: rgb(255, 238, 221);
			  font-size: 17px;
			  margin: 10px 42px 30px;
			  line-height: 1.5;" class="row">
                    <li style="display: flex; font-size: 20px;" id="activityDescription"></li>
                </div>
            </div>
        </template>

        <div class="h1-colume2" style="display: flex;margin: 40px 24px 0px 20px;">
            <div style="background-color: #000000;height: 0px;width: 0px;">
                <div class="line" style="background-color: #581b0f;height: 1px;"></div>

            </div>

        </div>
        <div class="" style="width: 100px: 30px;margin: 40px; background-color: rgb(255, 238, 221) ;">
            <h1 style="margin: 0;padding: 15px 0px 10px 24px;color: rgb(101, 123, 139);font-size: 24px;">
                CERTIFICATIONS</h1>
        </div>

        <div id="certification-preview">
            <div class="certification-area">

            </div>
        </div>

        <template id="certification-field">
            <div id="_idx">
                <div class="row" style="list-style: none; margin: 30px 42px 0; justify-content: space-between;">
                    <li class="flex width380" style="    font-size: 22px;
			  font-weight: 400;line-height: 1.4em;letter-spacing: 0em;
			  color: rgb(255, 238, 221);">

                        <div><i><u id="certificationName"></u></i></div>
                    </li>
                    <li class="flex width176" style="    font-size: 20px;
			  color: rgb(255, 238, 221);
			  margin-top: 3px;">

                        <div id="certificationFromToType"></div>
                    </li>
                </div>

                <div style="list-style: none;
			  color: rgb(255, 238, 221);
			  font-size: 17px;
			  margin: 0 42px 10px;
			  line-height: 1.5;" class="row">
                    <div id="certificationMajor" style="font-size: 20px;"></div>
                </div>

                <div style="list-style: none;
			  color: rgb(255, 238, 221);
			  font-size: 17px;
			  margin: 10px 42px 30px;
			  line-height: 1.5;" class="row">
                    <li style="display: flex; font-size: 20px;" id="certificationDescription"></li>
                </div>
            </div>
        </template>

        <div class="h1-colume2" style="display: flex;margin: 40px 24px 0px 20px;">
            <div style="background-color: #000000;height: 0px;width: 0px;">
                <div class="line" style="background-color: #581b0f;height: 1px;"></div>

            </div>

        </div>
        <div class="" style="width: 100px: 30px;margin: 40px; background-color: rgb(255, 238, 221) ;">
            <h1 style="margin: 0;padding: 15px 0px 10px 24px;color: rgb(101, 123, 139);font-size: 24px;">LINKS</h1>
        </div>

        <div id="links-preview">
            <div class="links-area">

            </div>
        </div>

        <template id="links-field">
            <div id="_idx">
                <div class="row" style="list-style: none; margin: 30px 42px 0;">
                    <li class="flex" style="    font-size: 22px;
			  font-weight: 400;line-height: 1.4em;letter-spacing: 0em;
			  color: rgb(255, 238, 221);">
                        <div><i><u id="linksName"></u></i></div>
                    </li>
                </div>

                <div style="list-style: none;
			  color: rgb(255, 238, 221);
			  font-size: 17px;
			  margin: 10px 42px 30px;
			  line-height: 1.5;" class="row">
                    <li style="display: flex; font-size: 20px;" id="linksDescription"></li>
                </div>
            </div>
        </template>
    </div>
</div>