/*.content{border-top: 1px solid #ddd;}*/
#block-region-side-pre .content{
    border-top: 1px solid #ddd; 
    /*background-color: #fafafa;*/
}
.block_oklass_course_menu .content .column p{cursor: pointer; margin: 0;}
.block_oklass_course_menu .content .column{margin-bottom: 10px;}
.block_oklass_course_menu .content .column ul{margin-left: 30px;}
.block_oklass_course_menu .unlist > li{padding:0;}
.block_oklass_course_menu .unlist>li>.column p::before{
    content: " "; 
    width: 20px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
}
.block_oklass_course_menu .unlist>li>.column p.down::before{background-image: url('[[pix:t/expanded]]'); }
.block_oklass_course_menu .unlist>li>.column p.up::before{background-image: url('[[pix:t/collapsed]]'); }