                <ul class="activity-list">
                    {{#items}}
                    <li{{#on}} class="on"{{/on}}>
                        <a href="{{{url}}}">{{{name}}}</a>
                    </li>
                    {{/items}}
                    <li class="on">
                        <a href="#">
                            학습하기
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Q&amp;A
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            과제
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            테스트
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            설문
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            설문
                        </a>
                    </li>
                </ul>
